<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isAvailable() -->
<tr class="totals balance">
    <th class="mark" scope="row">
        <button id="delete-customer-balance"
                class="action"
                name="payment[delete_customer_balance]"
                >
            <span><!-- ko text: $t('Remove') --><!-- /ko --></span>
        </button>
        <!-- ko text: -getPureValue()  + ' ' + title --><!-- /ko -->
    </th>
    <td class="amount">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
<!-- /ko -->
