.main {
  width: 672px;
  width: 672px;
}
p {
  color: #676565;
}
a {
  color: #00ace2 !important;
}
.main-content {
  padding: 15px;
}
.wrapper-inner {
  padding-bottom: 20px;
}
.rcmBody {
  background-color: #fff;
}
.header {
  background-color: #fff;
  padding: 0;
  text-align: center;
}
.closing {
  background: #db0023 none repeat scroll 0 0;
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px 0;
  text-align: center;
}
.footer {
  padding: 0;
  p {
    font-size: 13px;
    margin: 20px 0 0;
    a {
      color: #00ace2 !important;
    }
  }
}
.grand_total {
  strong {
    font-size: 17px;
    font-weight: 600;
  }
  th {
    border-top: 1px solid #ccc;
    padding: 10px;
  }
  td {
    border-top: 1px solid #ccc;
    padding: 10px;
  }
}
.email-items {
  thead {
    tr {
      background-color: #00ace2;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
  tr {
    th {
      padding: 10px 15px;
    }
    td {
      padding: 10px 15px;
    }
  }
  tbody.odd {
    background-color: #f4f4f4;
    td {
      background-color: #f4f4f4;
    }
  }
  tbody {
    th {
      border-bottom: 1px solid #cccccc;
    }
    td {
      border-bottom: 1px solid #cccccc;
    }
  }
}
.order-text {
  display: none;
}
.item-info {
  p.product-name {
    font-weight: 400;
  }
}
.sku {
  font-weight: 600;
  color: #333;
}
h1 {
  border-bottom: 1px solid #cccccc;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  margin-bottom: 5px;
  margin-top: 0;
  padding-bottom: 5px;
  text-transform: uppercase;
}
h3 {
  border-bottom: 1px solid #cccccc;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  margin-bottom: 5px;
  margin-top: 0;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.button {
  .inner-wrapper {
    a {
      background-color: #00ace2;
      border: 1px solid #00ace2;
    }
  }
}
.totals-tax {
  display: none;
}
