//Jollyes theme
@import url('//fonts.googleapis.com/css?family=Montserrat:700,900');
@import '_fonts.less';
@import '_hometab.less';
@import '_storelocator.less';
@import '_registration.less';

@lato_regular: latoregular;
@lato_bold: latobold;
@lato_semibold: latosemibold;
@montserratbold: Montserrat;
@montserratblack: montserratblack;
@h1__font-size-desktop: 22px;
@h1__margin-bottom__desktop: 20px;
@input-text__height: 41px;


@desktop: ~"only screen and (min-width: 768px)";
@desktop991: ~"only screen and (min-width: 991px)";
@desktop1024: ~"only screen and (min-width: 1024px)";
@desktop1280: ~"only screen and (max-width: 1280px)";
@ipad1199: ~"only screen and (max-width: 1199px)";
@ipadLandcap: ~"only screen and (min-width: 991px) and (max-width: 1199px)";
@ipadPortrait: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@desktop1023: ~"only screen and (max-width: 1023px)";
@mobile960: ~"only screen and (max-width: 960px)";
@mobile800: ~"only screen and (max-width: 800px)";
@mobile640: ~"only screen and (max-width: 640px)";
@mobile600: ~"only screen and (max-width: 600px)";
@mobile480: ~"only screen and (max-width: 480px)";
@mobile400: ~"only screen and (max-width: 400px)";
@mobile359: ~"only screen and (max-width: 359px)";
@mobileonly767: ~"only screen and (max-width: 767px)";



