@font-face {
  font-family: 'latoregular';
  src: url('@{baseDir}fonts/lato-regular-webfont.woff2') format('woff2'),
  url('@{baseDir}fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src: url('@{baseDir}fonts/lato-bold-webfont.woff2') format('woff2'),
  url('@{baseDir}fonts/lato-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latosemibold';
  src: url('@{baseDir}fonts/lato-semibold-webfont.woff2') format('woff2'),
  url('@{baseDir}fonts/lato-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
