& when (@media-common = true) {
  //Best Seller
  .old-price {
    .price {
      text-decoration: line-through;
    }
    .price-label {
      text-decoration: line-through;
    }
  }

  .widget-product-grid.slides,.slides.products.list,.slides.widget-viewed-grid {
    padding-bottom: 15px;
  }
  //error msg
  .product-info-main {
    .product.alert {
      margin: 10px 22px !important;
      color: #4dace2 !important;
      font-weight: 600 !important;
    }
  }
  //strength
  #password-strength-meter-container {
    .password-strength-meter {
      visibility: hidden;
    }
  }

  //search
  .klevu-fluid{
    #klevuSearchingArea{
        width: 42.2% !important;
    }
  }
  .breadcrumbs {
    a {
      color: #333 !important;
      text-decoration: none;
      &:hover {
        color: #333 !important;
        text-decoration: underline;
      }
    }
  }

  //category filter hide
  .amshopby-index-index {
    .filter-options {
      .filter-options-item {
        &:first-child {
          display: none;
        }
      }
    }
  }
  .message.notice {
    font-size: 1.3rem !important;
    background: #fae5e5 !important;
    color: #e02b27 !important;
  }
  .account {
    .invitations {
      .message.info.empty {
        >span {
          font-family: inherit !important;
          font-size: 1.3rem !important;
          letter-spacing: 1px;
        }
      }
      .message.info {
        font-size: 1.3rem !important;
        background: #fae5e5 !important;
        color: #e02b27 !important;
        font-weight: 500 !important;
        font-family: inherit !important;
      }
    }
  }

  //price changes
  .product-item {
    padding: 0 12px !important;
    .product-item-info {
      padding: 20px;
      .product-item-photo {
        display: inline-block;
        margin: 0 auto;
        width: 100%;
        text-align: center;
      }
      .product-item-name {
        font-family: @montserratbold;
        color: #000;
        font-size: 16px;
        line-height: 17px;
        margin: 0 auto;
        padding: 0 0;
        text-align: center;
        width: 90%;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: inherit;
        min-height: 36px;
        margin-top: 5px;
      }
      .product-item-details {
        padding: 0;
        .price-box {
          margin: 7px 0;
          text-align: center;
          font-family: @montserratbold;
          .old-price {
            display: inline-block;
            float: none !important;
            line-height: 13px;
            margin: 0 4px 0 0 !important;
            .price {
              color: #bdbdbd !important;
              font-size: 13px;
            }
          }
          .price {
            color: #00ace2;
            font-size: 16px;
            font-weight: 400;
          }
          .special-price {
            float: left;
            width: 100%;
          }
        }
        .save-price {
          .price {
            font-size: 13px;
          }
        }
        .swatch-attribute {
          display: none;
        }
        .product-reviews-summary {
          margin-bottom: 0;
          margin-top: 5px;
          .rating-summary {
            margin: 0 auto;
            padding: 0;
            text-align: center;
            width: 100%;
            .rating-result {
              width: 91px;
            }
            .rating-result::before {
              background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -309px -605px;
              content: "";
            }
            .rating-result > span::before {
              background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -309px -638px;
              content: "";
            }
          }
          .reviews-actions {
            display: none;
          }
        }
        .product-item-actions{
          display: inline-block;
          margin: 0;
          width: 100%;
          .actions-primary{
            display: block;
            text-align: center;
            .qty-container {
              background: #ffffff none repeat scroll 0 0;
              border: 2px solid #dadada;
              border-radius: 4px;
              float: left;
              height: 36px;
              width: 50%;
              margin-top: 10px;
              .product-list-qty-minus {
                background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -379px -533px;
                float: left;
                height: 36px;
                text-indent: -10000px;
                width: 30%;
                cursor: pointer;
              }
              .input-text.qty {
                background: #f4f4f4 none repeat scroll 0 0;
                border-bottom: medium none;
                border-top: medium none;
                color: #000000;
                float: left;
                font-size: 12px;
                height: 36px;
                text-align: center;
                width: 40%;
                font-family: latoregular;
              }
              .product-list-qty-plus {
                background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -375px -558px;
                float: left;
                height: 36px;
                text-indent: -10000px;
                width: 30%;
                cursor: pointer;
              }

            }
            .action.tocart.primary {
              background: #f9cf00;
              border-color: #f9cf00;
              border-radius: 4px;
              color: #000000;
              float: right;
              font-family: @montserratbold;
              font-size: 13px;
              height: 40px;
              padding: 5px;
              text-align: center;
              text-transform: uppercase;
              width: 40%;
              margin-top: 10px;
              > span {
                background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -373px -118px;
                display: inline-block;
                height: 21px;
                font-family: montserrat;
                line-height: 21px;
                margin-right: 0;
                padding-left: 32px;
                font-weight: 900;

              }
            }
            .action.tocart.primary.view-option {
              float: none !important;
              width: 100% !important;
              text-align: center;
              background-image: none !important;
              > span {
                background-image: none;
                margin-right: 0;
                padding: 0;
              }
            }
            .action.tocart.primary.disabled{
              background-image: none !important;
            }
          }
          .stock.unavailable {
            margin-top: 0;
            color: red;
            text-transform: uppercase;
            padding-bottom: 12px;
          }
        }
      }
    }
    .product-item-info {
      &:hover {
        border-radius: 5px;
        box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.3);
        margin: 0;
      }
    }
    .product-item-info.active {
      border-radius: 5px;
      box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.3);
      margin: 0;
    }

    .price-box {
      .price-label {
        color: #00ace2;
        font-size: 16px;
        position: static;
        text-transform: uppercase;
      }
      .old-price {
        .price-label {
          color: #bdbdbd !important;
          font-size: 13px;
          text-transform: capitalize;
        }
      }
      .save-price {
          color: #e00814;
          font-size: 13px;
          line-height: 13px;
          text-transform: capitalize;
          .price {
            color: #e00814 !important;
          }
      }
    }
  }
  .product-item-info {
    position: relative;
  }
  .corner-tags {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
  .smv {
    .smv-button-fullscreen.smv-button {
      right: auto;
      left: 0;
      padding: 0;
      width: 36px;
      height: 36px
    }
    .smv-button-fullscreen-close.smv-button {
      right: 0;
      left: auto;
    }
  }
  .best-seller-tab {
      display: inline-block;
      position: relative;
      width: 100%;
      padding: 25px 0;
      .tabs {
        list-style: outside none none;
        margin: 0;
        padding: 0;
        text-align: center;
        .tab-link {
          display: inline-block;
          font-family: @montserratbold;
          padding: 0 35px 20px;
          text-transform: uppercase;
          cursor: pointer;
          margin: 0;
        }
        .tab-link.current {
          border-bottom: 2px solid #E00814;
          color: #E00814;
        }
      }
    .tab-container{
        border: 2px solid #d1d1d1;
        display: block;
        min-height: 425px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        .tab-content {
          display: block !important;
          left: -10000%;
          position: absolute;
          width: 100%;
          margin: 0 auto;
          .block.block-products-list {
            margin: 10px 0;
            border: none;
          }
        }
        .tab-content.current {
          left: 0;
          position: relative;
        }
        .prev:hover, .next:hover {
          background-color: transparent;
        }
    }
  }
  .tab-container, .for-featured-products {
    .list .product-item {
      .product-item-info {
        margin: 7px;
      }
    }
  }
  li.slide {
      margin: 0 !important;
      padding: 0 !important;
  }
  .control-nav.control-paging {
      display: none !important;
    }
  .direction-nav{
      list-style: outside none none;
      .prev, .next {
        position: absolute;
        top: 45%;
        text-indent: -10000%;
        width: 20px;
        height: 20px;
        padding:0;
      }
      .prev {
        background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -2px -87px;
      }
      .next {
        background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -378px -87px;
      }
      .prev.disabled, .next.disabled {
        display: none;
      }
    }
  .products-grid {
    .product-item-info {
      &:hover {
        padding: 20px;
      }
    }
  }
  #qty-error.mage-error {
    height: 0;
    position: absolute;
  }
  .product.data.items {
    >.item.title {
      >.switch {
        min-width: 120px;
      }
    }
  }
  .product-image-wrapper {
    z-index: 0;
  }
  .filter-options {
    .amshopby-category-labels-folding {
      a.amshopby-filter-parent {
        padding-left: 0;
      }
    }
    .amshopby-category-dropdown-view {
      a.amshopby-filter-parent {
        padding-left: 0;
      }
    }
  }
  .amshopby-category-collapse-icon {
    display: none;
  }
  #layered-filter-block {
    .filter-content {
      .filter-options {
        .filter-options-item {
          .filter-options-content {
            .items.am_shopby_filter_items_attr_category_ids {
              li.item {
                >a {
                  padding-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .page-product-grouped {
    .product-item-details {
      .minimal-price {
        .price-label {
          font-size: 16px;
        }
      }
    }
  }
  #search_mini_form {
    .search-autocomplete {
      display: none !important;
    }
  }

  @media @desktop1023 {
    .product-item {
      .product-item-info {
        .product-item-details {
          .price-box {
            .old-price {
              line-height: 12px;
              .price {
                font-size: 12px;
              }
            }
            .price {
              font-size: 13px;
            }
          }
        }
      }
      .price-box {
        .price-label {
          font-size: 13px;
        }
        .old-price {
          .price-label {
            font-size: 12px;
          }
        }
        .save-price {
          font-size: 12px;
          line-height: 12px;
          .price {
            font-size: 12px !important;
          }
        }
      }
    }
    .c-sidebar.c-sidebar--categories {
      li.level0 {
        position: static;
      }
      li.cat-title {
        a {
          vertical-align: middle;
        }
      }
    }
  }
  @media screen and (max-width:1339px){
    .product-item {
      .product-item-info {
        .product-item-details .product-item-actions .actions-primary{

          .qty-container {
            .product-list-qty-plus {
              background: transparent url("@{baseDir}images/plus.png") no-repeat scroll 45% 45%;
            }
            .product-list-qty-minus {
              background: transparent url("@{baseDir}images/minus.png") no-repeat scroll 45% 45%;
            }
          }
        }
      }
    }
  }
  @media @mobileonly767 {
    .best-seller-tab {
      display: none;
    }
    .product-item {
      .product-item-info {
        .product-item-details {
          .price-box {
            margin: 5px 0;
            .old-price {
              line-height: 10px;
              display: block;
              .price {
                font-size: 10px;
              }
            }
            .price {
              font-size: 12px;
            }
          }
        }
        .product-item-name {
          font-size: 13px;
          -webkit-line-clamp: 3;
        }
      }
      .price-box {
        .price-label {
          font-size: 12px;
        }
        .old-price {
          .price-label {
            font-size: 10px;
          }
        }
        .save-price {
          font-size: 10px;
          line-height: 10px;
          .price {
            font-size: 10px !important;
          }
        }
      }
    }
  }
  /*.collectByStore {
    .payment-method-billing-address {
      display: none;
    }
  }*/

  .block.loyaltycoupon {
    margin-top: 20px;
  }
  #loyaltycoupon-code{
    height: 50px;
    border: 2px solid #dadada;
    border-right: none;
    box-shadow: none;
    background: #f4f4f4 none repeat scroll 0 0;
    font-size: 12px;
    @media @desktop1023{
      height: 40px;
      font-size: 11px;
    }
  }
  .rewards{
    .titleCoupoun{
      @media @mobileonly767 {
        padding: 0 15px;
      }
    }
    .blockLoyaltycouponMain{
      @media @mobileonly767 {
        float: none;
        margin: 5px 0 25px;
        max-width: none;
        order: 2;
        padding: 0 15px;
        width: auto;
      }
    }
  }
  .cart-totals{
    tr.totals.loyaltycoupon{
      a.action.delete{
        font-weight: bold;
      }
    }
  }

  fieldset.fieldset.stayTouch {
    clear: both;
    h2{
      color: #3b3939;
      font-size: 16px;
      text-align: left;
    }
  }
  .checkout-onepage-success{
    #success-page-registration{
      .form.create.account.form-create-account{
        margin: 0 auto;
        max-width: 74%;
        width: 100% !important;
        @media @mobileonly767 {
          max-width: 100%;
        }
      }
      .emailMain{
        margin-bottom: 20px;
      }
    }
    .fieldset.create.account {
      .field {
        padding: 0 12px !important;
        margin: 0 !important;
        width: 46.5% !important;
        float: left;
        @media @mobileonly767 {
          width: 100% !important;
          padding: 0 !important;
        }
        @media @desktop1023{
          width: 45.5% !important;
        }
      }
    }
    .createAccDiv{
      text-align: center;
      padding-bottom: 20px;
      button.action.submit.primary{
        background: #f9cf00 !important;
      }
    }
    .fieldset.create.account{
      .field.password.required{
        @media @mobileonly767 {
          padding: 0 !important;
          width: 100% !important;
        }
        input[type=password]{
          height: 41px;
        }
      }
    }
    .loyaltyHd {
      text-align: left;
      color: #3b3939;
      font-size: 22px;
      text-transform: uppercase;
      @media @mobileonly767 {
        font-size: 20px;
        line-height: 22px;
      }
    }
    .successLines{
      padding-bottom: 20px;
      text-align: center;
    }
    .checkout-success {
      h2{
        @media @mobileonly767{
          margin-bottom: 10px;
        }
      }
    }

  }

  .header.links .customer-welcome li a {
    float: left;
  }

  .stock-label span {
    display: inline-block;
    margin-bottom: 2px;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    margin-left: 0;
    margin-right: 2px;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    font-family: montserrat;
    @media (max-width: 350px) {
      font-size: 10px;
    }
  }
  .product-info-main .stock-label {
    min-height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    @media @mobileonly767 {
      text-align: center;
    }
  }
  .product-info-main .product-info-stock-sku {
    text-align: left;
  }
  .stock-label {
    text-align: center;
  }
}