@desktop: ~"only screen and (min-width: 768px) and (max-width: 1023px)";
@desktop1023: ~"only screen and (max-width: 1023px)";
@mobileonly767: ~"only screen and (max-width: 767px)";
@montserratbold: Montserrat;

& when (@media-common = true) {
//Reward-club
.reward-club {
  display: flex;
  flex-direction: row;
  float: left;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  width: 100%;
  .rewcard.rewcard11 {
    margin-right: 20px;
  }
  .rewcard.rewcard12 {
    margin-right: 20px;
  }
  .rewcard11 {
    background: #ca3978;
  }
  .rewcard12 {
    background: #57c2f9;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #57c2f9 0%, #4ca6ee 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(to right, #57c2f9 0%, #4ca6ee 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(to right, #57c2f9 0%, #4ca6ee 100%) repeat scroll 0 0;
  }
  .rewcard13 {
    background: #f4b001;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f3ae03 0%, #f4b001 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(to bottom, #f3ae03 0%, #f4b001 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(to bottom, #f3ae03 0%, #f4b001 100%) repeat scroll 0 0;
  }
  .rewcard {
    display: table;
    float: left;
    height: 255px;
    position: relative;
    width: 32.6%;
  }
  img {
    bottom: 0;
    position: absolute;
    vertical-align: middle;
    right: 0px;
  }
  .rewardcard-text {
    color: #fff;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    padding-left: 30px;
  }
  span {
    color: #fff;
    font-family: @montserratbold;
    font-size: 20px;
    line-height: 23px;
  }
}
.stayTouch {
  .post-links {
    margin-left: 4px;
  }
}
.rewardcard-text {
  a {
    background: #f6cf00;
    padding: 15px;
    font-weight: 900;
    border-color: #f9cf00;
    display: block;
    border-radius: 4px;
    color: #000000;
    font-size: 14px;
    width: 107px;
    text-align: center;
    font-family: @montserratbold;
    text-decoration: none;
  }
  .reward-para1 {
    margin: 20px 0px 30px 0px;
    position: relative;
    color: #fff;
    bottom: 0px;
    width: 67%;
    font-size: 13px;
  }
  .reward-para2 {
    margin: 20px 0px 30px 0px;
    position: relative;
    color: #fff;
    bottom: 0px;
    width: 80%;
    font-size: 13px;
  }
  .reward-para3 {
    margin: 20px 0px 30px 0px;
    position: relative;
    color: #fff;
    bottom: 0px;
    width: 64%;
    font-size: 13px;
  }
}

//Reward-general

.reward-general {
  display: flex;
  flex-direction: row;
  float: left;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  width: 100%;
  .rewgeneral.rewgeneral11 {
    margin-right: 20px;
  }

  .rewgeneral11 {
    background: #ca3978;
  }
  .rewgeneral12 {
    background: #57c2f9;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #57c2f9 0%, #4ca6ee 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(to right, #57c2f9 0%, #4ca6ee 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(to right, #57c2f9 0%, #4ca6ee 100%) repeat scroll 0 0;
  }
  .rewgeneral {
    display: table;
    float: left;
    height: 255px;
    position: relative;
    width: 49.3%;
  }
  img {
    bottom: 0;
    position: absolute;
    vertical-align: middle;
    right: 10px;
  }
  .rewardgeneral-text {
    color: #fff;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    padding-left: 30px;
  }
  span {
    color: #fff;
    font-family: @montserratbold;
    font-size: 20px;
    line-height: 23px;
  }
}
.rewardgeneral-text {
  a {
    background: #f6cf00;
    padding: 15px;
    border-color: #f9cf00;
    border-radius: 4px;
    color: #000000;
    font-size: 13px;
    font-weight: 900;
    font-family: @montserratbold;
    text-decoration: none;
  }
  .rewardgeneral-para1 {
    margin: 40px 0px 35px 0px;
    position: relative;
    color: #fff;
    bottom: 16px;
    width: 66%;
    font-size: 13px;
  }
  .rewardgeneral-para2 {
    margin: 40px 0px 35px 0px;
    position: relative;
    color: #fff;
    bottom: 16px;
    width: 71%;
    font-size: 13px;
  }
}

//Reward Registration

.create-register-div1{
  width: 48%;
  float: left;
  .field{
    .label{
      font-weight: 600;
      margin: 0 0 8px;
      display: inline-block;
    }
  }
}
.create-register-div2{
  width: 48%;
  float: left;
  margin-left: 20px;
  .field{
    .label{
      font-weight: 600;
      margin: 0 0 8px;
      display: inline-block;
    }
  }
}

.above-regbutton{
  clear: both;
}
.reward-form-main .fieldset .field.confirmation{
  margin: 0 12px 40px !important;
}

.fieldset > .create-register-div1 > .field.required > .label:after, .fieldset > .fields > .field.required > .label:after, .fieldset > .field._required > .label:after, .fieldset > .fields > .field._required > .label:after {
  content: '*';
  color: #e02b27;
  font-size: 1.2rem;
  margin: 0 0 0 5px;
}

.fieldset > .create-register-div2 > .field.required > .label:after, .fieldset > .fields > .field.required > .label:after, .fieldset > .field._required > .label:after, .fieldset > .fields > .field._required > .label:after {
  content: '*';
  color: #e02b27;
  font-size: 1.2rem;
  margin: 0 0 0 5px;
}

.rewards-account-create .page-title-wrapper .page-title{display: none !important;}

.reward-form-main{
  width: 75% !important;
  margin: 0 auto;
}
.register-title1{
  color: #3b3939;
  font-family: Montserrat;
  font-size: 22px;
  text-transform: uppercase;
}
.reward-form-main{
  .fieldset{
    margin:0px;
    .field{
      margin: 0 12px 20px;
      width: 100%;
      float: left;
      input{
        box-shadow: none;
        height: 41px;
      }
      select{
        box-shadow: none;
        height: 41px;
        border: 1px solid #c2c2c2;
        font-size: 14px;
        padding-left: 10px;
      }
    }
    .below-fields{
      margin: 0 12px 20px;
      width: 47% !important;
      float: left;
    }
    &.address {
      margin-left: -12px;
      margin-right: -12px;
      @media @ipad1199{
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .actions-toolbar{
    .primary{
      button.action{
        font-size: 14px;
        height: 50px;
        padding: 13px 20px !important;
        width: 240px;
      }
    }
  }

  .fieldset.create.account {
    margin-bottom: 0;
  }

  .additional-line{
    margin-top: 20px;
    @media @mobileonly767 {
      margin-top: 15px;
    }
    .label{
      font-weight: 600;
      margin: 0 0 8px;
      display: inline-block;
    }
  }

  .reward-form-main .alreadylogin {
    margin-top: 0;
    text-align: center;
    a{
      color: #00ace2;
    }
  }

  .already-account {
    padding: 18px;
  }

}

@media screen and (min-width: 320px) and (max-width: 335px){
  .rewardgeneral-text a {
    background: #f6cf00;
    padding: 10px;
    border-color: #f9cf00;
    border-radius: 4px;
    color: #000;
    font-size: 12px !important;
    font-weight: 900;
    font-family: Montserrat;
    text-decoration: none;
  }
}


@media @mobileonly767 {
  //reward-club

  .reward-club {
    display: block;
    flex-direction: row;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    .rewcard {
      display: table;
      float: none;
      height: 200px;
      position: relative;
      width: 100%;
    }
    span {
      color: #fff;
      font-family: @montserratbold;
      font-size: 20px;
      line-height: 23px;
    }
    img {
      bottom: 0;
      position: absolute;
      vertical-align: middle;
      right: 6px;
      width: 80px;
    }
    .rewcard.rewcard12 {
      margin-right: 0;
      margin-bottom: 20px;
    }
    .rewcard.rewcard11 {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .rewardcard-text {
    .reward-para1 {
      margin: 15px 0px 15px 0px !important;
      position: relative;
      color: #fff;
      bottom: 0;
      width: auto;
      max-width: 225px;
      font-size: 13px;
      line-height: 18px;
    }
    .reward-para3 {
      margin: 15px 0px 15px 0px !important;
      position: relative;
      color: #fff;
      bottom: 0px;
      width: auto;
      max-width: 190px;
      font-size: 13px;
    }
    a {
      background: #f6cf00;
      padding: 10px;
      border-color: #f9cf00;
      border-radius: 4px;
      color: #000000;
      font-size: 13px;
      font-weight: 900;
      font-family: @montserratbold;
      text-decoration: none;
    }
    .reward-para2 {
      margin: 15px 0px 25px 0px !important;
      position: relative;
      color: #fff;
      bottom: 0px;
      width: auto;
      max-width: 215px;
      font-size: 13px;
      line-height: 18px;
    }
  }

  .reward-general {
    display: block;
    flex-direction: row;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    .rewgeneral {
      display: table;
      float: none;
      height: 215px !important;
      position: relative;
      width: 100%;
    }
    span {
      color: #fff;
      font-family: @montserratbold;
      font-size: 20px;
      line-height: 23px;
    }
    img {
      bottom: 0;
      position: absolute;
      vertical-align: middle;
      right: 6px;
      width: 90px;
    }
    .rewgeneral.rewgeneral11 {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .rewardgeneral-text {
    .rewardgeneral-para1 {
      margin: 15px 0px 25px 0px !important;
      position: relative;
      color: #fff;
      bottom: 0;
      width: auto;
      max-width: 200px;
      font-size: 13px;
      line-height: 18px;
    }
    a {
      background: #f6cf00;
      padding: 10px;
      border-color: #f9cf00;
      border-radius: 4px;
      color: #000000;
      font-size: 13px;
      font-weight: 900;
      font-family: @montserratbold;
      text-decoration: none;
    }
    .rewardgeneral-para2 {
      margin: 15px 0px 20px 0px;
      position: relative;
      color: #fff;
      bottom: 0px;
      width: auto;
      max-width: 205px;
      font-size: 13px;
      line-height: 18px;
    }
  }

  //Reward Registration

  .reward-form-main {
    width: 100% !important;
    margin: 0 auto;
    .create-register-div1 {
      width: 100%;
      float: none;
    }

    .create-register-div2 {
      width: 100%;
      float: none;
      margin-left: 0;
    }
  }

  .reward-form-main .fieldset .field.confirmation {
    margin: 0 0px 20px !important;
  }

  .reward-form-main{
    .fieldset {
      .field {
        margin: 0 0px 15px;
        width: 100%;
        float: none;
        input {
          box-shadow: none;
          height: 35px;
        }
        select {
          box-shadow: none;
          height: 35px;
          border: 1px solid #c2c2c2;
        }
      }
      .below-fields{
        margin: 0 0px 20px !important;
        width: 100% !important;
        float: left;
      }
    }
    .actions-toolbar {
      .primary {
        button.action {
          font-size: 14px;
          height: 50px;
          padding: 13px 20px !important;
          width: 100%;
        }
      }
    }
    hr {
      border: 0;
      border-top: 1px solid #cccccc;
      margin-bottom: 20px;
      margin-top: 10px;
    }
    .field-animals_own h4 {
      font-size: 16px;
      padding: 2px;
      margin-bottom: 8px;
      margin-top: 10px;
    }
    .alreadylogin {
      margin-top: 0px;
      text-align: center;
      a{
        color: #00ace2;
      }
    }
  }



}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  //reward-club

  .reward-club {
    display: block;
    flex-direction: row;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    .rewcard.rewcard11 {
      display: table;
      float: left;
      height: 200px;
      position: relative;
      width: 48%;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .rewcard.rewcard12 {
      display: table;
      float: left;
      height: 200px;
      position: relative;
      width: 48%;
      margin-right: 0px;
      margin-bottom: 20px;
      img {
        width: 32% !important;
      }
    }
    .rewcard.rewcard13 {
      display: table;
      float: none;
      height: 200px;
      position: relative;
      width: 48%;
      margin-right: 0px;
      clear: left;
      img {
        width: 42% !important;
        right: 5px;
      }
    }
    img {
      bottom: 0;
      position: absolute;
      vertical-align: middle;
      right: 0px;
      width: 36%;
    }
    .rewardcard-text {
      color: #fff;
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      padding-left: 15px;
    }
  }
  .rewardcard-text {
    .reward-para1 {
      margin: 10px 0px 10px 0px;
      position: relative;
      color: #fff;
      bottom: 0;
      width: auto;
      max-width: 230px;
      font-size: 14px;
      display: block;
      line-height: 18px;
    }
    .reward-para2 {
      margin: 10px 0px 30px 0px;
      position: relative;
      color: #fff;
      bottom: 0;
      width: auto;
      max-width: 190px;
      font-size: 14px;
      line-height: 18px;
    }
    a {
      background: #f6cf00;
      padding: 10px;
      font-weight: 900;
      border-color: #f9cf00;
      display: block;
      border-radius: 4px;
      color: #000000;
      font-size: 14px;
      width: 108px;
      text-align: center;
      font-family: @montserratbold;
      text-decoration: none;
    }
    .reward-para3 {
      margin: 10px 0px 10px 0px;
      position: relative;
      color: #fff;
      bottom: 0px;
      width: auto;
      max-width: 210px;
      font-size: 14px;
      line-height: 18px;
    }
  }


  //reward-general

  .reward-general {
    display: block;
    flex-direction: row;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    .rewgeneral {
      display: table;
      float: none;
      height: 200px;
      position: relative;
      width: 100%;
    }
    .rewgeneral.rewgeneral11 {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .rewardgeneral-text {
    .rewardgeneral-para1 {
      margin: 20px 0px 30px 0px;
      position: relative;
      color: #fff;
      bottom: 0;
      width: 65%;
      font-size: 13px;
      display: block;
      line-height: 18px;
    }
    .rewardgeneral-para2 {
      margin: 15px 0px 30px 0px;
      position: relative;
      color: #fff;
      bottom: 0;
      width: 73%;
      font-size: 13px;
      line-height: 18px;
    }
  }


  //Reward-Registration

  .create-register-div1{
    width: 48%;
    float: left;
    .field{
      .label{
        font-weight: 600;
        margin: 0 0 8px;
        display: inline-block;
      }
    }
  }
  .create-register-div2{
    width: 48%;
    float: left;
    margin-left: 20px;
    .field{
      .label{
        font-weight: 600;
        margin: 0 0 8px;
        display: inline-block;
      }
    }
  }
  .reward-form-main .create.account .fieldset .field.confirmation {
    margin: 0 0px 40px !important;
  }

  .reward-form-main {
    width: 100% !important;
    margin: 0 auto;
    .fieldset {
      .field {
        margin: 0 26px 20px 0;
        width: 100%;
        float: left;
      }
      .field:nth-child(2n+1) {
        margin: 0 0px 20px;
      }
      .field.telephone{
        margin: 0 0px 20px 0 !important;
      }
      .below-fields{
        margin: 0 12px 20px;
        width: 47% !important;
        float: left;
      }
    }
    .create.account{
      .field.password{
        margin: 0 26px 20px 0 !important;
      }
      .field.confirmation{
        margin: 0 0px 20px 0 !important;
      }
      .field.card_number{
        margin: 0 26px 20px 0 !important;
      }
      .field.confirm_card_number{
        margin: 0 0px 20px 0 !important;
      }
    }
  }



}

@media screen and(min-width: 1025px) and (max-width: 1300px){
  .reward-form-main {
    width: 100% !important;
    margin: 0 auto;
  }
  .rewardcard-text .reward-para1 {
    margin: 20px 0px 30px 0px;
    position: relative;
    color: #fff;
    bottom: 0px;
    width: 92%;
    font-size: 13px;
  }
  .rewardcard-text a {
    background: #f6cf00;
    padding: 10px;
    font-weight: 900;
    border-color: #f9cf00;
    display: block;
    border-radius: 4px;
    color: #000000;
    font-size: 14px;
    width: 108px;
    text-align: center;
    font-family: Montserrat;
    text-decoration: none;
  }
  .reward-club img {
    bottom: 0;
    position: absolute;
    vertical-align: middle;
    right: 0px;
    width: 90px;
  }
  .rewardcard-text .reward-para3 {
    margin: 20px 0px 30px 0px;
    position: relative;
    color: #fff;
    bottom: 0px;
    width: 88%;
    font-size: 13px;
  }
}
//for register and edit reward page
.register-customer-rewards {
  max-width: 550px;
  .edit-reward-card {
    .button {
      @media @desktop {
        width: 200px;
      }
        @media @mobileonly767{
          margin: 25px 0;
        }
      }
    }
  }
.edit-reward-card {
  max-width:550px;
  @media @desktop {
    max-width:275px;
  }
  .button {
    background: #f9cf00 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    font-family: montserrat;
    font-weight: 900;
    height: 50px;
    line-height: 50px;
    margin-top: 22px;
    text-transform: uppercase;
    width: 245px;
    padding: 0;
    @media @desktop1023 {
      height: 40px;
      line-height: 40px;
      width: 100%;
      margin-top: 10px;
    }
    @media @mobileonly767 {
      width: 100%;
    }
  }
  >form {
    padding: 0 20px;
    @media @desktop1023 {
      padding: 0;
    }
  }
  .field {
    padding-bottom: 15px;
    >label {
      font-weight: 900;
      margin-bottom: 6px;
      display: block;
    }
  }
  .input-text {
    border: 2px solid #e5e5e5;
  }
}
.reward-received {
  color: #676565;
  display: block;
  line-height: 25px;
  margin: 10px 0 30px;
}
h2.card-details {
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 10px;
  text-align: left;
}
.lost-reward-card {
  background: #e9e9e9 none repeat scroll 0 0;
  border-radius: 5px;
  float: right;
  font-family: montserrat;
  font-weight: 900;
  height: 50px;
  line-height: 50px;
  margin-top: 23px;
  text-align: center;
  text-transform: uppercase;
  width: 245px;
  a {
    color: #3b3939;
    text-decoration: none;
  }
  @media @desktop1023 {
    height: 40px;
    line-height: 40px;
    float: none;
    width: 100%;
  }
  @media @mobileonly767 {
    margin-bottom: 25px;
  }
}
.edit-reward-card {
  br {
    display: none;
  }
}

}