& when (@media-common = true) {
  #map_canvas { clear: left; height: 514px; margin-top: 45px;  width: 100%; margin-bottom: 25px;}
  .store-search-wrapper{
    text-align: center;
    box-sizing: border-box;
    .store-find{
      font-size: 20px;
      font-weight: 400;
      margin-top: 0;

      &:after {
        content: "\e622";
        font-family: luma-icons;
        font-size: 10px;
        margin-left: 12px;
        vertical-align: top;
      }
    }
    .search-box {
      display:inline-block;
      .searchLocationClass, .searchButton{
        float:left;
      }
      .searchLocationClass {
        width: 480px;
        max-width: 100%;
        .input-text {
          background: #f4f4f4;
          font-size: 11px;
          height: auto;
          padding: 12px 15px;
          height: 50px;
          box-shadow: none !important;
        }
      }

      .submitButton {
        background: #e00814 none repeat scroll 0 0;
        border-color: #e00814;
        border-radius: 0;
        box-shadow: none;
        color: #fff;
        font-family: @montserratbold;
        font-size: 15px;
        font-weight: normal;
        line-height: 34px;
        padding: 7px 0;
        text-transform: uppercase;
        vertical-align: top;
        width: 191px;
      }
    }
  }
  .all-details{
    .sub-title {
      color: #3b3939;
      font-family: latosemibold;
      font-size: 20px;
      font-weight: bold;
      margin-top: 0;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;

    }
    .section{
      list-style: outside none none;
      padding: 0;
      overflow: hidden;
      li {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        float: left;
        margin-bottom: 26px;


        .store-image {
          position: relative;
          margin-bottom: 15px;
          position: relative;
          > img {
            vertical-align: top;
          }
          .service-flag {
            bottom: -20px;
            position: absolute;
            right: 20px;
          }
          .service-flag.pet-clinic {
            bottom: -25px;
          }
        }


        .store-name h3 {
          color: #3b3939;
          font-family: @montserratbold;
          font-size: 16px;
          font-weight: normal;
          text-transform: uppercase;
        }

        .tel-box {
          border-top: 1px solid #c2c2c2;
          color: #393b3b;
          font-family: @montserratbold;
          font-size: 14px;
          margin-top: 17px;
          padding-top: 13px;
          text-transform: uppercase;
        }
        &:hover {
          box-shadow: 0 5px 5px #eaeaea;
        }
      }
    }
  }
  @media screen and (min-width: 1024px){
    .all-details {
      .mobile-key {
        display: none;
      }
      .section {
        li {
          display: inline-block;
          margin-left: 1.5%;
          width: 18.65%;
          &:first-child, &:nth-child(5n+6) {
            clear: left;
            margin-left: 0;
          }
          .store-details {
            padding: 0 7% 5%;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1370px) and (min-width: 1024px){
    .all-details {
      .section {
        li {
          margin-left: 1.4%;
        }
      }
    }
  }

  @media @desktop1023 {
    .all-details {
      .mobile-key {
        display: none;
      }
      .section {
        li {
          display: inline-block;
          margin-left: 2.6%;
          width: 31.3%;
          &:first-child, &:nth-child(3n+4) {
            clear: left;
            margin-left: 0;
          }
          .store-details {
            padding: 0 14px 14px;
          }
        }
      }
    }
    #map_canvas { margin-top: 25px;}
  }
  @media @mobileonly767 {
    .sub-title {
      display: none;
    }
    .all-details .section {
      li {
        display: none;
        box-sizing: border-box;
        width: 100%;
        .store-details {
          padding: 0 16px 14px;
        }
      }
    }
    .mobile-key {
      display: block !important;
      ul {
        display: inline-block;
        list-style: outside none none;
        margin: 0 0 10px;
        overflow: hidden;
        padding-left: 2px;
        text-align: center;
      }
      li {
        border-left: 2px solid #000;
        border-right: 2px solid #000;
        display: inline-block;
        line-height: 15px;
        margin: 15px 0 15px -2px;
        padding: 0 8px;
        a {
          text-decoration: none;
          color: #00ace2;
          cursor: pointer;
          display: block;
          font-family: @montserratbold;
          font-size: 16px;
          font-weight: bold;
          width: 26px;

          &.clicked {
            cursor: default;
          }
        }
      }
    }
    .store-search-wrapper .search-box .submitButton {
      height: 50px;
      overflow: hidden;
      padding: 7px 15px;
      width: 80px;
    }
    #map_canvas { margin-top: 15px;}
    .all-details .section li .store-image > img {
      width: 100%;
    }
  }
  .search-box div {
    display: table-cell;
    float: none !important;
    vertical-align: top;
  }
  .section .col {
    a {
      text-decoration: none;
    }
  }
  .store-loc-address {
    position: relative;
    >span {
      color: #3b3939;
    }
  }
  .store-name-infoWindow {
    h3 {
      color: #3b3939;
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
    }
    a {
      border-top: 1px solid #c2c2c2;
      color: #3b3939;
      display: block;
      font-size: 16px;
      margin-top: 5px;
      padding-top: 5px;
    }
    a + a {
      border: 0 none;
      margin: 0;
      padding: 0;
    }
  }
  .locator-index-index .page-title-wrapper {
    display: none;
  }
}