<?php
/**
 * Jjcommerce_BrandSlider
 *
 * PHP version 5.x
 *
 * @category  PHTML
 * @package   Jjcommerce\BrandSlider
 * @author    Swapnil Tatkondawar <swapnilt@2jcommerce.in>
 * @copyright 2017 Copyright 2J Commerce, Inc. http://www.2jcommerce.in/
 * @license   http://www.2jcommerce.in/ Private
 * @link      http://www.jollyes.co.uk
 */
?>
<?php
    $items          = $block->getItems();
    $itemsPerView   = $block->getData('items_number');
    $sliderOptions  = $block->getSliderOptions();
    $showLabel      = $block->getData('show_label');
    $showPagination = $block->getData('pagination_show');
    $showButtons    = $block->getData('buttons_show');
    $imgWidth       = $block->getData('image_width') ? $block->getData('image_width') : Amasty\ShopbyBrand\Block\Widget\BrandSlider::DEFAULT_IMG_WIDTH;
    $imgHeight      = $block->getData('image_height');
    $sliderWidth    = $block->getData('slider_width') ? $block->getData('slider_width') : ($imgWidth + 10) * $itemsPerView;
    $buttonWidth    = 40;
    $sliderId       = $block->getSliderId();
?>
<div class="amslider-container">
    <div class="brands-slider itemslider-responsive">
        <ul class="slides">
            <?php foreach ($items as $brand): if (!$brand['img']) continue;?>
                <li class="slide">
                    <a href="<?php echo $brand['url']?>" class="swiper-slide">
                        <span>
                             <img src="<?php echo $brand['img']; ?>" alt="" />
                        </span>
                    </a>
                </li>
            <?php endforeach;?>
        </ul>
    </div>
</div>


