<?php

$product = $block->getProductInfo();
$categories = $block->getProductStandardCategories($product);
$baseUrl = parse_url($block->getUrl());
?>
<script>
    analytics.track('Product Viewed', {
        cart_id: "<?php echo $block->getCartId(); ?>",
        product_id: "<?php echo $product->getId(); ?>",
        sku: "<?php echo $product->getSku(); ?>",
        referrer: document.referrer,
        category_level_1: "<?php echo (isset($categories[0])) ? trim($categories[0]) : ''; ?>",
        category_level_2: "<?php echo (isset($categories[1])) ? trim($categories[1]) : '' ?>",
        category_level_3: "<?php echo (isset($categories[2])) ? trim($categories[2]) : '' ?>",
        name: "<?php echo $product->getName(); ?>",
        lifestage: "<?php echo $product->getAttributeText('life_stage'); ?>",
        breed_size: "<?php echo trim($block->getAttributeLabel("breed_size", $product->getBreedSize())); ?>",
        dietary_needs: "<?php echo trim($block->getAttributeLabel("dietary_requirement", $product->getDietaryRequirement())); ?>",
        main_flavour: "<?php echo trim($block->getAttributeLabel("main_flavour", $product->getMainFlavour())); ?>",
        colour: "<?php echo trim($block->getAttributeLabel("colour", $product->getColour())); ?>",
        pack_weight: "<?php echo $product->getWeight(); ?>",
        brand: "<?php echo trim($block->getAttributeLabel("brands", $product->getBrands())); ?>",
        price: <?php echo round((float)$product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(), 2); ?>,
        url: "<?php echo $product->getProductUrl() ?>",
        image_url: "<?php echo $block->getImageFullPath($product->getImage()); ?>"
    });
</script>
<script>
    var baseurl = '<?php echo $baseUrl['host']?>';
    var refererhost = document.referrer.split('/')[2];
    if (document.referrer.split('/')[2] != undefined && refererhost === baseurl) {
        analytics.track('Product Clicked', {
            cart_id: "<?php echo $block->getCartId(); ?>",
            product_id: "<?php echo $product->getId(); ?>",
            sku: "<?php echo $product->getSku(); ?>",
            referrer: document.referrer,
            category_level_1: "<?php echo (isset($categories[0])) ? trim($categories[0]) : ''; ?>",
            category_level_2: "<?php echo (isset($categories[1])) ? trim($categories[1]) : '' ?>",
            category_level_3: "<?php echo (isset($categories[2])) ? trim($categories[2]) : '' ?>",
            name: "<?php echo $product->getName(); ?>",
            lifestage: "<?php echo $product->getAttributeText('life_stage'); ?>",
            breed_size: "<?php echo trim($block->getAttributeLabel("breed_size", $product->getBreedSize())); ?>",
            dietary_needs: "<?php echo trim($block->getAttributeLabel("dietary_requirement", $product->getDietaryRequirement())); ?>",
            main_flavour: "<?php echo trim($block->getAttributeLabel("main_flavour", $product->getMainFlavour())); ?>",
            colour: "<?php echo trim($block->getAttributeLabel("colour", $product->getColour())); ?>",
            pack_weight: "<?php echo $product->getWeight(); ?>",
            brand: "<?php echo trim($block->getAttributeLabel("brands", $product->getBrands())); ?>",
            price: <?php echo round((float)$product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(), 2); ?>,
            url: "<?php echo $product->getProductUrl() ?>",
            image_url: "<?php echo $block->getImageFullPath($product->getImage()); ?>"
        });
    }
</script>
