<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isAvailable() && isLoyaltyModuleEnabled() -->
    <!-- ko foreach: getAppliedLoyaltyCoupons() -->
    <tr class="totals loyaltycoupon">
        <th class="mark" scope="row">
            <a href="#" class="action" data-bind="text: $t('Remove'), click: function(data, event) { $parent.removeLoyaltyCoupon(c, event); }"></a>
            <!-- ko text: $parent.title + ' (' + c + ')' --><!-- /ko -->
        </th>
        <td class="amount">
            <span class="discount">
                <span class="price" data-bind="text: '-' + $parent.getAmount(a), attr: {'data-th':  $parent.title + ' (' + c + ')'}">
                </span>
            </span>
        </td>
    </tr>
    <!-- /ko -->
<!-- /ko -->
