<?php
/* @var $block \Aheadworks\CustomerAttributes\Block\Adminhtml\Page\Menu\Item */

// @codingStandardsIgnoreFile
?>
<li>
    <a <?php /* @noEscape */ echo $block->serializeLinkAttributes() ?>><?php echo $block->escapeHtml(__($block->getLabel())) ?></a>
</li>
