<li id="delivery" data-bind="fadeVisible: isVisible">
    <div class="step-title" data-bind="i18n: 'Delivery Method'" data-role="title"></div>
    <div id="checkout-step-title"
         class="step-content"
         data-role="content">
        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
            <div class="delivery_method-block">
                <span class="click-method"><!-- ko i18n: 'Please select a delivery method from below:' --><!-- /ko --></span>
                <div class="delivery_method" >
                    <!-- ko if: isAvailable() -->
                    <div class="click-collect-free">
                        <input type="radio"
                               data-bind="
                                                value: 'collectByStore',

                                                attr: {
                                                    'name' : 'deliveryby',
                                                    'id': 'collect_by_store',
                                                     'aria-labelledby': 'label_deliveryby_collectByStore'
                                                },
                                                click: selectDeliveryByStore"
                               class="radio deliveryby"/>
                        <div class="click-collect">
                            <h2><!-- ko i18n: 'Click & Collect' --><!-- /ko --></h2>

                            <span class="click-home"></span>
                            <span class="click-tick"></span>
                            <span class="choose-pick"><!-- ko i18n: 'Choose to pick up your order from one of our 60 stores' --><!-- /ko -->
                        </span>
                        </div>
                        <div class="click-free"><!-- ko i18n: 'Click and Collect - Free' --><!-- /ko --></div>
                    </div>
                    <!-- /ko -->
                    <div class="home-delivery-over">
                        <input type="radio"
                               data-bind="

                                                value: 'home_delivery',

                                                attr: {
                                                'name' : 'deliveryby',
                                                    'id': 'home_delivery',
                                                     'aria-labelledby': 'label_deliveryby_home_delivery'
                                                },
                                                click: selectDeliveryByHome"
                               class="radio deliveryby"/>
                        <div class="home-delivery">
                            <h2><!-- ko i18n: 'Home Delivery' --><!-- /ko --></h2>

                            <span class="click-van"></span>
                            <span class="click-tick"></span>
                            <span class="doorstep"><!-- ko i18n: 'Have your order delivered to your doorstep.' --><!-- /ko --></span>
                        </div>
                        <div class="order-over">
                            <span><!-- ko i18n: 'Standard delivery from' --><!-- /ko --> <strong><!-- ko i18n: window.delivery_shipping_estimate.standard_delivery --><!-- /ko --></strong></span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="actions-toolbar"  style="display: none" >
                <div class="primary">
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>