<?php
/**
 * Jjcommerce_Sidebar
 *
 * PHP version 5.x
 *
 * @category  PHTML
 * @package   Jjcommerce\Sidebar
 * @author    Swapnil Tatkondawar <swapnilt@2jcommerce.in>
 * @copyright 2017 Copyright 2J Commerce, Inc. http://www.2jcommerce.in/
 * @license   http://www.2jcommerce.in/ Private
 * @link      http://www.jollyes.co.uk/
 */

$categories = $block->getCategories();
?>
<?php if($categories!=false && $block->getCurrentCategory()->getLevel() == 2): ?>
    <h3>
        <?php echo $block->getCurrentCategory()->getName(); ?>
        <span class="cat-main-title">
        <i class="fa fa-chevron-right"></i>
    </span>
    </h3>
    <div class="outer-container">
        <ul class="o-list main-list">

            <?php
            // Loop through categories
            foreach ( $categories as $category ) :
                ?>
                <li class="level0<?php echo($block->isActive($category) ? ' active' : ''); ?> <?php echo $category->hasChildren()? "parent" :""?>" >
                    <a href="<?php echo $block->getCategoryUrl($category); ?>" title="<?php echo $category->getName(); ?>" class="<?php echo($block->isActive($category) ? ' active' : ''); ?>">
                        <?php echo $category->getName(); ?>
                    </a>
                    <?php if ( $category->hasChildren() ) : ?>
                        <span class="expand"><?php echo $block->isActive($category) ? '<i class="fa fa-chevron-right"></i>' : '<i class="fa fa-chevron-right"></i>'; ?></span>
                    <?php endif; ?>

                    <?php echo $block->getChildCategoryView($category); ?>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <script type="text/javascript">
        /* Simply invoke iffe of sidebarmodule */
        require(['jquery','sidebarmodule'], function ($) {});
    </script>
<?php endif;?>