<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Jjcommerce\FreeDeliveryBanner\Block\Cart\FreeDeliveryBanner */ ?>
<?php if($block->getFreeShippingSpendValue() && $block->getFreeShippingSpendValue() > 0):?>
    <div id="block-free-delivery-banner" class="block free-delivery-banner" data-mage-init='{"collapsible":{"openedState": "active", "saveState": true}}'>
        <div class="title" data-role="title">
            <span id="block-freedelbanner-heading" class="freedelbanner-heading">
                <?php /* @escapeNotVerified */ echo __('Spend'); ?>
                <?php /* @escapeNotVerified */ echo $block->getSpendPrice(); ?>
                <?php /* @escapeNotVerified */ echo __('More For'); ?>
                <span class="heading-delivery"><?php /* @escapeNotVerified */ echo __('Free Delivery'); ?></span>
            </span>
        </div>
    </div>
<?php endif ?>
