<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<div>
    <p class="save-stay-order">
    <strong>SAVE TIME</strong> - Enjoy a quick checkout by saving your address and card details.
    </p>
    <p class="save-stay-order">
    <strong>STAY INFORMED</strong> - Sign up to our newsletter and enjoy email updates on our latest offers.
    </p>
    <p class="save-stay-order">
    <strong>ORDER HISTORY</strong> - Track your order and see full order history.
    </p>
    <!-- ko if: isFormVisible -->
    <!--<p data-bind="i18n: 'You can track your order status by creating an account.'"></p>-->
    <p><span data-bind="i18n: 'Email Address'"></span>: <span data-bind="text: getEmailAddress()"></span></p>
    <form method="post" data-bind="submit: createAccount">
        <input type="submit" class="action primary" data-bind="value: $t('Create an Account'), disable: creationStarted" />
    </form>
    <!-- /ko -->
    <!-- ko if: accountCreated -->
    <p data-bind="i18n: 'A letter with further instructions will be sent to your email.'"></p>
    <!-- /ko -->
</div>