<?php
/**
 * Jjcommerce_MegaMenu
 *
 * PHP version 5.x
 *
 * @category  PHTML
 * @package   Jjcommerce\MegaMenu
 * @author    Swapnil Tatkondawar <swapnilt@2jcommerce.in>
 * @copyright 2017 Copyright 2J Commerce, Inc. http://www.2jcommerce.in/
 * @license   http://www.2jcommerce.in/ Private
 * @link      http://www.jollyes.co.uk/
 */
?>
<?php
if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())):?>
    <?php
    $type = 'widget-product-grid';
    $mode = 'grid';
    $image = 'new_products_content_widget_grid';
    $products = $block->getProductCollection();
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;
    $_featuredHelper = $this->helper('\Jjcommerce\FeaturedCategoryProducts\Helper\Data');
    $_stickerHelper = $this->helper('\Jjcommerce\ProductSticker\Helper\Data');
    $dataHelper = $this->helper('Magento\Catalog\Helper\Data');
    $pricingHelper = $this->helper('\Magento\Framework\Pricing\Helper\Data');
    $_cartHelper = $this->helper('Magento\Checkout\Helper\Cart');
    ?>
    <div class="block widget block-products-list <?php /* @escapeNotVerified */ echo $mode; ?>">
        <div class="block-content">
            <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
            <div class="itemslider-featured-products products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
                <ul class="products list items product-items <?php /* @escapeNotVerified */ echo $type; ?> slides">
                    <?php $iterator = 1; ?>
                    <?php foreach ($products as $_product): ?>
                        <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="slide item product product-item">' : '</li><li class="slide item product product-item">' ?>
                        <div class="product-item-info">
                            <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_product) ?>" class="product-item-photo">
                                <?php echo $block->getImage($_product, $image)->toHtml(); ?>
                            </a>
                            <?php if ($_stickerHelper->isEnabled()):?>
                                <?php echo $_stickerHelper->getFlagImage($_product);?>
                                <?php echo $_stickerHelper->getRibbonImage($_product);?>
                            <?php endif; ?>
                            <strong class="product-item-name">
                                <a title="<?php echo $block->escapeHtml($_product->getName()) ?>"
                                   href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_product) ?>"
                                   class="product-item-link">
                                    <?php echo $block->escapeHtml($_product->getName()) ?>
                                </a>
                            </strong>

                            <div class="product-item-details">
                                <div class="price-box-item">
                                    <?php $_minimalPrice = ($_product->getMinimalPrice())?$_product->getMinimalPrice():'' ?>
                                    <?php $_itemFinalPrice = $_product->getFinalPrice(); ?>
                                    <?php $_itemOldPrice = $_product->getPrice(); ?>
                                    <?php if($_itemOldPrice!=$_itemFinalPrice && $_itemOldPrice!=0):?>
                                        <?php $_productOldIncPrice = $dataHelper->getTaxPrice($_product, $_itemOldPrice,true, null, null, null, null, false);?>
                                        <?php $_productNowPrice = $dataHelper->getTaxPrice($_product, $_itemFinalPrice,true, null, null, null, null, false);?>
                                        <?php $_percentageOffInc =  (100 - (($_productNowPrice / $_productOldIncPrice) * 100)); ?>
                                        <?php $_savePriceInc = $_productOldIncPrice-$_productNowPrice;?>
                                        <div class="featured-product-info-price">
                                            <span class="special-price">
                                                <span class="price-label"><?php echo __('Now')?></span>
                                                <span class="price"><?php echo $pricingHelper->currency($_productNowPrice, true, null, null, null, null, false); ?></span>
                                            </span>
                                            <span class="old-price">
                                                <span class="price-label"><?php echo __('Was')?></span>
                                                <span class="price"><?php echo $pricingHelper->currency($_productOldIncPrice, true, null, null, null, null, false); ?></span>
                                            </span>
                                            <?php if($_percentageOffInc > 0): ?>
                                                <div class="save-price">
                                                    <?php echo __("save ")?> <span class="price"><?php echo $pricingHelper->currency($_savePriceInc, true, null, null, null, null, false);?><?php echo __(' (') ?><?php echo __( round(number_format($_percentageOffInc, 2, '.', ' ')) . '%'); ?>)</span>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    <?php else: ?>
                                        <?php if($_product->canConfigure()): ?>
                                            <div class="price-final">
                                                <span class="price">
                                                    <?php $_configurableMinimalPriceWithTax = $_product->getMinimalPrice();?>
                                                    <?php $_displayPriceWithTax = (isset($_configurableMinimalPriceWithTax)) ? $_configurableMinimalPriceWithTax : $_product->getFinalPrice(); ?>
                                                    <?php $_finalPriceWithTax = $dataHelper->getTaxPrice($_product, $_displayPriceWithTax,true, null, null, null, null, false);?>
                                                    <?php if($_product->getTypeId()=='grouped'):?>
                                                        <?php $groupPriceWithTax = $block->getProductCalPrice($_product);?>
                                                        <?php echo __("From ").$pricingHelper->currency($groupPriceWithTax);?>
                                                    <?php else : ?>
                                                        <?php echo __("From ").$pricingHelper->currency($_finalPriceWithTax, true, null, null, null, null, false);?>
                                                    <?php endif ?>
                                                </span>
                                            </div>
                                        <?php else: ?>
                                            <div class="price-final">
                                                <span class="price">
                                                    <?php $_finalPriceWithTax = $dataHelper->getTaxPrice($_product, $_product->getFinalPrice(),true, null, null, null, null, false);?>
                                                   <?php echo $pricingHelper->currency($_finalPriceWithTax, true, null, null, null, null, false);?>
                                                </span>
                                            </div>
                                        <?php endif ?>
                                    <?php endif ?>
                                </div>
                                <?php echo $block->getProductDetailsHtml($_product); ?>
                                <?php if ($templateType): ?>
                                    <?php echo $block->getReviewsSummaryHtml($_product, $templateType, true)?>
                                <?php endif; ?>
                                <div class="clearer"></div>
                                <?php if ($showCart): ?>
                                    <div class="product-item-actions">
                                        <?php if ($showCart): ?>
                                            <div class="actions-primary">
                                                <?php if ($_product->isSaleable()): ?>
                                                    <?php
                                                    $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                    $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()]);
                                                    $postData = json_decode($postData,true);
                                                    ?>
                                                    <?php $class = (!$_product->canConfigure())? 'simple': 'view-opt'?>
                                                    <form class="<?php echo $class ?>" data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $_cartHelper->getAddUrl($_product); ?>" method="post">
                                                        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postData['data']['product']; ?>">
                                                        <?php echo $block->getBlockHtml('formkey')?>

                                                        <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)): ?>
                                                            <button class="action tocart primary view-option"
                                                                    type="submit" title="<?php /* @escapeNotVerified */ echo __('View Options') ?>">
                                                                <span><?php /* @escapeNotVerified */ echo __('View Options') ?></span>
                                                            </button>
                                                        <?php else: ?>
                                                            <?php if(!$_product->canConfigure() && $_product->getData('is_subscription') != 1): ?>
                                                                <button class="action tocart primary"
                                                                        type="submit" title="<?php /* @escapeNotVerified */ echo __('Add') ?>">

                                                                    <span><?php /* @escapeNotVerified */ echo __('Add') ?></span>
                                                                </button>
                                                            <?php else: ?>
                                                                <button class="action tocart primary view-option"
                                                                        type="submit" title="<?php /* @escapeNotVerified */ echo __('View Options') ?>">
                                                                    <span><?php /* @escapeNotVerified */ echo __('View Options') ?></span>
                                                                </button>
                                                            <?php endif;?>
                                                        <?php endif; ?>
                                                    </form>
                                                <?php else: ?>
                                                    <?php if ($_product->getIsSalable()): ?>
                                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>

                            </div>
                        </div>
                        <?php echo($iterator == count($products)+1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ul>
            </div>
            <?php echo $block->getPagerHtml() ?>

        </div>
    </div>
<?php endif;?>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "processStart" : "add_to_cart_start",
                    "processStop" : "add_to_cart_success"
                }
            }
        }
    </script>
<?php endif; ?>