<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Create account form template
 */
/* @var $block \Magento\CustomAttributeManagement\Block\Form\Renderer\Multiselect */
?>
<?php
$fieldCssClass = 'field field-' . $block->getHtmlId();
$fieldCssClass .= $block->isRequired() ? ' required' : '';
$countOwn = 0;
$countLabel = 0;
?>
<div class="<?php /* @escapeNotVerified */ echo $fieldCssClass; ?>">

    <label class="label" for="<?php echo $block->getHtmlId()?>"><span><h4><?php /* @escapeNotVerified */ echo $block->getLabel() ?></h4></span></label>
    <div class="pet-add-info"><?php echo __('We would like to know more about you and your pet(s), so that we can provide a better shopping experience offer you the best deals and products that are suitable for your pet(s). All information is confidential and we do not share anything with third parties.'); ?></div>
    <div class="petlabel"><p>Please select as many as are applicable from the list below:</p></div>
    <div class="petlabelaccount-info"><p>Refine which animals we tell you about?</p></div>
    <div class="control pet-choice">
           <ol>
            <?php foreach ($block->getOptions() as $option):?>

                <?php if((!empty($option['value']) || trim($option['value'])!=='')):?>
                    <li class="pet-grid">
                    <div class="pet-select">
                    <img src="<?php echo $block->getViewFileUrl('images').'/'.$option['label'].'.png' ?>" alt="<?php echo $option['label'] ?>" height="81" width="136"/>
                      <div class="pet-item">
                        <input id="<?php echo $block->getHtmlId()."_".$countOwn++?>" name="<?php echo $block->getFieldName('')?>" value="<?php echo $option['value'] ?>" <?php if ($this->isValueSelected($option['value'])): ?> checked="checked"<?php endif;?> class="checkbox" type="checkbox" />
                    <label name="<?php echo $option['label']?>" for="<?php echo $block->getHtmlId()."_".$countLabel++?>"> <?php echo $option['label']?></label>
                    <div class="sub-text">
                    <?php if ($option['label'] == 'Bird'): ?>
                        <?php echo __('Parrot, Budgie, Chicken etc'); ?>
                    <?php endif; ?>
                    <?php if ($option['label'] == 'Cat'): ?>
                        <?php echo __('From kittens to fully grown'); ?>
                    <?php endif; ?>
                    <?php if ($option['label'] == 'Dog'): ?>
                        <?php echo __('From puppies to fully grown'); ?>
                    <?php endif; ?>
                    <?php if ($option['label'] == 'Fish'): ?>
                        <?php echo __('Fresh water, tropical or salt water'); ?>
                    <?php endif; ?>
                    <?php if ($option['label'] == 'Horse'): ?>
                        <?php echo __('Small pony to full grown horse etc'); ?>
                    <?php endif; ?>
                    <?php if ($option['label'] == 'Reptile'): ?>
                        <?php echo __('Gecko, Bearded Dragon, Snake, etc'); ?>
                    <?php endif; ?>
                    <?php if ($option['label'] == 'Small Pets'): ?>
                        <?php echo __('Hamster, Gerbil, Mouse etc'); ?>
                    <?php endif; ?>
                    <?php if ($option['label'] == 'Wildlife'): ?>
                        <?php echo __('From garden birds to hedgehogs'); ?>
                    <?php endif; ?>
                    </div>
                    </div>
                    </div>
                <?php endif; ?>
                </li>
            <?php endforeach;?>
           </ol>

        <?php if ($_message = $block->getAdditionalDescription()) : ?>
            <div class="note"><?php /* @escapeNotVerified */ echo $_message; ?></div>
        <?php endif; ?>

    </div>
</div>


