<?php
/**
 * Jjcommerce_CategoryTabs
 *
 * PHP version 5.x
 *
 * @category  PHTML
 * @package   Jjcommerce\CategoryTabs
 * @author    Swapnil Tatkondawar <swapnilt@2jcommerce.in>
 * @copyright 2017 Copyright 2J Commerce, Inc. http://www.2jcommerce.in/
 * @license   http://www.2jcommerce.in/ Private
 * @link      http://www.jollyes.co.uk/
 */
$_helper = $this->helper('Jjcommerce\CategoryTabs\Helper\Data');
$_categoryTabOneLabel = $_helper->getCategoryTabOneLabel();
$_categoryTabTwoLabel = $_helper->getCategoryTabTwoLabel();
$_categoryTabThreeLabel = $_helper->getCategoryTabThreeLabel();
$_categoryTabFourLabel = $_helper->getCategoryTabFourLabel();
$_isTabOneEnabled = $_helper->getTabCategoryOneIsEnabled();
$_isTabTwoEnabled = $_helper->getTabCategoryTwoIsEnabled();
$_isTabThreeEnabled = $_helper->getTabCategoryThreeIsEnabled();
$_isTabFourEnabled = $_helper->getTabCategoryFourIsEnabled();
$_isModuleEnabled = $_helper->isEnabled();
?>
<?php if($_isModuleEnabled): ?>
    <div class="container best-seller-tab">
        <ul class="tabs">
            <?php if($_isTabOneEnabled):?>
                <li class="tab-link current" data-tab="tab-1"><span><?php echo __('%1',$_categoryTabOneLabel);?></span></li>
            <?php endif; ?>
            <?php if($_isTabTwoEnabled):?>
                <li class="tab-link" data-tab="tab-2"><span><?php echo __('%1',$_categoryTabTwoLabel);?></span></li>
            <?php endif; ?>
            <?php if($_isTabThreeEnabled):?>
                <li class="tab-link" data-tab="tab-3"><span><?php echo __('%1',$_categoryTabThreeLabel);?></span></li>
            <?php endif; ?>
            <?php if($_isTabFourEnabled):?>
                <li class="tab-link" data-tab="tab-4"><span><?php echo __('%1',$_categoryTabFourLabel);?></span></li>
            <?php endif; ?>
        </ul>
        <div class="tab-container">
            <?php if($_isTabOneEnabled):?>
                <div id="tab-1" class="tab-content current">
                    <?php echo $block->getChildHtml('category.product.tabs.one'); ?>
                </div>
            <?php endif; ?>
            <?php if($_isTabTwoEnabled):?>
                <div id="tab-2" class="tab-content">
                    <?php echo $block->getChildHtml('category.product.tabs.two'); ?>
                </div>
            <?php endif; ?>
            <?php if($_isTabThreeEnabled):?>
                <div id="tab-3" class="tab-content">
                    <?php echo $block->getChildHtml('category.product.tabs.three');?>
                </div>
            <?php endif; ?>
            <?php if($_isTabFourEnabled):?>
                <div id="tab-4" class="tab-content">
                    <?php echo $block->getChildHtml('category.product.tabs.four');?>
                </div>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
<script type="text/x-magento-init">
        {
            "[data-role='tocart-form']": {
                "catalogAddToCart": {
                    "processStart" : "add_to_cart_start",
                    "processStop" : "add_to_cart_success"
                }
            }
        }
</script>

