<?php
/**
 * TwoJay_SuccessPage
 *
 * @category  PHTML
 * @package   TwoJay_SuccessPage
 * @author    TwoJay Development Team <support@twojay.co>
 * @copyright Copyright (c) 2018 TwoJay (http://www.twojay.co/
 **/
?>
<?php if(!$block->isCustomerLoggedIn()):?>
    <div class="success-guest-form">
        <div id="success-page-registration" class="form-inner">
            <div class="form-content">
                <form class="form create account form-create-account" data-mage-init='{"validation": {}}' autocomplete="off" name="guest-registration" method="post" action="<?php echo $this->getUrl('successpage/account/create') ?>">
                    <input type="hidden" name="form-key" value="<?php /* @escapeNotVerified */ echo $block->getFormKey();?>">
                    <input type="hidden" name="firstname" value="<?php /* @escapeNotVerified */ echo $block->getCustomerFirstName();?>">
                    <input type="hidden" name="lastname" value="<?php /* @escapeNotVerified */ echo $block->getCustomerLastName();?>">

                    <h2 class="loyaltyHd"><?= __("Create an account to earn PetCLUB points on every £1 you spend") ?></h2>
                    <div id="customer-info" class="fieldset create account">
                        <div class="emailMain">
                            <span class="email-title"><?= $block->escapeHtml(__('Your email Address:')) ?></span>
                            <input type="hidden" name="email" value="<?php /* @escapeNotVerified */ echo $block->getEmailAddress();?>">
                            <input type="hidden" name="is_success" value="1">
                            <span class="your-email"><?php /* @escapeNotVerified */ echo $block->getEmailAddress();?></span>
                        </div>
                            <div class="field password required">
                                <label for="pass" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                                <input type="password" name="password" id="password" title="Password" class="input-text" data-password-min-length="8" data-password-min-character-sets="3" data-validate="{required:true, 'validate-customer-password':true}" autocomplete="off">
                                <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                                    <div id="password-strength-meter" class="password-strength-meter">
                                        <?= $block->escapeHtml(__('Password Strength')) ?>:
                                        <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                                            <?= $block->escapeHtml(__('No Password')) ?>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="field password required">
                                <label for="pass" class="label"><span><?= $block->escapeHtml(__('Confirm Password')) ?></span></label>
                                <input id="password-confirmation" type="password" name="password_confirmation" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
                            </div>
                    </div>
                    <fieldset class="fieldset stayTouch">
                        <h2><?= __("Stay in touch") ?></h2>
                        <div class="gdpr-content"><p><?php echo __('Please keep me updated on the latest offers, products and services by (please tick):') ?></p>
                            <div class="post-links">
                                <div class="email-container">
                                    <input type="checkbox" name="contact_by_email" id="contact_by_email" value="1"/><label><?php echo __('Email') ?></label>
                                </div>
                                <div class="post-container">
                                    <input type="checkbox" name="contact_in_app" id="contact_in_app" value="1"/><label><?php echo __('Post') ?></label>
                                </div>
                                <div class="sms-container">
                                    <input type="checkbox" name="contact_by_sms" id="contact_by_sms" value="1"/><label><?php echo __('SMS') ?></label>
                                </div>
                            </div>
                    </fieldset>
                    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('success_page_block')->toHtml();?>
                    <div class="createAccDiv">
                        <button id="success-guest-register" type="submit" title="Submit" class="action submit primary">
                            <span><?= $block->escapeHtml(__('Create an account')) ?></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        require([
                'jquery'
            ],
            function ($) {
                $(document).ready(function () {
                    $('#success-guest-register').on('click submit', function (e) {
                        var password = $('#password').val();
                        var password_confirmation = $('#password-confirmation').val();
                        if ((password != '') && (password_confirmation != '') && (password == password_confirmation)) {
                            $('body').loader('show');
                        }
                    });
                });
            });
    </script>
<?php endif;?>
<script type="text/x-magento-init">
    {
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        }
    }
</script>
