<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Create account form template
 *
 * @var $block \Magento\Customer\Block\Form\Register
 */
?>
<?php echo $block->getChildHtml('form_fields_before') ?>
<?php /* Extensions placeholder */ ?>
<?php echo $block->getChildHtml('customer.form.register.extra') ?>
<form class="form create account form-create-account reward-form-main" action="<?php /* @escapeNotVerified */
echo $block->getPostActionUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
    <?php /* @noEscape */
    echo $block->getChildHtml('form_fields_before_in_form') ?>
    <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
    <fieldset class="fieldset create info">
        <legend class="legend"><span class="register-title1"><?php /* @escapeNotVerified */
                echo __('REGISTER ACCOUNT') ?></span></legend>
        <br>
        <input type="hidden" name="success_url" value="<?php /* @escapeNotVerified */
        echo $block->getSuccessUrl() ?>"/>
        <input type="hidden" name="error_url" value="<?php /* @escapeNotVerified */
        echo $block->getErrorUrl() ?>"/>
        <?php //echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
        <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
        <?php if ($_dob->isEnabled()): ?>
            <?php echo $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
        <?php endif ?>

        <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
        <?php if ($_taxvat->isEnabled()): ?>
            <?php echo $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
        <?php endif ?>

        <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
        <?php if ($_gender->isEnabled()): ?>
            <?php echo $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
        <?php endif ?>

    </fieldset>

    <?php if ($block->getShowAddressFields()): ?>
        <fieldset class="fieldset address">
            <div class="create-register-div1">
                <input type="hidden" name="create_address" value="1"/>
                <div class="field firstname required">
                    <label for="firstname" class="label"><span><?php /* @escapeNotVerified */ echo __('First Name') ?></span></label>
                    <div class="control">
                        <input type="text" id="firstname" tabindex="1"
                               name="firstname"
                               value="<?php echo $block->escapeHtml($block->getFormData()->getFirstname()) ?>"
                               title="<?php /* @escapeNotVerified */ echo __('First Name') ?>"
                               class="input-text <?php /* @escapeNotVerified */ echo $block->getAttributeValidationClass('firstname') ?>" data-validate="{required:true}"/>
                    </div>
                </div>
                <div class="field lastname required">
                    <label for="lastname" class="label"><span><?php /* @escapeNotVerified */ echo __('Last Name') ?></span></label>
                    <div class="control">
                        <input type="text" id="lastname" tabindex="2"
                               name="lastname"
                               value="<?php echo $block->escapeHtml($block->getFormData()->getLastname()) ?>"
                               title="<?php /* @escapeNotVerified */ echo __('Last Name') ?>"
                               class="input-text <?php /* @escapeNotVerified */ echo $block->getAttributeValidationClass('lastname') ?>" data-validate="{required:true}"/>
                    </div>
                </div>
                <div class="field required">
                    <label for="email_address" class="label"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
                    <div class="control">
                        <input type="email" name="email" tabindex="3" id="email_address" autocomplete="email" value="<?php echo $block->escapeHtml($block->getFormData()->getEmail()) ?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text" data-validate="{required:true, 'validate-email':true}"/>
                    </div>
                </div>
                <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>

                <div class="field street required">
                    <label for="street_1" class="label"><span><?php /* @escapeNotVerified */ echo __('Address') ?></span></label>
                    <div class="control">
                        <input type="text" name="street[]" tabindex="4" value="<?php echo $block->escapeHtml($block->getFormData()->getStreetLine(1)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address') ?>" id="street_1" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>"/>
                        <div class="nested address2">
                            <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                            <?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                                <div class="additional-line">
                                    <label class="label" for="street_<?php /* @escapeNotVerified */ echo $_i ?>">
                                        <span><?php /* @escapeNotVerified */ echo __('Address Line %1', $_i) ?></span>
                                    </label>
                                    <div class="control">
                                        <input type="text" name="street[]" tabindex="5" value="<?php echo $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address %1', $_i) ?>" id="street_<?php /* @escapeNotVerified */ echo $_i ?>" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>"/>
                                    </div>
                                </div>
                            <?php endfor; ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="create-register-div2">

                <div class="field required">
                    <label for="city" class="label"><span><?php /* @escapeNotVerified */ echo __('City') ?></span></label>
                    <div class="control">
                        <input type="text" name="city" tabindex="6" value="<?php echo $block->escapeHtml($block->getFormData()->getCity()) ?>" title="<?php /* @escapeNotVerified */ echo __('City') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>" id="city"/>
                    </div>
                </div>

                <div class="field region">
                    <label for="region_id" class="label"><span><?php /* @escapeNotVerified */ echo __('State/Province') ?></span></label>
                    <div class="control">
                        <select id="region_id" name="region_id" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="validate-select" style="display:none;">
                            <option value=""><?php /* @escapeNotVerified */ echo __('Please select a region, state or province.') ?></option>
                        </select>
                        <input type="text" id="region" tabindex="7" name="region" value="<?php echo $block->escapeHtml($block->getRegion()) ?>" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>" style="display:none;"/>
                    </div>
                </div>

                <div class="field zip required">
                    <label for="zip" class="label"><span><?php /* @escapeNotVerified */ echo __('Postcode') ?></span></label>
                    <div class="control">
                        <input type="text" name="postcode" tabindex="8" value="<?php echo $block->escapeHtml($block->getFormData()->getPostcode()) ?>" title="<?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>" data-validate="{'required':true, 'validate-zip-international':true}"/>
                    </div>
                </div>

                <div class="field country required">
                    <label for="country" class="label"><span><?php /* @escapeNotVerified */ echo __('Country') ?></span></label>
                    <div class="control">
                        <?php echo $block->getCountryHtmlSelect() ?>
                    </div>
                </div>

                <div class="field telephone required">
                    <label for="telephone" class="label"><span><?php /* @escapeNotVerified */ echo __('Telephone') ?></span></label>
                    <div class="control">
                        <input type="text" name="telephone" tabindex="10" id="telephone" value="<?php echo $block->escapeHtml($block->getFormData()->getTelephone()) ?>" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>"/>
                    </div>
                </div>
                <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
                <?php if ($addressAttributes): ?>
                    <?php $addressAttributes->setEntityType('customer_address'); ?>
                    <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                    <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                    <?php echo $addressAttributes->setShowContainer(false)->toHtml()?>
                <?php endif;?>
                <input type="hidden" name="default_billing" value="1"/>
                <input type="hidden" name="default_shipping" value="1"/>
            </div>
        </fieldset>
        <?php $customerAttributes = $block->getChildBlock('customer_form_user_attributes');?>
        <?php if ($customerAttributes): ?>
            <?php $customerAttributes->setEntityType('customer')->setShowContainer(false);?>
            <?php $block->restoreSessionData($customerAttributes->getMetadataForm());?>
            <?php echo $customerAttributes->toHtml()?>
        <?php endif;?>
    <?php endif; ?>
    <fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
        <div class="field password below-fields required" data-mage-init='{"passwordStrengthIndicator": {}}'>
            <label for="password" class="label"><span><?php /* @escapeNotVerified */ echo __('Password') ?></span></label>
            <div class="control">
                <input type="password" name="password" id="password"
                       title="<?php /* @escapeNotVerified */ echo __('Password') ?>"
                       class="input-text"
                       data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                       data-password-min-character-sets="<?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                       data-validate="{required:true, 'validate-customer-password':true}"
                       autocomplete="off">
                <div id="password-strength-meter-container" data-role="password-strength-meter" >
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?php /* @escapeNotVerified */ echo __('Password Strength'); ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label" >
                            <?php /* @escapeNotVerified */ echo __('No Password'); ?>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field confirmation below-fields required">
            <label for="password-confirmation" class="label"><span><?php /* @escapeNotVerified */ echo __('Confirm Password') ?></span></label>
            <div class="control">
                <input type="password" name="password_confirmation" title="<?php /* @escapeNotVerified */ echo __('Confirm Password') ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}"/>
            </div>
        </div>
        <?php echo $block->getChildHtml('form_additional_info'); ?>
    </fieldset>
    <fieldset class="fieldset stayTouch">
        <h2><?= __("Stay in touch") ?></h2>
        <div class="gdpr-content"><p><?php echo __('We would like to keep you up to date with the latest news of products and services including store events, offers and promotions. Please indicate your marketing preferences by ticking the relevant boxes below:') ?></p>
        <div class="post-links">
            <div class="email-container">
                <input type="checkbox" name="contact_by_email" value="1"/><label><?php echo __('Email') ?></label>
            </div>
            <div class="post-container">
                <input type="checkbox" name="contact_in_post" value="1"/><label><?php echo __('Post') ?></label>
            </div>
            <div class="sms-container">
                <input type="checkbox" name="contact_by_sms" value="1"/><label><?php echo __('SMS') ?></label>
            </div>
        </div>
    </fieldset>
    <div class="above-regbutton">
        <div class="privacy-policy-nfo"><p>By registering your account you agree to our <a href="<?php echo $block->getUrl('terms-and-conditions'); ?>">Terms and Conditions </a> <?php echo __('&')?> <a href="<?php echo $block->getUrl('privacy-policy'); ?>">Privacy Policy.</a> </p></br>
            Protecting your personal data is important to us, please read our <a href="<?php echo $block->getUrl('privacy-policy'); ?>">Privacy Policy.</a> where you can find out more on how we use this information.</p></div>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary" title="<?php /* @escapeNotVerified */ echo __('Register your account') ?>"><span><?php /* @escapeNotVerified */ echo __('Register your account') ?></span></button>
        </div>
        <div class="alreadylogin">
            <span class="already-account"><?php /* @escapeNotVerified */ echo __('Already have an account?') ?></span>
            <a href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>"><span class="already-login"><?php /* @escapeNotVerified */ echo __('Log in here') ?></span></a>
        </div>
<!--        <div class="secondary">-->
<!--            <a class="action back" href="--><?php //echo $block->escapeUrl($block->getBackUrl()) ?><!--"><span>--><?php ///* @escapeNotVerified */ echo __('Back') ?><!--</span></a>-->
<!--        </div>-->
    </div>
</form>
<script type="text/x-magento-init">
    {
        <?php if ($block->getShowAddressFields()): ?>
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php /* @escapeNotVerified */ echo($block->getConfig("general/region/display_all") ? "true" : "false"); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php /* @escapeNotVerified */ echo $this->helper("Magento\Directory\Helper\Data")->getRegionJson() ?>,
                "defaultRegion": "<?php /* @escapeNotVerified */ echo $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?php /* @escapeNotVerified */ echo $this->helper("Magento\Directory\Helper\Data")->getCountriesWithOptionalZip(true) ?>
            }
        },
        <?php endif; ?>
        "*": {
            "Jollyes_CustomerCustomAttributes/validation": {
                "ignore": <?= (int) ($_dob->isEnabled() || $customerAttributes->hasUserDefinedAttributes()) ?>,
                "hasUserDefinedAttributes": <?= (int) $customerAttributes->hasUserDefinedAttributes() ?>,
                "isDobEnabled": <?= (int) $_dob->isEnabled() ?>,
                "disableAutoComplete": true,
                "mixins": [
                    "Jollyes_CustomerCustomAttributes/error-placement",
                    "Jollyes_CustomerCustomAttributes/validation-ignore"
                ]
            }
        }
    }
</script>
<script type="text/javascript">
    require(['jquery'],function($) {
        $(document).ready(function(){
            $(document).on("keyup","#password",function(){
                $(this).mage('validation', {});
            });

            $(document).on("keyup","#password-confirmation",function(){
                $(this).mage('validation', {});
            });
        });
    });
</script>
