<?php
/**
 * TwoJay_Loyalty
 *
 * @category  TwoJay
 * @package   TwoJay_Loyalty
 * @author    TwoJay Development Team <support@twojay.co>
 * @copyright Copyright (c) 2019 TwoJay (http://www.twojay.co/)
 *
 */

// @codingStandardsIgnoreFile
/**
 * @var \TwoJay\Loyalty\Block\Sales\Order\LoyaltyCoupons $block
 */
$order  = $block->getOrder();
$source = $block->getSource();
$loyaltyCoupons  = $block->getLoyaltyCoupons();
$loyaltyAmount = abs($source->getLoyaltyCouponsAmount());
?>
<?php if ($loyaltyCoupons):?>
    <?php foreach ($loyaltyCoupons as $loyaltyCoupon): ?>
        <tr class="loyaltyCoupon totals">
            <td <?= /* @noEscape */ $block->getLabelProperties() ?>>
                <?= $block->escapeHtml(__('PetCLUB Voucher (%1)', $loyaltyCoupon->getCode())) ?>
            </td>
            <td <?= /* @noEscape */ $block->getValueProperties() ?>>
                <span class="discount">-<?= /* @noEscape */ $order->formatPrice($loyaltyCoupon->getAmount()) ?></span>
            </td>
        </tr>
    <?php endforeach; ?>
<?php elseif ($loyaltyAmount > 0): ?>
    <tr class="loyaltyCoupon totals">
        <td <?= /* @noEscape */ $block->getLabelProperties() ?>>
            <?= $block->escapeHtml(__('PetCLUB Voucher')) ?>
        </td>
        <td <?= /* @noEscape */ $block->getValueProperties() ?>>
            <span class="discount">-<?= /* @noEscape */ $order->formatPrice($loyaltyAmount) ?></span>
        </td>
    </tr>
<?php endif?>