<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<input type="hidden" name="creditmemo[refund_loyaltycoupons]" value="0">
<?php if ($block->canRefundToCustomerBalance()): ?>
    <p>
        <label for="creditmemo_refund_loyaltycoupons">
            <?= $block->escapeHtml(__('Refund PetCLUB Vouchers to Store Credit')) ?>
        </label>
        <input type="checkbox" name="creditmemo[refund_loyaltycoupons]" value="1" id="creditmemo_refund_loyaltycoupons">
    </p>
<?php endif; ?>
