<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isDisplayed() -->
<tr class="totals discount">
    <th class="mark" scope="row">
        <span class="title" data-bind="text: title"></span>
        <!--<span class="discount coupon11" data-bind="text: getCouponCode()"></span>-->
        <div class="discount coupon" data-bind="foreach: getDiscountLabel()">
            <span class="title" data-bind="text: $data" style="display: block;"> </span>
        </div>
    </th>
    <td class="amount">
        <!--<span class="price" data-bind="text: getValue(), attr: {'data-th': name}"></span>-->
        <div class="price" data-bind="foreach: getDiscountPrice(), attr: {'data-th': name}">
            <span class="price" data-bind="text: $data" style="display: block;"> </span>
        </div>
    </td>
</tr>
<!-- /ko -->
