<div class="container">
    <div id="main">
        <form id="upload-form" method="post" action="<?php echo $block->getUploadUrl() ?>"
              enctype="multipart/form-data">
            <fieldset class="fieldset admin__fieldset " id="base_fieldset">
                <?php echo $block->getBlockHtml('formkey'); ?>
                <legend class="admin__legend legend">
                    <span><?php echo __('Product Reviews Import') ?></span>
                </legend>
                <div class="admin__field field field-basic_behavior  required _required with-note"
                     data-ui-id="import-form-container-form-fieldset-element-form-field-basic-behavior">
                    <label class="label admin__field-label"
                           for="file"><span><?php echo __('Upload Review File') ?></span></label>
                    <div class="admin__field-control control">
                        <div class="control">
                            <input type="file" name="file" id="file" class="input-file required-entry"
                                   required="required"/>
                            <?php echo $block->getDownloadSampleFileHtml() ?>
                        </div>
                    </div>
                    <div class="admin__field-control control">
                        <span><?php echo __('Only CSV file type allowed.') ?></span>
                        <div class="control" style="margin-top: 10px;">
                            <input type="submit" class="action-default scalable save primary" name="submit"
                                   id="review_import" value="<?php echo __('Import Reviews') ?>"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <form action="<?php echo $block->getDownloadUrl() ?>" enctype="multipart/form-data">
            <fieldset class="fieldset admin__fieldset " id="base_fieldset">
                <legend class="admin__legend legend">
                    <span><?php echo __('Product Reviews Export') ?></span>
                </legend>
                <div class="admin__field field field-basic_behavior with-note"
                     data-ui-id="import-form-container-form-fieldset-element-form-field-basic-behavior">
                    <label class="label admin__field-label"
                           for="review_export_from"><span><?php echo __('Select from Date') ?></span></label>
                    <div class="admin__field-control control">
                        <div class="control">
                            <input class="admin__control-text" name="review_export_from" id="review_export_from"
                                   type="text">
                        </div>
                    </div>
                </div>
                <div class="admin__field field field-basic_behavior  with-note"
                     data-ui-id="import-form-container-form-fieldset-element-form-field-basic-behavior">
                    <label class="label admin__field-label"
                           for="review_export_to"><span><?php echo __('Select to Date') ?></span></label>
                    <div class="admin__field-control control">
                        <div class="control">
                            <input class="admin__control-text" name="review_export_to" id="review_export_to"
                                   type="text">
                        </div>
                    </div>

                </div>
                <div class="admin__field field field-basic_behavior with-note"
                     data-ui-id="import-form-container-form-fieldset-element-form-field-basic-behavior">
                    <label class="label admin__field-label"
                           for="enable_customer"><span><?php echo __('Export Customer Details with Reviews') ?></span></label>
                    <div class="admin__field-control control">
                        <div class="control">
                            <select id="enable_customer" name="enable_customer" class="select admin__control-select">
                                <option value="1"><?php echo __('Yes') ?></option>
                                <option value="0"><?php echo __('No') ?></option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="admin__field field field-basic_behavior  required _required with-note"
                     data-ui-id="import-form-container-form-fieldset-element-form-field-basic-behavior">
                    <label class="label admin__field-label"
                           for="review_export_to"></label>
                    <div class="admin__field-control control">
                        <div class="control">
                            <input type="submit" class="action-default scalable save primary" name="submit"
                                   id="review_export" value="<?php echo __('Export Reviews') ?>"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    require(['jquery', 'mage/calendar'],
        function ($) {
            $('#review_export_from').datepicker({
                monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                monthNamesShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                dayNames: ['Sunday ', 'Monday', 'Tuesday ', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
                dayNamesShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                showMonthAfterYear: false,
                dateFormat: 'yy-m-d'
            });
            $('#review_export_to').datepicker({
                monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                monthNamesShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                dayNames: ['Sunday ', 'Monday', 'Tuesday ', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
                dayNamesShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                showMonthAfterYear: false,
                dateFormat: 'yy-m-d'
            });
        });
    //]]>
</script>