<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * @var \TwoJay\Loyalty\Block\Adminhtml\Sales\Order\Creditmemo\Controls $block
 */

$source = $block->getSource();
$block->setPriceDataObject($source);
?>

<?php if ((float) $source->getLoyaltyCouponsAmount()): ?>
    <tr>
        <td class="label">
            <?= $block->escapeHtml(__('PetCLUB Vouchers')) ?>
        </td>
        <td>
            <?= /* @noEscape */ $block->displayPrices($source->getBaseLoyaltyCouponsAmount(), $source->getLoyaltyCouponsAmount()) ?>
        </td>
    </tr>
<?php endif; ?>
