@import "module/_toolbar_extend.less";
@import 'module/_listing.less';
@import 'module/_category.less';
@import "module/_category-sidebar.less";
@import "module/_product.less";
@import "module/_product-item.less";

& when (@media-common = true) {
    body {
        &.page-layout-2columns-left {
            .main {
                padding-left: 0;
            }
        }
    }
    .page-products {
        .products-grid {
            .product-item {
                float: inherit;
            }
        }
    }
    .product-free-delivery {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .products-grid {
        .product-items {
            display: -webkit-box;
            display: -moz-box;     
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
        }
        .product-item {
            .product-item-info {
                height: 100%;
                display: -webkit-box;
                display: -moz-box;     
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-direction: column;
                .product-item-details {
                    display: -webkit-box;
                    display: -moz-box;     
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    .product-item-actions {
                        margin-top: auto;
                    }
                }
            }
        }
    }
    .page-layout-header-category-full-width, .page-layout-category-full-width {
        .category-view {
            flex-direction: column;
            max-width: 1440px;
            margin: 0 auto;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
            box-sizing: border-box;
        }
    }
    .category-view {
        h1 {
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
    @media @desktop {
        .page-layout-header-category-full-width, body.page-layout-2columns-left {
            .sidebar-main {
                width: 20.4%;
                float: left;
                -ms-flex-order: 1;
                -webkit-order: 1;
                order: 1;
            }
            .column.main {
                width: 79.6%;
                float: right;
                -ms-flex-order: 2;
                -webkit-order: 2;
                order: 2;
            }
        }
    }
    @media @desktop1023 {
        .page-layout-header-category-full-width, body.page-layout-2columns-left {
            .sidebar-main {
                float: left;
                order: 1;
                width: 100%;
            }
            .column.main {
                float: right;
                order: 2;
                width: 100%;
            }
        }
    }
    @media @desktop991 {
        .amshopby-filter-current {
            ol.amshopby-items.items {
                border: 2px solid #bdbdbd;
                padding: 5px 15px;
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }
    }
    .sections.nav-sections .Sirv {
        opacity: 1!important;
    }
}
