<?php
// @codingStandardsIgnoreFile

/**
 * @var $block \TwoJay\Loyalty\Block\Link
 */
?>
<li class="link reward">
    <a <?php /* @escapeNotVerified */ echo $block->getLinkAttributes() ?>>
        <?php echo $block->escapeHtml($block->getLabel()) ?>
    </a>
</li>

