<?php
/**
 * @var $block \TwoJay\Loyalty\Block\Loyalty
 */
?>
<div class="loyaltyPageMain">
    <div class="loyaltyPageMainWrap">
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('loyalty-page-block')->toHtml();?>
    </div>
</div>
