<?php
/**
 * @category    Jjcommerce
 * @package     Jjcommerce_StoreLocator
 * @author	Jjcommerce Team<support@2jdesign.co.uk>
 */

?>
<?php // $collection = $block->getAllStores(); ?>
<?php $storeCollectionData = $block->getStoreCollection();?>
<?php $storeHelper = $this->helper('Jjcommerce\StoreLocator\Helper\Data'); ?>
<?php $jsonHelper = $this->helper('Magento\Framework\Json\Helper\Data');?>
<div class="store-search-wrapper">
    <h2 class="store-find"><?php /* @escapeNotVerified */ echo __('Find A Store') ?></h2>
    <form id="storeForm" method="post" action="<?php echo $block->getFormAction();?>">
        <div class="search-box">
            <div class="searchLocationClass">
                <input id="address" class="input-text" type="text" value="" placeholder="<?php /* @escapeNotVerified */ echo __('Enter a UK town, city or postcode') ?>" name="address" autocomplete="off">
            </div>
            <div class="searchRadiusClass">
                <div class="radiusInput">
                    <input id="radius" class="input-text" type="hidden" value="25" name="radius">
                </div>
            </div>
            <div class="searchButton">
                <button class="button submitButton searchStore" title="Search for a Store »" type="submit"><span><?php /* @escapeNotVerified */ echo __('Find Store') ?></span>
            </div>
        </div>
    </form>
</div>
<div id="map_canvas"></div>
<?php if(sizeof($storeCollectionData)>0): ?>
    <div class="all-details">
        <div id="mobile-key" class="mobile-key"></div>
        <div class="sub-title"><?php /* @escapeNotVerified */ echo __('All Stores:') ?></div>
        <ul class="section group">

            <?php foreach( $storeCollectionData['items'] as $locator ): ?>
                <?php $urlKey =  $locator['name'];  ?>
                <?php $_firstLetter = substr($locator['name'], 0, 1)?>
                <?php $url = $locator['store_url'];?>
                <?php $storeUrl =  explode('.co.uk/',$url); ?>
                <?php if(is_array($storeUrl)):?>
                    <?php $storeUrlLink = $this->getUrl().$storeUrl[1];?>
                <?php else :?>
                    <?php $storeUrlLink = '#';?>
                <?php endif ?>

                <li class="col content-<?php echo $_firstLetter?>" data-ref="<?php echo $_firstLetter ?> ">
                    <a href="<?php echo $storeUrlLink ;?>">
                        <div class="storecontent">
                            <div class="store-image">
                                <?php $image = $locator['image'];?>
                                <?php $imageHover = $locator['hover_image'];?>
                                <?php if(isset($image)):?>
                                    <?php if(isset($imageHover)):?>
                                        <img src="<?php echo $block->getMediaUrl().$locator['image'];?>" onmouseenter="this.src='<?php echo $block->getMediaUrl().$locator['hover_image']?>'" onmouseleave="this.src='<?php echo $block->getMediaUrl().$locator['image'];?>'" alt="storelocator" />
                                    <?php else: ?>
                                        <img src="<?php echo $block->getMediaUrl().$locator['image'];?>" alt="storelocator" />
                                    <?php endif ?>
                                <?php endif ?>
                                <?php if($locator['service_flag'] == 1 ):?>
                                    <div class="service-flag pet-clinic">
                                        <img src="<?php echo $block->getMediaUrl().$storeHelper->getPetClinicImage()?>" alt="petclinic" />
                                    </div>
                                <?php elseif($locator['service_flag'] == 2):?>
                                    <div class="service-flag pet-zone">
                                        <img src="<?php echo $block->getMediaUrl().$storeHelper->getPetZoneImage()?>" alt="petzone" />
                                    </div>
                                <?php endif?>
                            </div>
                            <div class="store-details">
                                <div class="store-name">
                                    <h3><?php echo $locator['name']; ?></h3>
                                </div>
                                <div class="store-loc-address">
                                <span><?php echo $locator['address'].', '. $locator['address2']; ?></span>
                                <span><?php echo $locator['city'] .' '. $locator['zipcode'] ?></span>
                                <span><?php echo $locator['county'].' '. $block->getCountry($locator['country_id']); ?></span>
                                <div class="tel-box">TEL : <?php echo $locator['phone']; ?></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            <?php endforeach;?>
        </ul>
        <script type="text/javascript">
            var baseUrl = "<?php echo $this->getUrl('locator/index/store'); ?>";
            var estimateDirectionLabel = "<?php echo __('Calculating the estimated');?>"
            var gmapUrl = '<?php echo $storeHelper->getGoogleApiUrl();?>';
            var apiSensor = '<?php echo $storeHelper->getApiSensor();?>';
            var stores = <?php echo $jsonHelper->jsonEncode($storeCollectionData); ?>;
            var mediaUrl = '<?php echo $block->getMediaUrl();?>';
            var pathMarker = '<?php echo $block->getMediaUrl();?>';
            var defaultMarker = "wysiwyg/storelocator/images/store_icon.png";
            var directionEnable = '<?php echo $storeHelper->getDirection();?>';
            window.onload = loadScript;

            require(['jquery'],function($){
                var firstLetter = [], i=0;
                $('.all-details ul.section li').each(function(){
                    var char= '';
                    char = $(this).attr('data-ref');
                    if(firstLetter.indexOf(char) < 1) {
                        if(i==0) {
                            firstLetter[i] = $(this).attr('data-ref');
                            i++;
                        }else{
                            if(jQuery.inArray(char, firstLetter)!='-1'){
                            }else{
                                firstLetter[i] = $(this).attr('data-ref');
                                i++;
                            }

                        }
                    }
                });
                var content='';
                for(j=0;j<firstLetter.length; j++){
                    content += '<li class="alpha"><a ref="content-'+ firstLetter[j] +'"> '+ firstLetter[j] +'</a></li>';
                }
                $('#mobile-key').append('<ul class="key-list">'+content+'</ul>');
                $('.mobile-key li').on('click','a:not(.clicked)',function(event){
                    event.preventDefault();
                    $('.all-details .mobile-key li a').removeClass('clicked');
                    $(this).addClass('clicked');
                    locatorContent();
                    $('.all-details ul.section li').fadeOut(100);
                    $('.all-details ul.section').find('li.'+$(this).attr('ref')).fadeIn(500);
                })
                $(document).ready(function(){
                    if($(window).width() < 768) {
                        $('.mobile-key li:first-child a').trigger('click');
                        locatorContent();
                    }
                });
                function locatorContent(){
                    if($('body').hasClass('locator-index-index')){
                        var maxLocatorHeight = 0;
                        var locatorHeight = 0;
                        $('.all-details .section.group > li div.store-loc-address').css({"height":'auto'});
                        $('.all-details .section.group > li').each(function(){
                            locatorHeight = $(this).find('div.store-loc-address').height();
                            if(locatorHeight >=  maxLocatorHeight){
                                maxLocatorHeight = locatorHeight;
                            }
                        });
                        $('.all-details .section.group > li div.store-loc-address').css({"height":maxLocatorHeight+50});
                    }
                }
            })
        </script>
    </div>
    <?php $block->clearSessionData();?>
<?php endif; ?>

