    <?php
/**
 * @category    Jjcommerce
 * @package     Jjcommerce_StoreLocator
 * @author	Jjcommerce Team<support@2jdesign.co.uk>
 */

$locator = $block->getCurrentLocator();
//echo 'i m hh'; exit;

?>
<div style="float:left">
    <?php if($locator->getImage()): ?>
    <div><img class="clinic-image" alt=" " src="<?php echo $block->getMediaUrl(). $locator->getImage(); ?>" ></div>
    <?php endif; ?>

    </div>
    <div style="float:left;">
        <div style="margin-left: 50px;">
            <h2>
                <span itemprop="name"><?php echo  $locator->getName(); ?></span>
            </h2>
            <div>
                <p>
                    <span><?php echo  $locator->getName() ?><br></span>
                    <span><?php echo  $locator->getAddress(); ?><br></span>
                    <span><?php echo  $locator->getAddress2(); ?><br></span>
                    <span><?php echo  $locator->getZipcode(); ?><br></span>
                    <span><?php echo  $locator->getCity() ?><br></span>
                    <span><?php echo  $locator->getCounty(); ?><br></span>
                </p>
            </div>
            <p>
                <?php echo __("Telephone"); ?>
                <span itemprop="telephone"><?php echo  $locator->getPhone(); ?></span>
            </p>
            <strong>
                <?php echo __("Opening Hours"); ?>
            </strong>
            <br>
            <p>
                <span><?php echo 'Mon - Fri: 9am - 8pm'; ?><br></span>
                <span><?php echo 'Sat: 9am - 6pm'; ?><br></span>
                <span><?php echo 'Sun: 10:30am - 4:30pm'; ?></span>
            </p>
        </div>
    </div>
</div>
<div id="panel" style="width: 400px;height:380px;overflow:auto;float: right;"></div>
</div>

