<?php
/**
 * @category    Jjcommerce
 * @package     Jjcommerce_StoreLocator
 * @author	Jjcommerce Team<support@2jdesign.co.uk>
 */

?>
<?php // $collection = $block->getAllStores(); ?>
<?php $storeCollectionData = $block->getStoreCollection();?>
<?php $storeHelper = $this->helper('Jjcommerce\StoreLocator\Helper\Data'); ?>
<?php $jsonHelper = $this->helper('Magento\Framework\Json\Helper\Data');?>
<div class="store-search-wrapper">
    <h2 class="store-find"><?php /* @escapeNotVerified */ echo __('Find A Store') ?></h2>
    <form id="storeForm" method="post" action="#">
        <div class="search-box">
            <div class="searchLocationClass">
                <input id="address" class="input-text" type="text" value="" placeholder="<?php /* @escapeNotVerified */ echo __('Enter a UK town, city or postcode') ?>" name="address" autocomplete="off">
            </div>
            <!--<div class="searchRadiusClass">-->
            <!--<div class="radiusInput">-->
            <!--<input id="radius" class="input-text" type="hidden" value="25" name="radius">-->
            <!--</div>-->
            <!--</div>-->
            <div class="searchButton">
                <button class="button submitButton searchStore" title="Search for a Store »" type="submit"><span><?php /* @escapeNotVerified */ echo __('Find Store') ?></span>
            </div>
        </div>
    </form>
</div>
<div id="map_canvas"></div>
<?php if(sizeof($storeCollectionData)>0):?>
        <script type="text/javascript">
            var baseUrl = "<?php echo $this->getUrl('locator/index/store'); ?>";
            var estimateDirectionLabel = "<?php echo __('Calculating the estimated');?>"
            var gmapUrl = '<?php echo $storeHelper->getGoogleApiUrl();?>';
            var apiSensor = '<?php echo $storeHelper->getApiSensor();?>';
            var stores = <?php echo $jsonHelper->jsonEncode($storeCollectionData); ?>;
            var mediaUrl = '<?php echo $block->getMediaUrl();?>';
            var pathMarker = '<?php echo $block->getMediaUrl();?>';
            var defaultMarker = "wysiwyg/storelocator/images/store_icon.png";
            var directionEnable = '<?php echo $storeHelper->getDirection();?>';
            window.onload = loadScript;
        </script>
<?php endif; ?>