<?php /** @var $block \Magento\Catalog\Block\Product\Image */ ?>
<?php
$_stickerHelper = $this->helper(\Jjcommerce\ProductSticker\Helper\Data::class);
$request = $_stickerHelper->getRequest();

if ($request->getFullActionName() != 'cms_index_index'): ?>
  <!-- Add lazy load class and data-src -->
    <span class="product-image-container"
    style="width:<?= $block->escapeHtmlAttr($block->getWidth()) ?>px;">
    <span class="product-image-wrapper"
          style="padding-bottom: <?= ($block->getRatio() * 100) ?>%;">
        <img class="<?= $block->escapeHtmlAttr($block->getClass()) ?> Sirv"
            <?= $block->escapeHtmlAttr($block->getCustomAttributes()) ?>
            data-src="<?= $block->escapeUrl($block->getImageUrl()) ?>"
            max-width="<?= $block->escapeHtmlAttr($block->getWidth()) ?>"
            max-height="<?= $block->escapeHtmlAttr($block->getHeight()) ?>"
            alt="<?= /* @noEscape */ $block->stripTags($block->getLabel(), null, true) ?>"/></span>
  </span>
<?php
else:?>
  <!-- Remove lazy load from home page -->
  <span class="product-image-container"
      style="width:<?= $block->escapeHtmlAttr($block->getWidth()) ?>px;">
      <span class="product-image-wrapper"
          style="padding-bottom: <?= ($block->getRatio() * 100) ?>%;">
        <img class="<?= $block->escapeHtmlAttr($block->getClass()) ?>"
            <?= $block->escapeHtmlAttr($block->getCustomAttributes()) ?>
            src="<?= $block->escapeUrl($block->getImageUrl()) ?>"
            max-width="<?= $block->escapeHtmlAttr($block->getWidth()) ?>"
            max-height="<?= $block->escapeHtmlAttr($block->getHeight()) ?>"
            alt="<?= /* @noEscape */ $block->stripTags($block->getLabel(), null, true) ?>"/></span>
    </span>
<?php
endif;
?>
