<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_stickerHelper = $this->helper('\Jjcommerce\ProductSticker\Helper\Data');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                        <?php echo $productImage->toHtml(); ?>
                    </a>
                    <?php if ($_stickerHelper->isEnabled()):?>
                        <?php echo $_stickerHelper->getFlagImage($_product);?>
                        <?php echo $_stickerHelper->getRibbonImage($_product);?>
                    <?php endif; ?>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </strong>
                        <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
                        <div class="stock-label">
                            <?php echo $_stickerHelper->getStockLabel($_product->getId()); ?>
                        </div>
                        <?php if ($templateType): ?>
                            <?php echo $block->getReviewsSummaryHtml($_product, $templateType, true)?>
                        <?php endif; ?>
                        <div class="clearer"></div>

                        <?php echo $block->getProductDetailsHtml($_product); ?>

                        <div class="product-item-actions">
                            <div class="product actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
                                <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
                                    <?php //if ($_product->isSaleable()): ?>
                                    <?php if ($_product->getData('is_salable')): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <?php $class = (!$_product->canConfigure())? 'simple': 'view-opt'?>
                                        <form class="<?php echo $class ?>" data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php echo $block->getChildHtml('segment_analytics')?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            <?php if ($_product->getTypeId()=='simple' && $_product->getData('is_subscription') != 1):                                     ?>
                                                <?php if($_product->getTypeInstance()->hasRequiredOptions($_product)):?>
                                                    <button class="action tocart primary view-option"
                                                        type="submit" title="<?php /* @escapeNotVerified */ echo __('View Options') ?>">
                                                        <span><?php /* @escapeNotVerified */ echo __('View Options') ?></span>
                                                    </button>
                                                <?php else: ?>
                                                        <!--<div class="qty-container">
                                                            <a class="product-list-qty-minus"><p class="dn">-</p></a>
                                                            <input type="number"
                                                                   name="qty"
                                                                   id="qty-<?php /*echo $_product->getId(); */?>"
                                                                   maxlength="12"
                                                                   value="<?php /*/* @escapeNotVerified */ //echo $block->getProductDefaultQty() * 1 */?>1"
                                                                   title="<?php /*/* @escapeNotVerified */ //echo __('Qty') */?>" class="validate-number input-text qty"
                                                                   data-validate="<?php /*echo $block->escapeHtml(json_encode($block->getQuantityValidators())) */?>"
                                                            />
                                                            <a class="product-list-qty-plus"><p class="up">+</p></a>
                                                        </div>-->
                                                        <button onclick="location.href='<?=  $_product->getProductUrl(); ?>'" class="action tocart primary"
                                                                type="button" title="<?php /* @escapeNotVerified */ echo __('Add') ?>">

                                                            <span><?php /* @escapeNotVerified */ echo __('Add') ?></span>
                                                        </button>
                                                    <?php endif?>
                                                <?php else: ?>
                                                    <button class="action tocart primary view-option"
                                                            type="submit" title="<?php /* @escapeNotVerified */ echo __('View Options') ?>">
                                                        <span><?php /* @escapeNotVerified */ echo __('View Options') ?></span>
                                                    </button>
                                            <?php endif; ?>
                                        </form>
                                    <?php else: ?>
                                        <?php // if ($_product->getIsSalable()):
                                       if($_product->getData('is_salable')):?>
                                            <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <div data-role="add-to-links" class="actions-secondary"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
                                    <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                        <?php echo $addToBlock->setProduct($_product)->getChildHtml(); ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <?php if ($showDescription):?>
                                <div class="product description product-item-description">
                                    <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>"
                                       class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                      "processStart" : "add_to_cart_start",
                      "processStop" : "add_to_cart_success"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>


<script type="text/javascript">
    require(['jquery'],function($){
        $("div.toolbar-sorter .styled-toolbar > .selected-option span").text($("#sorter option:selected").text());
        $("div.field.limiter .styled-toolbar > .selected-option span").text($("#limiter option:selected").text());

        var sorterFunc = function(e){
            e.preventDefault();
            var dataVal = $(this).data("value");
            $(this).closest("div.tool-options").find("select").val(dataVal).change();
        };

        var showSortOption = function(e){

            element = $(this).closest(".tool-options").find(".styled-toolbar");

            if($(window).width() < 768){
                if($(this).hasClass("open")){
                    $(this).removeClass("open");
                    $(this).parent().removeClass("open");
                    $("#layered-filter-block .block-title.filter-title").removeClass("open");
                }else{
                    $(this).addClass("open");
                    $(this).parent().addClass("open");
                    $("#layered-filter-block .block-title.filter-title").addClass("open");
                }

            }
            if(element.hasClass("active")){
                element.removeClass("active")
            }else{
                $('body').find('div.styled-toolbar.active').removeClass('active')
                element.addClass("active")
            }
        };

        $("ul.styled-sorter-options > li > a").on("click",sorterFunc);
        $("div.styled-toolbar > div.selected-option, .toolbar-sorter > .sorter-label").on("click",showSortOption);

        $('body').on('click', function(event){
           var target =  $(event.target).closest('div.styled-toolbar');
            if(target.length < 1){
                $('body').find('div.styled-toolbar.active').removeClass('active');
            }
        })

    });
</script>