<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<div class="field limiter tool-options">
    <label class="label" for="limiter">
        <span><?php /* @escapeNotVerified */ echo __('Show:') ?></span>
    </label>
    <div class="control">
        <select id="limiter" data-role="limiter" class="limiter-options">
            <?php foreach ($block->getAvailableLimit() as $_key => $_limit): ?>
                <option value="<?php /* @escapeNotVerified */ echo $_key ?>"<?php if ($block->isLimitCurrent($_key)): ?>
                    selected="selected"<?php endif ?>>
                    <?php /* @escapeNotVerified */ echo $_limit ?>
                </option>
            <?php endforeach; ?>
        </select>
    </div>

    <div class="styled-toolbar">
        <div class="selected-option sel-limit"><span></span></div>
        <span class="sorter-arrow"></span>
        <ul class="styled-sorter-options limit-option">
            <?php foreach ($block->getAvailableLimit() as $_key => $_limit): ?>
                <li  <?php if ($block->isLimitCurrent($_key)): ?>
                    class="active"
                <?php endif; ?>
                ><a href="#" data-value="<?php /* @escapeNotVerified */ echo $_key; ?>"><?php echo $_limit; ?></a></li>
            <?php endforeach; ?>
        </ul>
    </div>

</div>
