<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<div class="toolbar-sorter sorter tool-options">
    <label class="sorter-label" for="sorter"><?php /* @escapeNotVerified */ echo __('Sort By:') ?></label>
    <select id="sorter" data-role="sorter" class="sorter-options">
        <?php foreach ($block->getAvailableOrders() as $_key => $_order): ?>
            <option value="<?php /* @escapeNotVerified */ echo $_key; ?>"
                <?php if ($block->isOrderCurrent($_key)): ?>
                    selected="selected"
                <?php endif; ?>
                >
                <?php echo $block->escapeHtml(__($_order)) ?>
            </option>
        <?php endforeach; ?>
    </select>

    <div class="styled-toolbar">
        <div class="selected-option"><span></span></div>
        <span class="sorter-arrow"></span>
        <ul class="styled-sorter-options">
            <?php foreach ($block->getAvailableOrders() as $_key => $_order): ?>
            <li  <?php if ($block->isOrderCurrent($_key)): ?>
                class="active"
            <?php endif; ?>
            ><a href="#" data-value="<?php /* @escapeNotVerified */ echo $_key; ?>"><?php echo $block->escapeHtml(__($_order)) ?></a></li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
