/**
 * Jjcommerce_MegaMenu
 *
 * PHP version 5.x
 *
 * @category  LESS
 * @package   Jjcommerce\MegaMenu
 * @author    Swapnil Tatkondawar <swapnilt@2jcommerce.in>
 * @copyright 2017 Copyright 2J Commerce, Inc. http://www.2jcommerce.in/
 * @license   http://www.2jcommerce.in/ Private
 * @link      http://www.jollyes.co.uk/
 */
@montserratbold: Montserrat;
@media only screen and (min-width: 768px) {
  .nav-sections-item-content {
    position: relative;
  }
  body {
    .navigation.megamenu {
      > ul {
        li.level0.active:hover,li.level0.has-active:hover {
          background-color: #fff !important;
        }
      }
    }
  }
  .navigation {
    .level0 {
      > .level-top {
        padding: 0 12px !important;
      }
    }
  }
  .sticky-header {
    .nav-top{
      max-width: 100% !important;
      padding-bottom: 11px;
    }

    .nav-sections {
      background: none;

      .nav-sections-item-content{
        position: relative;
      }

    }
    .navigation.megamenu {
      position: static;
      > ul {
        max-width: 1400px;
        margin-top: -43px;
        margin-left: 18%;
        li.level0 {
          padding: 0;
          ul.level0 {
            top: 36px !important;
            width: 100%;
            max-width: 100%;
          }

          &:hover > a {
            span:not(.ui-menu-icon){
              &:after{
                width: 0px;
                height: 0px;
                content: "";
                position: absolute;
                top: 27px;
                margin: auto;
                left: 0;
                right: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid #00ace2;
              }
            }
          }
        }
      }
    }
  }

  .navigation.megamenu {
    max-width: 1400px;
    padding: 0;
    position: static;

    > ul {
      position: static;

      li.level0 {
        display: inline-block;
        padding: 0 1%;
        margin: 0;
        position: static;

        &.parent > .level-top > .ui-menu-icon:after {
          display: none;
        }

        ul.level0 {
          position: absolute;
          left: 0 !important;
          top: 70px !important;
          width: 100%;
          z-index: 3;
          box-sizing: border-box;

          li.wrapper-content {
            max-width: 1400px;
            margin: 15px auto;
            overflow: hidden;

            .wrapper-sub-cat {
              width: 78%;
              float: left;

              > ul {
                float: left;
                width: 22.5%;
                padding: 0 1.2%;
                display: inline-block !important;

                > li {
                  margin-bottom: 0;
                  padding-bottom: 0;
                  a {
                    padding: 3px 0;
                    margin-bottom: 0;
                  }
                }
              }
            }

            .wrapper-content-block {
              width: 20%;
              float: right;

              .block.widget {
                margin-bottom: 0;
                border: 0 none;
              }

              .product-items {
                display: block !important;

                > li {
                  width: 100%;

                  .product-item-info, .product-item-name {
                    > a {
                      padding: 0;
                    }
                  }
                }

                .product-item-info {
                  box-shadow: 0 0 15px 0 #f0f0f0;
                  margin: 15px 12px 12px 12px !important;
                  &:hover {
                    margin: 15px 12px 12px 12px !important;
                  }
                }
              }

              .allshop-link-block {
                text-align: center;
                > a {
                  color: #00ace2;
                  background: url(../images/blue-arrow.png) no-repeat right center;
                  display: inline-block;
                }
              }

            }
          }
        }

        > a:hover {
          background: transparent;
        }

        &:hover {
          background: #fff;
          transition: background 0.1s ease-in 0.1s;

          > a {
            color: #00ace2 !important;
            transition: color 0.1s ease-in 0.1s;
          }
        }

        .submenu {
          border-top: 0 none;
          box-shadow: none;
          li.level1 {
            padding: 5px 0;
            border-bottom: 1px solid #d3d3d3;
            margin-top: 20px;
            margin-bottom: 0;

            > a {
              font-size: 14px;
              font-family: @montserratbold;
              color: #3b3939;
              text-transform: uppercase;
            }
          }

          li.level3, li.level4, li.level5, li.level6 {
            display: none !important;
          }

          li.level1:first-child {
            margin-top: 0;
          }
          li.active > a {
            border-left: none;
          }

        }
        li a:hover, li a.ui-state-focus {
          background-color: #f4f4f4 !important;
        }
        &.active {
          > a {
            border-color: #e00814;
          }
        }
        &.has-active {
          background: transparent;
          > a {
            border-color: #e00814;
          }
        }
        &.parent:hover > ul.submenu, &.parent > ul.submenu {
          overflow-y: scroll !important;
        }
      }

      .level0:hover:after {
        display: none;
      }
    }
    .product-items .product-item-info {
      a:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0 0!important; }
      .product-item-details {

        .price-box-item {
          text-align: center;
          .price-label, .price {
            color: #00ace2;
            font-size: 14px;
            position: static;
            font-family: @montserratbold;
          }
          .special-price {
            text-transform: uppercase;
            display: block;
            color: #00ace2;
          }
          .old-price {
            margin-right: 5px;
            display: inline-block;
            .price-label, .price {
              color: #bdbdbd;
            }
          }

          .save-price {
            display: inline-block;
            text-transform: capitalize;
            font-family: @montserratbold;
            color: #e00814;
            font-size: 13px;
            line-height: 1.42857;
            display: inline-block;
            .price {
              color: #e00814;
              font-size: 13px;
            }
          }

          .product-reviews-summary {
            margin-bottom: 12px;
          }
        }

        .product-item-actions {
          .action.tocart.primary {
            margin: 10px auto 0;
            float: none;
          }
        }
      }
    }
  }

  div.back-link-wrapper{
    display: none;
  }
  .sticky-header {
    .navigation.megamenu {
      > ul {
        li.level0.active, .has-active {
          > a {
            border-width: 0 !important;
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 991px) and (max-width: 1199px) {
  .navigation.megamenu > ul li.level0 ul.level0 li.wrapper-content .wrapper-content-block .allshop-link-block {
    text-align: left;
  }
}

@media only screen and (min-width: 768px) and (max-width: 964px) {
  .navigation.megamenu {
    div.wrapper-content-block {
      display: none;
    }
    div.wrapper-sub-cat {
      width: 100% !important;
      float: none !important;
    }
    > ul {
      li.level0 {
        > a {
          font-size: 11px;
          padding: 0 11px;
        }
      }
      ul.level0 {
        border-left: 0;
        border-right: 0;
      }
    }
    .product-items .product-item-info .product-item-details {
      .price-box-item {
        .old-price, .save-price {
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .sections.nav-sections{
    background: #fff;
    right: ~'calc(-1 * (100% - 54px))';
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    -ms-transition: right 0.3s;
    transition: right 0.3s;
    width: 260px;
    .nav-sections-item-content{
      float: right;
      margin-left: 0;
      margin-top: 0;
      padding: 0;
      width: 100%;
      background: #ffffff;
      .top-static-link{
        padding-left: 30px;
        display: block;
        > ul {
          padding: 0;
          margin-bottom: 0;
          > li{
            width: 100%;
            text-align: left;
            padding-bottom: 25px;
            > a{
              font-size: 16px;
              font-family: latobold;
              color: #3b3939;
              display: block
            }
            span{
              display: none;
            }
          }
        }
      }

      .mobile.top-links{
        margin-bottom: 5px;

        .customer-not-loggedin{
          display: block;
        }

        > ul{
          padding-left: 0;
          margin-bottom: 0;
           li{
             margin-bottom: 0;
             height: auto;
             list-style: none;
             padding: 5px 10px 5px 30px;
             border-top: 2px solid #e3e3e3;
             > a{
                 text-decoration: none;
                 color: #3b3939;
                 font-family: @montserratbold;
                 font-size: 16px;
                 span {
                   font-family: @montserratbold;
                   text-transform: none;
                   font-size: 16px;
                 }
               }
             > a{
               span.customer-name {
                 background: none;
                 padding-left: 0;
                 text-indent: 0;
               }
             }
           }
        }

        li.customer-welcome + li.authorization-link {
              display: block;
        }

        li.authorization-link {
          > a{
            display: block;
          }
          > span.customer-name {
            display: none;
          }
        }

        li.link.reward{
          > a{
            background: url("../images/reward.png")  no-repeat right center;
            display: block;
          }
        }

        li.customer-welcome{
          > a{
            display: block !important;
            background: url("../images/arrow.png")  no-repeat right center;
          }
          > .customer-name{
            display: none;
          }
        }
      }
    }

    .section-item-title{
      height: auto;
      float: none;
      padding-top: 0;
      position: fixed;
      margin-left: -45px;
    }

  }

  .page-wrapper{
    right: 0;
    transition: right 0.3s ease-in 0.3s
  }

  .nav-open {
    .sections.nav-sections{
      right: 0;
      left: auto;
      box-shadow: none;
    }

    .page-wrapper{
      right: 80%;
      right: ~'calc(100% - 54px)';
      left: 0;
    }

    .section-item-title{
      a.nav-sections-item-switch{
        position: absolute;
        left: 0;
        min-width: 40px;
        background: #fff;
        height: 37px;
        overflow: hidden;
        border: 2px solid #d3d3d3;

        &:before{
          content: '\e616';
          font-family: luma-icons;
          color: #8f8f8f;
          text-align: center;
          margin-top: 11px;
          line-height: 16px;
          display: block;
          width: auto;
          overflow: hidden;
          height: 25px;
        }
      }
    }
  }

  .navigation.megamenu {
    background: #fff;
     > ul {
      display: block;
       width: 100%;
      li.level0 {
        border-bottom: 2px solid #e9e9e9;
        border-top: 0 none;
        padding: 0;
        &.level-top {
          padding: 11px 0;
        }
        > a{
          color: #3b3939 !important;
          line-height: 18px;
          padding: 0 30px;
          font-size: 16px;
          text-transform: none;

          &:after{
            top: 0;
            transform: rotate(-90deg);
            font-size: 14px;
            right: 13px;
          }

        }

        ul{
         justify-content: start;
          display: block;
          padding: 0;
          &.level0 {
            border-top: 0;
          }
        }
      }

       li.open {
         border: 0 none;
        > a{
           display: none;
         }
       }

       li.active,li.has-active {
         > a{
           border-color: transparent !important;
         }
       }

    }

    .wrapper-content{
      li.parent{
        position: relative;
        a{
          &:after{
            content: '\e622';
            font-family: 'luma-icons';
            vertical-align: middle;
            display: inline-block;
            font-weight: normal;
            overflow: hidden;
            text-align: center;
            transform: rotate(-90deg);
            font-size: 13px;
            position: absolute;
            right: 10px;
            top: 12px
          }
        }
      }
      ul.sub-cat{
        li {
          border-bottom: 2px solid #e3e3e3;
          font-family: @montserratbold;
          > a{
            padding-left: 30px !important;
            border-width: 0 !important;
            padding-right: 10px;
          }
        }
      }
    }

    .wrapper-content-block{
      display: none;
    }

  }

  .back-link-wrapper{
    > div{
      border-bottom: 2px solid #e3e3e3;
    }
    div.category-link{
      a{
        font-family: @montserratbold;
        background: url("../images/arrow.png")  no-repeat right center;
        padding-left: 30px;
        margin-right: 10px;
        padding-right: 20px;
      }
    }

    div.back-button{
      span.back-to-prev{
        display: block;
        padding: 10px 0 10px 15px;
        font-family: @montserratbold;
        &:before{
          content: '\e622';
          font-family: "luma-icons";
          transform: rotate(90deg);
          display: inline-block;
          font-size: 13px;
          margin-right: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .nav-open {
    .section-item-title {
      a.nav-sections-item-switch {
        left: 0;
      }
    }
  }
}




