& when (@media-common = true) {
  //tab & mobile font size//
  @media @desktop{
    .checkout-cart-index{
      h1 {
        font-size: 20px;
        margin: 10px 0 30px;
        @media @mobileonly767{
          font-size: 16px;
          .price-container.price-final_price.tax.weee {
            font-size: 12px;
          }
        }

      }
      .product-item {
        .product-item-info {
          .product-item-details {
            .price-box {
              .price {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .cart.table-wrapper {
      .cart.table {
        .item-info {
          .all-details {
            .col {
              &::before {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .product-item-name {
      >a {
        font-family: @montserratbold;
        font-size: 14px;
      }
    }
    .product.name {
      a {
        >a {
          font-family: montserratbold;
          font-weight: 900;
          font-size: 14px;
        }
      }
    }
    .basket-need-delivery {
      h2 {
        font-family: Montserrat;
        font-weight: 900;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .need-help {
      > p {
        font-family: @lato_regular;
        font-size: 14px;
      }
    }
    .product-item-info {
      .product-item-name {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 12px;
      }
    }
    .product.name {
      a {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 13px;
      }
    }
    .summary.title {
      font-size: 14px;
    }
    .grand {
      .mark {
        >strong {
          font-size: 16px;
        }
      }
    }
    .action.primary.checkout > span {
      font-family: Montserrat;
      font-weight: 900;
      font-size: 14px;
    }
    .cart-totals {
      .grand {
        .amount {
          font-size: 14px;
        }
      }
    }
    .opc-block-summary {
      .table-totals {
        .grand {
          .amount {
            font-size: 14px;
          }
        }
      }
    }
  }
  @media @mobileonly767{
    .checkout-cart-index {
      .page-title-wrapper {
        text-align: center;
        h1.page-title {
          display: inline-block;
          margin-top: 10px;
        }
      }
    }
  }
}