& when (@media-common = true) {
  html,body, * {
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: #fff 0px 1px 1px;
  }
  /* .basket-need-delivery{
    clear: both !important;
  } */
  .store-stock-select {
    margin-right: 15px;
  }
  .store-stock #sucess{
    &.success{ color: #00ACE2;
      &:before{
        content:"\e610";
        font-family: luma-icons;
        line-height: 18px;
        padding-right: 8px;
      }
    }
    &.out-of-stock { color: #e00814;//#FAAF39;
      &:before{
        content:"!";
        padding-right: 8px;
      }
    }
  }

  @media @desktop1024{
    .basket-need-delivery {
      margin-top: 3%;
    }
  }
  .checkout-cart-index {
    .page-wrapper .page-bottom {
      box-sizing: border-box;
      width: 100%;
    }
    .cart-summary {
      padding: 0;
      background: none;
      border: none;
      clear:right;
      .cart-summary-wrap {
        padding: 20px;
        background: #F4F4F4;
        border: 1px solid #ccc;
        @media @desktop1023 {
          padding: 15px;
        }
      }
      .block.loyaltycoupon {
        margin-top: 0;
        margin-bottom: 25px;
        .action.add.primary {
          border-radius: 0 5px 5px 0;
        }
        > .title {
          border: 0;
          padding-top: 0;
          padding-left: 0;
          &:after {
            display: none;
          }
        }
      }
      form#discount-coupon-form {
        margin-bottom: 22px;
      }
    }
    .block.crosssell {
      .product-item {
        .product-item-info, .product-item-info:hover {
          margin: 7px !important;
        }
      }
      .product-item-details .price-box .price-label {
        font-size: 14px;
        text-transform: capitalize;
      }
      .product-item-details .price-box .old-price {
        margin-right: 2px !important;
        @media only screen and (max-width: 960px) and (min-width: 768px) {
          display: inline-block;
        }
      }
    }
  }
  .cart.table-wrapper {
    .cart.table {
      .thead {
        .col.price {
          font-family: latoregular;
        }
      }
      .product-item-photo {
        @media @mobileonly767 {
          padding-top: 15px;
        }
        .product-image-container {
          border: 1px solid #e9e9e9;
        }
      }
      .product-item-name {
        margin: 0;
        font-family: @montserratbold;
        font-size: 16px;
      }
      .col.price {
        &:before {
          vertical-align: top;
        }
          font-size: 16px;
          font-family: @montserratbold;
          .special-price, .old-price, .percentage-discount {
            display: block;
            font-size: 16px;
          }
          .special-price {
            color: #00ace2;
            .price-label {
              position: static;
            }
          }
          .old-price {
            color: #bdbdbd;
          }
          .percentage-discount {
            color: #e00814;
            line-height: 1.42857;
            font-size: 13px;
          }
        .cart-price .price {
          color: #00ace2;
        }

      }
      @media @desktop1280 {
        .item-info > .col.item .product-image-container, .thead > .col.item-img {
          max-width: 120px;
        }
      }
      @media @desktop1024{
        .item-info, .thead {
          display: table;
          width: 100%;
          padding: 15px 0;

          > .col.item, > .all-details, .col {
            color: #3b3939;
            display: table-cell;
            font-size: 14px;
            vertical-align: middle;
            padding: 0;
            text-align: center;
          }

          .all-details {
            width: 100%;
            .col .price {
              font-size: 16px;
              font-weight: normal;
              font-family: @montserratbold;
            }
          }
          .col.item-name {
            width: 44%;
          }

          .col.price {
            width: 18%;
            text-align: left;
          }
          .col.mobi-price.price {
            display: none;
          }
          .col.qty {
            width: 23%;
          }

          .col.subtotal {
            width: 17%;
          }
          .col.edit-remove-right, .col.edit-remove {
            width: 15%;
          }
          .col.edit-remove {
            opacity: 0;
          }
        }

        .col::before {
          display: none;
        }
      }

      @media @desktop1023 {
        .item-info {
          position: relative;
          padding: 10px 0;
          > .col.item {
            max-width: 165px;
          }
          > .col.item, > .all-details {
            display: inline-block;
            padding: 0;
            vertical-align: top;
          }
          .all-details {
            max-width: 408px;
            padding-bottom: 15px;
            width: 56%;

            .col {
              color: #3b3939;
              text-align: left;
              padding: 15px 0 0;
              display: table;
              float: none;
              width: 100%;
              .product-item-name {
                font-size: 14px
              }
              &.item-name{
                padding-top: 0;
              }
              &.desk-price {
                display: none;
              }
              &.mobi-price:before {
                vertical-align: top !important;
              }
              & .price {
                font-family: @montserratbold;
                font-size: 16px;
                font-weight: normal;
              }
              &:before {
                content: attr(data-th) " : ";
                display: table-cell;
                font-size: 15px;
                font-weight: bold;
                vertical-align: middle;
                width: 90px;
              }
              &.item-name:before, &.edit-remove-right:before {
                display: none;
              }
              &.edit-remove-right {
                position: absolute;
                right: 0;
                top: 0;
                width: auto;
                padding-top: 10px;
              }
            }

          }

        }

        .thead {
          display: none;
        }
      }

      @media @mobileonly767 {
        .product-item-photo {
          display: block;
          max-width: 90px;
          padding-right: 10px;
          padding-top: 0px;
          position: static;
          width: 100%;
          .product-image-container {
            max-width: inherit !important;
          }
        }

        .item-info .all-details {
          line-height: 18px;
          padding-bottom: 10px;
          .col {
            padding-top: 10px;
          }

        }

        .product-list-qty-minus, .product-list-qty-plus {
          display: none;
        }

        .item-info .all-details .col::before {
          font-size: 14px;
          width: 68px;
        }

        .item-info .all-details .col.edit-remove-right {
          height: 15px;
          position: static;
          float: right;
          .actions-toolbar{
            position:absolute;
            right: 10px;
          }
        }
      }
      .action-towishlist {
        display: none;
      }

      .thead {
        border-bottom: 1px solid #BDBDBD;
        padding-bottom: 15px;
        padding-top: 0;
        font-weight: bold;
        font-size: 14px;
        color: #3B3939;
        .col.item {
          width: 50%
        }
      }

      .product-item-details {
        padding: 0;
      }

    }
    .cart > .cart.item {
      border-top: 1px solid #e9e9e9;
      border-color: #e9e9e9;
      border-bottom: none;
    }
    .cart > .cart.item:last-child {
      border-bottom: 1px solid #BDBDBD;
    }

    .col.qty {
      .qty .control {
        background-color: #f4f4f4;
        height: auto;
        .product-list-qty-minus, .product-list-qty-plus {
          background-color: #fff;
          height: 36px;
          width: 36px;
          cursor: pointer;
          @media @desktop1024 {
            max-width: 32%;
            background-color: #fff;
          }
        }
        .product-list-qty-minus {
          border-right: 2px solid #dadada;
        }
        .product-list-qty-plus {
          border-left: 2px solid #dadada;
        }

        .input-text {
          background: inherit;
          border: medium none;
          margin-top: 0px;
          width: 35px;
          padding: 0 5px;

          @media @mobileonly767 {
            background: #f4f4f4 none repeat scroll 0 0 !important;
            height: 32px;
            margin-top: 0;
            width: 100px;
          }
        }
        @media only screen and (max-width: 1280px) and (min-width: 1024px) {
          .basket-need-delivery{
            margin-top: 5%;
          }
          .product-list-qty-minus, .product-list-qty-plus {
            height: 30px;
            width: 30px;
          }

          .input-text.qty {
            height: 30px;
          }

        }
        .up, .dn {
          font-size: 0;
        }
      }
    }
  }
  .form-cart .cart.actions.main {
    text-align: center;
    @media @mobileonly767 {
      .button-wrapper {
        display: inline-block;
        width: 310px;
      }
    }
    .action {
      display: inline-block;
      float: right;
      font-family: Montserrat;
      font-weight: 900;
      font-size: 14px;
      font-weight: normal;
      margin-left: 20px;
      padding: 15px;
      text-transform: uppercase;
      background: #E9E9E9;
      border-color: #E9E9E9;
      box-shadow: none;
      &.continue {
        background: none;
        font-family: Montserrat;
        font-weight: 600;
        @media @desktop {
          float: left;
          margin-left: 0px;
          padding: 0 !important;
          margin-top: 7px;
          text-transform: capitalize;

        }
        > i {
          font-size: 18px;
          font-weight: bold;
          display: inline-block;
          margin-right: 8px;
        }
      }

      &.clear {
        margin-left: 0;
      }

      @media @mobileonly767 {
        margin-top: 15px;
        margin-left: 4%;
        padding: 12px 0;
        width: 48%;
        &.continue {
          text-transform: capitalize;
          clear: right;
          float: none;
          margin-left: 0;
          margin-right: 15px;
          padding: 0;
          margin-top: 15px;
          width: auto;
        }
      }
    }

  }

  .payment-icon {
    margin-top: 15px;
    width: 100%;
    text-align: center;
  }
  .block.free-delivery-banner {
    background: #00ace2 none repeat scroll 0 0;
    font-family: @montserratbold;
    font-size: 16px;
    text-align: center;
  }
  .cart-summary {
    .summary.title {
      display: block;
      font-size: 18px;
      font-family: @montserratbold;
      font-weight: normal;
      text-transform: uppercase;
      padding-bottom: 10px;
      color: #252323;
      @media @desktop1280 {
        font-size: 16px;
      }
      @media @mobileonly767 {
        font-size: 14px;
      }
    }
    .block.free-delivery-banner > .title {
      padding: 10px 16px !important;
      &:after {
        display: none;
      }
    }
    @media @mobileonly767 {
      .cart-totals, .checkout-methods-items {
        padding-left: 0;
        padding-right: 0;
      }

    }
    #block-shipping {
      display: none;
    }
    .cart-totals .table-wrapper tr {
      border-bottom: 1px solid #ccc;
      > th, > td {
        padding: 15px 0 !important;
      }
      &.sub th:after {
        content: " (Including Vat)"
      }
      &:last-child {
        border: none;
      }
      &.shipping .label {
        display: block;
        font-weight: bold;
        margin-bottom: 7px;
      }
    }
  }
  .minicart-items {
    .product-item-pricing .label {
      width: auto !important;
    }
    .update-cart-item {
      background: #00ace2 none repeat scroll 0 0;
      border-color: #00ace2;
      box-shadow: none;
      color: #fff;
    }
    .actions {
      .action.edit::before {
        background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -386px -482px;
        content: "";
        height: 15px;
        width: 15px;
      }
    }
  }
  .block-minicart .block-content .minicart-bottom .actions:first-child {
    margin-top: 0;
  }
  .basket-delivery-info [data-content-type='row'][data-appearance='contained'] [data-element='inner']{
    padding: 0 !important;
  }
  @media @mobileonly767 {
    .cart-container {
      display: flex;
      overflow: hidden;
      flex-wrap: wrap;
      .rewards {
        order: 1;
        margin: 0;
      }
      .cart-summary {
        order: 3;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px;
      }
      .form.form-cart {
        order: 2;
        width: 100%;
        box-sizing: border-box;
        position: relative !important;
      }
      .basket-need-delivery {
        order: 5;
        width: 100%;
        padding: 0 15px;
      }
    }
  }
  #block-freedelbanner-heading {
    font-size: 14px;
    text-transform: uppercase;
    position: static;
  }
  .freedelbanner-heading {
    color: #fff !important;
    font-family: @montserratbold;
    font-size: 14px;
    margin: 0 auto 0 1px;
    padding: 6px;
    text-align: center;
    text-transform: uppercase;
  }
  .heading-delivery {
    font-family: @montserratbold;
    font-weight: bold;
  }
  @media @desktop{
    .cart-container {
      .form-cart, .basket-need-delivery {
        padding-right: 2% !important;
      }
      .rewards {
        float: right;
        width: 25%;
        .content {
          float: none;
          width: 100%;
        }
      }
    }
  }

  @media @desktop1024{
    .cart-container{
      .form-cart {
        position: relative !important;
      }
    }
  }
  @media @desktop1023{
    .cart-container{
      .form-cart {
        position: relative !important;
       }
    }
    .basket-need-delivery{
      /* clear: both !important; */
      margin-top: 2%;
    }
  }


  @media @mobileonly767 {
    .cart-container {
      margin-bottom: 0 !important;
      .form-cart {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0;
      }
    }
  }

  @media only screen and (max-width: 800px) and (min-width: 768px) {
    .checkout-cart-index {
      .cart-summary, .rewards {
        width: 260px;
      }
      .form-cart, .basket-need-delivery {
        max-width: 64%;
      }
      .rewards .content{
        width: 100%;
      }
      .form-cart .cart.actions.main .action{ padding: 15px 8px}

      .fieldset.coupon button {
        font-size: 13px;
      }
    }
  }

  .minicart-wrapper {
    .minicart-items-wrapper {
      padding: 0 15px 15px 0;
    }
    .minicart-bottom {
      .list-counter {
        background: #fff none repeat scroll 0 0;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: -9px;
        padding-top: 5px;
        text-align: center;
      }
    }
  }
}

