& when (@media-common = true) {
  //promo code css
  input[type="text"] {
    &::-moz-placeholder {
      color: #252323;
    }
  }
  .cart-container {
    position: relative;
    margin-bottom: 30px;
  }
  .checkout-cart-index {
    .block.crosssell {
      margin-top: 0;
      padding-right: 0;
      width: 100%;
      .products-grid {
        .product-item {
          margin-left: 0;
        }
      }
    }
  }
  #coupon_code {
    height: 50px;
    border: 2px solid #dadada;
    border-right: none;
    box-shadow: none;
    background: #f4f4f4 none repeat scroll 0 0;
    font-size: 12px;
  }
  #voucher_code {
    height: 50px;
    border: 2px solid #dadada;
    border-right: none;
    box-shadow: none;
    background: #f4f4f4 none repeat scroll 0 0;
    font-size: 12px;
  }
  .block.discount.voucher {
    margin-top: 15px;
    margin-bottom: 20px;
    .fieldset.coupon {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  .linkDiscount.disable{
    display: none;
  }
  .linkDiscount{
    position: relative;
    margin-top: 20px;
    display: block;
    &:hover{
      text-decoration: none;
    }
    .addDiscount {
      font-weight: bold;
      color: #333;
      font-size: 14px;
      padding-left: 25px;
      position: relative;
      &:before{
        content: '.';
        background: url(../images/plus-discount-img.png) no-repeat scroll left;
        position: absolute;
        top: -2px;
        width: 18px;
        left: 0;
        color: #fff;
      }
    }
  }
  .fieldset.coupon {
    .field {
      display: table-cell;
      vertical-align: top;
      width: 100%;
    }
    .actions-toolbar {
      display: table-cell;
      vertical-align: top;
      button.action.action-add.primary{
        @media @desktop1023{
          font-size: 12px;
        }
      }
    }
    button {
      background: #e00814 none repeat scroll 0 0 !important;
      border: medium none;
      border-radius: 0 5px 5px 0;
      color: #fff !important;
      font-family: @montserratbold;
      font-weight: 400;
      height: 50px;
      line-height: 50px;
      margin-right: 0 !important;
      padding: 0;
      text-transform: uppercase;
      width: 140px !important;
    }
  }
  #discount-coupon-form {
    display: table;
    width: 100%;
  }
  .rewards {
    float: none;
    margin-bottom: 35px;
    width: 100%;
    overflow:hidden;
    .content {
      float: right;
      width: 25%;
    }
  }
  .discount.coupon {
    color: #252323;
    display: block;
  }
  .cart-totals tbody tr.totals .amount {
    vertical-align: bottom;
  }
  @media @desktop1023 {
    .rewards {
      .content {
        float: right;
        max-width: 260px;
      }
    }
    #coupon_code {
      height: 40px;
      font-size: 11px;
    }
    #voucher_code{
      height: 40px;
      font-size: 11px;
    }
    .fieldset.coupon {
      button {
        font-size: 10px;
        height: 40px;
        line-height: 44px;
        padding: 0 5px;
        white-space: nowrap;
        width: 100px !important;
      }
    }
  }
  @media @mobileonly767 {
    .rewards {
      float: none;
      .content {
        float: none;
        margin: 5px 0 25px;
        max-width: none;
        order: 2;
        padding: 0 15px;
        width: auto;
      }
    }
  }
  //basket static block changes
  .basket-need-delivery {
    box-sizing: border-box;
    display: flex;
    float: left;
    justify-content: space-between;
    padding-right: 4%;
    width: 75%;
    .delivery-info {
      >h2 {
        margin-bottom: 15px;
      }
    }
    h2 {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 5px;
      margin-top: 20px;
      text-align: left;
    }
  }
  .basket-delivery-info {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 2px solid #eee;
    min-height: 335px;
    width: 50%;
    box-sizing: border-box;
  }
  .basket-need-help {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 2px solid #eee;
    min-height: 335px;
    width: 47%;
    box-sizing: border-box;
  }
  .need-help {
    padding: 0 20px;
    >p {
      color: #929191;
      line-height: 25px;
      margin-bottom: 0;
    }
  }
  .delivery-info {
    padding: 0 20px;
    >p {
      color: #929191;
      margin-bottom: 20px;
      strong {
        color: #3b3939;
      }
    }
  }
  @media @desktop1023 {
    .basket-need-delivery {
      clear: left;
      display: block;
      max-width: none;
      padding-right: 2%;
    }
    .basket-need-help {
      background: #f4f4f4 none repeat scroll 0 0;
      border: 2px solid #eee;
      min-height: 335px;
      width: 100%;
      margin-bottom: 20px;
      min-height: auto;
      width: 100%;
    }
    .basket-delivery-info {
      min-height: auto;
      width: 100%;
    }
    .need-help {
      padding: 0 20px 20px;
    }
    .delivery-info {
      padding: 0 20px 0;
    }
  }
  @media @mobileonly767 {
    .basket-need-delivery {
      width: 100%;
    }
  }

  //Basket changes
  .cart.table-wrapper {
    .actions-toolbar {
      >.action-delete {
        &::before {
          background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -386px -516px;
          content: "";
          height: 15px;
          width: 15px;
        }
      }
      >.action-edit {
        &::before {
          background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -386px -482px;
          content: "";
          height: 15px;
          width: 15px;
        }
      }
      min-height: 20px;
      padding-bottom: 0;
      position: relative;
    }
    .action {
      margin-right: 15px;
    }
    .cart {
      tbody {
        td {
          vertical-align: middle;
        }
      }
    }
    .cart.table {
      .thead {
        .col.price {
          font-family: latoregular;
        }
      }
    }
  }
  .edit-remove-right {
    .actions-toolbar {
      width: 50px;
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1300px) {
    .fieldset.coupon {
      button{
        width: 110px !important;
        font-size: 12px;
      }
    }
  }
  @media @desktop1023 {
  .cart.table-wrapper {
    .cart {
      >.item {
        border-bottom: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        position: relative;
      }
      thead {
        tr {
          th.col {
            display: none;
          }
        }
      }
      tbody td {
        vertical-align: top;
      }
    }
  }
    .checkout-cart-index {
      .fieldset.coupon {
        button {
          font-size: 12px;
        }
      }
    }
  }
  @media @mobileonly767 {
    .block.discount.voucher{
      float: none;
      margin: 5px 0 25px;
      max-width: none;
      order: 2;
      padding: 0 15px;
      width: auto;
    }
    .cart.table-wrapper .cart tbody td {
      vertical-align: bottom;
    }
  }
  //Cross sell changes
  .checkout-cart-index {
    .page-bottom {
      padding: 0 15px;
    }
  }
  .block.crosssell {
    order: 1;
    padding: 0;
    position: relative;
    width: 100%;
  }
  .crosssell {
    margin-top: 35px;
    position: relative;
    .block-title {
      margin: 0;
      >strong {
        color: #3b3939;
        display: block;
        font-family: @montserratbold;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        margin-top: 0;
      }
    }
    .direction-nav {
      .prev {
        left: auto;
        right: 55px;
        top: 0;
      }
      .next {
        right: 25px;
        top: 0;
      }
    }
    .product-item {
      .product-item-info {
        margin: 7px;
        padding: 10px;
        width: auto;
        .product-item-details {
          .price-box {
            .save-price {
              .price {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
  @media @mobileonly767 {
    .crosssell {
      .direction-nav {
        .prev {
          left: 0;
          right: auto;
          top: 0;
        }
        .next {
          right: 0;
        }
      }
    }
    .linkDiscount {
      .addDiscount{
        margin-left: 15px;
      }
    }
  }
}