& when (@media-common = true) {
  //promo code discount code
  .control._with-tooltip .validator-phone input {
    width: 94% !important;
  }
  .payment-method-content fieldset .actions-toolbar {
    margin-top: 25px;
    max-width: 535px;
  }
  .opc-wrapper .step-content {
    margin: 0 0 30px;
  }
  @media only screen and (min-width: 768px) {
    .opc-wrapper {
      float: left;
      order: 1;
      padding-right: 15px;
      width: 64%;
    }
    .opc-sidebar {
      border: none;
      float: right;
      margin: 20px 0;
      max-width: 260px;
      order: 2;
      width: 36%;
    }
  }
  @media only screen and (min-width: 1024px) {
    .opc-wrapper {
      width: 73%;
      .form-login {
        max-width: 570px;
      }
      .form-shipping-address {
        max-width: 570px;
      }
    }
    .opc-sidebar {
      border: none;
      float: right;
      margin: 35px 0 20px;
      max-width: 365px;
      order: 2;
      width: 26%;
    }
  }
  .checkout-index-index {
    .header.content {
      padding: 20px 20px 0;
      display: block;
    }
    .logo {
      margin: 0;
    }
    .page-header {
      border-bottom: 8px solid #00ace2;
      margin-bottom: 30px;
      padding-bottom: 20px;
    }
    .columns {
      .column.main {
        padding-bottom: 0;
      }
    }
  }
  .opc-progress-bar {
    text-align: center;
  }
  .checkout-container {
    .authentication-wrapper {
      display: none;
    }
    margin: 0;
  }
  .cont-shop-link {
    float: right;
    margin-top: 30px;
    a {
      background: #e9e9e9 none repeat scroll 0 0;
      border-radius: 5px;
      color: #3b3939;
      display: block;
      font-family: Montserrat;
      font-weight: 900;
      height: 50px;
      line-height: 50px;
      padding: 0 25px;
      text-transform: uppercase;
    }
  }
  .opc-block-summary {
    background: #f4f4f4 none repeat scroll 0 0;
    margin: 0 0 30px;
    padding: 20px;
    border: 2px solid #dadada;
    >.title {
      color: #3b3939;
      display: block;
      font-family: @montserratbold;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .items-in-cart {
      >.title {
        border-bottom: none;
        strong {
          font-size: 14px;
          font-weight: 400;
          font-family: latoregular;
        }
      }
    }
    table.data.table.table-totals {
      border-top: 0;
    }
    .title {
      border-bottom: 1px solid #dadada;
      display: block;
    }
    .table-totals {
      .grand {
        strong {
          display: inline-block;
          font-weight: 400;
          padding: 3px 0 0;
          color: #3b3939;
          font-family: @montserratbold;
        }
      }
      tbody {
        .mark {
          font-weight: 400;
          color: #252323;
        }
        .amount {
          color: #252323;
        }
      }
      tfoot {
        .mark {
          font-weight: 400;
          color: #252323;
        }
        .amount {
          color: #252323;
        }
      }
    }
    .product-item {
      .price {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  .opc-progress-bar-item._active {
    >span {
      &::after {
        content: counter(i, decimal);
        font-family: inherit;
        line-height: 25px;
        font-size: 16px;
        color: #00ace2;
      }
      color: #00ace2;
      &::before {
        background: #00ace2 none repeat scroll 0 0;
      }
    }
    &::before {
      background: #00ace2 none repeat scroll 0 0;
    }
  }
  .opc-progress-bar-item {
    &:first-child {
      &::before {
        border-radius: 0;
      }
    }
    &::before {
      background: #d3d3d3 none repeat scroll 0 0;
      height: 10px;
      top: 16px;
    }
    &:last-child {
      &::before {
        border-radius: 0;
      }
    }
    >span {
      color: #d3d3d3;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      &::after {
        color: #d3d3d3;
      }
    }
  }
  .opc-progress-bar-item._complete {
    >span {
      &::after {
        line-height: 25px;
        font-size: 16px;
        color: #00ace2;
      }
      color: #d3d3d3;
      color: #00ace2;
      &::before {
        background: #00ace2 none repeat scroll 0 0;
      }
    }
    &::before {
      background: #00ace2 none repeat scroll 0 0;
    }
  }
  .opc-wrapper {
    .input-text {
      border: 2px solid #dadada;
      height: 40px;
      width: 94%;
    }
    select {
      border: 2px solid #dadada;
      height: 40px;
      width: 94%;
    }
    .step-title {
      border-bottom: 2px solid #dadada;
      color: #3b3939;
      font-family: @montserratbold;
      font-size: 22px;
      line-height:22px;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
    .action-show-popup {
      border: none;
      height: 50px;
      text-transform: uppercase;
      font-family: @montserratbold;
      font-size: 16px;
      font-weight: 400;
      >span {
        &::before {
          content: '+';
          padding-right: 5px;
          font-size: 16px;
          vertical-align: top;
        }
      }
    }
    .form-login {
      border-bottom: none;
      padding-bottom: 0;
      background: none;
      margin: 25px 0 !important;
      .fieldset {
        .field {
          .label {
            font-weight: 400;
            color: #666;
            font-family: @montserratbold;
          }
        }
        .note {
          font-size: 14px;
          color: #666;
          font-family: @montserratbold;
        }
      }
    }
    .shipping-address-item {
      border: 1px solid #dadada;
      margin-right: 20px;
      background: #f4f4f4;
      width: 31%;
      padding: 20px 20px 20px 20px;
      margin: 0 20px 30px 0;
      max-width: 235px;
    }
    .shipping-address-item.selected-item {
      border-color: #00ace2;
      background: none;
      &::after {
        background: #00ace2;
        color: #ffffff;
        content: '\e610';
        font-family: 'luma-icons';
        height: 20px;
        width: 20px;
        font-size: 15px;
        line-height: 15px;
        padding-top: 2px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0px;
      }
      .action-select-shipping-item {
        visibility: visible;
      }
    }
    .form-shipping-address {
      background: none;
      margin: 25px 0 !important;
      .fieldset {
        .field {
          .label {
            font-weight: 400;
            color: #666;
            font-family: @montserratbold;
          }
        }
        .note {
          font-size: 14px;
          color: #666;
          font-family: @montserratbold;
        }
      }
    }
    .methods-shipping {
      background: none;
      margin: 0 !important;
    }
    .billing-address-form {
      .input-text {
        width: 100% !important;
      }
      select {
        width: 100%;
      }
    }
    .field-select-billing {
      select {
        width: 100%;
      }
    }
    margin: 0;
  }
  #customer-email-fieldset {
    .actions-toolbar {
      text-align: left;
    }
    .action.primary {
      background: #e9e9e9 !important;
      padding: 16px 15px;
      width: 125px;
    }
  }
  .action.remind {
    color: #00ace2;
  }
  .checkout-shipping-method {
    .actions-toolbar {
      .action.primary {
        margin: 0;
        width: 125px;
      }
    }
    position: relative;
    max-width: 700px;
  }
  .opc-block-shipping-information {
    .shipping-information-title {
      color: #3b3939;
      font-weight: 400;
      font-size: 16px;
      text-transform: uppercase;
      font-family: @montserratbold;
      .action-edit {
        top: 0;
      }
    }
    padding: 0 20px;
  }
  .checkout-agreements-items {
    .checkout-agreements-item-title {
      color: #3b3939;
      font-weight: 400;
      font-size: 16px;
      text-transform: uppercase;
      font-family: @montserratbold;
    }
  }
  .table-checkout-shipping-method {
    tbody {
      td {
        border-bottom: 2px solid #dadada;
        border-top: none;
        border-top: 1px solid #dadada;
        padding-bottom: 5px;
        padding-top: 20px;
      }
    }
    min-width: 500px;
    width: 100%;
    margin-bottom: 35px;
  }
  .shipping-address-items .shipping-address-item:last-child {
    margin-right: 0;
  }
  #checkout-step-shipping {
    margin-top: 30px;
  }
  .action-show-popup {
    background: #e9e9e9 none repeat scroll 0 0;
    border-radius: 5px;
    color: #3b3939;
    display: block;
    font-family: @montserratbold;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    text-transform: uppercase;
    font-weight: 400;
    border: none;
    font-size: 16px;
  }
  .cart-totals {
    .grand {
      strong {
        display: inline-block;
        font-weight: 400;
        padding: 3px 0 0;
        color: #3b3939;
        font-family: @montserratbold;
      }
    }
    tbody {
      .mark {
        font-weight: 400;
        color: #252323;
      }
      .amount {
        color: #252323;
      }
    }
    tfoot {
      .mark {
        font-weight: 400;
        color: #252323;
      }
      .amount {
        color: #252323;
      }
    }
  }
  .minicart-items {
    .product-item-details {
      .price-including-tax {
        margin: 0px 0;
        color: #3b3939;
        font-family: @montserratbold;
      }
      .price-excluding-tax {
        margin: 0px 0;
        color: #3b3939;
        font-family: @montserratbold;
      }
      padding-right: 0;
      position: relative;
      .details-qty {
        margin-top: 10px;
        font-family: @montserratbold;
        color: #929191;
      }
    }
    .product-item {
      padding: 20px 0 !important;
    }
    .product-item-name {
      font-family: @montserratbold;
      color: #3b3939;
    }
  }
  .totals.sub {
    th {
      padding-bottom: 0 !important;
    }
    td {
      padding-bottom: 0 !important;
    }
  }
  .totals.shipping.incl {
    th {
      padding-top: 0;
    }
    td {
      padding-top: 0;
    }
  }
  .checkout-payment-method {
    .payment-option-title {
      .action-toggle {
        color: #00ace2;
      }
    }
    .checkout-billing-address {
      .primary {
        .action-update {
          border: medium none;
          font-family: @montserratbold;
          font-size: 16px;
          font-weight: 400;
          height: 50px;
          margin-right: 0;
          text-transform: uppercase;
          width: 134px;
          float: right;
        }
        .action-cancel {
          color: #00ace2;
          line-height: 50px;
          margin: 0 35px 0 0;
        }
      }
    }
    .actions-toolbar {
      .primary {
        float: right;
        margin: 0;
      }
    }
    .field-select-billing {
      max-width: 535px;
    }
    .billing-address-form {
      max-width: 535px;
    }
    .fieldset {
      >.field-select-billing {
        >.control {
          float: none;
          padding-left: 11px;
          width: auto;
        }
      }
    }
  }
  .control._with-tooltip {
    .validator {
      width: auto !important;
      height: auto !important;
    }
  }
  .validator.validator-email {
    .feedback {
      height: 0 !important;
      width: 0 !important;
    }
    select {
      width: calc(100% - 36px) !important;
    }
    input {
      width: calc(100% - 36px) !important;
    }
  }
  .totals.discount {
    .mark {
      border-top: 2px solid #dadada !important;
      padding: 12px 0 !important;
    }
    .amount {
      border-top: 2px solid #dadada !important;
      padding: 12px 0 !important;
      vertical-align: bottom;
    }
  }
  .discount.coupon {
    color: #252323;
  }
  .payment-method-content {
    .actions-toolbar {
      margin-top: 25px;
      max-width: 535px;
    }
  }
  .actions-toolbar {
    >.primary {
      .action {
        margin-bottom: 0;
        width: auto;
      }
    }
    >.secondary {
      .action {
        margin-bottom: 0;
        width: auto;
      }
    }
  }
  .billing-address-form {
    .field-tooltip {
      display: none;
    }
  }
  .field[name="shippingAddress.telephone"] {
    .field-tooltip.toggle {
      display: none;
    }
  }
  input[type="radio"] {
    margin: 2px 0 0;
    opacity: 0;
  }
  .checkout-billing-address {
    .fieldset {
      padding-left: 11px;
    }
  }
  [type="checkbox"] + label {
    background: transparent url('@{baseDir}images/check1.png') no-repeat scroll 0 0;
    display: inline-block !important;
    height: 20px;
    margin-left: -17px !important;
  }
  [type="checkbox"]:checked + label {
    background: transparent url('@{baseDir}images/check.png') no-repeat scroll 0 0;
  }
  .choice.field {
    label {
      >span {
        padding-left: 25px !important;
      }
    }
  }
  input[type="checkbox"] {
    margin: 0;
    opacity: 0;
  }
  .opc-checout-discount {
    float: right;
    width: 33.33333333%;
    max-width: 365px;
    .actions-toolbar {
      display: table-cell;
      vertical-align: top;
      button.action.action-apply{
        @media @desktop1023{
          font-size: 12px;
          height: 40px;
          line-height: 44px;
          padding: 0 5px;
          white-space: nowrap;
          width: auto !important;
        }
      }
    }
    .label {
      display: none;
    }
    button {
      background: #e00814;
      border: none;
      color: #fff;
      font-family: @montserratbold;
      font-weight: 400;
      width: 140px !important;
      text-transform: uppercase;
      height: 50px;
      margin-right: 0 !important;
      padding: 0;
      border-radius: 0 5px 5px 0;
      margin-top: -1px !important;
      line-height: 55px;
    }
  }
  .payment-option-title.field.choice {
    display: none;
  }
  #discount-form {
    display: table;
    width: 100%;
  }
  .payment-option-inner {
    display: table-cell;
    vertical-align: top;
    width: 100%;
  }
  #discount-code {
    height: 50px;
    border: 2px solid #dadada;
    border-right: none;
    box-shadow: none;
    background: #f4f4f4 none repeat scroll 0 0;
    font-size: 12px;
    @media @mobileonly767{
      font-size: 11px;
    }
  }
  @media @desktop1023 {
    .opc-block-summary {
      .product-item {
        .product-item-name-block {
          display: block;
          padding-right: 5px;
          text-align: left;
        }
        .subtotal {
          display: block;
          text-align: left;
        }
      }
    }
    .table-checkout-shipping-method {
      min-width: 450px;
    }
    .shipping-address-items .shipping-address-item:last-child {
      margin-right: 0;
    }
    .opc-wrapper {
      .shipping-address-item {
        width: 46%;
        margin: 0 15px 30px 0;
      }
    }
    .opc-checout-discount {
      float: right;
      max-width: 260px;
      button {
        height: 40px;
        width: 110px !important;
        margin-top: -1px !important;
        line-height: 45px;
      }
    }
    #discount-code {
      height: 40px;
      font-size: 11px;
    }
  }
  @media @mobileonly767 {
    .checkout-index-index {
      .header.content {
        padding: 20px 0 0;
      }
    }
    .cont-shop-link {
      margin-top: 8px;
      a {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
      }
    }
    .table-checkout-shipping-method {
      min-width: 0;
    }
    #checkout-step-shipping {
      margin-top: 0;
      margin-top: 30px;
    }
    .opc-wrapper {
      .form-login {
        margin: 0 -15px 15px;
        padding: 0;
      }
      .form-shipping-address {
        margin: 0 -15px 15px;
        padding: 0;
      }
      .methods-shipping {
        margin: 0 -15px 15px;
        border-bottom: medium none;
        padding-top: 0;
        padding: 0;
      }
      .shipping-address-item {
        width: 100%;
        max-width: none;
      }
      .action-show-popup {
        height: 40px;
      }
      order: 3;
      .input-text {
        width: 100% !important;
      }
      select {
        width: 100%;
      }
    }
    .opc-estimated-wrapper {
      display: flex;
      flex-direction: column;
      padding: 18px 15px 5px;
      margin-top: 0;
      order: 1;
      .estimated-block {
        order: 1;
        .estimated-label {
          display: inline-block;
          margin: 0 0 5px;
          color: #3b3939;
          font-size: 16px;
        }
      }
    }
    .opc-estimated-wrapper {
    .minicart-wrapper {
      order: 0;
      float: none;
      margin-left: 0;
      margin-top: 15px;
      min-width: 27px;
      right: auto !important;
      text-align: right;
      border-bottom: 2px solid #dadada;
      margin: 0 auto 12px;
      width: 95%;
      padding-bottom: 10px;
      padding-right: 20px;
      position: relative;
      right: auto;
      top: auto;
      .action.showcart {
        display: inline;
        .counter.qty {
          right: 16px;
          top: -10px;
        }
      }
      &::before {
        content: 'ORDER SUMMARY';
        float: left;
        color: #3b3939;
        font-family: @montserratbold;
        font-weight: 400;
        font-size: 18px;
      }
    }
  }
    .counter.qty {
      .counter-number {
        display: block;
        color: #fff;
      }
    }
    .estimated-price {
      float: right;
      color: #3b3939;
      font-weight: 400;
      font-family: @montserratbold;
      font-size: 16px;
    }
    .checkout-container {
      margin: 0 0 20px;
      display: flex;
      flex-direction: column;
    }
    .opc-progress-bar {
      order: 0;
    }
    .opc-checout-discount {
      float: right;
      width: 100%;
      max-width: none;
      order: 2;
      margin: 5px 0 25px 0;
    }
    .checkout-payment-method {
      .field-select-billing {
        max-width: 100%;
      }
      .billing-address-form {
        max-width: 100%;
      }
      .actions-toolbar {
        .primary {
          width: 100%;
          .action.primary.checkout {
            width: 100%;
          }
        }
      }
      .payment-methods {
        margin: 0;
      }
      .payment-method-title {
        padding: 15px 0;
      }
      .payment-method-content {
        padding: 0;
      }
    }
    .payment-method-content {
      .actions-toolbar {
        margin-top: 25px;
        max-width: 100%;
      }
    }
    .checkout-shipping-method {
      .actions-toolbar {
        .action.primary {
          margin: 0;
          width: 100%;
          margin: 0 0 30px 0;
          width: 100%;
        }
        .primary {
          float: left;
          width: 100%;
        }
      }
    }
    #customer-email-fieldset {
      .action.primary {
        padding: 12px 15px;
      }
      .actions-toolbar {
        .primary {
          float: left;
        }
      }
    }
    .action.remind {
      color: #00ace2;
      line-height: 40px;
    }
    .opc-progress-bar-item {
      >span {
        font-size: 13px;
      }
    }
    .checkout-billing-address .fieldset {
      padding-left: 0;
    }
    .control._with-tooltip .validator-phone input {
      margin-right: 10px;
      width: 100% !important;
    }
  }

  .opc-block-shipping-information .shipping-information-title .action-edit::before {
    content: "";
    background: transparent url('@{baseDir}images/edit.png') no-repeat scroll 0 0;
    width: 18px;
    height: 18px;
  }
  .col-method input[type="radio"] + .pay-radio {
    background: transparent url("@{baseDir}images/dot.png") no-repeat scroll 0 0;
    float: left;
    left: -1px;
    margin-left: 0;
    padding-left: 0px;
    position: relative;
    top: -20px;
    height: 17px;
    width: 18px;
    cursor: pointer;
  }
  .col-method input[type="radio"]:checked + .pay-radio {
    background: transparent url("@{baseDir}images/active-dot.png") no-repeat scroll 0 0;
  }
  //order success page
  .action.primary {
    background: #f9cf00 !important;
    border: medium none !important;
    box-sizing: border-box;
    color: #3b3939 !important;
    cursor: pointer;
    display: inline-block;
    font-family: @montserratbold;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 15px;
    text-transform: uppercase;
    vertical-align: middle;
  }
  p {
    color: #3b3939;
    font-size: 14px;
    line-height: 18px;
  }
  .checkout-onepage-success {
    input.action.primary {
      background: #f9cf00 !important;
      border-radius: 5px;
    }
    .action.primary {
      background: #e9e9e9 !important;
      height: 50px;
      line-height: 50px;
      padding: 0 21px;
    }
    .action.primary.checkout.checkout-mini-btn {
      line-height: 14px;
    }
    .navigation.megamenu {
      .product-item-actions {
        .action.tocart.primary {
          line-height: 30px;
          background-color: #f9cf00 !important;
        }
      }
    }
    .page-title{
      .base{
        display: none;
      }
    }
  }
  .checkout-success {
    h2 {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 10px;
    }
    p {
      span {
        font-family: @montserratbold;
        color: #3b3939;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
      }
    }
    text-align: center;
    margin-bottom: 25px;
    h2 + p {
      text-transform: uppercase;
      font-size: 16px;
      color: #3b3939;
      margin-bottom: 45px;
    }
  }
  .subscription-success {
    text-align: center;
    .subscription-number {
      color: #000000;
      font-size: 12px;
    }
  }
  .save-stay-order {
    strong {
      font-family: @montserratbold;
      color: #3b3939;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
    }
  }
  .actions-toolbar {
    text-align: center;
    .primary {
      float: left;
    }
  }
  .customer-account-create,.checkout-onepage-success {
    .actions-toolbar {
      .primary {
        float: none;
      }
    }
  }
  .account .page-main {
    margin-bottom: 50px;
    @media @mobileonly767 {
      margin-bottom: 0;
    }
  }
  #registration {
    text-align: center;
  }
  @media @mobileonly767 {
    .checkout-success {
      h2 {
        font-size: 27px;
        line-height: 36px;
        margin-bottom: 0;
      }
      h2 + p {
        text-transform: uppercase;
        font-size: 14px;
        color: #3b3939;
        margin-bottom: 30px;
      }
    }
    #registration {
      p {
        text-align: left;
      }
    }
    .checkout-onepage-success {
      .action.primary {
        height: 40px;
        line-height: 40px;
        padding: 0 21px;
        width: 100%;
      }
    }
  }
  //Payment method css
  .payment-method-title {
    input[type="radio"] + label {
      background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -374px -371px;
      cursor: pointer;
      display: inline-block;
      float: none;
      height: 30px;
      margin-left: -20px;
      padding-left: 0;
    }
    input[type="radio"]:checked + label {
      background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -374px -331px;
    }
  }
  .payment-method-title.choice.field {
    label {
      >span {
        display: inline-block;
        margin-top: 3px;
        padding-left: 45px !important;
        padding-right: 15px;
      }
    }
  }
  .brain-tree {
    .payment-method-title.choice.field {
      label {
        >span {
          padding: 0 !important;
          width: auto;
        }
      }
    }
  }
  .billing-address-same-as-shipping-block.choice.field {
    label {
      >span {
        padding-left: 45px !important;
      }
    }
    [type="checkbox"] + label {
      margin-left: -13px !important;
    }
  }
  #co-transparent-form-braintree.form {
    padding-left: 40px;
    order: 0;
  }
  .checkout-payment-method {
    .checkout-billing-address {
      .billing-address-details {
        line-height: 27px;
        padding: 0 0 0 45px;
      }
    }
    .payment-method-content {
      display: none;
      padding: 0;
    }
    .payment-method-title {
      margin: 0;
      padding: 45px 0 35px 20px;
    }
    .payment-method._active {
      .payment-method-content {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .payment-method-braintree {
    .payment-method-title.choice.field {
      label {
        >span {
          &::after {
            background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll 0 -341px;
            content: ".";
            display: inline-block;
            height: 30px;
            margin-left: 15px;
            position: relative;
            top: -4px;
            width: 277px;
          }
        }
        &::after {
          background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll 0 -474px;
          content: ".";
          display: inline-block;
          padding-left: 0;
          width: 107px;
        }
      }
    }
    .hosted-control {
      border: 2px solid #dadada;
      height: 38px;
    }
    .hosted-control.hosted-date {
      &:first-of-type {
        &::after {
          right: -15px;
        }
        margin-right: 20px;
      }
    }
    .hosted-control.hosted-cid {
      width: 10rem;
    }
    .cvv {
      .field-tooltip {
        left: 11rem;
      }
    }
  }
  .braintree {
    .field.type {
      display: none;
    }
  }
  .payment-method-billing-address {
    order: 1;
  }
  .checkout-agreements-block {
    margin-bottom: 20px;
    order: 2;
  }
  .payment-method-content {
    .actions-toolbar {
      order: 3;
    }
  }
  .checkout-billing-address {
    >.fieldset {
      padding-left: 35px;
    }
  }
  @media @desktop1023 {
    .payment-method-braintree {
      .payment-method-title.choice.field {
        label {
          >span {
            &::after {
              background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll 0 -391px;
              top: -1px;
              width: 189px;
            }
          }
        }
      }
      .hosted-control {
        width: 95%;
      }
    }
  }
  @media @mobileonly767 {
    .payment-method-braintree {
      input[type="radio"] {
        float: left;
        margin: 2px 0 0;
      }
      .payment-method-title.choice.field {
        label {
          >span {
            &::after {
              background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll 0 -474px;
              top: -1px;
              width: 107px;
              float: right;
            }
          }
          &::after {
            background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll 42px -435px;
            content: ".";
            display: block;
            height: 24px;
            padding-left: 0;
            width: 290px;
          }
        }
      }
      .hosted-control {
        width: 100%;
      }
      .hosted-control.hosted-date {
        float: left;
        margin-bottom: 7px;
        width: 46%;
      }
      .hosted-control.hosted-cid {
        width: 100%;
      }
      .cvv {
        .field-tooltip {
          left: 95%;
        }
      }
    }
    .payment-method-title.choice.field {
      label {
        >span {
          width: 86%;
        }
      }
    }
    #co-transparent-form-braintree.form {
      padding-left: 0;
    }
    .checkout-payment-method {
      .billing-address-same-as-shipping-block {
        margin: 0 -15px 10px 0;
        position: relative;
      }
      .fieldset {
        >.field-select-billing {
          >.control {
            float: none;
            padding-left: 0;
            width: auto;
          }
        }
      }
      .payment-method-title {
        margin: 0;
        padding: 20px 0 30px 15px;
      }
    }
    .billing-address-same-as-shipping-block.choice.field {
      [type="checkbox"] + label {
        left: 0;
        margin-left: 0 !important;
        position: absolute;
        top: 0;
      }
      label {
        >span {
          font-size: 13px;
          padding-left: 40px !important;
        }
      }
    }
    .checkout-billing-address {
      >.fieldset {
        padding-left: 0;
      }
    }
    .breadcrumbs {
      padding-left: 15px;
      padding-right: 15px;
    }
    .page-main {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  //paypal css
  .payment-method-content {
    .actions-toolbar {
      margin-bottom: 20px;
      margin-top: 25px;
      max-width: none;
    }
  }
  .checkout-payment-method {
    .payment-method-title {
      .payment-icon {
        margin: -9px 20px 0 10px;
        text-align: center;
        vertical-align: top;
        width: auto;
      }
    }
    .brain-tree {
      .payment-method-title {
        .payment-icon {
          margin: -3px 20px 0 0;
          padding-left: 40px;
        }
      }
    }
  }
  .checkout-payment-method {
    .payment-method-title {
      .action-help {
        color: #006bb4;
      }
    }
  }
  @media only screen and (min-width:768px) {
    .payment-method-title.choice.field {
      label {
        >span {
          padding-left: 40px !important;
        }
      }
    }
  }
  @media @mobileonly767 {
    input#paypal_express[type="radio"] {
      float: left;
      margin: 2px 0 0;
    }
    .checkout-payment-method {
      .payment-method-title {
        .payment-icon {
          display: block;
          margin: 10px 0 0 45px;
          text-align: center;
          vertical-align: top;
          width: auto;
        }
        margin: 0;
        padding: 20px 0 30px 15px;
        position: relative;
        .action-help {
          color: #006bb4;
          display: inline-block;
          margin-left: 5px;
          position: absolute;
          right: 0;
          top: 20px;
        }
      }
      .payment-method-content {
        .fieldset {
          &:not(:last-child) {
            margin: 20px 0;
          }
        }
      }
        .payment-method-title.paypal-express {
          margin: 0;
          padding: 20px 0 60px;
          position: relative;
        }
      .checkout-billing-address .actions-toolbar .primary {
        width: auto;
      }
      .actions-toolbar .action.primary {
        margin: 0 0 10px;
        width: 100%;
      }
      }
  }

  //click and collect
  #delivery {
    form {
      margin: 0 auto;
    }
    .button.action.continue.primary {
      height: 50px;
      margin-top: 10px;
      width: 125px;
    }
  }
  .actions-toolbar {
    clear: both;
  }
  .delivery_method {
    width: 505px;
    margin: 0 auto;
  }
  .click-method {
    margin: 20px 0px;
    display: block;
    font-size: 12px;
    color: #3b3939;
    font-family: Montserrat;
    font-weight: 900;
  }
  .click-collect-free {
    width: 48%;
    float: left;
    position: relative;
  }
  .click-collect {
    background: #f4f4f4;
    border: 1px solid #dadada;
    padding: 20px;
  }
  .choose-pick {
    padding-top: 15px;
    display: block;
  }
  .doorstep {
    padding-top: 15px;
    display: block;
  }
  .click-free {
    text-align: center;
    margin: 15px 0px;
  }
  span.click-home {
    background: transparent url("@{baseDir}images/click-collect.png") no-repeat scroll 0 0;
    display: block;
    width: 99px;
    height: 99px;
    margin: 0 auto;
    background-size: 100%;
  }
  input#collect_by_store[type="radio"] {
    top: 0;
    opacity: 0;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  input#home_delivery[type="radio"] {
    top: 0;
    opacity: 0;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  .home-delivery-over {
    width: 48%;
    float: left;
    position: relative;
    margin-left: 20px;
  }
  span.click-van {
    background: transparent url("@{baseDir}images/delivery.png") no-repeat scroll 0 0;
    display: block;
    width: 99px;
    height: 99px;
    margin: 0 auto;
    background-size: 100%;
  }
  .home-delivery {
    background: #f4f4f4;
    border: 1px solid #dadada;
    padding: 20px;
  }
  .order-over {
    text-align: center;
    margin: 15px 0px;
    span {
      display: inline-block;
    }
  }
  .click-tick {
    display: block;
  }
  input#collect_by_store:checked + .click-collect {
    background: none;
    border: 1px solid #00ace2;
  }

  input#collect_by_store:checked + .click-collect span.click-home {
    background: transparent url("@{baseDir}images/click-collect-active.png") no-repeat scroll 0 0;
    background-size: 100%;
  }

  input#home_delivery:checked + .home-delivery {
    background: none;
    border: 1px solid #00ace2;
  }

  input#home_delivery:checked + .home-delivery span.click-van {
    background: transparent url("@{baseDir}images/delivery-active.png") no-repeat scroll 0 0;
    background-size: 100%;
  }

  input#collect_by_store:checked + .click-collect .click-tick::after, input#home_delivery:checked + .home-delivery .click-tick::after {
    background: #00ace2;
    color: #ffffff;
    content: '\e610';
    font-family: 'luma-icons';
    height: 20px;
    width: 20px;
    font-size: 15px;
    line-height: 15px;
    padding-top: 2px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0px;
  }
  @media @desktop1023 {
    .order-over {
      span {
        display: inline-block;
        font-size: 12px;
      }
    }
    .choose-pick {
      padding-top: 15px;
      display: block;
      font-size: 13px;
    }
    input#home_delivery[type="radio"] {
      top: 0;
      opacity: 0;
      width: 214px;
      height: 250px;
      position: absolute;
      left: 0;
    }
    .home-delivery-over {
      width: 48%;
      float: left;
      position: relative;
      margin-left: 16px;
    }
    .click-collect-free {
      width: 48%;
      float: left;
      position: relative;
    }
    .delivery_method {
      width: 430px;
      margin: 0 auto;
    }
  }
  @media @mobileonly767 {
    #delivery {
      form {
        margin: 0 auto;
        width: 100%;
      }
    }
    .delivery_method {
      float: left;
      width: 100%;
    }
    .click-collect-free {
      width: 100%;
      float: none;
      position: relative;
      max-width: 320px;
      margin: 0 auto;
    }
    .home-delivery-over {
      width: 100%;
      float: none;
      position: relative;
      margin-left: 0;
      margin: 0 auto;
      max-width: 320px;
    }
    .click-free {
        text-align: center;
        margin: 0px 0 20px 0;
        display: block;
        clear: left;
    }

    .click-collect {
      h2 {
        width: 55%;
        float: right;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
        font-size: 14px;
      }
      background: #f4f4f4;
      border: 1px solid #dadada;
      padding: 15px 38px 15px 15px;
      float: left;
      margin: 0px 0px 20px 0px;
    }
    .choose-pick {
      width: 55%;
      float: right;
      text-align: left;
    }
    span.click-home {
      margin: 0;
      float: left;
      width: 81px;
      height: 81px;
    }
    .home-delivery {
      background: #f4f4f4;
      border: 1px solid #dadada;
      padding: 15px 0px 15px 15px;
      float: left;
      margin: 0 0px 20px 0px;
      h2 {
        width: 60%;
        float: right;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
        font-size: 14px;
      }
    }
    span.click-van {
      float: left;
      margin: 0;
      width: 81px;
      height: 81px;
    }
    .click-tick {
      width: 55%;
      float: right;
    }
    .doorstep {
      width: 60%;
      float: right;
      text-align: left;
    }
    .order-over {
      padding-bottom: 20px;
      clear: left;
    }
    .opc-progress-bar-item {
      margin: 0 0 10px;
      display: inline-block;
      position: relative;
      text-align: center;
      vertical-align: top;
      width: 33%;
      >span {
        font-size: 10px;
      }
    }
    input#collect_by_store[type="radio"] {
      width: 100%;
      height: 145px;
    }
    input#home_delivery[type="radio"] {
      width: 100%;
      height: 145px;
      z-index: 1;
    }
    input#collect_by_store:checked + .click-collect {
      background: none;
      border: 1px solid #00ace2;
      float: left;
      margin: 0px 0px 20px 0px;
    }
    .click-method {
      font-size: 13px;
    }
  }
  .homeShipping .step-title,.clickShipping .step-title {
    border: none;
  }
  .free-collection {
    font-family: montserrat;
    font-size: 12px;
    margin-left: 10px;
    width: 170px;
  }
  .row.clickShipping {
    width: 705px;
    .col.col-price {
      padding-left: 20px;
      width: 155px;
    }
    td.col.col-price {
      width: 155px;
    }
    td.col.col-carrier {
      padding: 0;
    }
  }
  .opc-wrapper {
    .clickShipping {
      select {
        border: 2px solid #dadada;
        float: left;
        height: 40px;
        width: 170px;
        margin-right: 30px;
      }
      span {
        float: left;
        max-width: 244px;
      }
    }
  }
  .locator-select {
    margin-top: -9px;
  }
  .opc-block-summary {
    .table-totals {
      tbody {
        .mark {
          font-weight: 400;
          color: #252323;
          padding: 15px 0 !important;
        }
        .amount {
          color: #252323;
          padding: 15px 0 !important;
        }
      }
    }
  }
  .grand-total {
    th {
      color: #3b3939;
      font-size: 16px;
      font-family: Montserrat;
      padding: 15px 0 6px;
    }
    td {
      color: #3b3939;
      font-size: 16px;
      font-family: Montserrat;
      padding: 15px 0 6px;
      text-align: right
    }
  }

  @media screen and (min-width:1023px) and (max-width: 1300px) {
    .opc-checout-discount {
      .actions-toolbar {
        button.action.action-apply{
          width: 110px !important;
          font-size: 12px;
        }
      }
    }
  }

  @media only screen and (max-width:1023px) {
    .row.clickShipping {
      td.col.col-method {
        padding-right: 0;
      }
    }
    .opc-wrapper {
      .clickShipping {
        select {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
  @media only screen and (max-width:767px) {
    .opc-wrapper {
      .clickShipping {
        select {
          margin-bottom: 15px;
        }
      }
    }
  }
  @media @mobileonly767 {
    .row.clickShipping {
      td.col {
        border: none;
      }
      td.col.col-price {
        width: 155px;
        display: block;
      }
      td.col.col-carrier {
        padding: 0;
        display: block;
      }
      .col-price + .col.col-method {
        border: medium none;
        display: block;
        max-width: 290px;
        padding: 0;
        border: medium none;
        display: block;
        max-width: 290px;
        padding: 0;

      }
      .col.col-method {
        span#delivery_message {
          float: none;
          margin-left: 0;
          max-width: none;
        }
      }
    }
    .locator-select {
      display: block;
      float: none;
      margin-top: 8px;
      width: auto;
      margin-bottom: 14px;
      margin-left: -20px;
    }
  }
}