<?php
// @codingStandardsIgnoreFile

/**
 * @var $block \TwoJay\Loyalty\Block\Point\History
 */
?>
<?php
$customerLookupDetails = $block->getCustomerLookUpData();
$helper = $this->helper('TwoJay\Loyalty\Helper\Data');
?>
<?php if (!$customerLookupDetails): ?>
    <div class="block block-point-history-info">
        <div class="block-content">
            <?= $block->escapeHtml(__('%1',$helper->getErrorMessage())) ?>
        </div>
    </div>
<?php elseif (!empty($customerLookupDetails) && $customerLookupDetails == 404): ?>
    <div class="box-content">
        <span>
            <?= $block->escapeHtml(__('No Points history found.')) ?>
        </span>
    </div>
<?php elseif ($customerLookupDetails): ?>
<div class="block block-point-history-info">
    <div class="block-content">
        <div class="box box-information myPoints">
            <div class="block-title"><strong><?= $block->escapeHtml(__('How do PetCLUB Points Work?')) ?></strong></div>
            <div class="box-content">
                <p>
                    <?php /* $block->escapeHtml(__('That points only last for %1 months and that the qualify for the voucher, you need to earn %2 amount of points.',$customerLookupDetails['months'],$customerLookupDetails['total_amount'])) */ ?>
                    <?= $block->escapeHtml(__('You will receive 10 Jollyes PetCLUB points for every £1 you spend online or in-store. Each point lasts 18 months before it expires. When you have earned 1,000 points, they will be reset to zero and you will receive a £2 discount voucher by email and on the Jollyes PetCLUB app which can be used on your next purchase in-store or online.')) ?>
                </p>
            </div>
        </div>
        <div class="box balance-information currentBal">
            <div class="block-title"><strong><?= $block->escapeHtml(__('Current Balance')) ?></strong></div>
            <div class="box-content">
                <p>
                    <?= $block->escapeHtml(__('%1 Points',$customerLookupDetails['total_points'])) ?>
                </p>
            </div>
        </div>
        <?php $loyaltyNumber = $block->getLoyaltyNumber(); ?>
        <?php $pointTransactions = $block->getLoyaltyCollection(); ?>
        <?php if (count($pointTransactions) > 0): ?>
            <div class="loyalty-points-items">
                <div class="block-title">
                    <strong><?= /* @escapeNotVerified */
                        __('Points Trackers') ?></strong>
                </div>
                <div class="table-wrapper points-items-loyalty">
                    <table class="data table table-points-items loyalty">
                        <thead>
                        <tr>
                            <th scope="col" class="col name"><?= /* @escapeNotVerified */
                                __('Activity') ?></th>
                            <th scope="col" class="col sku"><?= /* @escapeNotVerified */
                                __('Reference Date') ?></th>
                            <th scope="col" class="col price"><?= /* @escapeNotVerified */
                                __('Total Points') ?></th>
                            <th scope="col" class="col qty"><?= /* @escapeNotVerified */
                                __('Expiry Date') ?></th>
                        </tr>
                        </thead>
                        <?php
                        $page = ($this->getRequest()->getParam('p')) ? $this->getRequest()->getParam('p') : 1;
                        $pageSize = ($this->getRequest()->getParam('limit')) ? $this->getRequest()->getParam('limit') : 6;
                        $start =  ($pageSize*($page-1))+1;
                        $end = $page*$pageSize;
                        $counter=1;
                        ?>
                        <?php foreach ($pointTransactions as $item): ?>
                             <?php if($counter>=$start && $counter<=$end) : ?>
                            <?php
                            $expiredDate = date("d-m-Y h:i:s", strtotime($item->getData('TransactionDate') . ' + '.$customerLookupDetails['expirePointsInDays'].' day'));
                            $referenceDate = date("d-m-Y h:i:s", strtotime($item->getData('TransactionDate')));
                            ?>
                            <tbody>
                            <tr>
                                <td data-th="<?php echo $block->escapeHtml(__('Activity')) ?>" class="col id">
                                    <?= $block->escapeHtml($item->getData('TxnType')) ?>
                                </td>
                                <td data-th="<?php echo $block->escapeHtml(__('Reference Date')) ?>" class="col id">
                                    <?= $block->escapeHtml($referenceDate.'--'.$item->getData('TransactionNumber')) ?>
                                </td>
                                <td data-th="<?php echo $block->escapeHtml(__('Total Points')) ?>" class="col id">
                                    <?= $block->escapeHtml($item->getData('SchemePoints') + $item->getData('BonusPoints')) ?>
                                </td>
                                <td data-th="<?php echo $block->escapeHtml(__('Expiry Date')) ?>" class="col id">
                                    <?= $block->escapeHtml($expiredDate) ?>
                                </td>
                            </tr>
                            </tbody>
                            <?php endif;?>
                            <?php $counter++; ?>
                        <?php endforeach; ?>
                    </table>
                </div>
            </div>
            <?php if ($block->getPagerHtml()): ?>
                <div class="loyalty-points-toolbar toolbar bottom"  data-mage-init='<?= /* @escapeNotVerified */ $block->getWidgetOptionsJson() ?>'>
                    <div class="toolbar-sorter sorter">
                        <?php if ($block->getCurrentDirection() == 'desc'): ?>
                            <a title="<?= /* @escapeNotVerified */ __('Set Ascending Direction') ?>" href="#" class="action sorter-action sort-desc" data-role="direction-switcher" data-value="asc">
                                <span><?= /* @escapeNotVerified */ __('Set Ascending Direction') ?></span>
                            </a>
                        <?php else: ?>
                            <a title="<?= /* @escapeNotVerified */ __('Set Descending Direction') ?>" href="#" class="action sorter-action sort-asc" data-role="direction-switcher" data-value="desc">
                                <span><?= /* @escapeNotVerified */ __('Set Descending Direction') ?></span>
                            </a>
                        <?php endif; ?>
                    </div>
                    <p class="toolbar-amount">
                        <span class="toolbar-number"><?= __("Items %1 to %2 of %3 total", $start, $end, count($pointTransactions )); ?></span>
                    </p>
                    <?php echo $block->getPagerHtml(); ?>
                </div>
            <?php endif;?>
        <?php else: ?>
            <div class="box-content">
                <span>
                    <?= $block->escapeHtml(__('No Points history found.')) ?>
                </span>
            </div>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>