<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Invitation\Block\Form */?>
<?php echo $block->getChildHtml('form_before')?>

<?php $maxPerSend = $block->getMaxInvitationsPerSend(); ?>
<?php if ($maxPerSend): ?>
    <form id="invitationForm" action="" method="post" class="form form-add-invitations" data-mage-init='{
        "rowBuilder":{
            "rowTemplate":"#add-email-friends-tmpl",
            "rowContainer":"#invitations-options",
            "rowParentElem":"<div></div>",
            "remEventSelector":"button",
            "btnRemoveSelector":".action.remove",
            "maxRows":"<?php /* @escapeNotVerified */ echo $block->getMaxInvitationsPerSend(); ?>",
            "maxRowsMsg":"#max-emails-message",
            "addRowBtn":"#add-email-button",
            "additionalRowClass":"additional"},
        "validation":{}}'
          data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">

        <input name="form_key" type="hidden" value="<?php echo $block->escapeHtml($block->getFormKeyValue()) ?>" />

        <fieldset class="fieldset">
            <legend class="legend">
                <span><?php /* @escapeNotVerified */ echo __('Invite your friends by entering their email addresses'); ?></span>
            </legend>
            <br>

            <div id="invitations-options"></div>

            <?php if ($block->isInvitationMessageAllowed()): ?>
                <div id="max-emails-message" style="display: none;" class="message notice limit" role="alert">
                    <span><?php /* @escapeNotVerified */ echo __('Maximum %1 email addresses allowed.', $block->getMaxInvitationsPerSend()) ?></span>
                </div>
            <?php endif; ?>

            <div class="actions-toolbar">
                <div class="secondary">
                    <?php if (1 < $block->getMaxInvitationsPerSend()): ?>
                        <button type="button" id="add-email-button" class="action add">
                            <span><?php /* @escapeNotVerified */ echo __('Add') ?></span>
                        </button>
                    <?php endif; ?>
                </div>
            </div>

            <?php if ($block->isInvitationMessageAllowed()): ?>
                <div class="field text">
                    <label for="message" class="label"><span><?php /* @escapeNotVerified */ echo __('Message');?></span></label>
                    <div class="control">
                        <textarea name="message" id="message" title="<?php /* @escapeNotVerified */ echo __('Message') ?>" placeholder="<?php /* @escapeNotVerified */ echo __('Message') ?>" class="input-text" rows="5" cols="5"></textarea>
                    </div>
                </div>
            <?php endif;?>
        </fieldset>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action submit primary" type="submit"><span><?php /* @escapeNotVerified */ echo __('Send Invitations') ?></span></button>
            </div>
            <div class="secondary">
                <a href="<?php /* @escapeNotVerified */ echo $this->helper('Magento\Invitation\Helper\Data')->getCustomerInvitationUrl() ?>" class="action back"><span><?php  /* @escapeNotVerified */ echo __('Back to Invitations') ?></span></a>
            </div>
        </div>
    </form>

    <script id="add-email-friends-tmpl" type="text/x-magento-template">
        <fieldset class="fieldset">
            <div class="actions-toolbar">
                <div class="secondary">
                    <button type="button" id="btn-remove<%- data._index_ %>" class="action remove"
                            title="<?php /* @escapeNotVerified */ echo $block->escapeJsQuote(__('Remove')) ?>">
                        <span><?php /* @escapeNotVerified */ echo $block->escapeJsQuote(__('Remove')) ?></span>
                    </button>
                </div>
            </div>
            <div class="field email required">
                <label for="email_<%- data._index_ %>" class="label"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
                <div class="control">
                    <input name="email[<%- data._index_ %>]" id="email_<%- data._index_ %>"
                           title="<?php /* @escapeNotVerified */ echo __('Email') ?>" value="" class="input-text" type="email"
                           data-validate="{required:true, 'validate-email':true}"
                           placeholder="<?php /* @escapeNotVerified */ echo __('Enter Email') ?>"
                        />
                </div>
            </div>
        </fieldset>
    </script>
<?php else:?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You cannot send more invitations'); ?></span></div>
    <div class="actions">
        <div class="secondary">
            <a href="<?php /* @escapeNotVerified */ echo $this->helper('Magento\Invitation\Helper\Data')->getCustomerInvitationUrl() ?>" class="action back"><span><?php  /* @escapeNotVerified */ echo __('Back to Invitations') ?></span></a>
        </div>
    </div>
<?php endif; ?>
