<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php

/** @var \Magento\ConfigurableProduct\Pricing\Render\FinalPriceBox$block */

/** @var \Magento\Framework\Pricing\Price\PriceInterface $priceModel */
$priceModel = $block->getPriceType('regular_price');

/** @var \Magento\Framework\Pricing\Price\PriceInterface $finalPriceModel */
$finalPriceModel = $block->getPriceType('final_price');
$idSuffix = $block->getIdSuffix() ? $block->getIdSuffix() : '';
$schema = ($block->getZone() == 'item_view') ? true : false;
?>
<?php
$pricingHelper = $this->helper('\Magento\Framework\Pricing\Helper\Data');
$dataHelper = $this->helper('Magento\Catalog\Helper\Data');
$regularPrice = $dataHelper->getTaxPrice($block->getSaleableItem(), $priceModel->getValue(),true, null, null, null, null, false);
$specialPrice = $dataHelper->getTaxPrice($block->getSaleableItem(), $finalPriceModel->getValue(),true, null, null, null, null, false);
$flag = false;
if($regularPrice != $specialPrice) {
    $flag = true;
    $_percentageOff = (100 - (($specialPrice / $regularPrice) * 100));
    $_savePrice = $regularPrice - $specialPrice;
    if ($_percentageOff > 0) {
        $saveString = 'Save'.' '. $pricingHelper->currency($_savePrice) .' '. '('. round(number_format($_percentageOff, 2, '.', ' ')) . '%'.')';
    }
}
?>
<?php if (!$block->isProductList() && $block->hasSpecialPrice()): ?>
    <?php $flag = false; ?>
    <span class="special-price">
        <?php /* @escapeNotVerified */ echo $block->renderAmount($finalPriceModel->getAmount(), [
            'display_label'     => __('Now'),
            'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
            'price_type'        => 'finalPrice',
            'include_container' => true,
            'schema' => $schema
        ]); ?>
    </span>
    <?php /* ?>
    <span class="old-price sly-old-price">
        <?php echo $block->renderAmount($priceModel->getAmount(), [
            'display_label'     => __('Was'),
            'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
            'price_type'        => 'oldPrice',
            'include_container' => true,
           // 'skip_adjustments'  => false,
            'schema' => $schema
        ]); ?>
    </span>
    <?php */ ?>
    <span class="old-price sly-old-price">
        <span class="price-container price-final_price tax weee">
            <span class="price-label"><?php echo  __('Was');?></span>
            <span id="old-price<?php echo $idSuffix;?>" data-price-amount="<?php echo $regularPrice; ?>" data-price-type="oldPrice" class="price-wrapper ">
                <span class="price"><?php /* @escapeNotVerified */ echo $pricingHelper->currency($regularPrice, true, null, null, null, null, false); ?></span>
            </span>
        </span>
     </span>
    <span class="save-price"><?php /* @escapeNotVerified */  echo $saveString; ?> </span>
<?php else: ?>
    <?php if($flag !== true):?>
    <?php /* @escapeNotVerified */ echo $block->renderAmount($finalPriceModel->getAmount(), [
            'display_label'     => __('From'),
        'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
        'price_type'        => 'finalPrice',
        'include_container' => true,
        'schema' => $schema
    ]); ?>
    <?php else: ?>
    <span class="special-price">
        <?php /* @escapeNotVerified */ echo $block->renderAmount($finalPriceModel->getAmount(), [
            'display_label'     => __('Now'),
            'price_id'          => $block->getPriceId('product-price-' . $idSuffix),
            'price_type'        => 'finalPrice',
            'include_container' => true,
            'schema' => $schema
        ]); ?>
    </span>
        <?php /* ?>
        <span class="old-price sly-old-price">
            <?php echo $block->renderAmount($priceModel->getAmount(), [
                'display_label'     => __('Was'),
                'price_id'          => $block->getPriceId('old-price-' . $idSuffix),
                'price_type'        => 'oldPrice',
                'include_container' => true,
                // 'skip_adjustments'  => false,
                'schema' => $schema
            ]); ?>
        </span>
    <?php */ ?>
    <span class="old-price sly-old-price">
        <span class="price-container price-final_price tax weee">
            <span class="price-label"><?php echo  __('Was');?></span>
            <span id="old-price<?php echo $idSuffix;?>" data-price-amount="<?php echo $regularPrice; ?>" data-price-type="oldPrice" class="price-wrapper ">
                <span class="price"><?php /* @escapeNotVerified */ echo $pricingHelper->currency($regularPrice, true, null, null, null, null, false); ?></span>
            </span>
        </span>
     </span>
    <span class="save-price"><?php /* @escapeNotVerified */  echo $saveString; ?> </span>
    <?php endif ; ?>
<?php endif; ?>
<?php if ($block->showMinimalPrice()): ?>
    <?php if ($block->getUseLinkForAsLowAs()):?>
        <a href="<?php /* @escapeNotVerified */ echo $block->getSaleableItem()->getProductUrl(); ?>" class="minimal-price-link">
            <?php /* @escapeNotVerified */ echo $block->renderAmountMinimal(); ?>
        </a>
    <?php else:?>
        <span class="minimal-price-link">
            <?php /* @escapeNotVerified */ echo $block->renderAmountMinimal(); ?>
        </span>
    <?php endif?>
<?php endif; ?>
