<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var Magento\CustomerCustomAttributes\Block\Form $block */
?>
<?php
$customer = $block->getCustomer();
$contactByEmail = ($customer->getCustomAttribute('contact_by_email')) ? $customer->getCustomAttribute('contact_by_email')->getValue():'';
$contactBySms = ($customer->getCustomAttribute('contact_by_sms')) ? $customer->getCustomAttribute('contact_by_sms')->getValue():'';
$contactInApp = ($customer->getCustomAttribute('contact_in_app'))?$customer->getCustomAttribute('contact_in_app')->getValue():'';
$loyaltyNumber = ($customer->getCustomAttribute('loyalty_number'))?$customer->getCustomAttribute('loyalty_number')->getValue():'';
?>
<form class="form form-edit-account" action="<?= /* @escapeNotVerified */ $block->getUrl('customer/account/editPost') ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?= /* @escapeNotVerified */ __('* Required Fields') ?>" autocomplete="off">
    <fieldset class="fieldset info">
        <?= $block->getBlockHtml('formkey') ?>
        <legend class="legend"><span><?= /* @escapeNotVerified */ __('Account Information') ?></span></legend><br>
        <?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getCustomer())->toHtml() ?>

        <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
        <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
        <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
        <?php if ($_dob->isEnabled()): ?>
            <?= $_dob->setDate($block->getCustomer()->getDob())->toHtml() ?>
        <?php endif ?>
        <?php if ($_taxvat->isEnabled()): ?>
            <?= $_taxvat->setTaxvat($block->getCustomer()->getTaxvat())->toHtml() ?>
        <?php endif ?>
        <?php if ($_gender->isEnabled()): ?>
            <?= $_gender->setGender($block->getCustomer()->getGender())->toHtml() ?>
        <?php endif ?>
        <div class="field choice">
            <input type="checkbox" name="change_email" id="change-email" data-role="change-email" value="1" title="<?= $block->escapeHtmlAttr(__('Change Email')) ?>" class="checkbox" />
            <label class="label" for="change-email"><span><?= $block->escapeHtml(__('Change Email')) ?></span></label>
        </div>
        <div class="field choice">
            <input type="checkbox" name="change_password" id="change-password" data-role="change-password" value="1" title="<?= $block->escapeHtmlAttr(__('Change Password')) ?>"<?php if ($block->getChangePassword()): ?> checked="checked"<?php endif; ?> class="checkbox" />
            <label class="label" for="change-password"><span><?= $block->escapeHtml(__('Change Password')) ?></span></label>
        </div>
        <?php $userDefinedAttributes = $block->getLayout()->getBlock('customer_form_user_attributes'); ?>
        <?php if ($userDefinedAttributes):?>
            <?php $userDefinedAttributes->setEntityType('customer')->setShowContainer(false);?>
            <?php //$block->restoreSessionData($userDefinedAttributes->getMetadataForm());?>
            <?= $userDefinedAttributes->toHtml() ?>
        <?php endif; ?>
        <div class="field text input-text admin__control-text">
            <label class="label admin__field-label" for="loyalty_number" data-ui-id="form-element-loyalty_numberlabel"><span>Loyalty Number</span>
            </label>
            <input id="loyalty_number" name="loyalty_number" data-ui-id="form-element-loyalty_number" value="<?=$loyaltyNumber?>" type="text" class="field text input-text admin__control-text" readonly="readonly">
        </div>
        <fieldset class="fieldset">
            <div class="refine-head"><h2><?php echo __("Refine how we keep in touch") ?></h2></div>
            <div class="post-links">
                <ul>
                <li class="pet-links-info">
                <div class="email-container">
                    <input type="checkbox" class="contact_by_email" name="contact_by_email" id="contact_by_email" value="<?= $contactByEmail ?>" <?php if ($contactByEmail==1): ?> checked="checked"<?php endif; ?>/><label><?php echo __('Email') ?></label>
                </div>
                </li>
                <li class="pet-links-info">
                <div class="post-container">
                    <input type="checkbox" class="contact_in_app" name="contact_in_app" id="contact_in_app" value="<?= $contactInApp ?>" <?php if ($contactInApp==1): ?> checked="checked"<?php endif; ?>/><label><?php echo __('Post') ?></label>
                </div>
                </li>
                <li class="pet-links-info">
                <div class="sms-container">
                    <input type="checkbox" class="contact_by_sms" name="contact_by_sms" id="contact_by_sms" value="<?= $contactBySms ?>" <?php if ($contactBySms==1): ?> checked="checked"<?php endif; ?>/><label><?php echo __('SMS') ?></label>
                </div>
                </li>
                </ul>
            </div>
        </fieldset>
    </fieldset>

    <?= /* @noEscape */ $block->getChildHtml('form_fields_before_in_form') ?>

    <fieldset class="fieldset password" data-container="change-email-password">
        <legend class="legend"><span data-title="change-email-password"><?= /* @escapeNotVerified */ __('Change Email and Password') ?></span></legend><br>
        <div class="field email required" data-container="change-email">
            <label class="label" for="email"><span><?= /* @escapeNotVerified */ __('Email') ?></span></label>
            <div class="control">
                <input type="email" autocomplete="email" name="email" id="email" data-input="change-email" value="<?= $block->escapeHtml($block->getCustomer()->getEmail()) ?>" title="<?= /* @escapeNotVerified */ __('Email') ?>" class="input-text" data-validate="{required:true, 'validate-email':true}" />
            </div>
        </div>
        <div class="field password current required">
            <label class="label" for="current-password"><span><?= /* @escapeNotVerified */ __('Current Password') ?></span></label>
            <div class="control">
                <input type="password" class="input-text" name="current_password" id="current-password" data-input="current-password" autocomplete="off" />
            </div>
        </div>
        <div class="field new password required" data-container="new-password">
            <label class="label" for="password"><span><?= /* @escapeNotVerified */ __('New Password') ?></span></label>
            <div class="control">
                <input type="password" class="input-text" name="password" id="password"
                    data-password-min-length="<?= $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                    data-password-min-character-sets="<?= $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                    data-input="new-password"
                    data-validate="{required:true, 'validate-customer-password':true}"
                    autocomplete="off" />
                <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?= /* @escapeNotVerified */ __('Password Strength') ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?= /* @escapeNotVerified */ __('No Password') ?>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field confirm password required" data-container="confirm-password">
            <label class="label" for="password-confirmation"><span><?= /* @escapeNotVerified */ __('Confirm New Password') ?></span></label>
            <div class="control">
                <input type="password" class="input-text" name="password_confirmation" id="password-confirmation"
                    data-input="confirm-password"
                    autocomplete="off" />
            </div>
        </div>
        <?= $block->getChildHtml('form_additional_info') ?>
        <?= $block->getChildHtml('jjcommerce.pet.info') ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save primary" title="<?= /* @escapeNotVerified */ __('Save') ?>"><span><?= /* @escapeNotVerified */ __('Save') ?></span></button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= /* @escapeNotVerified */ __('Go back') ?></span></a>
        </div>
    </div>
</form>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
        var dataForm = $('#form-validate');
        var ignore = <?= /* @escapeNotVerified */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null' ?>;

        dataForm.mage('validation', {
        <?php if ($_dob->isEnabled()): ?>
            errorPlacement: function(error, element) {
                if (element.prop('id').search('full') !== -1) {
                    var dobElement = $(element).parents('.customer-dob'),
                        errorClass = error.prop('class');
                    error.insertAfter(element.parent());
                    dobElement.find('.validate-custom').addClass(errorClass)
                        .after('<div class="' + errorClass + '"></div>');
                }
                else {
                    error.insertAfter(element);
                }
            },
            ignore: ':hidden:not(' + ignore + ')'
        <?php else: ?>
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
        <?php endif ?>
        });

    });
</script>
<script type="text/x-magento-init">
    {
        "[data-role=change-email], [data-role=change-password]": {
            "changeEmailPassword": {
                "titleChangeEmail": "<?= /* @escapeNotVerified */ __('Change Email') ?>",
                "titleChangePassword": "<?= /* @escapeNotVerified */ __('Change Password') ?>",
                "titleChangeEmailAndPassword": "<?= /* @escapeNotVerified */ __('Change Email and Password') ?>"
            }
        },  
        "*": {
            "TwoJay_Loyalty/validation": {
                "ignore": <?= (int) ($_dob->isEnabled()) ?>,
                "hasUserDefinedAttributes": <?= (int)1 ?>,
                "isDobEnabled": <?= (int) $_dob->isEnabled() ?>,
                "mixins": [
                    "TwoJay_Loyalty/error-placement",
                    "TwoJay_Loyalty/validation-ignore"
                ]
            }
        },
        "[data-container=new-password]": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-edit-account"
            }
        }
    }
</script>
<script type="text/javascript" xml="space">// <![CDATA[
    require(["jquery"],function($) {
        if ($("#loyalty_number")) {
            $("#loyalty_number").attr('readonly', true);
            if (!window.customConfig.loyalty_module_status) {
                $('.field-loyalty_number').hide();
            }
        }
        // $('label[for="contact_by_email"]').hide();
        // $('label[for="contact_by_sms"]').hide();
        // $('label[for="contact_in_app"]').hide();
        // $("#contact_by_email").hide();
        // $("#contact_by_sms").hide();
        // $("#contact_in_app").hide();
        $('input.contact_by_email').click(function(){
            if($(this).is(":checked")){
                $("#contact_by_email").val('1').change();
            }
            else if($(this).is(":not(:checked)")){
                $("#contact_by_email").val('0').change();
            }
        });

        $('input.contact_in_app').click(function(){
            if($(this).is(":checked")){
                $("#contact_in_app").val('1').change();
            }
            else if($(this).is(":not(:checked)")){
                $("#contact_in_app").val('0').change();
            }
        });

        $('input.contact_by_sms').click(function(){
            if($(this).is(":checked")){
                $("#contact_by_sms").val('1').change();
            }
            else if($(this).is(":not(:checked)")){
                $("#contact_by_sms").val('0').change();
            }
        });
    });
    // ]]>
</script>



