<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>

<?php
$_helper        = $this->helper('Magento\Catalog\Helper\Output');
$_stickerHelper = $this->helper('\Jjcommerce\ProductSticker\Helper\Data');
$_segmentHelper = $this->helper('\Ayko\SegmentioAnalytics\Helper\Data');

$viewModel = $block->getData('viewModel');
$_levels   = $viewModel->getCategoryLevels();

?>

<script>
    var segmentData = {
        cart_id: "<?php echo $viewModel->getCartId(); ?>",
        category_level_1: "<?php echo (isset($_levels[0])) ? trim($_levels[0]) : '' ?>",
        category_level_2: "<?php echo (isset($_levels[1])) ? trim($_levels[1]) : '' ?>",
        category_level_3: "<?php echo (isset($_levels[2])) ? trim($_levels[2]) : '' ?>"
    };
</script>

<?php if ($block->isContentMode() || $block->isMixedMode()): ?>
    <div class="category-cms">
        <?= $block->getCmsBlockHtml() ?>
    </div>
<?php endif; ?>
