<?php
/**
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$viewerHelper = $objectManager->get(\MagicToolbox\Sirv\Helper\MediaViewer::class);
$viewerHelper->setGalleryBlock($block);

$viewerSlides = $viewerHelper->getViewerSlides();
$jsonConfig = $block->escapeHtmlAttr($viewerHelper->getJsonConfig());
$jsOptions = $viewerHelper->getViewerJsOptions();
$maxHeight = $viewerHelper->getMaxHeight();
$dataOptions = $viewerHelper->getViewerDataOptions();
?>
<?= $jsOptions ?>
<?php if ($maxHeight) : ?>
<style>
.smv-pg-container .Sirv > .smv {
    max-height: <?= $maxHeight ?>px;
}
</style>
<?php endif; ?>
<?php
$_stickerHelper = $this->helper(\Jjcommerce\ProductSticker\Helper\Data::class);
$_product = $block->getProduct();
?>
<?php if ($_stickerHelper->isEnabled()):?>
    <?php echo $_stickerHelper->getFlagImage($_product);?>
    <?php echo $_stickerHelper->getRibbonImage($_product);?>
<?php endif; ?>
<div class="smv-pg-container" data-json-config="<?= $jsonConfig ?>">
    <div class="Sirv" data-options="<?= $dataOptions ?>">
        <?= implode("\n", $viewerSlides) ?>
    </div>
</div>
