<?php
/**
 * @category    Jjcommerce
 * @package     Jjcommerce_ClickAndCollect
 * @author	Jjcommerce Team<support@2jdesign.co.uk>
 */
?>
<?php
$data = $block->getStoreInventory();
$arrayData = $data['stores'];

$helper =  $this->helper('Magento\Framework\Json\Helper\Data');
$serializedFormData = $helper->jsonEncode($arrayData);

?>
<script>
    window.storelocations = <?php /* @noEscape */ echo $serializedFormData ?>;
    window.currentDelivery =  '<?php echo $this->getDeliveryType(); ?>';
    window.store_only_product   = <?php echo $this->getStoreOnlyProduct(); ?>;
    window.isExtensionEnabled   = <?php echo $this->isExtensionEnabled(); ?>;
    window.delivery_shipping_estimate   = <?php echo $helper->jsonEncode($this->getShippingAmountEstimate() ); ?>;

    require([
        'jquery',
        'uiRegistry',
        'Magento_Checkout/js/model/step-navigator'
    ],function ($, registry, stepNavigator) {
        $(document).ready(function(){
            $(document).on('change','#checkoutSteps #storelocator',function(){


                // ---------------------------------------------------------
                var storeData = $("#checkout-step-shipping_method #storelocator").val();

                if(!storeData)return null;

                var currentdate = new Date();
                // =========================================================================
                var hour = <?php echo date('H'); ?>;
                var minutes = '<?php echo date('i'); ?>';


                var afterprocess = ( ( hour+3)>12)?(  ( hour+3)-12 ).toString()+':'+minutes+'pm':( hour+3).toString()+':'+minutes+'am';
                var message = 'Your order will be ready for collection at '+afterprocess;
                // =========================================================================

                var collectiontime = hour + ":"+ currentdate.getMinutes();
                window.storelocations.forEach(function(row) {

                    if (row.id==Number(storeData)  ) {
                        if(row.missingProducts) {
                            registry.get('checkout.steps.shipping-step.shippingAddress').buttonDisabled(true);
                            // shipping.buttonDisabled(true);
                            message = 'Sorry, the following products are not available from ' + row.shop_name + ', please remove these products from your cart or <a href="#" class="step-back-to-delivery">choose home delivery</a>.'
                            for (let [key, value] of Object.entries(row.missingProducts)) {
                                message += '<br /><br /> - ' + value.name
                            }
                        } else {
                            registry.get('checkout.steps.shipping-step.shippingAddress').buttonDisabled(false);
                            // shipping.buttonDisabled(false);
                            if (row.status && (hour + 3) > 17) {
                                message = 'Your order will be ready for collection at 9am tomorrow';
                            }
                            if (row.status && (hour) < 6) {
                                message = 'Your order will be ready for collection at 9am';
                            }
                            if (!row.status) {
                                message = 'Your order will be ready for collection in 7 days';
                            }
                        }
                    }

                });

                //alert(message)

                $("#checkout-step-shipping_method #delivery_message").html(message);
                // ----------------------------------------------------------

            });
        });
        $(document).on('click', '.step-back-to-delivery', function () {
            stepNavigator.navigateTo('delivery');
        })
    });
</script>

