<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isAvailable() -->
    <!-- ko foreach: getAppliedLoyaltyCoupons() -->
    <tr class="totals loyaltycoupon">
        <th class="mark" scope="row" colspan="1">
            <a data-bind="attr: {href: $parent.getRemoveUrl(c), title: $t('Remove')}" class="action delete">
                <span data-bind="text: $t('Remove')"></span>
            </a>
            <!-- ko text: $parent.title + ' (' + c + ')' --><!-- /ko -->
        </th>
        <td class="amount" data-bind="attr: {'data-th':  $parent.title + ' (' + c + ')'}">
            <span class="discount">
                <span class="price" data-bind="text: '-' + $parent.getAmount(a)">
                </span>
            </span>
        </td>
    </tr>
    <!-- /ko -->
<!-- /ko -->
