<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php echo $block->getChildHtml('new.checkout.registration'); ?>

<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<div class="checkout-success">
    <h2>Thank you for your order!</h2>
    <?php if ($block->getOrderId()): ?>
        <?php if ($block->getCanViewOrder()) : ?>
            <p><?php echo __('Your order number is %1', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?></p>
        <?php else : ?>
            <p><?php echo __('Your order number is <span>#%1</span>', $block->escapeHtml($block->getOrderId())) ?></p>
        <?php endif; ?>
        <p><?php /* @escapeNotVerified */
            echo __('We\'ll email you an order confirmation with details and tracking info.') ?></p>
    <?php endif; ?>

    <?php echo $block->getAdditionalInfoHtml() ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?php /* @escapeNotVerified */
            echo $block->getUrl() ?>"><span><?php /* @escapeNotVerified */
                    echo __('Continue Shopping') ?></span></a>
        </div>
    </div>
</div>