<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart\Grid */
?>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
<?php echo $block->getChildHtml('form_before') ?>
<form action="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/updatePost') ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"validation":{}}'
          class="form form-cart">
    <?php echo $block->getBlockHtml('formkey'); ?>
    <div class="cart table-wrapper<?php echo $mergedCells == 2 ? ' detailed' : ''; ?>">
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-top toolbar" data-attribute="cart-products-toolbar-top"><?php echo $block->getPagerHtml(); ?></div>
        <?php endif; ?>
        <div id="shopping-cart-table"
               class="cart items data table"
               data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
               "updateCartActionContainer": "#update_cart_action_container"}}'>
            <div class="thead">
                <div class="col item-img" scope="col"><span style="display: block; width: 150px; text-align: left; padding-right: 15px;"><?php /* @escapeNotVerified */ echo __('Product') ?></span></div>
                <div class="all-details">
                    <div class="col item-name" scope="col"><span><?php /* @escapeNotVerified */ echo __('') ?></span></div>
                    <div class="col price" scope="col"><span><?php /* @escapeNotVerified */ echo __('Unit Price') ?></span></div>
                    <div class="col qty" scope="col"><span><?php /* @escapeNotVerified */ echo __('Quantity') ?></span></div>
                    <div class="col subtotal" scope="col"><span><?php /* @escapeNotVerified */ echo __('Subtotal') ?></span></div>
                    <div class="col edit-remove" scope="col"><span><?php /* @escapeNotVerified */ echo __('Remove') ?></span></div>
                </div>
            </div>
            <?php foreach ($block->getItems() as $_item): ?>
                <?php echo $block->getItemHtml($_item) ?>
            <?php endforeach ?>
        </div>
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-bottom toolbar" data-attribute="cart-products-toolbar-bottom"><?php echo $block->getPagerHtml(); ?></div>
        <?php endif ?>
    </div>
    <div class="cart main actions">
        <div class="button-wrapper">
            <button type="submit"
                    name="update_cart_action"
                    data-cart-item-update=""
                    value="update_qty"
                    title="<?php echo $block->escapeHtml(__('Update Shopping Cart')); ?>"
                    class="action update">
                <span><?php /* @escapeNotVerified */ echo __('Update Shopping Cart'); ?></span>
            </button>
            <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
            <button type="submit"
                    name="update_cart_action"
                    data-cart-empty=""
                    value="empty_cart"
                    title="<?php echo $block->escapeHtml(__('Clear Shopping Cart')); ?>"
                    class="action clear" id="empty_cart_button">
                <span><?php /* @escapeNotVerified */ echo __('Clear Shopping Cart'); ?></span>
            </button>
            <?php if ($block->getContinueShoppingUrl()): ?>
                <a class="action continue"
                   href="<?php echo $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
                   title="<?php echo $block->escapeHtml(__('Continue Shopping')); ?>">
                    <i>&#8592;</i> <span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span>
                </a>
            <?php endif; ?>
        </div>
    </div>

</form>
<?php echo $block->getChildHtml('checkout.cart.order.actions') ?>
<?php echo $block->getChildHtml('shopping.cart.table.after'); ?>
<script type="text/javascript">
    require(['jquery'],function($){
        $('#shopping-cart-table .product-list-qty-plus').on('click',function(e){
            quantityIncreaseCart(e,this);
        });
        $('#shopping-cart-table .product-list-qty-minus').on('click',function(e){
            quantityDecreaseCart(e,this);
        });

        function quantityIncreaseCart (e,elem){
            e.preventDefault();
            element = $(elem);
            val = element.parent().find('input.qty').val();
            if (parseInt(val) < 999) {
                val = parseInt(val) + 1;
                element.parent().find('input.qty').val(val);
            }
        };

        function quantityDecreaseCart (e,elem){
            e.preventDefault();
            element = $(elem);
            val = element.parent().find('input.qty').val();
            if (parseInt(val) > 1) {
                val = parseInt(val) - 1;
                element.parent().find('input.qty').val(val);
            }
        };

        $('.form-cart').on('focusout', 'input.qty', function(){
            val =  $(this).val();
            if(val > 999){
                val = 999;
                $(this).val(val);
            }
        })
    })
</script>