<?php
/**
 * @category    Jjcommerce
 * @package     Jjcommerce_StoreLocator
 * @author	Jjcommerce Team<support@2jdesign.co.uk>
 */

$product = $block->getProduct();
$productIds= array();
$childProductCollection = $product->getTypeInstance()->getAssociatedProducts($product);
$data = $product->getStorelocator();
$_stickerHelper = $this->helper('\Jjcommerce\ProductSticker\Helper\Data');
foreach($childProductCollection as $vals){
    $productIds[] = $vals->getId();
}

if( is_array($data) && !empty( $data ) ):?>
    <div class="store-stock-block">
        <div class="store-stock">
            <span class="store-loc-icon">&nbsp;</span>
            <div class="store-stock-select">
                <select name="storestock" id="storestock" >
                    <option value="" >Check Store Stock</option>
                    <?php  foreach( $data as $store =>$stock ): ?>
                        <?php  $name = ucwords( implode(' ',  explode('_',$store) ) ) ?>
                        <?php if($store != $_stickerHelper->getWarehouseName()): ?>
                            <option value="<?php echo $stock; ?>" ><?php echo $name; ?></option>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
    </div>
    <script>
        require([
            'jquery'
        ], function ($) {

            $( "#storestock").change(function(){
                var text = $(this).find("option:selected").text();
                var storeUrl = window.checkout.baseUrl;
                var productId = <?php echo json_encode($productIds ); ?>;

                $.ajax({
                    url: storeUrl + 'locator/product/groupstorestock',
                    data: {product : productId, store : text},
                    dataType: "json",
                    type:"POST",
                    success: function(response){
                        //$(".product-info-main .store-stock-block").remove();
                        //$(".product-info-main .product-info-price").after(response);
                        var array = $.map(response, function(value, index) {
                            element = document.getElementById("stock-"+ index);
                            if(element){
                                element.innerHTML = value;
                            }
                        });
                    },
                    error: function(xhr, textStatus, thrownError){
                        console.log(textStatus);
                    }
                })
            });
        });
    </script>
<?php endif; ?>

