<?php
/**
 * @category    Jjcommerce
 * @package     Jjcommerce_StoreLocator
 * @author	Jjcommerce Team<support@2jdesign.co.uk>
 */

$product = $block->getProduct();
$data = $product->getStorelocator();
$lowStock = $this->helper('Jjcommerce\StoreLocator\Helper\Data')->lowStockMessage();
$productQty = $product->getExtensionAttributes()->getStockItem()->getQty();
$message = '';
$class = '';

if($product->getTypeId()!='configurable'){
    if($productQty > 0){
        if($productQty <= $lowStock){
            $message = '<p>&#33;</p> Low Stock';
            $class = 'low-stock';
        }else{
            $message = 'In Stock';
            $class = 'success';
        }
    }else{
        $message = '<p>&#8856;</p> Out Of Stock';
        $class = 'out-of-stock';
    }
}

if( is_array($data) && !empty( $data ) ):
    $_stickerHelper = $this->helper('\Jjcommerce\ProductSticker\Helper\Data');
    $stockLabel = $_stickerHelper->getStockLabel($product->getId());
    ?>
    <div class="store-stock-block">
        <div class="store-stock">
            <span class="store-loc-icon">&nbsp;</span>
            <div class="store-stock-select">
                <select name="storestock" id="storestock" onchange="showMessage()" >
                    <option value="" >Check Store Stock</option>
                    <?php  foreach( $data as $store =>$stock ): ?>
                        <?php  $name = ucwords( implode(' ',  explode('_',$store) ) ) ?>
                        <?php if($store != $_stickerHelper->getWarehouseName()): ?>
                            <option value="<?php echo $stock; ?>" ><?php echo $name; ?></option>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </select>
            </div>
            <div id="sucess" class="<?php echo $class; ?>"><?php echo $message?></div>
        </div>
    </div>
    <input type="hidden" class="default-store-stock" value="<?php echo $message?>" data-class="<?php echo $class; ?>">
    <script>
        require([
            'jquery'
        ], function ($) {
            /*$(window).load(function(){
                checkStoreStock();
            });

            $(document).ready(function(){
                checkStoreStock();
            });*/

            window.showMessage = function($){
                checkStoreStock();
            }

            //checkStoreStock();

            $(".stock-label").html("<?php echo $stockLabel ?>");

            function checkStoreStock(){
                if(!$(".store-stock-block #storestock").val()){
                    $(".store-stock-block #sucess").hide();
                }else{
                    $(".store-stock-block #sucess").show();
                }
                var lowStock = "<?php echo $lowStock ?>";
                var lowStockMessage = "<?php echo '<p>&#33;</p>  Low Stock' ?>";
                var availableStockMessage = "<?php echo 'In Stock' ?>";
                var outOfStockMessage = "<?php echo '<p>&#8856;</p>  Out Of Stock' ?>";
                var classStockName = "out-of-stock";
                var qty = parseInt(document.getElementById('storestock').value);
                if (qty >= 0) {
                    if (qty <= lowStock) {
                        if(qty==0){
                            document.getElementById('sucess').innerHTML = outOfStockMessage;
                            document.getElementById('sucess').classList.remove("success");
                            document.getElementById('sucess').classList.remove("low-stock");
                            document.getElementById('sucess').classList.add("out-of-stock");
                        }else{
                            document.getElementById('sucess').innerHTML = lowStockMessage;
                            document.getElementById('sucess').classList.remove("success");
                            document.getElementById('sucess').classList.remove("out-of-stock");
                            document.getElementById('sucess').classList.add("low-stock");
                        }
                    }
                    else {
                        document.getElementById('sucess').innerHTML = availableStockMessage;
                        document.getElementById('sucess').classList.remove("out-of-stock");
                        document.getElementById('sucess').classList.remove("low-stock");
                        document.getElementById('sucess').classList.add("success");
                    }
                }
                else {
                    outOfStockMessage = $(".default-store-stock").val();
                    classStockName = $(".default-store-stock").attr('data-class');
                    document.getElementById('sucess').innerHTML = outOfStockMessage;
                    document.getElementById('sucess').classList.remove("success");
                    document.getElementById('sucess').classList.remove("low-stock");
                    document.getElementById('sucess').classList.remove("out-of-stock");
                    document.getElementById('sucess').classList.add(classStockName);
                }
            }
        });
    </script>
<?php endif; ?>

