<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Customer\Block\Account\AuthorizationLink */
$dataPostParam = '';
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
}
?>
<?php if($block->isLoggedIn()): ?>
<li class="authorization-link">
    <a <?php /* @escapeNotVerified */ echo $block->getLinkAttributes(); ?><?php /* @escapeNotVerified */ echo $dataPostParam; ?>>
        <?php echo $block->escapeHtml($block->getLabel()); ?>
    </a>
</li>
<?php else: ?>
    <li class="authorization-link customer-not-loggedin">
        <a <?php /* @escapeNotVerified */ echo $block->getLinkAttributes(); ?><?php /* @escapeNotVerified */ echo $dataPostParam; ?> class="mobile-login">
            <span class="customer-name">
            <span><?php /* @escapeNotVerified */ echo __('Account')?></span>
        </span>
        </a>
     <span class="customer-name"
           role="link"
           tabindex="0"
           data-mage-init='{"dropdown":{}}'
           data-toggle="dropdown"
           data-trigger-keypress-button="true"
           data-bind="scope: 'customer'">
            <span ><?php /* @escapeNotVerified */ echo __('Account')?></span>
        </span>
        <div class="not-loggedin-customer-menu" data-target="dropdown">
            <ul class="header links">
                <li class="sign-in">
                    <a <?php /* @escapeNotVerified */ echo $block->getLinkAttributes(); ?><?php /* @escapeNotVerified */ echo $dataPostParam; ?>>
                        <?php echo $block->escapeHtml('Log in'); ?>
                    </a>
                </li>
                <li class="link-separator"><span><?php echo __('or')?></span></li>
                <li class="register-link">
                    <a href="<?php echo $block->getUrl('customer/account/create') ?>">
                        <?php echo $block->escapeHtml('Register'); ?>
                    </a>
                </li>
            </ul>
        </div>
    </li>
<?php endif; ?>
