<?php
/**
 * Synchronizer widget template
 *
 * @author    Sirv Limited <support@sirv.com>
 * @copyright Copyright (c) 2018-2020 Sirv Limited <support@sirv.com>. All rights reserved
 * @license   https://sirv.com/
 * @link      https://sirv.com/integration/magento/
 *
 * @codingStandardsIgnoreFile
 */

/**
 * @var $block \MagicToolbox\Sirv\Block\Adminhtml\Synchronizer
 */

$data = $block->getSyncData();

$syncedBarWidth = $data['synced-percent'];
$queuedBarWidth = $syncedBarWidth + $data['queued-percent'];
$failedBarWidth = $queuedBarWidth + $data['failed-percent'];

$viewFailedLinkClass = 'sirv-view-failed-link' . ($data['failed'] ? '' : ' hidden-element');

$ajaxUrl = $block->escapeUrl($block->getAjaxUrl());
?>
<div class="sirv-sync-container">
  <div class="sirv-sync-status" data-role="sirv-synchronizer">
    <div class="sirv-sync-content">
      <div class="row visible-in-modal-view">
        <h1 class="sync-status-header">
          <span class="sync-progress-label">
            <?= __('Synchronization...') ?>
          </span>
          <span class="sync-completed-label hidden-element">
            <?= __('Synchronization completed') ?>
          </span>
          <span class="sync-failed-label hidden-element">
            <?= __('Synchronization failed') ?>
          </span>
        </h1>
      </div>
      <div class="row visible-in-modal-view">
        <p class="sync-status-notice">
        <?= __('Keep this page open while images copy to Sirv.') ?><br/>
        <?= __('It can take many minutes or even hours (for large libraries).') ?><br/>
        <?= __('If sync is interrupted, please restart it to continue.') ?><br/>
        </p>
      </div>
      <div class="row">
        <p class="progress-label">
          <span class="progress-percent-label">
            <b>
              <span class="progress-percent-value"><?= $data['synced-percent'] ?></span>%
            </b>
          </span>
          <span class="progress-completed-label">
            <b>
              <span class="items-completed-value"><?= $data['synced'] ?></span>
              out of
              <span class="items-total-value"><?= $data['total'] ?></span>
            </b>
            items completed
          </span>
        </p>
      </div>
      <div class="row">
        <div class="progress-bar-holder">
          <div class="progress-bar progress-bar-timer" role="timerbar" data-content="00:00:00"></div>
          <div class="progress-bar progress-bar-synced" role="progressbar" style="width: <?= $syncedBarWidth ?>%"></div>
          <div class="progress-bar progress-bar-queued" role="progressbar" style="width: <?= $queuedBarWidth ?>%"></div>
          <div class="progress-bar progress-bar-failed" role="progressbar" style="width: <?= $failedBarWidth ?>%"></div>
        </div>
      </div>
      <div class="row">
        <ul class="progress-counters-list">
          <li class="list-item list-item-synced">
            <span class="list-item-style-type"></span>
            <span class="list-item-title"><?= __('Synced images') ?></span>
            <span class="list-item-value"><?= $data['synced'] ?></span>
          </li>
          <li class="list-item list-item-queued">
            <span class="list-item-style-type"></span>
            <span class="list-item-title"><?= __('Queued images') ?></span>
            <span class="list-item-value"><?= $data['queued'] ?></span>
          </li>
          <li class="list-item list-item-failed">
            <span class="list-item-style-type"></span>
            <span class="list-item-title"><?= __('Failed images') ?></span>
            <span class="list-item-value"><?= $data['failed'] ?></span>
            <span class="list-item-link">
              <a class="<?= $viewFailedLinkClass ?>" href="#" data-mage-init='{"button": {"event": "sirv-sync", "target": "[data-role=sirv-synchronizer]", "eventData": {"action": "view-failed"}}}'><?= __('View list') ?></a>
            </span>
          </li>
        </ul>
      </div>
      <div class="row">
        <div data-role="sirv-messages" id="sirv-messages" class="messages"></div>
      </div>
    </div>
  </div>
  <div class="sirv-sync-buttons sirv-actions">
  <?= /* @noEscape */ $block->getButtonsHtml() ?>
  </div>
</div>
<script type="text/x-magento-init">
    {
        "[data-role=sirv-synchronizer]": {
            "sirvSynchronizer": {
                "ajaxUrl": "<?= /* @escapeNotVerified */ $ajaxUrl ?>",
                "total": <?= /* @escapeNotVerified */ $data['total'] ?>,
                "synced": <?= /* @escapeNotVerified */ $data['synced'] ?>,
                "queued": <?= /* @escapeNotVerified */ $data['queued'] ?>,
                "failed": <?= /* @escapeNotVerified */ $data['failed'] ?>
            }
        }
    }
</script>
