<?php
/**
 * Version block template
 *
 * @author    Sirv Limited <support@sirv.com>
 * @copyright Copyright (c) 2018-2020 Sirv Limited <support@sirv.com>. All rights reserved
 * @license   https://sirv.com/
 * @link      https://sirv.com/integration/magento/
 *
 * @codingStandardsIgnoreFile
 */

/**
 * @var $block \MagicToolbox\Sirv\Block\Adminhtml\Version
 */
?>
<div class="mt-module-version">
    <span class="mt-current-version">Version: <?= $block->getCurrentVersion() ?></span>
</div>
