<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
$dataHelper = $this->helper('Magento\Catalog\Helper\Data');
$pricingHelper = $this->helper('\Magento\Framework\Pricing\Helper\Data');
?>
<div class="cart item">
<div class="item-info">
    <div data-th="<?php echo $block->escapeHtml(__('Item')); ?>" class="col item">
        <?php if ($block->hasProductUrl()):?>
        <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"
           title="<?php echo $block->escapeHtml($block->getProductName()) ?>"
           tabindex="-1"
           class="product-item-photo">
            <?php else:?>
            <span class="product-item-photo">
            <?php endif;?>
            <?php echo $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml(); ?>
            <?php if ($block->hasProductUrl()):?>
        </a>
        <?php else: ?>
            </span>
        <?php endif; ?>
    </div>
    <div class="all-details">
        <div class="col item-name">
            <div class="product-item-details">
                <strong class="product-item-name">
                    <?php if ($block->hasProductUrl()):?>
                        <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl() ?>"><?php echo $block->escapeHtml($block->getProductName()) ?></a>
                    <?php else: ?>
                        <?php echo $block->escapeHtml($block->getProductName()) ?>
                    <?php endif; ?>
                </strong>
                <?php if ($_options = $block->getOptionList()):?>
                    <dl class="item-options">
                        <?php foreach ($_options as $_option) : ?>
                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <dt><?php echo $block->escapeHtml($_option['label']) ?></dt>
                            <dd>
                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                    <?php /* @escapeNotVerified */ echo $_formatedOptionValue['full_view'] ?>
                                <?php else: ?>
                                    <?php /* @escapeNotVerified */ echo $_formatedOptionValue['value'] ?>
                                <?php endif; ?>
                            </dd>
                        <?php endforeach; ?>
                    </dl>
                <?php endif;?>
                <?php if ($messages = $block->getMessages()): ?>
                    <?php foreach ($messages as $message): ?>
                        <div class="cart item message <?php /* @escapeNotVerified */ echo $message['type'] ?>"><div><?php echo $block->escapeHtml($message['text']) ?></div></div>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                <?php if ($addInfoBlock): ?>
                    <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
                <?php endif;?>
            </div>
        </div>

        <?php if ($canApplyMsrp): ?>
            <div class="col desk-price msrp" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                    <span class="pricing msrp">
                        <span class="msrp notice"><?php /* @escapeNotVerified */ echo __('See price before order confirmation.'); ?></span>
                        <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                        <a href="#" class="action help map" id="<?php /* @escapeNotVerified */ echo($helpLinkId); ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?php /* @escapeNotVerified */ echo $helpLinkId;?>","productName": "<?php /* @escapeNotVerified */ echo $product->getName(); ?>","showAddToCart": false}}'>
                            <span><?php /* @escapeNotVerified */ echo __("What's this?"); ?></span>
                        </a>
                    </span>
            </div>
        <?php else: ?>
            <div class="col desk-price price" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                <?php $itemFinalPrice = trim($_item->getPrice()); ?>
                <?php $itemOldPrice = trim($_item->getOriginalPrice()); ?>
                <?php $_productOldIncPrice = $dataHelper->getTaxPrice($_item->getProduct(), $itemOldPrice,true, null, null, null, null, false);?>
                <?php $_productNowPrice = $dataHelper->getTaxPrice($_item->getProduct(), $itemFinalPrice,true, null, null, null, null, false);?>
                <?php if($_productOldIncPrice > 0): ?>
                    <?php $_percentageOffInc =  (100 - (($_productNowPrice / $_productOldIncPrice) * 100)); ?>
                <?php endif; ?>
                <?php $_savePriceInc = $_productOldIncPrice-$_productNowPrice;?>
                <?php if($itemOldPrice!=$itemFinalPrice && $_savePriceInc >0 ):?>
                    <div class="cart-product-info-price">
                        <span class="special-price">
                            <span class="price-label"><?php echo __('NOW')?></span>
                            <span class="price"><?php echo $pricingHelper->currency($_productNowPrice, true, null, null, null, null, false); ?>
                            </span>
                        </span>
                            <span class="old-price">
                                <span class="price-label"><?php echo __('Was')?></span>
                                    <span class="price"><?php echo $pricingHelper->currency($_productOldIncPrice, true, null, null, null, null, false); ?>
                                </span>
                            </span>
                        <?php if($_percentageOffInc > 0): ?>
                            <div class="percentage-discount price-including-tax">
                                <?php echo __("Save ").$pricingHelper->currency($_savePriceInc, true, null, null, null, null, false);?><?php echo __(' (') ?><?php echo __( round(number_format($_percentageOffInc, 2, '.', ' ')) . '%'); ?>)
                            </div>
                        <?php endif; ?>
                    </div>
                    <?php else: ?>
                        <?php echo $block->getUnitPriceHtml($_item); ?>
                    <?php endif ?>
            </div>
        <?php endif; ?>
        <div class="col qty" data-th="<?php echo $block->escapeHtml(__('Qty ')); ?>">
            <div class="field qty">
                <div class="control qty">
                    <a class="product-list-qty-minus"><span class="dn">-</span></a>
                    <input id="cart-<?php /* @escapeNotVerified */ echo $_item->getId() ?>-qty"
                           name="cart[<?php /* @escapeNotVerified */ echo $_item->getId() ?>][qty]"
                           data-cart-item-id="<?php /* @escapeNotVerified */ echo $_item->getSku() ?>"
                           value="<?php /* @escapeNotVerified */ echo $block->getQty() ?>"
                           type="number"
                           size="4"
                           title="<?php echo $block->escapeHtml(__('Qty')); ?>"
                           class="validate-number input-text qty"
                           maxlength="12"
                           data-validate="{required:true,'validate-number':true}"
                           data-role="cart-item-qty"/>
                    <a class="product-list-qty-plus"><span class="up">+</span></a>
                </div>
            </div>
        </div>

        <?php if ($canApplyMsrp): ?>
            <div class="col mobi-price msrp" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                    <span class="pricing msrp">
                        <span class="msrp notice"><?php /* @escapeNotVerified */ echo __('See price before order confirmation.'); ?></span>
                        <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                        <a href="#" class="action help map" id="<?php /* @escapeNotVerified */ echo($helpLinkId); ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?php /* @escapeNotVerified */ echo $helpLinkId;?>","productName": "<?php /* @escapeNotVerified */ echo $product->getName(); ?>","showAddToCart": false}}'>
                            <span><?php /* @escapeNotVerified */ echo __("What's this?"); ?></span>
                        </a>
                    </span>
            </div>
        <?php else: ?>
            <div class="col mobi-price price" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                <?php $_percentageOffInc = 0; ?>
                <?php $itemFinalPrice = trim($_item->getPrice()); ?>
                <?php $itemOldPrice = trim($_item->getOriginalPrice()); ?>
                <?php $_productOldIncPrice = $dataHelper->getTaxPrice($_item->getProduct(), $itemOldPrice,true, null, null, null, null, false);?>
                <?php $_productNowPrice = $dataHelper->getTaxPrice($_item->getProduct(), $itemFinalPrice,true, null, null, null, null, false);?>
                <?php if($_productOldIncPrice > 0): ?>
                    <?php $_percentageOffInc =  (100 - (($_productNowPrice / $_productOldIncPrice) * 100)); ?>
                <?php endif; ?>
                <?php $_savePriceInc = $_productOldIncPrice-$_productNowPrice;?>
                <?php if($itemOldPrice!=$itemFinalPrice > $_savePriceInc):?>
                    <div class="cart-product-info-price">
                        <span class="special-price">
                            <span class="price-label"><?php echo __('NOW')?></span>
                            <span class="price"><?php echo $pricingHelper->currency($_productNowPrice, true, null, null, null, null, false); ?>
                            </span>
                        </span>
                            <span class="old-price">
                                <span class="price-label"><?php echo __('Was')?></span>
                                    <span class="price"><?php echo $pricingHelper->currency($_productOldIncPrice, true, null, null, null, null, false); ?>
                                </span>
                            </span>
                        <?php if($_percentageOffInc > 0): ?>
                            <div class="percentage-discount price-including-tax">
                                <?php echo __("Save ").$pricingHelper->currency($_savePriceInc, true, null, null, null, null, false);?><?php echo __(' (') ?><?php echo __( round(number_format($_percentageOffInc, 2, '.', ' ')) . '%'); ?>)
                            </div>
                        <?php endif; ?>
                    </div>
                <?php else: ?>
                    <?php echo $block->getUnitPriceHtml($_item); ?>
                <?php endif ?>
            </div>
        <?php endif; ?>

        <div class="col subtotal" data-th="<?php echo $block->escapeHtml(__('Subtotal'));?>">
            <?php if ($canApplyMsrp): ?>
                <span class="cart msrp subtotal">--</span>
            <?php else: ?>
                <?php echo $block->getRowTotalHtml($_item); ?>
            <?php endif; ?>
        </div>
        <div class="col edit-remove-right">
            <div class="actions-toolbar">
                <?php /* @escapeNotVerified */ echo $block->getActions($_item) ?>
            </div>
        </div>
    </div>
</div>
</div>
