<?php
/**
 * Jjcommerce_MegaMenu
 *
 * PHP version 5.x
 *
 * @category  PHTML
 * @package   Jjcommerce\MegaMenu
 * @author    Swapnil Tatkondawar <swapnilt@2jcommerce.in>
 * @copyright 2017 Copyright 2J Commerce, Inc. http://www.2jcommerce.in/
 * @license   http://www.2jcommerce.in/ Private
 * @link      http://www.jollyes.co.uk/
 */

$columnsLimit = $block->getColumnsLimit() ?: 0;
$_menu        = $block->getHtml('level-top', 'submenu', $columnsLimit);

/**
 * Top menu for store
 *
 * @var $block \Jjcommerce\MegaMenu\Block\Html\Topmenu
 */
?>

<nav class="navigation megamenu" data-action="navigation">
    <ul class="total-cat-<?php echo $block->getTopCatCount(); ?>" data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left","at":"left bottom"}}}'>
        <!-- Reversing the child block HTML call -->
        <?php /* @escapeNotVerified */ echo $block->getChildHtml(); ?>
        <?php /* @escapeNotVerified */ echo $_menu; ?>
    </ul>
</nav>
