<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

namespace TwoJay\Loyalty\view\adminhtml\templates\sales\order\totals;

use TwoJay\Loyalty\Model\LoyaltyCoupons;

// @codingStandardsIgnoreFile
/**
 * @var \TwoJay\Loyalty\Block\Adminhtml\LoyaltyCoupons $block
 */
$source = $block->getSource();
$block->setPriceDataObject($source);
?>

<?php if ((float) $source->getLoyaltyCouponsAmount()): ?>
    <?php $loyaltyCoupons = $this->helper('TwoJay\Loyalty\Helper\Data')->getLoyaltyCoupons($source); ?>
    <?php foreach ($loyaltyCoupons as $loyaltyCoupon): ?>
        <?php $baseAmount = $loyaltyCoupon[LoyaltyCoupons::BASE_AMOUNT]; ?>
        <?php $amount = $loyaltyCoupon[LoyaltyCoupons::AMOUNT]; ?>
        <?php $code = $loyaltyCoupon[LoyaltyCoupons::CODE]; ?>

        <tr>
            <td class="label"><?= $block->escapeHtml(__('PetCLUB Voucher (%1)', $code)) ?></td>
            <td>
                <?= /* @noEscape */ $block->displayPrices(-$baseAmount, -$amount) ?>
            </td>
        </tr>
    <?php endforeach; ?>
<?php endif; ?>
