<?php
/**
 * Jjcommerce_CategoryTabs
 *
 * PHP version 5.x
 *
 * @category  PHTML
 * @package   Jjcommerce\CategoryTabs
 * @author    Swapnil Tatkondawar <swapnilt@2jcommerce.in>
 * @copyright 2017 Copyright 2J Commerce, Inc. http://www.2jcommerce.in/
 * @license   http://www.2jcommerce.in/ Private
 * @link      http://www.jollyes.co.uk/
 */
?>
<?php
if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())):?>
    <?php
    $type = 'widget-product-grid';
    $mode = 'grid';
    $image = 'new_products_content_widget_grid';
    $products = $block->getProductCollection();
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;
    $_dataHelper = $this->helper('Magento\Catalog\Helper\Data');
    /** @var \Magento\Tax\Helper\Data $helper */
    $_taxHelper = $this->helper('Magento\Tax\Helper\Data');
    $pricingHelper = $this->helper('\Magento\Framework\Pricing\Helper\Data');
    $_stickerHelper = $this->helper('\Jjcommerce\ProductSticker\Helper\Data');
    $_cartHelper = $this->helper('Magento\Checkout\Helper\Cart');
    ?>
    <div class="block widget block-products-list <?php /* @escapeNotVerified */ echo $mode; ?>">

        <div class="block-content for-category-tab">
            <?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
            <div id="itemslider-category-tab-three" class="itemslider-category-tab-three itemslider-responsive products-<?php /* @escapeNotVerified */ echo $mode; ?> <?php /* @escapeNotVerified */ echo $mode; ?>">
                <ul class="products list items product-items <?php /* @escapeNotVerified */ echo $type; ?> slides">
                    <?php $iterator = 1; ?>
                    <?php foreach ($products as $_product): ?>
                        <?php if($_product->getData('is_salable')):?>
                        <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="slide item product product-item">' : '</li><li class="slide item product product-item">' ?>
                        <div class="product-item-info">
                            <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_product) ?>" class="product-item-photo">
                                <?php echo $block->getImage($_product, $image)->toHtml(); ?>
                            </a>
                            <?php if ($_stickerHelper->isEnabled()):?>
                                <?php echo $_stickerHelper->getFlagImage($_product);?>
                                <?php echo $_stickerHelper->getRibbonImage($_product);?>
                            <?php endif; ?>
                            <strong class="product-item-name">
                                <a title="<?php echo $block->escapeHtml($_product->getName()) ?>"
                                   href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_product) ?>"
                                   class="product-item-link">
                                    <?php echo $block->escapeHtml($_product->getName()) ?>
                                </a>
                            </strong>
                            <div class="product-item-details">
                                <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
                                <?php echo $block->getProductDetailsHtml($_product); ?>
                                <?php if ($templateType): ?>
                                    <?php echo $block->getReviewsSummaryHtml($_product, $templateType, true)?>
                                <?php endif; ?>

                                <div class="clearer"></div>
                                <?php if ($showCart): ?>
                                    <div class="product-item-actions">
                                        <?php if ($showCart): ?>
                                            <div class="actions-primary">
                                                <?php // if ($_product->isSaleable()): ?>
                                                <?php if ($_product->getData('is_salable')): ?>
                                                    <?php
                                                    $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                    $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()]);
                                                    $postData = json_decode($postData,true);
                                                    ?>
                                                    <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $_cartHelper->getAddUrl($_product); ?>" method="post">
                                                        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postData['data']['product']; ?>">
                                                        <?php echo $block->getBlockHtml('formkey')?>

                                                        <?php if ($_product->getTypeId()=='simple' && $_product->getData('is_subscription') != 1): ?>
                                                            <?php if($_product->getTypeInstance()->hasRequiredOptions($_product)):?>
                                                                <button class="action tocart primary view-option"
                                                                        type="submit" title="<?php /* @escapeNotVerified */ echo __('View Options') ?>">
                                                                    <span><?php /* @escapeNotVerified */ echo __('View Options') ?></span>
                                                                </button>
                                                            <?php else: ?>
                                                                <div class="qty-container">
                                                                    <a class="product-list-qty-minus"><p class="dn">-</p></a>
                                                                    <input type="number"
                                                                           name="qty"
                                                                           id="qty-<?php echo $_product->getId(); ?>"
                                                                           maxlength="12"
                                                                           value="<?php /* @escapeNotVerified */ //echo $block->getProductDefaultQty() * 1 ?>1"
                                                                           title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="validate-number input-text qty"
                                                                           data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                                                                    />
                                                                    <a class="product-list-qty-plus"><p class="up">+</p></a>
                                                                </div>
                                                                <button class="action tocart primary"
                                                                        type="submit" title="<?php /* @escapeNotVerified */ echo __('Add') ?>">

                                                                    <span><?php /* @escapeNotVerified */ echo __('Add') ?></span>
                                                                </button>
                                                            <?php endif?>
                                                        <?php else: ?>
                                                            <button class="action tocart primary view-option"
                                                                    type="submit" title="<?php /* @escapeNotVerified */ echo __('View Options') ?>">
                                                                <span><?php /* @escapeNotVerified */ echo __('View Options') ?></span>
                                                            </button>
                                                        <?php endif; ?>
                                                    </form>
                                                <?php else: ?>
                                                    <?php // if ($_product->getIsSalable()): ?>
                                                    <?php if ($_product->getData('is_salable')): ?>
                                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>

                            </div>
                        </div>
                        <?php echo($iterator == count($products)+1) ? '</li>' : '' ?>
                    <?php endif ?>
                    <?php endforeach ?>
                </ul>
            </div>
            <?php echo $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
    </script>
<?php endif; ?>