<!--
/**
 * Changelog template
 *
 * @author    Sirv Limited <support@sirv.com>
 * @copyright Copyright (c) 2018-2020 Sirv Limited <support@sirv.com>. All rights reserved
 * @license   https://sirv.com/
 * @link      https://sirv.com/integration/magento/
 *
 * @codingStandardsIgnoreFile
 */
-->

<div class="sirv-changelog-wraper">
    <% if(error){ %>
    <span class="sirv-changelog-error">
        <%= error %>
    </span>
    <% } %>
    <ul class="sirv-changelog-list">
        <% _.each(items, function(item, i) { %>
        <li class="sirv-changelog-item<% if(item.new){ %> sirv-changelog-new<% } %>">
            <span class="sirv-changelog-version">
                v<%- item.version %>
            </span>
            <span class="sirv-changelog-date"><%- item.date %></span>
            <ul class="sirv-changelog-sublist">
            <% _.each(item.changes, function(change, i) { %>
                <li class="sirv-changelog-text"><span><%- change %></span></li>
            <% }); %>
            </ul>
            <% if(i == 0){ %>
            <a href="<%- link %>" target="_blank" class="action sirv-changelog-action-link" title="Download the latest version">
                <span>Download v<%- item.version %></span>
            </a>
            <% } %>
        </li>
        <% }); %>
    </ul>
</div>
