<!--
/**
 * API limits template
 *
 * @author    Sirv Limited <support@sirv.com>
 * @copyright Copyright (c) 2018-2020 Sirv Limited <support@sirv.com>. All rights reserved
 * @license   https://sirv.com/
 * @link      https://sirv.com/integration/magento/
 *
 * @codingStandardsIgnoreFile
 */
-->

<% _.each(items, function(item, i) { %>
<tr class="even _clickable">
    <td class=""><%- item.type %></td>
    <td class="col-number"><%- item.limit %></td>
    <td class="col-number"><%- item.count %></td>
    <td class=""><%- item.reset %></td>
</tr>
<% }); %>
