<?php
/**
 * Jjcommerce_AffiliatePartnerTags
 *
 * PHP version ~5.5.0|~5.6.0|~7.0.0
 *
 * @category  PHTML
 * @package   Jjcommerce\AffiliatePartnerTags
 * @author    Swapnil Tatkondawar <swapnilt@2jcommerce.in>
 * @copyright 2017 Copyright 2J Commerce, Inc. http://www.2jcommerce.in/
 * @license   http://www.2jcommerce.in/ Private
 * @link      http://www.jollyes.co.uk/
 */
?>
<?php $_helper = $this->helper('Jjcommerce\AffiliatePartnerTags\Helper\Data'); ?>
<?php if($_helper->IsEnabled()):?>
    <?php $_merchantId = $block->getMerchantId();?>
    <?php $_order = $this->getOrder()?>
    <?php $_orderValue = sprintf('%.2f',$_order->getGrandTotal()); ?>
    <?php $_incrementId = $_order->getIncrementId(); ?>
    <?php $_products = ''; ?>
    <?php $_couponCode = $_order->getCouponCode() ? $_order->getCouponCode() : ''; ?>
    <?php $curr =$block->getCurrency()?>
    <?php foreach ($_order->getAllItems() as $_item):?>

        <?php if($_item->getParentItemId()) continue; ?>

        <?php
        # ProductID | ProductSKU | Product Name |Product Category | Product | Price | Quantity
        $_product = $_item->getProduct();
        $_category = is_object($_product) ? $_product->getCategoryCollection()->addAttributeToSelect('name')->getFirstItem() : null;
        $_categoryName = is_object($_category) && $_category->getId() && $_category->load($_category->getId()) && $_category->getName() ? $_category->getName() : ' ';
        $_products .= $_item->getProductId() .'|'. $_item->getSku() .'|'. str_ireplace(",","",$_item->getName()) .'|'. str_ireplace(",","",$_categoryName) .'|'. $_item->getPrice(). '|'. (float)$_item->getQtyOrdered(). '|,|';
        ?>
    <?php endforeach; ?>
        <script type="text/javascript" src="https://scripts.affiliatefuture.com/AFFunctions.js"></script>
        <script type="text/javascript">
            var merchantID = '<?php echo $_merchantId ?>';
            var orderValue = '<?php echo $_orderValue ?>';
            var orderRef = '<?php echo $_incrementId ?>';
            var payoutCodes = '';
            var offlineCode = '';
            var voucher = '<?php echo $_couponCode ?>';
            var products = '<?php echo trim($_products, '|,|') ?>';
            var curr ='<?php echo $curr ?>';
            AFProcessSaleV5(merchantID, orderValue, orderRef,payoutCodes,offlineCode, voucher, products, curr);
        </script>
<?php endif; ?>
