<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($block->customerLoggedIn()): ?>


    <li class="customer-welcome">
        <a href="<?php /* @escapeNotVerified */
        echo $block->getUrl('customer/account') ?>" class="mobile-login">
            <span class="customer-name">
            <span><?php /* @escapeNotVerified */
                echo __('Account') ?></span>
        </span>
        </a>
        <span class="customer-name"
              role="link"
              tabindex="0"
              data-mage-init='{"dropdown":{}}'
              data-toggle="dropdown"
              data-trigger-keypress-button="true"
              data-bind="scope: 'customer'">
            <span><?php /* @escapeNotVerified */
                echo __('Account') ?></span>
            <button type="button"
                    class="action switch"
                    tabindex="-1"
                    data-action="customer-menu-toggle">
                <span><?php /* @escapeNotVerified */
                    echo __('Change') ?></span>
            </button>
        </span>
        <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "customer": {
                            "component": "Magento_Customer/js/view/customer"
                        }
                    }
                }
            }
        }

        </script>
        <?php if ($block->getChildHtml()): ?>
            <div class="customer-menu" data-target="dropdown">
                <?php echo $block->getChildHtml(); ?>
            </div>
        <?php endif; ?>
    </li>
    <?php if ($this->helper('TwoJay\Loyalty\Helper\Data')->isModuleEnabled()): ?>
        <script type="text/javascript">
            require([
                    'jquery'
                ],
                function ($) {
                    $(document).ready(function () {
                        $('body').addClass('loyalty-account-nav');
                    });
                });
        </script>
    <?php endif; ?>
<?php endif; ?>
