@color_1: #3b3939;
& when (@media-common = true) {
  .c-sidebar.c-sidebar--categories {
    border: 2px solid #d8d8d8;
    ul.o-list.main-list {
      padding: 10px 0;
      @media @desktop1023{
        height: 100%;
        left: 0;
        padding: 0;
        position: relative;
        top: 0;
        width: 100%;
      }
    }
    li {
      > div.inner-container{
        position: absolute;
        left: 100%;
        width: 350px;
        background: #fff;
        border-radius: 10px;
        border: 2px solid #bdbdbd;
        top: -63px;
        margin-left: 15px;
        padding: 10px 0;
        height: auto;
        display: none;
        min-height: 300px;
        z-index: 5;
        @media @desktop1023{
          position: unset;
          width: 100%;
          background: none;
          border-radius: 0;
          border: 0;
          margin-left: 0;
          padding: 0;
          height: 100%;
        }
          > span.opening-arrow{
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            transform: rotate(45deg);
            left: -13px;
            background: #fff;
            top: 75px;
            border-left: 2px solid #bdbdbd;
            border-bottom: 2px solid #bdbdbd;
            @media @desktop1023{
              display: none;
            }
          }
      }
      border-bottom: 0 none;
      padding: 10px 20px !important;
      margin: 0;
      font-size: 15px;
      &:hover {
        background: #f4f4f4;
        @media @desktop1023{
          background: transparent;
        }
      }
      >a {
        color: @color_1;
        font-family: @montserratbold;
        width: 90%;
        box-sizing: border-box;
        &:hover{
          text-decoration: none;
        }
      }

      @media @desktop1023{
        border-bottom: 2px solid #d8d8d8;
        position: unset;

        &:last-child{
          border-bottom: 0 none;
        }
      }
    }

    li.cat-title{
      display: none;
      @media @desktop1023{
        display: block;
        font-size: 15px;
        font-weight: 600;
        font-family: @montserratbold;
        text-transform: uppercase;
        a{
          padding-left: 5px !important;
        }
        .cat-arrow{
          display: inline-block;
          margin-right: 5px;
          vertical-align: middle;
          i{
            transform: rotate(180deg);
          }
        }
      }
    }

    li.level1
    {
      .inner-container {
        position: absolute;
        width: 300px;
        left: 93%;
        background: #fff;
        height: 100%;
        top: -12px;
        border-right: 2px solid #bdbdbd;
        border-top: 2px solid #bdbdbd;
        border-bottom: 2px solid #bdbdbd;
        border-left: 0 none;
        padding: 10px 0;
        border-radius: 0px 10px 10px 0;
        z-index: 5;
        @media @desktop1023{
          border-radius: 0;
          padding: 0;
          height: auto;
          background: transparent;
          border-top: 0;
        }
        .o-list{
          height: 100%;
          border-left: 1px solid #bdbdbd;
          overflow-y: auto;
          @media @desktop1023{
            border-left: 0;
          }
        }
        span.opening-arrow {
          display: none;
        }
      }
      a{
        padding-left: 25px;
      }
    }

    li.level0{
      position: relative;
      border-bottom: 0;
      div.inner-container{
        @media @desktop1023{
          position: absolute;
          width: 100%;
          left: 100%;
          top: 0;
          display: none;
          border-left: 0;
          border-right: 0;
          border-bottom: 0;
        }
      }

      ul.o-list{
        position: relative;
      }

      ul.o-list.open{
        display: block;
      }
    }

    >h3 {
      margin: 0;
      border-bottom: 2px solid #d8d8d8;
      padding: 15px 20px 15px 20px;
      font-family: @montserratbold;
      background: #f4f4f4;
      text-transform : uppercase;
      font-size: 18px;
        span.cat-main-title{
          display: none;
          @media @desktop1023 {
            float: right;
            transform: rotate(90deg);
            display: block;
          }
        }
        span.cat-main-title.active {
          @media @desktop1023 {
            transform: rotate(270deg);
          }
        }
    }

    @media @desktop1023 {
      position: relative;
      overflow-y: auto;
    }

    .outer-container{
      @media @desktop1023{
        display: block;
        position: relative;
        min-height: auto;
      }
    }
  }

}