& when (@media-common = true) {
  @media @desktop1023 {
    .breadcrumbs, .page-main {
      padding-left: 20px;
      padding-right: 20px;
    }
    .sidebar-main {
      padding-right: 0;
    }
  }
  //banner block Category
  .page-with-filter.ambrand-index-index.page-layout-2columns-left.category-banner-show,
  .page-with-filter.amshopby-index-index.page-layout-2columns-left.category-banner-show{
    .category-view{
      .banner-image{
        .banner-block1{
          display: none;
        }
        .banner-block2{
          display: none;
        }
      }
    }
    .category-cms{
      .banner-block-cat{
        display: none;
      }
    }
  }
  .banner-block-cat {
    display: flex;
    .banner-block2 {
      max-height: 220px;
      max-width: 548px;
    }
    .banner-block1 {
      max-height: 220px;
      max-width: 548px;
    }
    .banner-block1-image {
      float: left;
      margin-right: 10%;
      max-width: 114px;
      width: 23%;
    }
    .banner-block2-image {
      float: left;
      margin-right: 10%;
      max-width: 102px;
      width: 20%;
    }
    .for-text1 {
      font-size: 46px;
      line-height: 80px;
    }
    .heading-text1 {
      font-size: 25px;
      line-height: 27px;
    }
    .for-text2 {
      font-size: 48px;
      line-height: 75px;
    }
    .heading-text2 {
      font-size: 25px;
      line-height: 31px;
    }
    .shop-text1 {
      bottom: 20px;
      font-size: 16px;
      height: 50px;
      line-height: 50px;
      margin-top: 0;
      width: 180px;
    }
    .shop-text2 {
      bottom: 20px;
      font-size: 16px;
      height: 50px;
      line-height: 50px;
      margin-top: 0;
      width: 180px;
    }
  }
  .banner-img-text {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .banner-block-cat {
    .banner-block1-image {
      float: left;
      margin-right: 0;
      width: auto;
      position: absolute;
      top: 0;
      left: 0;
      max-width: 30%;
    }
    .banner-block2-image {
      float: left;
      margin-right: 0;
      width: auto;
      position: absolute;
      top: 0;
      left: 0;
      max-width: 30%;
    }
  }
  .banner-block1-text {
    color: #fff;
    float: left;
    font-family: Montserrat;
    position: absolute;
    left: 35%;
    height: 100%;
    top: 0;
  }
  .banner-block2-text {
    color: #fff;
    float: left;
    font-family: Montserrat;
    position: absolute;
    left: 35%;
    height: 100%;
    top: 0;
  }
  .banner-block2-image.img-height {
    height: 95%;
    img {
      height: 100%;
    }
  }

  @media only screen and  (max-width: 1300px) {
    .banner-block-cat {
      .for-text1 {
        font-size: 26px;
        line-height: 51px;
      }
      .heading-text1 {
        font-size: 14px;
        line-height: 18px;
      }
      .for-text2 {
        font-size: 27px;
        line-height: 51px;
      }
      .heading-text2 {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  @media @desktop1023 {
    .banner-block.category-banner-image {
      max-width: none;
      width: 100%;
    }
    body .columns {
      display: flex;
    }
    .page-layout-2columns-left {
      .column.main {
        float: right;
        order: 2;
        width: 100%;
      }
      .sidebar-main {
        float: left;
        order: 1;
        width: 100%;
      }
    }
    .banner-block-cat {
      margin-top: 20px;
      .banner-image {
        display: none;
      }
      .for-text1 {
        font-size: 31px;
        line-height: 52px;
      }
      .heading-text1 {
        font-size: 17px;
        line-height: 18px;
      }
      .for-text2 {
        font-size: 31px;
        line-height: 45px;
      }
      .heading-text2 {
        font-size: 16px;
        line-height: 20px;
      }
      .shop-text1 {
        bottom: 17px;
        font-size: 10px;
        height: 34px;
        line-height: 34px;
        width: 120px;
      }
      .shop-text2 {
        bottom: 17px;
        font-size: 10px;
        height: 34px;
        line-height: 34px;
        width: 120px;
      }
    }
  }
  @media @mobileonly767 {
    .banner-block-cat {
      display: block;
      margin-top: 15px;
      img {
        vertical-align: top;
      }
      .banner-block1 {
        background: #12a4ee none repeat scroll 0 0;
        margin-bottom: 15px;
        margin-right: 0;
        max-height: 220px;
        max-width: none;
        width: 100%;
      }
      .banner-block2 {
        background: #e5b500 none repeat scroll 0 0;
        max-height: 220px;
        max-width: none;
        width: 100%;
      }
      .for-text1 {
        font-size: 24px;
        line-height: 40px;
      }
      .heading-text1 {
        font-size: 13px;
        line-height: 18px;
      }
      .shop-text1 {
        bottom: 15px;
        font-size: 8px;
        height: 25px;
        line-height: 25px;
        width: 98px;
      }
      .shop-text2 {
        bottom: 15px;
        font-size: 8px;
        height: 25px;
        line-height: 25px;
        width: 98px;
      }
      .for-text2 {
        font-size: 25px;
        line-height: 40px;
      }
      .heading-text2 {
        font-size: 13px;
        line-height: 16px;
      }
      .banner-img-text2 {
        left: 8%;
        width: 92%;
      }
    }

  }
  //Popular Category
  .image-height {
    height: 100%;
  }
  @media only screen and (min-width: 1023px) {
    .page-layout-2columns-left {
      .column.main {
        width: 79.6%;
      }
      .sidebar-main {
        width: 20.4%;
      }
    }
  }
  .shop-subcategory {
    h2 {
      color: #3b3939;
      font-family: @montserratbold;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  .popular1 {
    display: flex;
    justify-content: space-between;
  }
  .popular2 {
    display: flex;
    justify-content: space-between;
  }
  .popular1-1 {
    display: flex;
    width: 50%;
  }
  .popular1-2 {
    display: flex;
    width: 50%;
  }
  .popular2-1 {
    display: flex;
    width: 50%;
  }
  .popular2-2 {
    display: flex;
    width: 50%;
  }
  .subcat {
    background: #46b099;
    background: -moz-radial-gradient(center, ellipse cover, #46b099 0%, #1aa386 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #46b099 0%,#1aa386 100%);
    background: radial-gradient(ellipse at center, #46b099 0%,#1aa386 100%);
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    min-height: 180px;
    position: relative;
    width: 49%;
    img {
      bottom: 0;
      position: absolute;
      right: 5px;
      vertical-align: middle;
      max-width: 85%;
      width: auto;
    }
    span {
      color: #fff;
      font-family: @montserratbold;
      font-size: 20px;
      left: 20px;
      line-height: 23px;
      position: absolute;
      top: 20px;
    }
  }
  .subcat.subcat4 {
    margin-right: 0;
  }
  .subcat.subcat8 {
    margin-right: 0;
  }
  @media @desktop1023 {
    .popular1 {
      display: block;
      justify-content: space-between;
    }
    .popular2 {
      display: block;
      justify-content: space-between;
    }
    .popular1-1 {
      justify-content: space-between;
      width: 100%;
    }
    .popular1-2 {
      justify-content: space-between;
      width: 100%;
    }
    .popular2-1 {
      justify-content: space-between;
      width: 100%;
    }
    .popular2-2 {
      justify-content: space-between;
      width: 100%;
    }
    .subcat.subcat2 {
      margin-right: 0;
    }
    .subcat.subcat6 {
      margin-right: 0;
    }
    .subcat {
      width: 49%;
    }
  }
  @media @mobileonly767 {
    .subcat {
      margin-bottom: 15px;
      margin-right: 15px;
      min-height: 70px;
      position: relative;
      width: 47.5%;
      span {
        font-size: 12px;
        left: 15px;
        line-height: 12px;
        top: 15px;
      }
      img {
        height: 100%;
      }
    }
  }
  //Featured prodduct slider
  #itemslider-featured-products {
    width: 100%;
    display: inline-block;
  }
  .block.widget.block-products-list.grid {
    border: 2px solid #d1d1d1;
    overflow: hidden;
  }
  .block-content.for-featured-products {
    margin: 8px auto;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }
  .product-item {
    float: left;
    .product-item-info {
      border-radius: 5px;
      box-shadow: 0 0 12px 0 #fff;
      float: none;
      border: none;
      margin: 0;
      box-sizing: border-box;
      width: 100%;
      &:hover {
        border: none;
        box-shadow: 0 0 15px 0 #f0f0f0;
      }
    }
    .product-item-info.active {
      border: none;
      box-shadow: 0 0 15px 0 #f0f0f0;
    }
  }
  .direction-nav {
    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }
  }
  // .column.main {
  //   .product-items {
  //     margin: 0;
  //   }
  // }
  h2 {
    color: #3b3939;
    font-family: @montserratbold;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  @media @desktop1023 {
    .products-grid {
      .product-item-info {
        &:hover {
          padding: 10px;
        }
      }
    }
    .product-item {
      .product-item-info {
        padding: 10px;
      }
    }
  }
  @media @mobileonly767 {
    .block.widget.block-products-list.grid {
      border: medium none;
      margin: 0 -15px;
    }
    .product-item {
      .product-item-info {
        border-radius: 5px;
        box-shadow: 0 0 5px 0 #fff;
        padding: 10px;
        &:hover {
          border: medium none;
          box-shadow: 0 0 5px 0 #f0f0f0;
        }
        .product-item-details {
          .product-item-actions {
            .actions-primary {
              .action.tocart.primary {
                float: none;
                text-align: center;
                width: 100%;
              }
            }
          }
        }
      }
      .product-item-info.active {
        border: medium none;
        box-shadow: 0 0 5px 0 #f0f0f0;
      }
    }
    .products-grid {
      .product-item-info {
        &:hover {
          padding: 10px;
        }
      }
    }
    .qty-container {
      display: none;
    }
  }
  //brand slider
  .amslider-container {
    background: #fff;
    border: 2px solid #d1d1d1;
    padding: 20px 0;
    position: relative;
  }
  .brands-slider.itemslider-responsive {
    margin: 10px auto 0;
    width: 93%;
  }
  ul.slides {
    margin: 0;
    padding: 0;
  }
  li.slide {
    margin: 0;
    padding: 0;
  }
  .direction-nav {
    margin: 0;
    .prev {
      left: 5px;
    }
    .next {
      right: 5px;
    }
    li {
      margin: 0;
    }
  }
  .swiper-slide {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 75%;
    > img {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); //Firefox 10+, Firefox on Android
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      transition: all 1000ms ease 0s;
    }
    &:hover > img {
      filter: none;
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -ms-filter: grayscale(0);
      -o-filter: grayscale(0);
      filter: grayscale(0);
      transition: all 1000ms ease 0s;
    }
  }
  @media @desktop1023 {
    .amslider-container {
      padding: 8px 0;
      .direction-nav .prev, .direction-nav .next {
        top: 39%;
      }
    }
    .brands-slider.itemslider-responsive {
      margin: 15px auto 0;
    }
  }
  @media @mobileonly767 {
    .amslider-container {
      margin: 0 -15px;
      padding: 8px 0;
      .direction-nav .prev, .direction-nav .next {
        top: 39%;
      }
    }
    .brands-slider.itemslider-responsive {
      margin: 15px auto 0;
      width: 85%;
    }
    .swiper-slide {
      display: block;
      margin: 0 auto;
      width: 75% !important;
      text-align: center;
    }
  }
}