
& when (@media-common = true) {
  //for banner Listing
  h1 {
    color: #3b3939;
    font-family: @montserratbold;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .category-description {
    >p {
      color: #939191;
      font-family: latoregular;
      font-size: 14px;
      line-height: 25px;
    }
  }
  .banner-image {
    display: none;
  }
  .page-with-filter {
    .main {
      .banner-block-image {
        display: none;
      }
    }
  }
  .banner-block-cat {
    display: flex;
  }
  .category-view {
    display: flex;
    justify-content: space-between;
  }
  .banner-block.category-banner-image {
    max-width: 570px;
    width: 41%;
  }
  .page-with-filter .banner-image {
    display: block;
    width: 59%;
  }
  .banner-block1 {
    margin-right: 2%;
    max-height: 177px;
    max-width: 405px;
    position: relative;
    width: 49%;
  }
  .banner-img-text1 {
    left: 5%;
    position: absolute;
    top: 7%;
    width: 95%;
    height: 92%;
  }
  .banner-block1-image {
    float: left;
    margin-right: 7%;
    max-width: 95px;
    width: 25%;
  }
  .banner-block2 {
    max-width: 405px;
    max-height: 177px;
    position: relative;
    width: 49%;
  }
  .banner-img-text2 {
    left: 5%;
    position: absolute;
    top: 7%;
    width: 95%;
    height: 92%;
  }
  .banner-block2-image {
    float: left;
    margin-right: 7%;
    max-width: 80px;
    width: 21%;
  }
  .banner-block1-text {
    color: #fff;
    float: left;
    font-family: @montserratbold;
  }
  .banner-block2-text {
    color: #fff;
    float: left;
    font-family: @montserratbold;
  }
  .banner-block-image {
    display: flex;
    a {
      display: block;
      height: 100%;
      min-height: 177px;
      > img {
        height: 100%;
      }
    }
  }
  .banner-img-text {
    span {
      display: block;
    }
  }
  .for-text1 {
    font-size: 33px;
    line-height: 70px;
  }
  .heading-text1 {
    font-size: 18px;
    line-height: 18px;
  }
  .shop-text1 {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 15px;
    clear: left;
    color: #000;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    margin-top: 13px;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 150px;
  }
  .for-text2 {
    font-size: 35px;
    line-height: 60px;
  }
  .heading-text2 {
    font-size: 18px;
    line-height: 25px;
  }
  .shop-text2 {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    bottom: 15px;
    clear: left;
    color: #000;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    margin-top: 13px;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 150px;
  }

  @media @ipadLandcap {
    .page-layout-2columns-left {
      &.page-products {
        .products-grid {
            .product-item {
                margin-left: 2%;
                padding: 5px;
                width: calc(~'(100% - 4%)/3');
                &:nth-child(2n + 1) {
                    margin-left: 2%;
                }
                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
      }
    }
  }

  @media only screen and (max-width: 1300px) {
    .for-text1 {
      font-size: 26px;
      line-height: 51px;
    }
    .heading-text1 {
      font-size: 14px;
      line-height: 18px;
    }
    .for-text2 {
      font-size: 27px;
      line-height: 51px;
    }
    .heading-text2 {
      font-size: 14px;
      line-height: 18px;
    }
  }
  @media only screen and (max-width: 1023px) {
    .banner-block.category-banner-image {
      max-width: none;
      width: 100%;
    }
    .page-with-filter .banner-image {
      display: none;
    }
  }
  //Listing grid view

  @media only screen and (max-width: 1400px) {
    .breadcrumbs {
      padding-left: 20px;
      padding-right: 20px;
    }
    .page-main {
      padding-left: 20px;
      padding-right: 20px;
    }
    .page-products {
      .product-item-info {
        width: auto;
      }
      .products-grid {
        .product-item {
          width: 33.333%;
        }
      }
    }
  }
  .toolbar {
    margin-bottom: 8px;
    text-align: center;
  }
  .products {
    margin: 0;
  }
  .list {
    .product-item {
      padding: 0 !important;
    }
  }
  .column.main {
    .product-items {
      margin: 0 -0.5%;
    }
  }
  @media @mobileonly767 {
    .page-products {
      .products-grid {
        .product-item {
          width: ~"calc(50% - 2%)";
        }
      }
    }
  }
  .product-item-details {
    .product.name.product-item-name.md-is-subscription {
      display: none;
    }
  }
  //Default serach
  .catalogsearch-result-index {
    .product-item-actions {
      .actions-secondary {
        display: none !important;
      }
    }
    .filter-options {
      .amshopby-category-labels-folding {
        a.amshopby-filter-parent {
          padding-left: 0 !important;
        }
      }
      .amshopby-category-dropdown-view {
        a.amshopby-filter-parent {
          padding-left: 0 !important;
        }
      }
    }
    .item {
      .filter-options {
        .items {
          ol {
            list-style: none;
            padding-left: 0;
          }
        }
      }
    }
    .search.results {
      .block {
        display: none;
      }
    }
    .stock.unavailable {
      height: 40px;
      margin-top: 10px;
    }
  }
  //Klevu search
  .search-index-index {
    .kuGridView ul li .kuAddtocart {
      padding-left: 0;
    }
    .kuAddtocart a.kuAddtocartBtn {
      background: #f9cf00;
      color: #3b3939 !important;
      padding: 9px 9px;
      font-size: 11px;
      line-height: 19px;
      font-family: Montserrat;
      font-weight: 900;
    }
  }
  @media only screen and (min-width: 640px) {
    .product-item-actions {
      .actions-primary + .actions-secondary {
        display: table-cell;
      }
    }
  }
}