@mobileonly: ~"only screen and (max-width: 767px)";
& when (@media-common = true) {
  .catalog-product-view{
    .page-wrapper{
      display: block !important;
    }
  }

  div.product-info-main {
    div.title-reviews{
      &::after{
        clear: both;
        display: block;
        content: "";
      }
    }

    div.product-info-stock-sku{
      color: #cfd0cf;
      font-family: latoregular;
    }

    .product.attribute.overview{
      font-family: latoregular;
      color: #8b8a8a;
      font-weight: 400;
    }
  }

  .product.info.detailed{
    .product.attribute.description{
      font-family: latoregular;
      color: #8b8a8a;
      font-size: 15px;
    }
  }


  .block.upsell {
    float: left;
    position:relative;
    width: 49%;
    margin-right: 2%;
  }
  .block.related {
    float: left;
    position:relative;
    width: 49%;
    .related-available {
      .product-item-name {
        margin: 0 auto;
      }
    }
  }
  .block-title.title {
    text-align: center;
    text-transform: uppercase;
  }
  .block {
    .title {
      strong {
        font-family: @montserratbold;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }

  .content-aside-wrapper-products {
    &:after {
      clear: both;
      content: "";
      display: block;
    }
    .direction-nav {
      .prev {
        left: auto;
        right: 30px;
        top: 0;
      }
      .next {
        right: 0;
        top: 0;
      }
    }
    .product-item {
      .product-item-info {
        margin: 7px !important;
        padding: 10px;
        width: auto;
        .product-item-details {
          .product-item-actions {
            .actions-primary {
              .action.tocart.primary {
                width: 42%;
                margin-left: 0;
                margin-top: 10px;
              }
            }
          }
          .price-box {
            .price {
              font-size: 15px;
            }
            .price-label {
              font-size: 15px;
            }
            .save-price {
              font-size: 13px;
              .price {
                font-size: 13px;
              }
            }
            .old-price {
              .price-label {
                font-size: 13px;
              }
              .price {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
  .slides {
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  .products.itemslider-responsive{
    ol.product-items{
      li.item {
        width: 228px;
      }
    }
  }

  @media only screen and (max-width: 1023px) {
    .block.upsell {
      width: 100%;
    }
    .block.related {
      width: 100%;
    }
  }

  @media only screen and (max-width: 767px) {
    .content-aside-wrapper-products {
      .direction-nav {
        .prev {
          left: 0;
        }
      }
    }
    .content-aside-wrapper-products {
      .product-item {
        .product-item-info {
          .product-item-details {
            .product-item-actions {
              .actions-primary {
                .action.tocart.primary {
                  width: 100%;
                }
              }
            }
            .price-box {
              .save-price {
                .price {
                  font-size: 13px !important;
                }
              }
            }
          }
        }
      }

    }
  }

  @media only screen and (max-width: 479px) {
    .content-aside-wrapper-products {
      .product-item {
        .product-item-info {
          padding: 7px;
        }
      }
    }
  }


  .fotorama__thumb{
    border: 2px solid #bdbdbd;
    max-width: 80px;
  }


  @media only screen and (max-width: 479px) {
    .content-aside-wrapper-products {
      .product-item {
        .product-item-info {
          padding: 7px;
        }
      }
    }
  }



  .product.media{
    border:  2px solid #bdbdbd !important;
    padding: 1.5% !important;
    @media @mobileonly{
      border : 2px solid #bdbdbd !important;
    }

  }

  .fotorama__stage{
    @media @mobileonly{
      border : 0 none;
    }
  }

  .fotorama__nav__shaft{
    .fotorama__thumb-border{
      background-image: none;
      background-color: #00ace2;
      opacity: 0.1;
    }
  }

  .fotorama__stage.fotorama__shadows--left:before, .fotorama__nav.fotorama__shadows--left:before {
    background-image: none;
  }
  .fotorama__stage.fotorama__shadows--right:before, .fotorama__nav.fotorama__shadows--right:before {
    background-image: none;
  }
  .product.info.detailed {
    [data-content-type='row'][data-appearance='contained'] {
      max-width: 100%;
    }
  }
  .product.info.detailed {
    [data-content-type='row'][data-appearance='contained'] [data-element='inner'] {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
  .fotorama__arr--prev, .fotorama__arr--next {
    background-color: transparent !important;
    @media @mobileonly{
      display: block !important;
    }
      .fotorama__arr__arr {
        @media @mobileonly{
          height: 30px !important;
          width: 30px !important;
          border-radius: 50%;
          border: 2px solid #bdbdbd;
      }
    }
  }

  @media @mobileonly{
  .fotorama__arr--prev {
    left: -20px !important;
    .fotorama__arr__arr {
        background-position: -27px -265px !important;
      }
    }
  }

  @media @mobileonly{
  .fotorama__arr--next {
    right: -20px !important;
    .fotorama__arr__arr {
        background-position: -25px -345px !important;
      }
    }
  }

  .fotorama__arr--prev, .fotorama__arr--next {
    @media @mobileonly{
      display: block !important;
    }
  }

  .fotorama__nav--thumbs{
    @media @mobileonly{
      display: none !important;
    }
  }
}