@desktop1023: ~"only screen and (max-width: 1023px)";
& when (@media-common = true) {
  body {
    color: #676565;
    font-family: latoregular,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
  .page-product-grouped.catalog-product-view .total-price{
    display: none;
  }

  //banner text
  .page-product-grouped {
    .product-info-price {
      float: left;
      width: auto;
    }
  }
  .product.attribute.banner_message {
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    padding: 15px 0 15px 20px;
    clear: left;
  }
  .grouped td {
    padding: 0;
  }
  .grouped .product-free-delivery {
    display: none;
  }
  .table-wrapper.grouped {
    margin-bottom: 0;
  }
  .product-info-main .grouped .amxnotif-block {
    margin: 0;
  }
  .banner_message {
    .value {
      >p {
        color: #f71436;
        font-family: latoregular;
        color: #e00814;
        font-family: latoregular;
        line-height: 25px;
        margin: 0;
      }
    }
  }

  //product price classes
  .product-info-main {
    .product-info-price {
      border-bottom: none;
      margin-top: 25px;
      .price-box {
        font-family: @montserratbold;
        >span {
          margin-right: 5%;
        }
        >span.save-price {
          margin: 0;
        }
        .price-container {
          >span {
            color: #00ace2;
            display: inline-block;
            font-size: 36px;
            height: auto;
            line-height: 36px;
            margin-bottom: 5px;
            overflow: visible;
            position: static;
            width: auto;
          }
        }
        .old-price {
          .price-container {
            >span {
              color: #bdbdbd;
              font-size: 22px;
            }
          }
        }
      }
      .special-price {
        .price-label {
          &::after {
            content: "";
          }
        }
      }
    }
  }
  .product-options-bottom {
    border-top: 1px solid #c9c9c9;
    .price-box {
      .price-container {
        .price {
          font-size: 36px;
          font-weight: 400;
          line-height: 36px;
        }
      }
    }
  }
  .product-info-price {
    .price-box {
      .price-container {
        .price {
          font-size: 36px;
          font-weight: 400;
          line-height: 36px;
        }
      }
    }
  }
  .save-price {
    color: #e00814;
    font-size: 22px;
  }

  .catalog-product-view{
    .box-tocart{
      margin: 0;

      .field.qty{
        padding-left: 20px;
      }

      .wrapper-price{
        border-top: 2px solid #bdbdbd;
        background: #f4f4f4;
        height: 100%;
        padding: 30px 20px;

        .total-price{
          float: left;
          height: 50px;
          line-height: 50px;
          span.label,span.price{
            font-size: 36px;
            color: #3b3939;
            font-family: @montserratbold;
          }

          span.label{
            text-transform: uppercase;
          }
        }

        .actions{
          float: right;
          width: 50%;
          button{
            height: 50px;
            margin: 0;
            padding: 0;
            width: 100% !important;
            span {
              background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -373px -117px;
              display: inline-block !important;
              font-family: Montserrat;
              font-weight: 900;
              font-size: 16px;
              line-height: 27px;
              padding-left: 32px;
            }
          }
        }
        &::after{
          clear: both;
          display: block;
          content: "";
        }
      }
    }
    .fotorama-item {
      .fotorama__caption {
        display: none;
      }
    }
  }

  #sucess.out-of-stock::before {
    display: none !important;
  }
  #sucess {
    float: right;
    display: block !important;
  }
  #sucess.out-of-stock {
    float: right;
    font-size: 12px;
    > p {
      float: left;
      position: relative;
      top: 18px;
      color: #e00814;
      transform: rotate(90deg);
      font-weight: bold;
      padding: 0;
      margin: 0;
      font-size: 18px;
    }
  }
  #sucess.low-stock {
    float: right;
    color: #FAAF39;
    > p {
      float: left;
      position: relative;
      top: 19px;
      color: #FAAF39;
      padding: 0;
      margin: 0 5px 0 0;
      font-size: 16px;
    }
  }
  #sucess.success::before {
    position: relative;
    top: 1px;
  }

  //brand logo
  .page-title-wrapper.product {
    position: relative;
  }
  .amshopby-option-link {
    img {
      max-height: 88px;
      max-width: 190px;
    }
  }

  //configurable options
  .field.configurable {
    border-top: 1px solid #c9c9c9;
    margin-bottom: 15px;
    padding-top: 15px;
    .label {
      color: #676565;
      font-family: latoregular;
      font-size: 14px;
      font-weight: 400;
      min-width: 90px;
      float: left;
      line-height: 30px;
      margin-top: 5px;
      span {
        &::after {
          color: #e02b27;
          content: "*";
        }
      }
    }
  }
  .fieldset {
    .field.configurable {
      .label {
        &::after {
          color: #676565;
          content: ":";
          margin: 0;
        }
      }
    }
  }
  .product-add-form {
    .product-options-wrapper {
      .field {
        &:not(.date) {
          >.control {
            display: inline-block;
            max-width: 170px;
            width: 80%;
          }
        }
      }
    }
    .subscription-content.active {
      display: inline-block;
    }
    .subscription-content {
      padding: 25px 10px 16px 10px;
      display: none;
      width: 98%;
      border-top: 1px solid #c9c9c9;
      .subscription-data {
        display: inline-block;
        width: 100%;
        .subscription-item {
          display: inline-block;
          padding: 0 10px;
          position: relative;
          float: left;
          height: 22px;
          .subscription-text {
            padding: 0 0 0 10px;
            color: #000000;
            position: relative;
            top: -2px;
          }
        }
        .subscription.subscription-item {
          .subscribe-content {
            float: left;
          }
        }
        input[type="radio"] {
          opacity: 0;
          z-index: 2;
          position: relative;
        }
        input[type="radio"] + .sub-icon {
          background: transparent url("@{baseDir}images/dot.png") no-repeat scroll 0 0;
          float: left;
          left: 8px;
          margin-left: 0;
          padding-left: 0px;
          position: absolute;
          top: 0;
          height: 17px;
          width: 18px;
          cursor: pointer;
          z-index: 1;
        }
        input[type="radio"]:checked + .sub-icon {
          background: transparent url("@{baseDir}images/active-dot.png") no-repeat scroll 0 0;
        }
      }
      #md_subscription_content {
        display: inline-block;
        float: right;
        width: 42%;
        padding: 0 18px 0 0;
        position: relative;
        top: -2px;
        height: 22px;
        .product-options-wrapper {
          display: none;
        }
        #product-subscription-customer.product-options-wrapper {
          display: block;
          margin: 0;
          .control {
            float: right;
            max-width: none;
            width: 72%;
            margin: -5px 0 0 0;
          }
          label {
            font-weight: normal;
            margin: 0;
          }
        }
      }
    }
  }
  select {
    border: 1px solid #c2c2c2;
    color: #252323;
    font-family: latoregular;
    font-size: 14px;
    padding-left: 10px;
    height: 41px;
    @media @mobileonly767{
      height: 35px;
    }
  }

  //tabbing
  .data.switch {
    color: #3b3939 !important;
    font-family: @montserratbold;
    font-size: 16px !important;
    text-transform: uppercase;
  }
  .product.info.detailed {
    .product.data.items {
      >.item.title {
        >.switch {
          border-color: #dadada #dadada currentcolor;
          border-width: 2px 2px medium;
          height: 50px;
          line-height: 50px;
          min-width: 190px;
          padding: 1px 21px;
          text-align: center;
        }
        margin: 0 -2px 0 0;
      }
      >.item.title.active {
        >.switch {
          padding-bottom: 3px;
          &:focus {
            padding-bottom: 3px;
          }
          &:hover {
            padding-bottom: 3px;
          }
        }
      }
      >.item.content {
        background: #ffffff none repeat scroll 0 0;
        border: 2px solid #dadada;
        margin-top: 54px;
        padding: 20px;
      }
    }
  }
  .product.info.detailed .product.attribute.description {
    p {
      font-size: 16px;
      line-height: 25px;
    }
  }
  .product-specs {
    strong {
      color: #3b3939;
      font-family: @montserratbold;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
    }
    p {
      font-size: 16px;
      line-height: 25px;
    }
    p.demand-text {
      color: #bdbdbd;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 35px;
    }
    a {
      color: #00ace2;
    }
  }
  .nutrition {
    strong {
      color: #3b3939;
      font-family: @montserratbold;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 25px;
    }
    p {
      font-size: 16px;
      line-height: 25px;
    }
    a {
      color: #00ace2;
    }
  }

  //Reviews and rating
  .choice.field label#Rating_rating_label > span {
    padding-left: 0 !important;
  }
  .actions-toolbar.review-form-actions {
    text-align: left;
  }
  .review-control-vote label::before {
    color: #f9cf00;
  }
  #customer-reviews {
    .block-title {
      display: none;
    }
  }
  .block-title.customer-rating {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 2px solid #dadada;
    padding: 20px;
    strong {
      color: #3b3939;
      font-family: @montserratbold;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
      &::after {
        color: #3b3939;
        content: '\e621';
        float: right;
        font-family: luma-icons;
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
  #product-review-container {
    .block-content {
      border-left: 2px solid #dadada;
      border-right: 2px solid #dadada;
      padding: 0 20px;
    }
  }
  .block.review-add {
    border-bottom: 2px solid #dadada;
    border-left: 2px solid #dadada;
    border-right: 2px solid #dadada;
    padding: 0 20px;
    .block-title {
      >strong {
        color: #3b3939;
        font-family: @montserratbold;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
      }
    }
  }
  .review-log {
    >a {
      background: #f9cf00 none repeat scroll 0 0;
      border-radius: 5px;
      color: #3b3939 !important;
      display: inline-block;
      font-family: @montserratbold;
      font-size: 16px;
      height: 50px;
      line-height: 50px;
      margin-right: 40px;
      min-width: 175px;
      text-align: center;
    }
    a.review-register {
      background: #e9e9e9 none repeat scroll 0 0;
      margin-left: 40px;
      margin-right: 0;
    }
    padding-top: 35px;
  }
  #review-form.message.info {
    background: transparent none repeat scroll 0 0;
    color: #676565;
    font-size: 16px;
    margin: 0 0 20px;
    padding: 35px 0 0;
    >* {
      &:first-child {
        &::before {
          content: "";
        }
      }
    }
  }
  .review-toolbar {
    border-top: medium none;
    margin: 0;
  }
  .review-add {
    .block-title {
      display: block;
      padding-top: 20px;
    }
  }
  .review-ratings ~ .review-content, .review-ratings ~ .review-details, .review-ratings ~ .review-title {
    margin-left: 155px;
  }
  .review-item {
    float: left;
    padding: 20px 0;
    width: 49%;
    &:last-child {
      border-width: 1px;
    }
    &:nth-child(2n+1) {
      clear: left;
      margin-right: 15px;
    }
  }
  .review-details {
    color: #bdbdbd;
    font-family: @montserratbold;
    margin: 15px 0;
  }
  .review-title {
    margin: 0;
  }
  .toolbar.review-toolbar {
    clear: left;
  }
  .pages {
    .item {
      font-family: @montserratbold;
      font-size: 16px;
    }
    .action.previous {
      &::before {
        color: #3b3939 !important;
        font-size: 12px;
        font-weight: 700;
      }
      margin-right: 0;
    }
    .action.next {
      &::before {
        color: #3b3939 !important;
        font-size: 12px;
        font-weight: 700;
      }
    }
    .action {
      background: none !important;
      border: medium none !important;
      box-shadow: none !important;
      color: #3b3939 !important;
    }
    strong.page {
      background: #e9e9e9 none repeat scroll 0 0;
      color: #3b3939;
      font-size: 16px;
      font-weight: 400;
      padding: 0 10px;
    }
    a.page {
      color: #3b3939 !important;
    }
  }
  .review-toolbar {
    .pages {
      border-bottom: none;
    }
  }
  .pages-item-next {
    position: static;
  }
  .pages-item-previous {
    position: static;
  }
  .review-form {
    margin-bottom: 20px;
    max-width: 665px;
    .action.submit.primary {
      background: #f9cf00 !important;
      border: none !important;
      border-radius: 5px;
      color: #3b3939;
      font-family: @montserratbold;
      font-size: 14px;
      font-weight: 400;
      height: 50px;
      line-height: 14px;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      width: 175px;
    }
  }
  .review-fieldset {
    .input-text {
      border: 2px solid #dadada;
      height: 40px;
    }
    textarea {
      border: 2px solid #dadada;
      min-height: 150px;
    }
    .label {
      font-family: @montserratbold;
      font-weight: 400 !important;
    }
  }
  .fieldset.review-fieldset {
    margin: 0 0 15px;
  }
  .field.required.review-field-ratings {
    margin-top: 30px;
  }
  #Rating_rating_label.label {
    &::after {
      color: #e02b27;
      content: "*";
    }
  }
  .review-control-vote {
    &::before {
      background: transparent url("@{baseDir}images/review-img.png") no-repeat scroll 0 0;
      content: "";
      width: 179px;
    }
    label {
      &::before {
        background: transparent url("@{baseDir}images/review-active.png") no-repeat scroll 0 0;
        display: inline-block;
        width: 179px;
      }
    }
    .rating-1 {
      &::before {
        content: "";
        width: 23px;
      }
    }
    .rating-2 {
      &::before {
        content: "";
        width: 61px;
      }
    }
    .rating-3 {
      &::before {
        content: "";
        width: 101px;
      }
    }
    .rating-4 {
      &::before {
        content: "";
        width: 141px;
      }
    }
    .rating-5 {
      &::before {
        content: "";
        width: 179px;
      }
    }
  }

  //comman
  .product-info-main {
    .page-title-wrapper {
      h1 {
        line-height: 30px;
        margin-bottom: 5px;
        max-width: 370px;
        overflow: hidden;
      }
    }
    .rating-summary {
      margin-right: 11px;
    }
  }
  .rating-summary {
    .rating-result {
      width: 137px;
      &::before {
        background: transparent url("@{baseDir}images/pro-review-1.png") no-repeat scroll 0 0;
        content: "";
        height: 17px;
        line-height: 17px;
      }
      >span {
        &::before {
          background: transparent url("@{baseDir}images/pro-review-2.png") no-repeat scroll 0 0;
          content: "";
          height: 17px;
          line-height: 17px;
        }
      }
    }
  }
  .product-reviews-summary {
    .reviews-actions-new {
      display: inline-block;
      vertical-align: middle;
      font-family: latoregular;
      font-size: 14px;
      margin-top: 3px;
      a {
        &:not(:last-child) {
          color: #676565;
          font-size: 14px;
          line-height: 18px;
          margin-right: 0;
          pointer-events: none;
        }
      }
    }
  }
  .customer-review {
    .rating-summary {
      margin-right: 15px;
    }
  }
  .action.view {
    &::after {
      color: #676565;
      content: "|";
      padding: 0 0 0 2px;
    }
  }
  .action.add {
    color: #00ace2;
  }
  .product.media {
    position: relative;
  }
  .amshopby-option-link {
    display: inline-block;
    right: 0;
    margin-right: 5px;
    position: absolute;
    top: 0;
  }
  .field.qty{
    .label {
      color: #676565;
      font-family: latoregular;
      font-size: 14px;
      font-weight: normal;
      height: 50px;
      line-height: 50px;
      margin: 0;
      min-width: 90px;
      vertical-align: top;
    }
  }
  .qty {
    .control {
      background: #ffffff none repeat scroll 0 0;
      border: 2px solid #dadada;
      border-radius: 4px;
      display: inline-block;
      float: none;
      height: 50px;
      width: auto;
    }

    .input-text.qty {
      background: #f4f4f4 none repeat scroll 0 0;
      border-bottom: medium none;
      border-top: medium none;
      color: #000000;
      float: left;
      font-size: 12px;
      height: 50px;
      text-align: center;
      width: 70px;
      font-family: latoregular;
    }
  }
  .product-list-qty-minus {
    background: transparent url("@{baseDir}images/minus.png") no-repeat scroll center center;
    float: left;
    height: 50px;
    text-indent: -10000px;
    width: 47px;
  }
  .product-list-qty-plus {
    background: transparent url("@{baseDir}images/plus.png") no-repeat scroll center center;
    float: left;
    height: 50px;
    text-indent: -10000px;
    width: 47px;
  }

  //group product changes
  .table.grouped {
    .col.item {
      width: auto;
    }
    .col.qty {
      width: auto;
    }
  }
  .grouped {
    .qty {
      .control.qty + div {
        text-align: center;
        max-width: 105px;
        @media @desktop1023 {
          max-width: 70px;
          font-size: 12px;
        }
        @media @mobileonly767 {
          float: right;
          line-height: 40px;
        }
      }
      .control {
        height: 40px;
      }
      .input-text.qty {
        height: 40px;
        width: 40px;
      }
    }
  }
  .grouped-product-view-qty-minus {
    background: transparent url("@{baseDir}images/minus.png") no-repeat scroll center center;
    float: left;
    height: 40px;
    text-indent: -10000px;
    width: 30px;
  }
  .grouped-product-view-qty-plus {
    background: transparent url("@{baseDir}images/plus.png") no-repeat scroll center center;
    float: left;
    height: 40px;
    text-indent: -10000px;
    width: 30px;
  }
  .table.grouped .col.qty p {
    color: #676565;
    font-family: latoregular;
    font-size: 12px;
    max-width: 100px;
    text-align: center;
  }
  .grouped .qty .input-text.qty {
    width: 40px !important;
  }
  .product-info-main{
    .product.attribute.sku{
      .type{
        font-weight: normal;
        margin-right: 4px;
        &::after{
          content: ":";
          margin-left: 4px;
        }
      }
    }
  }
  table.grouped {
    th.col.qty {
      color: #3b3939;
      text-transform: uppercase;
      width: auto;
    }
  }
  .table.grouped {
    th.col.item {
      color: #3b3939;
      text-transform: uppercase;
      width: auto;
    }
  }

  // group table changes
  .product-info-main {
    .product.attribute.overview {
      margin-top: 5px;
    }
    .product-info-price {
      .price-box {
        >.price-box {
          padding: 0;
        }
        width: auto;
      }
    }
  }
  .page-product-grouped {
    .minimal-price {
      margin-top: 0;
      .price-label {
        padding-right: 5px;
        color: #00ace2;
        font-size: 36px;
      }
    }
    .product-info-stock-sku {
      .stock {
        display: none;
      }
    }
  }
  .table.grouped {
    .product-item-name {
      color: #3b3939;
      display: inline-block;
      font-family: @montserratbold;
      font-weight: 400;
      margin-top: 10px;
      max-width: 175px;
    }
    .price-box {
      .price {
        color: #00ace2;
        font-weight: 700;
        font-family: @montserratbold;
        font-weight: 400;
      }
    }
    td.col {
      padding: 20px;
    }
    th.col {
      background: #f4f4f4 none repeat scroll 0 0;
      padding: 18px;

    }
    th.col + th + th + .col.item {
      padding-left: 0;
    }

    .col.qty {
      width: 105px;
    }
    .col.item {
      &:first-child {
        width: 260px;
      }
    }
  }
  .price-box.price-final_price {
    position: relative;
    @media @mobileonly767 {
      top: 2px;
    }
  }
  .grouped {
    .old-price {
      color: #bdbdbd !important;
      display: block;
      font-family: @montserratbold;
      font-size: 12px;
      left: 53%;
      line-height: 12px;
      position: absolute;
      top: 0;
      width: 100px;
    }
    .save-price {
      font-family: @montserratbold;
      font-size: 12px;
      left: 53%;
      line-height: 12px;
      padding-top: 10px !important;
      position: absolute;
      top: 18px;
      width: 100px;
    }
    .price-box.price-final_price {
      >span {
        display: inline-block;
        padding-top: 12px;
      }
    }
    .product.photo.product-item-photo {
      border: 2px solid #dadada;
      display: inline-block;
      float: left;
      margin-right: 20px;
    }
  }
  table.grouped {
    .price-box {
      .old-price {
        .price {
          color: #bdbdbd;
          font-size: 12px;
        }
      }
      .save-price {
        .price {
          color: #e00814;
          font-size: 12px;
        }
      }
    }
  }
  .product-reviews-summary {
    margin-bottom: 5px;
  }

  //description
  .product.attribute.overview.mobile {
    display: none;
  }
  div.product-info-main {
    .product.attribute.overview {
      span {
        color: #8b8a8a !important;
        font-family: latoregular !important;
        font-weight: 400;
      }
    }
    div.product-info-stock-sku {
      padding-bottom: 0;
    }
  }

  //recently viewed
  .recently_viewed {
    margin-top: 35px;
    position: relative;
    .block-title {
      margin: 0;
      >strong {
        color: #3b3939;
        display: block;
        font-family: @montserratbold;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
      }
    }
    .direction-nav {
      .prev {
        left: auto;
        right: 30px;
        top: 0;
      }
      .next {
        right: 0;
        top: 0;
      }
    }
    .product-item {
      .product-item-info {
        margin: 7px;
        padding: 10px;
        width: auto;
      }
    }
  }

  span.old-price.sly-old-price {
    display: none;
  }
  .page-product-grouped .store-stock-block {
    margin-top: 15px;
  }
  .store-stock {
    background: #f4f4f4 none repeat scroll 0 0;
    float: right;
    height: 55px;
    line-height: 55px;
    margin-right: 20px;
    max-width: 325px;
    padding: 0 15px 0 10px;
    width: 47%;
    >div {
      display: inline-block;
      font-family: @montserratbold;
      font-size: 14px;
    }
    select {
      border: medium none;
      box-shadow: none !important;
      width: 100%;
    }
    > div#div_stock {
      color: #00ace2;
      float: right;
      background: transparent url("@{baseDir}images/jollyes-sprite.png") repeat scroll 0 -233px;
      padding-left: 22px;
    }
    >div#div_nostock {
      color: #e00814;
      float: right;
    }
  }
  .store-loc-icon {
    background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll 0 -282px;
    display: inline-block;
    width: 30px;
  }
  .store-stock-select {
    max-width: 160px;
    width: 53%;
    margin: 0;
  }
  .page-product-grouped {
    .store-stock-select {
        max-width: none;
        width: 85%;
        margin: 0 !important;
    }
  }
  .catalog-product-view {
    .box-tocart {
      overflow: hidden;
      .wrapper-price {
        clear: left;
      }
      .field.qty {
        float: left;
      }
      div.wrapper-price {
        .actions {
          button.tocart {
            height: auto;
            padding: 14px 0 9px;
          }
        }
      }
    }
  }
  .store-stock.noneditable {
    * {
      pointer-events: none;
      opacity: 0.5;
    }
  }
  #minicart-content-wrapper {
    .minicart-items-wrapper {
      .minicart-items {
        .product-item-details {
          .content {
            .product.options.list dd {
              margin-bottom: 10px;
              color: #000000;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
  #shopping-cart-table {
    .cart.item {
      .all-details {
        .product-item-details {
          .product-item-name {
            text-align: left;
          }
          .item-options {
            dd {
              text-align: left;
            }
          }
        }
      }
    }
  }

  //common changes
  .action.tocart.primary {
    width: 100% !important;
  }
  .qty-container + .action.tocart.primary {
    width: 40% !important;
    margin-left: 0;
  }
  .actions-primary {
    >.action.tocart.primary {
      &:first-child {
        span {
          background: none !important;
          padding: 0 !important;
        }
      }
    }
  }
  .product-item {
    .minimal-price {
      .price-container {
        display: inline-block;
      }
    }
  }
  .recently_viewed {
    .product-item {
      .product-item-info {
        .product-item-details {
          .price-box {
            .save-price {
              .price {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }

  #qty-error.mage-error {
    height: 0;
    position: absolute;
  }
  .prev.disabled {
    display: none;
  }
  .next.disabled {
    display: none;
  }
  .product.info.detailed {
    .product.data.items {
      >.item.title {
        >.switch {
          min-width: 120px;
        }
      }
    }
  }
  .product-image-wrapper {
    z-index: 0;
  }

  .table.grouped.no-saving .col.item:first-child {
    width: auto;
  }
  .table.grouped.no-saving .col.qty {
    width: auto;
  }
  .table.grouped.no-saving td + td + td.col.item {
    width: auto;
  }

  & when (@media-common = true) {
    .product-info-main {
      div.amxnotif-block + div.product-free-delivery + style + script + div.product-add-form {
        padding-top: 0 !important;
      }
      .amxnotif-block {
        background: #f4f4f4 none repeat scroll 0 0;
        clear: both;
        margin-bottom: 0;
        padding: 20px 20px 25px;
        label {
          color: #3b3939;
          display: block;
          float: none;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 10px;
        }
        .input-fields {
          display: inline-block;
          vertical-align: top;
          width: 100%;
        }
        .amxnotif_guest_action {
          display: table-cell;
          max-width: 155px;
          min-width: 123px;
          vertical-align: top;
          width: 155px;
        }
      }
      .notification-container {
        display: table;
        width: 100%;
      }
      .input-text.amxnotif-guest-email {
        border: medium none;
        height: 50px;
        padding: 0 0 0 30px;
      }
      .actions-toolbar.amxnotif_guest_action {
        .primary {
          width: 100%;
          .action.submit.primary {
            background: #e00814 none repeat scroll 0 0 !important;
            border-radius: 0 !important;
            color: #fff !important;
            height: 50px;
            margin: 0;
            padding: 0;
            width: 100%;
          }
        }
      }
    }
  }

  @media @mobileonly767 {
    .product-info-main {
      .amxnotif-block {
        margin: 0 -20px;
        .amxnotif_guest_action {
          min-width: 90px;
          width: 90px;
        }
      }
      .input-text.amxnotif-guest-email {
        padding: 0 0 0 10px;
      }
      .actions-toolbar.amxnotif_guest_action .action.submit.primary {
        padding: 0;
      }
    }
  }

  @media only screen and (max-width: 1360px) {
    .catalog-product-view {
      .box-tocart {
        div.wrapper-price {
          .actions {
            button.tocart {
              height: auto;
              padding: 9px 0 4px;
            }
          }
        }
      }
    }
    .store-stock {
      background: #f4f4f4 none repeat scroll 0 0;
      float: left;
      height: 55px;
      line-height: 55px;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 0;
      max-width: 350px;
      padding: 0 15px 0 10px;
      width: 100%;
    }
  }
  @media only screen and (max-width: 1279px) {
    .product-add-form {
      .subscription-content {
        .subscription-data {
          .subscription-item {
            float: left !important;
            width: 95% !important;
            margin: 10px 0;
          }
          .subscription.subscription-item {
            width: auto !important;
          }
        }
        #md_subscription_content {
          padding: 10px 10px 0 0;
          width: 60%;
        }
      }
    }
  }
  @media only screen and (max-width: 1200px){
    .catalog-product-view{
      .box-tocart{
        div.wrapper-price{
          .total-price{
            span.label, span.price{
              font-size: 24px;
              text-transform: none;
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    body.page-layout-1column .product-info-main {
      border: 2px solid #bdbdbd;
      max-width: none;
      padding: 20px 0 0 0;
      width: 49%;
      margin-bottom: 25px;
    }
    body.page-layout-1column .product.media {
      border: 2px solid #bdbdbd;
      max-width: none;
      padding: 1.5%;
      width: 46%;
    }
  }

  @media only screen and (max-width: 1023px) {
    .catalog-product-view{
      .box-tocart{
        div.wrapper-price{
          .total-price{
            height: 40px;
            line-height: 40px;
          }
          .actions{
            button.tocart{
              height: 40px;
              span{
                font-size: 13px;
              }
            }
          }
        }
      }
    }
    .product-info-main {
      .product-info-price {
        .price-box {
          >span {
            margin-right: 3%;
          }
          .price-container {
            >span {
              font-size: 24px;
              line-height: 24px;
            }
          }
          .old-price {
            .price-container {
              >span {
                color: #bdbdbd;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .product-options-bottom {
      .price-box {
        .price-container {
          .price {
            font-size: 24px;
            line-height: 24px;
          }
        }
      }
    }
    .product-info-price {
      .price-box {
        .price-container {
          .price {
            font-size: 24px;
            line-height: 24px;
          }
        }
      }
    }
    .save-price {
      color: #e00814;
      font-size: 16px;
    }
    .table.grouped {
      .col.qty {
        p {
          font-size: 11px;
        }
      }
    }
    .review-item {
      float: left;
      padding: 20px 0 0;
      width: 100%;
    }
    #review-form.message.info {
      padding: 20px 0 0;
      font-size: 14px;
      margin: 0 0 20px;
      padding: 20px 0 0;
    }
    .review-log {
      padding-top: 20px;
      >a {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        margin-right: 20px;
        min-width: 150px;
        text-align: center;
      }
      a.review-register {
        margin-left: 20px;
      }
    }
    .product.info.detailed {
      padding-top: 20px;
    }
    .product.info.detailed {
      .product.data.items {
        >.item.title {
          >.switch {
            min-width: 120px;
          }
        }
      }
    }
    .data.switch {
      font-size: 14px !important;
    }
    .subscription-content {
      #md_subscription_content {
        padding: 10px 20px 0 0;
        width: 54%;
        #product-subscription-customer {
          .control {
            width: 65%;
          }
        }
      }
    }
    .amshopby-option-link {
      img {
        max-height: 50px;
        max-width: 105px;
      }
    }
    #sucess.out-of-stock {
      > p {
        top: 20px;
      }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    body.page-layout-1column .product-info-main {
      border: 2px solid #bdbdbd;
      max-width: none;
      padding: 20px 0 0 0;
      width: 57%;
    }
    body.page-layout-1column .product.media {
      border: 2px solid #bdbdbd;
      max-width: none;
      padding: 2.5%;
      width: 37%;
    }
    .grouped-product-view-qty-minus {
      display: none;
    }
    .grouped-product-view-qty-plus {
      display: none;
    }
    .grouped .qty .input-text.qty {
      border: medium none !important;
      height: 40px;
      width: 65px !important;
    }
    .table.grouped .col.qty p {
      color: #676565;
      font-family: latoregular;
      font-size: 12px;
      max-width: 65px;
      text-align: center;
    }
    .field.qty {
      .label {
        height: 42px;
        line-height: 42px;
        min-width: 70px;
      }
    }
    .qty {
      .control {
        height: 38px;
      }
      .input-text.qty {
        height: 38px;
        width: 58px;
      }
    }
    .product-list-qty-minus {
      height: 38px;
      width: 38px;
    }
    .product-list-qty-plus {
      height: 38px;
      width: 38px;
    }
    .field.configurable {
      .label {
        min-width: 70px;    margin-right: 5px;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .product-info-main {
      .page-title-wrapper {
        h1 {
          font-size: 14px;
          line-height: 25px;
          margin-bottom: 15px;
          max-width: 260px;
          overflow: hidden;
        }
      }
    }

    .amshopby-option-link img {
      max-height: 75px;
      max-width: 180px;
    }
  }
  @media only screen and (min-width:768px) and (max-width:1399px) {
    .page-product-grouped {
      .minimal-price {
        .price-label {
          font-size: 24px;
        }
      }
    }
    .table.grouped {
      .col.qty {
        p {
          font-size: 11px;
        }
        width: auto;
      }
      th.col {
        padding: 15px 0 15px 15px;
      }
      td.col {
        padding: 15px 0 15px 15px;
      }
      td + td + td.col.item {
        width: 130px;
      }
      .col.item {
        &:first-child {
          width: 140px;
        }
      }
    }
    .grouped {
      .old-price {
        width: 70px;
      }
      .save-price {
        width: 70px;
      }
      .product.photo.product-item-photo {
        display: none;
      }
    }
  }
  @media only screen and (min-width:768px) and (max-width:964px) {
    .table.grouped {
      .col.qty {
        width: 70px;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .store-stock {
      background: #f4f4f4 none repeat scroll 0 0;
      clear: left;
      height: 55px;
      line-height: 55px;    margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 0;
      margin-right: 0;
      max-width: 95%;
      padding: 0 10px 0 10px;
      width: 100%;
    }

    .catalog-product-view {
      .box-tocart{
        overflow: hidden; margin: 20px -20px 0;
        .fieldset > div {
          margin: 0 20px !important;
        }
        div.wrapper-price {
          border-top: 2px solid #bdbdbd;
          border-bottom: 2px solid #bdbdbd;
          margin: 0 0 !important;
        }
      }
      .product-info-main .product-info-price{
        .price-box {
          span.old-price {
            float: left;
            margin-right: 5px;
            text-align: right;
            width: 44%;font-size: 14px;
            margin-top: 2px;
          }
          span.save-price {
            float: left;
            font-size: 12px;
            margin: 4px 4px 0;
            text-align: left;
            width: 50%;
          }
          .save-price .price {
            display: inline;
            margin: 0 4px;
          }
          .old-price{
            .price-wrapper .price {
              font-size: 12px;
            }
            .price-container span {
              font-size: 12px;
            }
          }
        }
      }
    }

    .product-info-main .rating-summary {
      margin-right: 8px;
    }

    .pages-item-next {
      position: absolute;
    }

    .field.configurable .label {
      min-width: 70px;
      margin-right: 5px;
    }

    .breadcrumbs {
      padding-left: 15px;
      padding-right: 15px;
    }
    .page-main {
      padding-left: 15px;
      padding-right: 15px;
    }
    .catalog-product-view .page-main {
      overflow: hidden;
    }
    .qty-container  + .action.tocart.primary {
      width: 100% !important;
    }
    .recently_viewed {
      .direction-nav {
        .prev {
          left: 0;
          right: auto;
          top: 0;
        }
      }
    }
    .product-info-price {
      >* {
        &:first-child {
          padding-left: 0;
        }
      }
      width: auto !important;
    }
    .product.attribute.overview {
      display: none;
    }
    .product.attribute.overview.mobile {
      display: block;
    }
    .product-info-main {
      .product-info-price {
        margin-top: 20px;
      }
      .product.attribute.overview {
        margin: 20px 0 0 !important;
        text-align: left;
      }
    }
    .page-product-grouped {
      .minimal-price {
        .price-label {
          font-size: 24px;
        }
      }
      .product-info-price {
        .price-box {
          .price-container {
            .price {
              font-size: 24px;
              line-height: 24px;
            }
          }
        }
      }
    }
    .table-wrapper {
      margin-bottom: 0;
      .table {
        &:not(.totals) {
          &:not(.cart) {
            &:not(.table-comparison) {
              >tbody {
                >tr {
                  td {
                    border-bottom: medium none;
                    display: block;
                    padding: 5px 0 10px;
                  }
                  th {
                    border-bottom: medium none;
                    display: block;
                    padding: 5px 0 10px;
                  }
                }
              }
              tbody {
                >tr {
                  >td {
                    &:last-child {
                      padding-bottom: 15px;
                    }
                  }
                }
              }
              >thead {
                >tr {
                  >th {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    table.grouped {
      >tbody {
        &:last-child {
          border: medium none;
        }
      }
    }
    .table.grouped {
      >tbody {
        >tr {
          >th {
            border-top: medium none;
          }
          >td {
            border-top: medium none;
          }
        }
      }
      .product-item-name {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 260px;
      }
      .col.qty {
        padding-bottom: 12px !important;
        padding-top: 22px !important;
        width: auto;
      }
      .col.item {
        &:last-child {
          bottom: 55px;
          left: 0;
          position: absolute;
        }
      }
    }
    .grouped {
      .price-box.price-final_price {
        >span {
          display: inline-block;
          padding-top: 12px;
          padding-right: 10px;
        }
      }
      .old-price {
        position: static;
        width: auto;
      }
      .save-price {
        position: static;
      }
      .product.photo.product-item-photo {
        display: none;
      }
      tbody {
        tr {
          position: relative;
        }
      }
    }
    .table-wrapper.grouped {
      margin-left: 0;
      margin-right: 0;
    }
    .catalog-product-view {
      .columns {
        position: relative;
      }
    }
    .title-reviews {
      margin-bottom: 0px;
      margin-top: 10px;
      order: -1;
      text-align: center;
      h1 {
        font-size: 14px;
        line-height: 25px;
      }
    }
    // .title-reviews-mobile {
    //   margin-bottom: 20px;
    //   order: -1;
    //   text-align: center;
    //   h1 {
    //     font-size: 14px;
    //     line-height: 25px;
    //   }
    // }
    .product-info-main {
      .page-title-wrapper {
        h1 {
          margin: 0 auto;
          line-height: 25px !important;
        }
      }
      .product-reviews-summary {
        float: none;
      }
    }
    .product-reviews-summary {
      .reviews-actions-new {
        font-size: 10px;
        margin-top: 6px;
        a {
          &:not(:last-child) {
            font-size: 10px;
          }
        }
      }
    }
    .qty {
      .label {
        font-size: 12px;
        height: 44px !important;
        line-height: 44px !important;
        margin: 0 15px 0 0;
      }
      .control {
        height: 40px;
      }
      .input-text.qty {
        font-size: 12px;
        height: 40px;
        width: 129px;
      }
    }
    .product-list-qty-minus {
      height: 40px;
      width: 40px;
    }
    .product-list-qty-plus {
      height: 40px;
      width: 40px;
    }
    .table-wrapper {
      .table {
        &:not(.totals) {
          &:not(.cart) {
            &:not(.table-comparison) {
              >tbody {
                >tr {
                  td.qty {
                    &::before {
                      color: #676565;
                      content: 'Quantity';
                      display: inline-block;
                      font-family: latoregular;
                      font-size: 12px;
                      font-weight: 400;
                      height: 40px;
                      line-height: 40px !important;
                      padding-right: 15px;
                      position: static;
                      vertical-align: top;
                      width: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .grouped .qty .input-text.qty {
      width: 60px !important;
    }
    .table.grouped .col.qty p {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      margin-bottom: 0;
      margin-left: 12px;
      max-width: none;
      vertical-align: top;
    }
    .grouped-product-view-qty-minus {
      width: 40px;
    }
    .grouped-product-view-qty-plus {
      width: 40px;
    }
    .field.configurable {
      .label {
        min-width: 70px;
      }
    }
    .catalog-product-view .box-tocart .field.qty {
      .label {
        min-width: 70px;
      }
    }
    .table-wrapper.grouped {
      .table:not(.totals):not(.cart):not(.table-comparison) > tbody > tr td.qty::before {
        font-family: latoregular !important;
        text-transform: none;
        content: 'Quantity:';
      }
      .price-box.price-final_price {
        .old-price span {
          float: left;
          position: relative;
          top: 1px;
        }
        .save-price {
          position: relative;
          top: 0px;
          left: 0;
          span {
            float: left;
          }
        }
      }
    }
    .review-ratings ~ .review-content, .review-ratings ~ .review-details, .review-ratings ~ .review-title {
      margin-left: 0;
    }
    #product-review-container {
      .block-content {
        padding: 0 15px;
      }
    }
    .block.review-add {
      padding: 0 15px;
    }
    .review-log {
      >a {
        margin-right: 10px;
        min-width: 103px;
      }
      a.review-register {
        margin-left: 10px;
      }
    }
    .block-title.customer-rating {
      background: transparent none repeat scroll 0 0;
      border-bottom: none;
      border-left: 2px solid #dadada;
      border-right: 2px solid #dadada;
      border-top: 2px solid #dadada;
      padding: 20px 15px 0;
      strong {
        border-bottom: 1px solid #dadada;
        display: block;
        padding-bottom: 20px;
        width: 100%;
      }
    }
    .review-form {
      .action.submit.primary {
        height: 40px;
        width: 100%;
      }
    }
    .review-add {
      .block-title {
        text-align: center;
      }
    }
    .review-details {
      margin: 5px 0;
    }
    .product.info.detailed {
      .product.data.items {
        border-bottom: none;
        margin: 0 0 20px;
        padding: 0;
        >.item.content {
          background: #ffffff none repeat scroll 0 0;
          border-color: #bdbdbd;
          border: 2px solid #dadada;
          margin-top: 0;
          padding: 15px;
          margin-bottom: 15px;
          border-top: none;
        }
        >.item.title {
          >.switch {
            background: #f4f4f4 none repeat scroll 0 0;
            border: 2px solid #bdbdbd;
            margin-bottom: 15px;
            padding: 1px 15px;
            text-align: left;
            font-weight: 400;
          }
        }
        >.item.title.active {
          >.switch {
            margin-bottom: 0;
            padding-bottom: 3px;
          }
        }
      }
    }
    .product-add-form {
      .product-options-wrapper {
        .field {
          &:not(.date) {
            >.control {
              display: inline-block;
              max-width: 220px;
              width: 73.5%;
            }
          }
        }
      }
      .subscription-content {
        padding: 10px 0;
        border-top: 1px solid #c9c9c9;
        display: inline-block;
        #md_subscription_content {
          display: inline-block;
          float: left;
          width: 100%;
          padding: 20px 0 0 10px;
          #product-subscription-customer {
            label {
              float: left;
            }
            .control {
              float: left !important;
              width: 120px !important;
              padding: 0 0 0 10px;
            }
          }
        }
      }
    }
    .banner_message {
      .value {
        margin-left: 0;
      }
    }
    .product.attribute.banner_message {
      padding: 10px 0;
    }
    #sucess.out-of-stock {
      float: right;
      > p {
        top: 20px;
        font-size: 12px;
      }
    }
    .catalog-product-view{
      .box-tocart{
        div.wrapper-price{
          padding: 15px 20px;
          .total-price{
            span.label, span.price{
              font-size: 20px;
            }
          }
          .actions{
            width: 37.5%;
            button.tocart{
              height: auto;
              padding: 9px 0 4px;
              &::before {
                content: "";
              }
              span{
                text-indent: 0;
                width: 35px;
                overflow: hidden;
                height: 22px;
              }
            }
            button#product-updatecart-button.tocart span {
              width: 52px;
            }
          }
        }
        .store-stock-block {
          .store-stock-select {
            margin-right: 0px;
          }
          #sucess.success {
            font-size: 15px;
            &::before {
              padding-right: 5px;
            }
          }
          #sucess {
            font-size: 12px;
            float: right;
          }
        }
        .total-price {
          .price {
            display: inline;
          }
        }
      }
      .product-info-main {
        .product-info-stock-sku {
          display: block;
          padding-left: 0;
          padding-top: 10px;
          text-align: center;
        }
        .product-info-price {
          display: block;
          .price-box {
            display: block;
            width: 100%;
            .save-price {
              .price {
                display: inline;
                margin: 0;
              }
            }
          }
        }
      }
      .product-add-form {
        padding-top: 0;
        .box-tocart {
          .field.qty {
            float: none;
          }
        }
      }
    }
    .product-info-main {
      .product-info-price {
        display: inline-block;
        margin: 0 0 20px;
        text-align: center;
        width: 100%;
        .price-box {
          display: inline-block;
          vertical-align: top;
          width: 100%;
          >span.special-price {
            display: block;
          }
          >span {
            display: inline-block;
            margin-right: 0;
          }
          >span.old-price {
            margin-right: 20px;
          }
          .price-container {
            >span {
              font-size: 18px;
              line-height: 18px;
            }
          }
          .old-price {
            .price-container {
              >span {
                color: #bdbdbd;
                font-size: 12px;
              }
            }
            .price-wrapper .price {
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
    }
    .product-options-bottom {
      .price-box {
        .price-container {
          .price {
            font-size: 18px;
            line-height: 18px;
          }
        }
      }
    }
    .product-info-price {
      .price-box {
        .price-container {
          .price {
            font-size: 14px;
            line-height: 14px;
          }
        }
      }
    }
    .save-price {
      color: #e00814;
      font-size: 12px;
    }

    .catalog-product-view{
      .box-tocart{
        div.wrapper-price{
          border-top: 2px solid #bdbdbd;
          border-bottom: 2px solid #bdbdbd;
          margin: 0 -20px;
        }
        .field.qty{
          .label{
            min-width: 60px;
          }
          padding-left: 0;
          .control{
            display:inline-block;
          }
        }
      }
    }
    .amshopby-option-link {
      img {
        display: none;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .product-info-main .sku {
      display: block;
    }
    .title-reviews {
      padding-left: 20px;
    }
    div.product-info-main div.product-info-stock-sku {
      padding-left: 20px;
    }
    .product-info-main .product-info-price .price-box {
      padding-left: 20px;
    }
    .field.configurable {
      padding-left: 20px;
    }
    .prices-tier {
      padding-left: 20px;
    }
    .product-info-main .product.attribute.overview {
      margin: 0 0 0 20px;
      p {
        margin: 0;
      }
    }
    // .title-reviews-mobile {
    //   display: none;
    // }
  }

  @media screen and (min-width: 320px) and (max-width: 575px) {
    .product-add-form .product-options-wrapper .field:not(.date) > .control {
      display: inline-block;
      max-width: 220px;
      width: 67%;
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    #sucess.out-of-stock {
      > p {
        top: 16px;
        font-size: 13px;
        margin: 3px 2px 0 0;
      }
    }
  }
  .fieldset {
    &:last-child {
      margin-bottom: 0;
    }
  }

}