@toolbar-mode-icon-font-size: 16px;
@toolbar-background: transparent;
@toolbar-element-background: @color-gray94;
@pager-action__background: @toolbar-element-background;
@pager-action__hover__background: darken(@toolbar-element-background, 7%);
@pager__font-weight: @font-weight__bold;

@desktop1023: ~"only screen and (max-width: 1023px)";
@mobileonly767: ~"only screen and (max-width: 767px)";
@desktop1024: ~"only screen and (min-width: 1024px)";
& when (@media-common = true) {
  #amasty-shopby-product-list{
    .toolbar.toolbar-products {
      padding: 14px;
      border: 2px solid #bdbdbd;
      background: #f4f4f4;
      clear: left;
      .pages{
        display: block;
        float: right;
        margin-bottom: 0;

        ul.pages-items{
          strong.page{
            padding: 0 10px;
            background: #fff;
          }
          li.item{
            font-family: @montserratbold;
            font-size: 14px;
            margin: 0 5px 0 0;
            a.page{
              color: #3b3939;
              &:visited{
                color: #3b3939;
              }
            }
            a.action{
              box-shadow: unset;
              border-radius: 0;
              padding: 0;
              background: transparent;
              border: 0 none;
              color: #3b3939;
              &:before{
                font-size: 12px;
                color: #3b3939;
                font-weight: 600;
              }
            }
          }

          li.item.current{
            span{
              font-size: 14px;
            }

          }
        }

        @media @mobileonly767{
          display: none;
        }
      }

      .field.limiter{
        display: block;
        float: left;
        margin-left: 6%;
        > label {
          font-family: @montserratbold;
          text-transform: uppercase;
          color: #3b3939;
          margin: 5px 10px 0 0;
          float: left;
          font-size: 16px;
        }

        #limiter{
          display: none;
        }

        @media @desktop1023{
          margin-left: 20%;
        }

        @media @mobileonly767{

          display: none;
        }
      }

      .toolbar-sorter.sorter{
        float: left;
        margin-left: 6%;
        > label.sorter-label{
          font-family: @montserratbold;
          text-transform: uppercase;
          color: #3b3939;
          margin: 5px 10px 0 0;
          float: left;
          font-size: 16px;

          &::after{
            display: none;
            content: '\e608';
            font-family: 'luma-icons';
            margin-left: 15px;
            transform: rotate(90deg);

            @media @mobileonly767{
              display: inline-block;
              margin-right: 15px;
              vertical-align: top;
            }

          }

          @media @mobileonly767{
            width: 86%;
            margin: 0px 10px 0 10px;
            cursor: pointer;
            font-size: 15px;
          }
        }

        #sorter{
          display: none;
        }

        @media @desktop1023{
          margin-left: 1%;
        }

        @media @mobileonly767{
          position: static;
          float: right;
          width: 49%;
        }
      }

      .styled-toolbar{
        float: right;
        position: relative;
        font-family: latoregular;
        .selected-option{
          width: 150px;
          height: 30px;
          text-align: left;
          background: #fff;

          span{
            display: block;
            padding: 5px 5px 0 10px;

            &::after{
              background: url('../images/select-bg.svg') no-repeat 50% 50%;
              content: "";
              display: block;
              width: 20px;
              height: 18px;
              float: right;
              vertical-align: middle;
            }
          }

          @media @mobileonly767{
            display: none;
          }
        }

        .selected-option.sel-limit{
          width: 60px;
        }

        .styled-sorter-options{
          display: none;
          list-style: none;
          width: 165px;
          background: #fff;
          position: absolute;
          z-index: 3;
          border-left: 2px solid #bdbdbd;
          border-right: 2px solid #bdbdbd;
          border-bottom: 2px solid #bdbdbd;
          border-radius: 10px;
          text-align: left;
          top: 49px;
          margin: 0;
          padding: 10px;
          right: -18px;

          > li{
            padding: 5px 0 5px 0;
            margin: 0;
            cursor: pointer;
            &:hover{
              background: #f4f4f4;
            }
            a{
              color: #3b3939;
              display: inline-block;
              margin-left: 20px;
              width: 88%;
              text-decoration: none;
              @media @mobileonly767{
                width: 82%;
              }

            }

            @media @mobileonly767{
              padding: 15px 0 15px 0;
              border-bottom: 1px solid #bdbdbd;
              font-family: @montserratbold;
              text-transform: uppercase;
            }
          }

          > li.active{
            a{
              margin-left: 0;

              @media @mobileonly767{
                margin-left: 20px;
              }

            }
            &:before{
              content: '\f00c';
              display: inline-block;
              font-family: "fontawesome";
              margin-right: 5px;

              @media @mobileonly767{
                float: right;
                margin-right: 15px;
              }

            }
          }

          @media @mobileonly767{
            display: none;
            width: 100%;
            border-radius: 0;
            padding: 0;
            top: 19px;
            right: auto;
            left: -2px;
            z-index: 3;
          }
        }

        .styled-sorter-options.limit-option{
          width: 90px;
          > li{
            a{
              width: 75%;
            }
          }
          @media @mobileonly767{
            display: none;
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
          }
        }

        .sorter-arrow{
          display: none;
          position: absolute;
          width: 15px;
          height: 15px;
          background: #fff;
          border-left: 2px solid #bdbdbd;
          border-top: 2px solid #bdbdbd;
          right: 7px;
          transform: rotate(45deg);
          z-index: 6;
          top: 39px;

          @media @mobileonly767{
            display: none !important;
          }

        }

        @media @mobileonly767{
          float: none;
        }
      }

      .styled-toolbar.active{
        .selected-option{
          span{
            &::after{
              transform: rotate(180deg);
            }
          }
        }
        .styled-sorter-options{
          display: block;
        }
        .sorter-arrow{
          display: block;
        }
      }

      p.toolbar-amount{
        font-family: latoregular;
        @media @desktop1023{
          display: none;
        }
      }

      @media @desktop1023{
        width:100%;
        padding: 15px 0;
      }

      @media @mobileonly767{
        padding: 17px 0;
      }

    }
    #layered-filter-block{
      .filter-content{
        border: 0 none;
      }
    }

  }

  @media @desktop991 {
    #layered-filter-block {
      .outer-container {
        max-height: 310px;
        overflow-y: auto;
      }
      .filter-options {
        .filter-options-content {
          max-height: 310px;
          overflow-y: auto;
        }
      }
    }
  }

  @media @desktop1023{
      .hide-cat {
        .filter-options-item:not(.active) {
          display: none;
        }

        .c-sidebar--categories {
          > h3 {
            padding: 15px !important;
            &:before {
              content: "\e621";
              display: inline-block;
              font-family: luma-icons;
              transform: rotate(-90deg);
              vertical-align: middle;
            }
          }
        }
        .c-sidebar--categories.hide-main {
          > h3{
            display: none;
          }
        }

        .cat-main-title.active{
          display: none !important;
        }
      }

      .hide-others {
        .c-sidebar.c-sidebar--categories {
          > h3 {
            display: none;
          }
        }
        .filter-options-item:not(.active) {
          display: none;
        }
      }
  }


  .products.wrapper~.toolbar {
    @media @mobileonly767{
      padding: 0 !important;
      background: none !important;
      border: none !important;
    }

    p.toolbar-amount{
      display:inline-block;
    }
    .pages{
      float: right;
      @media @mobileonly767{
          width: 100%;
          display: block !important;
          padding: 17px 0;
          background: #f4f4f4;
          border: 2px solid #bdbdbd;
      }
      > ul{
        @media @mobileonly767{
          margin: 0 auto;
        }

        li.pages-item-previous, li.pages-item-next{
          @media @mobileonly767{
            position: static;
          }
        }
      }
    }
    .sorter {
      display: inline-block;

      .sorter-label{
        @media @mobileonly767{
          display: none;
        }
      }

      .styled-sorter-options{
        @media @mobileonly767{
          display: none !important;
          border-left: none !important;
          border-right: none !important;
          border-bottom: none !important;
        }
      }

    }
    @media @desktop1023{
      position: static !important;
    }
  }

  .page-with-filter{
    .columns{
      padding-top: 20px;
    }
    .c-sidebar.c-sidebar--categories {
      border: 2px solid #bdbdbd;
      margin-bottom: 20px;
      overflow: visible;

      li.item{
        padding: 15px 5px !important;
        @media @desktop1023{
          border-bottom: 0;
        }
        &:hover{
          background: none;
        }
        > a{
          &:hover{
            background: none;
          }
        }
      }

      li.level0{
        border-bottom: 0;
        a{
          @media @desktop1023{
            padding-left: 15px;
          }
        }
      }

      li.level1{
        a{
          padding-left: 0;
          @media @desktop1023{
            padding-left: 10px;
          }
        }
      }
    }

    .category-cms{
      margin-bottom: 0;
    }
  }

  @media @desktop1024 {
  .page-with-filter{
    .filter-content{
      .c-sidebar--categories{
        h3{
          position: relative;
          padding: 20px 15px;
          border-bottom: none;
          font-family: Montserrat;
          font-size: 14px;
          cursor: pointer;
          &:after {
            content: '\e622';
            display: inline-block;
            right: 15px;
            position: absolute;
            font-family: luma-icons;
            font-size: 13px;
          }
        }

        .outer-container{
          display: block;
        }
      }
    }
      .filter-content.hide-cat{
        h3 {
          border-bottom: 2px solid #bdbdbd;
          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }


  #layered-filter-block{
    .block-subtitle {
      display: none;
    }
    .filter-content {
      .filter-options{
        .filter-options-item{
          border-bottom: 0;
          padding-bottom: 20px;
          .filter-options-title{
            padding: 20px 40px 20px 15px;
            border: 2px solid #bdbdbd;
            background: #f4f4f4;
            word-break: normal;
            font-family:  @montserratbold;
            &:after{
              top: 20px;
              right: 15px;
              @media @mobileonly767{
                top: 14px;
              }
              }
          }
          .filter-options-content{
            border-left: 2px solid #bdbdbd;
            border-right: 2px solid #bdbdbd;
            border-bottom: 2px solid #bdbdbd;
            .items.am_shopby_filter_items_attr_category_ids {
              li.item {
                > a {
                  padding-left: 30px !important;
                  span.label::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    background: transparent url(../images/dot.png) no-repeat scroll 0 0;
                    height: 17px;
                    width: 18px;
                    display: inline-block;
                    top: 2px;
                  }
                  span.label {
                    background: none;
                    padding: 0 0 2px 0px;
                  }
                }
              }
            }
            input[type="radio"]{
              margin: 2px 15px 0 0;
              vertical-align: top;
              &::before{
                background: #fff;
                width: 20px;
                height: 20px;
                content: "";
                border: 1px solid #bdbdbd;
                display: block;
              }
            }
            input[type="radio"]:checked{
              &::before{
                background: #00ACE2;
              }
            }
          }
        }
      }

    }
  }

  .catalog-topnav.amasty-catalog-topnav {
    #layered-filter-block {
      .block-title.filter-title {
        display: none;
      }
    }
  }
  #layered-filter-block{
    margin-bottom: 0;
  }


  @media @desktop1023 {
    .page-products{
      .columns{
        position: relative;
        padding-top: 0;
      }
    }


    .sidebar.sidebar-main{
      padding-right: 0;
    }

    #layered-filter-block{
      .filter-content {
        position: absolute;
        top: 65px;
        width: 100%;
        background: #fff;
        z-index: 3;
        border-left: 2px solid #cdcdcd;
        border-right: 2px solid #cdcdcd;
        border-bottom: 2px solid #cdcdcd;

        .block-subtitle {
          display: none;
        }
        .block-subtitle.filter-current-subtitle {display: block;}
        .filter-options{
          .filter-options-item{
            padding-bottom: 0;
            &:last-child{
              border-bottom: none;
            }
            > .filter-options-title{
              padding: 15px 40px 15px 30px;
              font-family: @montserratbold;
              border-top: none;
              border-left: none;
              border-right: none;
              border-bottom: 2px solid #e9e9e9;
              background: none;
            }
            .filter-options-content{
              border-left: 0;
              border-right: 0;
              border-bottom: 2px solid #e9e9e9;
              background: #fbfbfb;
            }
          }
        }
      }

      .block-title {
        display: block;
        position: absolute;
        width: 18%;
        height: 35px;
        border-right: 1px solid #bdbdbd;
        margin-top: 18px;
        text-align: center;
        line-height: 35px;
        top: 0;
        > strong {
          background-color: transparent;
          box-shadow: none;
          position: static;
          border: 0 none;
          text-transform: uppercase;
          font-family: @montserratbold;
          font-size: 16px;
          border-radius: 0;
          color: #3b3939;

          &::after {
            content: '\e608';
            font-family: 'luma-icons';
            margin-left: 15px;
            transform: rotate(90deg);
            display: inline-block;
          }
        }
      }
    }
    #layered-filter-block {
      .block-content.filter-content {
        display: none;
      }
    }
    #layered-filter-block.active{
      .block-title{
        >strong{
          &::after{
            transform: rotate(270deg);
          }
        }
      }
      .block-content.filter-content{
        display: block;
      }
    }
    .page-with-filter {
      .c-sidebar.c-sidebar--categories {
        border: 0 none;
        margin: 0;
        overflow: hidden;
        h3 {
          background: none;
          border-bottom: 2px solid #e9e9e9;
          font-size: 14px;
          padding: 15px 40px 15px 30px;
          position: relative;
        }
        .outer-container {
          li {
            border-bottom: 2px solid #e9e9e9;
          }
        }
      }

      .filter-options-title {
        font-weight: normal;
        &:after {
          transform: rotate(270deg);
          top: 15px;
        }
      }
      .active {
        > .filter-options-title {
          color: #3b3939;
          font-weight: bold;
          &:before {
            color: #3b3939;
            position: absolute;
            left: 10px;
            top: 15px;
            content: '\e621';
            font-family: luma-icons;
            font-size: 13px;
            transform: rotate(270deg);
            line-height: inherit;
            display: inline-block;
            vertical-align: top;
            speak: none;
            text-align: center;
            overflow: hidden;
            font-weight: normal;
            -webkit-font-smoothing: antialiased;
          }
          &:after {
            font-size: 0;
          }
        }
      }
      .c-sidebar.c-sidebar--categories li.cat-title {
        position: relative;
      }
      .open {
        > .cat-title {
          .cat-arrow {
            &:before {
              color: #3b3939;
              content: '\e621';
              font-family: luma-icons;
              font-size: 13px;
              position: absolute;
              left: 10px;
              top: 12px;
              transform: rotate(270deg);
            }
            i{
              display:none;
            }
          }
        }
      }
      .parent {
        > .expand {
          position:relative;
          &:after {
            color: #3b3939;
            content: '\e621';
            font-family: luma-icons;
            font-size: 13px;
            position: absolute;
            right: 0px;
            top: 0px;
            transform: rotate(90deg);
          }
          .fa.fa-chevron-right {
            display: none;
          }
        }
      }
      .c-sidebar.c-sidebar--categories {
        h3 {
          color: #3b3939;
          .cat-main-title {
            &:after {
              content: '\e622';
              color: #3b3939;
              font-family: luma-icons;
              font-size: 13px;
              position: absolute;
              right: -13px;
              top: -25px;
              transform: rotate(180deg);
            }
            i {
              display: none;
            }
          }
          .cat-main-title.active {
            &:before {
              content: '\e621';
              color: #3b3939;
              font-family: luma-icons;
              font-size: 13px;
              position: absolute;
              left: 10px;
              top: 15px;
              transform: rotate(270deg);
            }
          }
        }
      }
    }
  }

  @media @mobileonly767{
    #layered-filter-block
    {
      .block-title{
        position: absolute;
        width: 50%;
        height: 35px;
        border-right: 1px solid #bdbdbd;
        margin-top: 10px;
        text-align: center;
        top: 2px;
        >strong{
          line-height: 35px;
          padding: 0;
          color: #3b3939;
          opacity: 1;
          cursor: pointer;
          font-size: 15px;
          &::after{
            vertical-align: top;
          }

        }
      }

      .block-title.open{
        opacity: 0;
      }
      .block-content.filter-content{
        top: 58px;
        border-top: 2px solid #cdcdcd;

        .filter-options{
          display: block;
          position: relative;
          top: 0;

          > div.filter-options-item{
            &:last-child{
              margin-bottom: 0px;
            }
          }
        }
      }
    }

    #layered-filter-block.active{
      .block-title{
        width: 95%;
        border-right: none;
        margin: 0 auto;
        border-bottom: none;
        padding: 10px 10px 0 10px;
        > strong{
          width: 100%;
          text-align: left;
          &::after{
            float: right;
            margin-right: 10px;
          }
        }
      }
    }

    #amasty-shopby-product-list{
      .toolbar.toolbar-products{
        .toolbar-sorter.sorter.open{
          width: 100%;
          text-align: left;
          margin: 0 auto;
          > label.sorter-label.open{
            display: block;
            float: none;
            margin: 0 0 0 15px;
            position: relative;
            text-align: left;
            width: 94%;
            z-index: 3;
            &::after{
              float: right;
              transform: rotate(270deg);
            }
          }
        }
      }
    }

    body.fill-active{
      .sorter-label{
        opacity: 0;
      }
    }
  }
  & when (@media-common = true) {
    .filter-options-content {
      a {
        display: block;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        &:hover {
          background-color: transparent;
          text-decoration: none;
        }
      }
      input[type="checkbox"] {
        cursor: pointer;
        left: 0;
        margin: 0 !important;
        opacity: 0;
        position: absolute;
        top: 0;
      }
      input[type="checkbox"] + span {
        background: transparent url("@{baseDir}images/check1.png") no-repeat scroll 0 0;
        display: block;
        height: 18px;
        margin: 0;
        padding: 0 0 2px 12px;
        white-space: normal;
        width: 18px;
      }
      input[type="checkbox"]:checked + span {
        background: transparent url("@{baseDir}images/check.png") no-repeat scroll 0 0;
      }
      input[type="radio"] {
        cursor: pointer;
        left: 0;
        margin: 0 !important;
        opacity: 0;
        position: absolute;
        top: 0;
      }
      input[type="radio"] + span {
        background: transparent url("@{baseDir}images/dot.png") no-repeat scroll 0 0;
        height: 17px;
        margin: 0;
        padding: 0 0 2px 30px;
        white-space: normal;
        font-size: 14px !important;
      }
      input[type="radio"]:checked + span {
        background: transparent url("@{baseDir}images/active-dot.png") no-repeat scroll 0 0;
      }
      li.item {
        position: relative;
        display: flex;
        a {
          display: inline-block;
        }
      }
      input[type="radio"] + .label, input[type="checkbox"] + .label {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .am_shopby_link_selected {
      font-weight: 400;
    }

    #layered-filter-block.filter {
      .filter-current-subtitle {
        border: 0 none;
        color: #3b3939;
        display: block;
        font-family: @montserratbold;
        font-size: 16px;
        padding: 0;
        text-transform: uppercase;
      }
    }
    .filter {
      .filter-current-subtitle {
        &::after {
          content: ":";
        }
      }
    }
    .filter-current {
      .items {
        padding: 20px;
      }
      .action.remove {
        &::before {
          color: #3b3939 !important;
        }
      }
    }
    .filter-value {
      color: #3b3939;
    }
    .am_shopby_state_container {
      .filter-label {
        color: #3b3939;
        font-family: @montserratbold;
        padding-right: 5px;
      }
    }
    .filter-actions {
      margin-bottom: 30px;
      padding: 0;
    }
    .action.clear.filter-clear {
      color: #00ace2;
      font-size: 14px;
      &::before {
        content: "\e616";
        font-family: "luma-icons";
        font-size: 14px;
        padding-right: 15px;
        vertical-align: top;
      }
    }
  }
    @media @desktop1023 {
      .filter-current {
        margin: 20px 0 0 20px;
      }

      .filter-actions {
        margin-bottom: 20px;
        margin-left: 20px;
        padding: 0;
      }
    }
    @media @mobileonly767 {
      #layered-filter-block {
        .filter-content {
          .filter-current {
            display: block;
            margin: 20px 0 0 20px;
            border: medium none;
          }
        }
      }

      .filter {
        .filter-current {
          .items {
            display: block;
          }
        }
        .filter-current-subtitle::before {
          content: "";
        }
      }

      .filter-actions {
        display: block !important;
        margin: 0 0 20px 20px;
        padding: 0;
        .filter-clear {
          right: 0;
        }
      }
      .toolbar-sorter.open .styled-toolbar {
        display: block;
      }
      .styled-toolbar {
        display: none;
      }
      .open .styled-toolbar .styled-sorter-options {
        display: block !important;
      }
    }

  .left-box {
    left: 0;
    position: absolute;
    top: 0;
  }
}