& when (@media-common = true) {
  .reward-main-top {
    img {
      vertical-align: middle;
    }
  }
  .online-register {
    display: flex;
    flex-direction: row;
    float: left;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    .rcard {
      display: table;
      float: left;
      height: 225px;
      position: relative;
      width: 49.3%;
    }
    .rcard.card11 {
      margin-right: 20px;
      background: #f7931e;
    }
    span {
      color: #fff;
      font-family: Montserrat;
      font-size: 32px;
      line-height: 32px;
    }
    .card-text {
      color: #fff;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
    img {
      bottom: 0;
      position: absolute;
      vertical-align: middle;
    }
    .card1 {
      img {
        left: 0;
      }
    }
    .card2 {
      img {
        left: 0;
      }
    }
    .rcard.card12 {
      background: #18c1f9;
      background: -moz-linear-gradient(top, #18c1f9 0%, #12a4ee 100%);
      background: -webkit-linear-gradient(top, #18c1f9 0%, #12a4ee 100%);
      background: linear-gradient(to bottom, #18c1f9 0%, #12a4ee 100%);
    }
  }
  .card-text {
    > a {
      background: #e00814 none repeat scroll 0 0;
      border: medium none;
      border-radius: 5px;
      color: #fff;
      display: block;
      font-family: montserrat;
      font-weight: 900;
      height: 50px;
      line-height: 50px;
      margin: 0 auto;
      width: 125px;
    }
    p {
      color: #fff;
      margin: 0 auto;
      max-width: 411px;
      padding: 15px 0;
    }
  }
  .card12 {
    .card-text {
      > a {
        background: #f9cf00 none repeat scroll 0 0;
        color: #3b3939;
      }
    }
  }
  .shop-card {
    .card-text {
      p {
        margin: 0;
        max-width: 160px;
      }
      color: #fff;
      position: absolute;
      right: 25px;
      top: 20px;
    }
    .card4 {
      .card-text {
        left: 9%;
        right: auto;
      }
    }
    .card2 {
      .card-text {
        left: 9%;
        right: 0;
      }
    }
    float: left;
    margin-bottom: 40px;
    width: 100%;
    > p {
      color: #676565;
      line-height: 20px;
      margin-bottom: 25px;
    }
    .rcard {
      float: left;
      min-height: 180px;
      position: relative;
      width: 25%;
    }
    span {
      color: #fff;
      font-family: Montserrat;
      font-size: 20px;
      line-height: 23px;
    }
    img {
      bottom: 0;
      position: absolute;
      vertical-align: middle;
    }
  }
  .card1 {
    .rcard {
      background: #8a117b;
      background: -moz-linear-gradient(top, #8a117b 0%, #730b7a 100%);
      background: -webkit-linear-gradient(top, #8a117b 0%, #730b7a 100%);
      background: linear-gradient(to bottom, #8a117b 0%, #730b7a 100%);
    }
    img {
      left: 15px;
    }
  }
  .card2 {
    .rcard {
      background: #4ab69f;
      background: -moz-linear-gradient(top, #4ab69f 0%, #34ae95 100%);
      background: -webkit-linear-gradient(top, #4ab69f 0%, #34ae95 100%);
      background: linear-gradient(to bottom, #4ab69f 0%, #34ae95 100%);
    }
    img {
      right: 25px;
    }
  }
  .card3 {
    .rcard {
      background: #59b73b;
      background: -moz-linear-gradient(top, #59b73b 0%, #4d9d2c 100%);
      background: -webkit-linear-gradient(top, #59b73b 0%, #4d9d2c 100%);
      background: linear-gradient(to bottom, #59b73b 0%, #4d9d2c 100%);
    }
    img {
      left: 20px;
    }
  }
  .card4 {
    .rcard {
      background: #e5a300;
      background: -moz-linear-gradient(top, #e5a300 0%, #ca7200 100%);
      background: -webkit-linear-gradient(top, #e5a300 0%, #ca7200 100%);
      background: linear-gradient(to bottom, #e5a300 0%, #ca7200 100%);
    }
    img {
      right: 20px;
    }
  }
  .tab-banner {
    display: none;
  }
  .mob-banner {
    display: none;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .shop-card img {
    width: 45px;
  }
  .online-register {
    img {
      width: 60px;
    }
    .card12 span {
      display: inline-block;
      width: 220px;
    }
  }
}
@media @desktop1023 {
  .shop-card {
    .rcard {
      min-height: 170px;
      width: 50%;
    }
    .card-text {
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .online-register {
    .rcard {
      width: 48.5%;
      height: 175px;
    }
    span {
      font-size: 21px;
      line-height: 25px;
    }
    img {
      left: 3px;
      width: 17%;
    }
    .card12 {
      span {
        display: inline-block;
        width: 145px;
      }
    }
  }
  .card-text {
    p {
      font-size: 12px;
      max-width: 250px;
      padding: 12px 0;
    }
    >a {
      height: 40px;
      line-height: 40px;
      width: 95px;
    }
  }
}
@media only screen and (max-width:768px) {
  .desk-banner {
    display: none;
  }
  .tab-banner {
    display: block;
  }
}
@media @mobileonly767 {
  .online-register {
    .rcard.card11 {
      margin-right: 0;
    }
    .rcard {
      width: 100%;
    }
    display: block;
    margin-top: 15px;
    img {
      left: 0;
      width: 65px;
    }
    .rcard.card12 {
      margin-top: 15px;
    }
  }
  .shop-card {
    .rcard {
      min-height: 120px;
      width: 100%;
    }
    .card-text {
      p {
        font-size: 12px;
        line-height: 20px;
        padding: 10px 0 0;
        margin: 0;
        max-width: 190px;
      }
      right: auto;
      top: 10px;
      left: 85px;
    }
    span {
      font-size: 12px;
      line-height: 18px;
    }
    img {
      width: 60px !important;
    }
    .card2 {
      .card-text {
        left: auto;
        right: 85px;
      }
    }
    .card4 {
      .card-text {
        left: auto;
        right: 85px;
      }
    }
  }
  .card1 {
    img {
      left: 5px;
    }
  }
  .card2 {
    img {
      right: 5px;
    }
  }
  .card3 {
    img {
      left: 5px;
    }
  }
  .card4 {
    img {
      right: 5px;
      width: 30%;
    }
  }
  .card-text {
    p {
      max-width: 190px;
    }
  }
}
@media only screen and (max-width:320px) {
  .desk-banner {
    display: none;
  }
  .tab-banner {
    display: none;
  }
  .mob-banner {
    display: block;
  }
}
//reward offers cms page
span.offers-text {
  color: #676565;
  line-height: 20px;
  margin-bottom: 20px;
  display: block;
  text-shadow: none;
}
.cat-offer {
  color: #3b3939;
  font-family: @montserratbold;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 20px 0 5px;
  min-height: 40px;
  line-height: 20px;
}
.box-information-earnpoints{
  .all-details.reward-offers {
    .section {
      display: inline-flex;
      @media @desktop1023  {
        display: block;
      }
      @media @mobileonly767 {
        display: block;
      }
      li {
        width: 31%;
        @media @desktop1023  {
          width: 45.3%;
        }
        @media @mobileonly767 {
          width: 100%;
        }
        .store-details {
          padding: 0 15px 20px;
        }
        &:nth-child(3n){
          @media @desktop1023{
            //clear: left;
            //margin-left: 0px;
          }
        }
        &:nth-child(3n+4) {
      @media @desktop1023{
        clear: none;
         margin-left: 2.6%;
      }
      }
      }
    }
  }
}
.all-details.reward-offers {
  .section {
    li {
    @media @desktop1024 {
      display: inline-block;
      float: none;
      vertical-align: middle;
      width: 23.5%;
      &:nth-child(5n + 1) {
        margin-left: 1.4%;
      }
      &:nth-child(4n + 1) {
        margin-left: 0;
      }
    }
      .store-name {
        h3 {
          font-size: 14px;
          margin: 20px 0 5px;
          min-height: 40px;
          line-height: 20px;
        }
      }
      @media @mobileonly767 {
        display: block;
        text-align: center;
        margin-left: 0;
      }
      span {
        display: block;
      }
    }
  }
  .store-loc-address {
    >span {
      line-height: 25px;
    }
    @media @mobileonly767 {
      height: auto !important;
    }
  }
  ul.section.group {
    text-align: center;
  }
  .section {
    li {
      .store-details {
        padding: 0 15px 0;
        @media @mobileonly767 {
          padding-bottom: 15px;
        }
      }
    }
  }
}



