& when (@media-common = true) {
  .addr-tab1 > div {
    float: left;
    width: 100%;
  }
  .addr4 {
    .lfaddr {
      text-align: center;
    }
    float: left;
    margin-bottom: 35px;
    width: 100%;
  }
  .lfaddr {
    float: left;
    max-width: 135px;
    width: 30%;
    strong {
      color: #3b3939;
      font-family: @montserratbold;
      font-weight: 900;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .addr5 {
    .lfaddr {
      text-align: center;
    }
    clear: both;
  }
  .rtaddr {
    float: left;
    strong {
      color: #3b3939;
      font-family: @montserratbold;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
  }
  .aston-hd {
    font-size: 22px;
    line-height: 30px;
    margin-top: 0;
    text-align: left;
    >span {
      vertical-align: top;
    }
  }
  .arrange-margin {
    p {
      color: #3b3939;
      font-size: 16px;
      line-height: 18px;
    }
    strong {
      display: inline-block;
      padding: 0 !important;
      width: 135px;
    }
    strong.call-number {
      width: auto;
    }
    >a {
      color: #00ace2;
      display: block;
      font-size: 14px;
      margin-top: 10px;
    }
    span {
      display: inline-block;
      font-size: 25px;
      padding-left: 5px;
      vertical-align: top;
    }
    margin-bottom: 35px;
  }
  .addr3 {
    clear: both;
  }
  .store-sec2 {
    iframe {
      width: 100% !important;
    }
  }
  .img-shore-block1 {
    img {
      width: auto;
      height: auto;
    }
  }
  .img-shore-block2 {
    clear: both;
    padding-top: 30px;
  }
  .rtbox-imgs {
    width: 30%;
    float: left;
    text-align: center;
    margin-right: 10px;
    display: block;
    height: 125px;
    span {
      font-size: 12px;
      font-weight: bold;
    }
  }
  .icon-hd1 {
    width: 25px !important;
    height: 30px !important;
    padding-right: 5px;
  }
  .icon-hd2 {
    width: 36px !important;
    height: 36px !important;
    padding-right: 5px;
  }
  .icon-hd3 {
    width: 36px !important;
    height: 36px !important;
    padding-right: 5px;
    vertical-align: top;
  }
  .cir-img1 {
    width: 75px;
  }
  .cir-img2 {
    width: 60%;
  }
  .bottom-storehd1 {
    font-size: 22px;
    line-height: 36px;
    text-align: left;
    margin-top: 0;
    >span {
      vertical-align: top;
    }
  }
  .bottom-store-hd2 {
    font-size: 22px;
    line-height: 36px;
    text-align: left;
    margin-top: 0;
  }
  .store-sec1{width:32%;float:left;}
  .store-sec2{width:32%;float:left;padding-left: 15px;}
  .store-sec3{width:32%;float:left;padding-left: 15px;}
  @media only screen and (min-width: 1024px) {
    .cms-page-view .store-search-wrapper {
      border-top: 2px solid #c2c2c2;
      float: left;
      margin-bottom: 40px;
      margin-top: 25px;
      padding-top: 40px;
      width: 100%;
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1300px) {
    .lfaddr {
      width: 37%;
    }
    .addr4 {
      .lfaddr {
        width: 30%;
      }
    }
  }
  @media @desktop1023 {
    .store-pageJJwrap {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .store-sec2 {
      float: none;
      order: -1;
      padding-left: 0;
      width: 100%;
      padding-top: 45px;
      padding-bottom: 10px;
      iframe {
        width: 100% !important;
        height: 315px;
      }
    }
    .store-sec1 {
      float: left;
      width: 100%;
    }
    .store-sec3 {
      float: left;
      padding-left: 0px;
      width: 100%;
    }
    .lfaddr {
      float: left;
      width: 38%;
      strong {
        font-size: 12px;
      }
    }
    .rtaddr {
      float: left;
      width: 62%;
      strong {
        font-size: 12px;
        width: 110px;
      }
    }
    .addr-tab1 {
      width: 50%;
      float: left;
    }
    .addr-tab2 {
      width: 50%;
      float: left;
    }
    .arrange-margin {
      margin-bottom: 18px;
    }
    .cir-img1 {
      width: 35%;
      padding-left: 12%;
    }
    .bottom-storehd1 {
      text-align: left;
      margin-top: 5px;
      float: left;
      width: 135px;
    }
    .img-shore-block1 {
      display: inline-block;
      width: 81.4%;
      img {
        height: auto;
        margin-right: 10px;
        width: 135px;
      }
    }
    .bottom-store-hd2 {
      display: flex;
      float: left;
      margin-top: 5px;
      text-align: left;
      width: 135px;
      font-size: 20px;
      line-height: 25px;
    }
    .rtbox-imgs {
      float: left;
      text-align: center;
      width: 23.1%;
      height: 130px;
      margin-right: 15px;
    }
    p.rtbox-imgs {
      &:nth-child(4n) {
        margin-right: 0px;
      }
    }
    .img-shore-sub {
      display: inline-block;
      width: 81.4%;
    }
    .img-shore-block2 {
      padding-top: 0;
      img {
        height: auto;
        margin-right: 10px;
        width: 135px;
        margin-right: 0;
      }
    }
    .aston-hd {
      text-align: left;
      margin-top: 5px;
      position: absolute;
      top: 0;
    }
    .img-store {
      >img {
        height: 315px;
      }
    }
    p {
      color: #3b3939;
      font-size: 14px;
      line-height: 14px;
    }
    .addr4 {
      margin-bottom: 0;
    }
    .bluefoot-entity {
      float: left;
      margin-bottom: 5px;
      width: 100%;
    }
    .icon-hd2 {
      height: 30px !important;
      padding-right: 5px;
      width: 30px !important;
    }
    .icon-hd3 {
      height: 30px !important;
      padding-right: 5px;
      vertical-align: top;
      width: 30px !important;
    }
    .bottom-storehd1 {
      font-size: 18px;
    }
    .bottom-store-hd2 {
      font-size: 18px;
    }
  }
  @media @mobileonly767 {
    .addr-tab1 {
      margin-top: 30px;
    }
    .store-pageJJwrap {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .store-sec2 {
      float: none;
      order: -1;
      padding-left: 0;
      width: 100%;
      padding-top: 50px;
      iframe {
        width: 100% !important;
        height: 245px;
      }
    }
    .store-sec1 {
      float: none;
      width: 100%;
    }
    .store-sec3 {
      float: none;
      padding-left: 0px;
      width: 100%;
    }
    .lfaddr {
      float: left;
      max-width: 125px;
      width: 41%;
      margin-bottom: 5px;
    }
    .rtaddr {
      float: left;
      width: auto;
    }
    .rtbox-imgs {
      width: 47%;
      float: left;
      height: auto;
      text-align: center;
      margin-right: 15px;
    }
    .img-shore-block1 {
      img {
        width: auto;
        height: auto;
      }
    }
    .img-shore-block2 {
      img {
        width: auto;
        height: auto;
      }
    }
    .aston-hd {
      text-align: left;
      margin-top: 5px;
      position: absolute;
      top: 0;
    }
    p.rtbox-imgs {
      &:nth-child(2n) {
        margin-right: 0px;
      }
    }
    .arrange-margin {
      strong {
        width: 106px;
      }
    }
    .cir-img1 {
      width: 60px;
    }
    .bluefoot-row {
      margin-left: 0;
      margin-right: 0;
    }
    .bottom-storehd1 {
      margin-top: 20px;
    }
    .addr4 {
      .lfaddr {
        width: 38%;
      }
    }
    .addr5 {
      .lfaddr {
        width: 39%;
      }
    }
    .addr3 {
      .arrange-margin {
        strong {
          font-size: 12px;
          width: 115px;
        }
      }
    }
    .addr2 {
      clear: left;
    }
    .addr-tab1 { width: 100%;}
    .addr-tab2 {width: 100%;}
    .img-shore-block1 { width: 100%;}
    .img-shore-block2 {width: 100%;}
    .img-shore-sub {width: 100%;}
  }
}