.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .navigation,
  .breadcrumbs,
  .page-header .header.panel,
  .header.content,
  .footer.content,
  .page-wrapper > .widget,
  .page-wrapper > .page-bottom,
  .block.category.event,
  .top-container,
  .page-main {
    max-width: 1440px;
  }
}
*::-moz-placeholder {
  opacity: 1;
}
input::-webkit-input-placeholder {
  color: #252323 !important;
  font-family: latoregular;
}
*:-ms-input-placeholder {
  opacity: 1;
}
//Header Section

.move-left .sticky-header {
 position: static !important;
  z-index: auto !important;
}

.message.success{
  background-color: #d4edda;
  border-color: #c3e6cb;
  > div{
    color: #155724;
    &::before{
      color: #155724 !important;
    }
  }
}

.header-navigation.sticky-header {
  background: #fff none repeat scroll 0 0;
  border-bottom: 5px solid #00ace2;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  -webkit-animation: moveBottom 400ms ease;
  -moz-animation: moveBottom 400ms ease;
  -ms-animation: moveBottom 400ms ease;
  -o-animation: moveBottom 400ms ease;
  animation: moveBottom 200ms ease;
}


@keyframes moveBottom { 0% {    top: -100px; } 100% {    top: 0px; }}
@-moz-keyframes moveBottom { 0% {   top: -100px; } 100% {   top: 0px; }}
@-webkit-keyframes moveBottom { 0% {   top: -100px; } 100% {   top: 0px; }}
@-ms-keyframes moveBottom { 0% {   top: -100px; } 100% {   top: 0px; }}
@-o-keyframes moveBottom { 0% {   top: -100px; } 100% {   top: 0px; }}

.cms-home {
  .header-navigation {
    margin-bottom: 0;
  }
}
.header-navigation {
  margin-bottom: 20px;
}
//USP Section
& when (@media-common = true) {
  .block-search .block-content {
    position: relative;
  }
  .klevu-fluid {
    #loaderContainer, #klevuSearchingArea, #klevu-pt-rs-hover {
      width: 100% !important;
      top: 100% !important;
      left: 0 !important;
    }
  }
  .ie11,.ie10,.ie11 body,.ie10 body {
    height: auto !important;
  }
  .ie11, .ie10 {
    .cms-index-index [data-content-type='row'][data-appearance='contained'] [data-element='inner'] {
      display: block !important;
    }
  }
  .active, .dot:hover {
    background-color: transparent !important;
  }
  .prev, .next {
    text-decoration: none !important;
  }
.home-usp {
  background: #fef8ef none repeat scroll 0 0;
}
.usp-bar {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1400px;
  padding: 15px 20px;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: outside none none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
  }
  strong {
    display: block;
    font-family: @montserratbold;
    font-size: 14px;
    font-weight: normal;
  }
  a {
    color: #828181;
    display: block;
    float: left;
    font-family: latoregular;
    font-size: 12px;
    line-height: 14px;
    @media @ipadLandcap {
      width: ~"calc(100% - 70px)";
    }
  }
  span {
    background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll 0 -126px;
    display: block;
    float: left;
    padding-right: 15px;
  }
  .first-order{
    span {
      height: 37px;
      width: 28px;
    }
  }
  .free-delivery{
    span {
      background-position: -60px -134px;
      height: 31px;
      width: 53px;
    }
  }
  .pet-clinic{
    span {
      background-position: -145px -129px;
      height: 32px;
      width: 37px;
    }
  }
  .click-and-collect{
    span {
      background-position: -201px -131px;
      height: 34px;
      width: 34px;
    }
  }
  a.next, a.prev{
    display:none;
  }
}
}

@media @desktop1023 {
  .usp-bar span {
    display:none;
  }
}
@media only screen and  (min-width: 768px) {
  .usp-bar.mobile
  {
    display:none;
  }
}
@media @mobileonly767 {
  .usp-bar.desktop {
    display:none;
  }
  .usp-bar ul {
    display: block;
  }
  .usp-bar a {
    float: none;
    text-align: center;
  }
}

//header links
.page-header {
  .panel.wrapper {
    background: none;
    border: medium none;
  }
}


.header.links {
  li.authorization-link.customer-not-loggedin {
    >a.mobile-login {
      display: none !important;
    }
  }
  .customer-welcome {
    li {
      a{
        padding: 8px 15px;
      }
    }
  }
}


.top-static-link {
  box-sizing: border-box;
  margin: 15px auto 0;
  max-width: 1440px;
  padding: 0;
  text-align: right;
  li {
    color: #0099cc;
    display: inline-block;
    margin: 0;
  }
  a {
    color: #00ace2;
    font-family: @montserratbold;
    font-size: 11px;
    line-height: 12px;
  }
  span {
    color: #000;
    font-family: @montserratbold;
    font-size: 12px;
    line-height: 12px;
    padding: 0 12px 0 15px;
  }
}
.block-search {
  float: left;
  max-width: 680px;
  padding-left: 2.5%;
  position: relative;
  width: 50%;
  z-index: 4;
  input {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #bdbdbd;
    box-shadow: none !important;
    height: 50px;
    margin: 0;
    padding-right: 63px;
    position: static;
  }
  .action.search {
    background: #e00814;
    border-radius: 0 5px 5px 0;
    height: 50px;
    margin-right: -1px;
    opacity: 1 !important;
    right: 0;
    width: 63px;
    &::before {
      background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll 0 -1px;
      color: #fff;
      content: "";
      height: 26px;
      width: 26px;
    }
    &:hover {
      background: #e00814 none repeat scroll 0 0;
    }
  }
}
.store-locator {
  float: left;
  margin-left: 3%;
  .store-desk {
    background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll 0 -36px;
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    width: 24px;
  }
  >a {
    background: #e00814;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-family: @montserratbold;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 167px;
  }
}
& when (@media-common = true) {
  img, object, video, embed {
    height: auto;
  }
  .sticky-header {
    .logo {
      height: 86px;
      margin: 0;
      max-width: 175px;
      min-width: 175px;
      overflow: hidden;
      img {
        height: auto;
      }
    }
    .store-locator {
      > a {
        font-size: 10px;
        height: 40px;
        line-height: 41px;
        width: 135px;
      }
      height: 40px;
      margin-left: 1.5%;
    }
    .block-search {
      input {
        height: 40px;
        padding-right: 45px;
      }
      .action.search {
        width: 45px;
        height: 40px;
        &::before {
          background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -50px -1px;
          color: #fff;
          content: "";
          height: 20px;
          width: 20px;
        }
      }
      height: 40px;
      max-width: 940px;
      width: 68%;
    }
    .header.panel {
      > .header.links {
        > li {
          > a {
            background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -50px -198px;
            padding: 0;
            text-indent: -10000px;
            width: 25px;
          }
        }
      }
    }
    .header.content {
      padding: 15px 0 20px;
      padding: 15px 20px 20px;
      .panel.header {
        margin: 5px 1.5% 0;
        width: 25px;
      }
    }
    .minicart-wrapper {
      margin-left: 0;
      margin-top: 7px;
      min-width: 40px;
      .action.showcart {
        overflow: hidden;
        white-space: nowrap;
        width: 40px;
        &::before {
          background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -359px -161px;
          content: "";
          height: 30px;
          width: 40px;
        }
        .counter.qty {
          background: #e00814 none repeat scroll 0 0;
          border-radius: 50px;
          color: #fff !important;
          display: block;
          font-family: @montserratbold;
          font-size: 12px;
          font-weight: 400;
          height: 16px;
          line-height: 16px;
          margin: 0;
          min-width: 0;
          padding: 0 0;
          position: absolute;
          right: -10px;
          text-transform: uppercase;
          top: -6px;
          width: 16px;
          &::before {
            content: "";
          }
          &::after {
            content: "";
          }
          .counter-label > span {
            display: none;
          }
        }
      }
    }
    .nav-top {
      margin: 0 auto;
      max-width: 1440px;
      position: relative;
    }
    .navigation {
      background: none;
      left: 220px;
      position: absolute;
      top: 80px;
      ul {
        display: flex;
        justify-content: space-between;
        max-width: 1190px;
        padding: 0;
      }
      .level0 {
        > .level-top {
          line-height: 17px;
          color: #3b3939 !important;
        }
      }
    }
    .top-static-link {
      display: none;
    }
    .customer-welcome {
      .customer-name {
        background: transparent url("@{baseDir}images/account-tab.png") no-repeat scroll 0 0;
        text-indent: -10000px;
      }
    }
    .counter.qty.empty {
      .counter-number {
        &::after {
          content: "";
        }
      }
    }
  }
}
.sticky-header + .header-block {
  margin-top: 247px;
}
.sticky-header + .breadcrumbs  {
  margin-top: 250px;
}


.minicart-wrapper {
  .action.mob-cart {
    display: none;
  }
}

#top-cart-btn-checkout, #bottom-cart-btn-checkout{
  span{
    color: #fff !important;
  }
}

button.action-secondary.action-dismiss {
    background: #e3e3e3;
    border: 1px solid #e3e3e3;
    box-shadow: none;
    border-radius: 5px;
    color: #000;
    width: 100px;
    height: 50px;
    margin-right: 10px;
    font-size: 18px;
  }


button.action-primary.action-accept {
    background: #e00814;
    box-shadow: none;
    border: 1px solid #e00814;
    width: 100px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
  }

.customer-welcome > a.mobile-login {
  display: none !important;
}


@media @desktop1023 {
  .store-locator {
    >a {
      font-size: 10px;
      height: 40px;
      line-height: 41px;
      width: 135px;
    }
  }
}
.counter.qty {
  .counter-number {
    display: none;
  }
}
@media @mobileonly767 {
  .header.links {
    li.authorization-link.customer-not-loggedin {
      >a.mobile-login {
        display: block !important;
        background: none !important;
      }

      > span.customer-name{
        display: none;
      }
    }
  }

  .minicart-wrapper {
    .action.showcart {
        display: none;
    }
    .action.mob-cart {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      .counter.qty {
        background: #e00814 none repeat scroll 0 0;
        border-radius: 50px;
        color: #fff !important;
        display: block;
        font-family: @montserratbold;
        font-size: 12px;
        font-weight: 400;
        height: 14px;
        line-height: 14px;
        margin: 0;
        padding: 0 5px;
        position: absolute;
        right: -10px;
        text-align: center;
        text-transform: uppercase;
        top: -10px;
        &::before {
          content: "";
        }
        &::after {
          content: "";
        }

        .counter-number{
          display: block;
          text-shadow: none;
          &::after{
            content: "";
          }
        }
        .counter-label{
            display: none;
        }
      }
      &::before {
        background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -372px -42px;
        content: "";
        height: 25px;
        width: 30px;
        display: block;
      }
    }
  }

  .store-locator {
    >a {
      background: none;
      font-size: 0;
      line-height: 0;
      text-indent: -10000px;
    }
  }
  .header.links{
    .customer-welcome{
      .customer-menu{
        display: none;
      }
      > .customer-name{
        display: none !important;
      }
      a.mobile-login{
        background: transparent url("@{baseDir}images/customer-icon-m.png") no-repeat scroll 2px 0 !important;
        width: 35px !important;
        display: block !important;
        > span{
          background: none;
        }
      }
    }
  }

}

.header.links {
  float: left;
}
.header.content {
  .panel.header {
    float: left;
    margin: 10px 3% 0;
    max-width: none;
    padding: 0;
    width: 100px;
  }
  padding: 3px 20px 0;
  display: flex;
  max-width: 1440px;
}
.minicart-wrapper {
  margin-left: 0;
  margin-top: 10px;
  display: inline-block;
  float: right;
  min-width: 100px;
  position: relative;
  .action.showcart {
    &::before {
      background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -359px -161px;
      content: "" !important;
      height: 30px;
      width: 40px;
    }
    .counter.qty {
      background: none;
      line-height: 33px;
      padding: 0;
      &::before {
        content: "(";
      }
      &::after {
        content: ")";
      }
    }
    .counter.qty.empty {
      display: inline-block;
    }
  }
}
.header.panel {
  >.header.links {
    float: left;
    >li {
      margin: 0;
      &:last-child {
        display: none;
      }
      >a {
        background: transparent url("@{baseDir}images/customer-icon.png") no-repeat scroll 0 0;
        height: 33px;
        line-height: 33px;
        color: #3b3939 !important;
        font-family: @montserratbold;
        font-size: 12px;
        padding-left: 35px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}
.greet.welcome {
  display: none !important;
}
.counter.qty.empty {
  .counter-number {
    text-shadow: none;
    display: inline-block;
    &::after {
      content: " ITEMS";
    }
  }
}

.counter {
  font-family: @montserratbold;
  font-size: 12px;
  margin: 0 !important;
  text-transform: uppercase;
  color: #3b3939 !important;
}
.counter-label {
  position: static !important;
  margin: 0 !important;
}
.logo {
  margin: -46px auto 25px 0;
}
.top-static-link {
  padding: 0 20px;
}
  input {
    &::-moz-placeholder {
      color: #252323 !important;
      font-family: latoregular !important;
      font-size: 12px;
    }
  }

.customer-welcome {
  .customer-name {
    background: transparent url("@{baseDir}images/customer-icon.png") no-repeat scroll 0 0;
    color: #3b3939;
    cursor: pointer;
    display: block;
    font-family: @montserratbold;
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    padding-left: 35px;
    text-transform: uppercase;
  }
}
.nav-sections {
  margin-bottom: 0;
  background: #00ace2 none repeat scroll 0 0;
}
.navigation {
  background: #00ace2 none repeat scroll 0 0;
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .level0 {
    >.level-top {
      color: #fff !important;
      font-family: @montserratbold;
      font-size: 16px;
      font-weight: 400;
      line-height: 70px;
      text-transform: uppercase;
    }
  }
}

@media @desktop1023 {

.header.panel {
  >.header.links {
    >li {
      >a {
        background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -50px -198px;
        padding: 0;
        text-indent: -10000px;
        width: 25px;
      }
    }
  }
}
.minicart-wrapper {
  margin-left: 0;
  margin-top: 7px;
  min-width:90px;
  .action.showcart {
    &::before {
      background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -372px -42px;
      content: "";
      height: 25px;
      width: 30px;
    }
    font-size: 10px;
  }
}
.block-search {
    .action.search {
      &::before {
        background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -50px -1px;
        color: #fff;
        content: "";
        height: 20px;
        width: 20px;
        display:inline-block;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .block-search{
    width:40%;
  }
}

@media @desktop1023 {
  .block-search{
    width:40%;
  }
  .header.content {
    padding: 5px 20px 20px;
    .panel.header {
      float: left;
      margin: 5px 3% 0;
      max-width: none;
      padding: 0;
      width: 25px;
    }
  }
  .top-static-link {
    >ul {
      text-align: center;
      padding: 0;
    }
  }
  .logo {
    margin: -15px 0 0;
    max-width: 120px;
    width: 33%;
  }
  .block-search {
    padding-left: 2%;
    input {
      height: 40px;
      padding-right: 50px;
    }
    .action.search {
      width: 50px;
      height: 40px;
    }
  }
  .store-locator {
    margin-left: 3%;
  }
  .minicart-wrapper .action.showcart .counter.qty {
    font-size: 10px;
    line-height: 24px;
  }
 }
@media @mobileonly767 {
.page-header {
  border-bottom: medium none;
  margin-bottom: 10px;
}
.header-navigation {
  margin: 0 auto;
  max-width: 599px;
}
.header.content {
  .panel.header {
    float: left;
    margin: 0;
    max-width: none;
    padding: 0;
    width: 30px;
    position: absolute;
    right: 104px;
    top: 30px;
  }
  display: block;
  margin: 0 15px;
  padding: 15px 0 45px;
  margin: 0 15px;
  padding: 15px 0 45px;
}
.usp-bar {
  margin: 0 auto 15px;
  padding: 10px 20px;
}
.top-static-link {
  display: none;
}
.header-navigation.sticky-header {
  padding-bottom: 72px;
  position: static;
}
.store-locator {
  float: left;
  margin-left: 0;
  margin-top: 0;
  text-align: center;
  width: 44px;
  position: absolute;
  right: 143px;
  top: 30px;
  >a {
      margin: 0 auto;
      width: 20px;
      background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll 0 -197px;
  }
}
.block-search {
  float: left;
  max-width: none;
  padding-left: 0;
  position: absolute;
  top: 85px;
  width: 100%;
  z-index: 4;
  .control {
    border-top: medium none;
    clear: both;
    margin: 0;
    padding: 0;
  }
  .label {
    display: none;
  }
  input {
    height: 40px;
    padding-right: 40px;
  }
  .action.search {
    border: medium none;
    box-shadow: none;
    display: block;
    height: 40px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    span {
      font-size: 0;
      text-indent: -10000px;
    }
  }
}
.logo {
  margin: 0 auto 25px 0;
  max-width: 95px;
  width: 34%;
}
.nav-toggle {
  left: auto;
  right: 0;
  text-align: right;
  top: 20px;
  width: 50px;
  &::before {
    background: #00ace2 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff !important;
    font-size: 29px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    width: 40px;
  }
}
.minicart-wrapper {
  float: right;
  margin-left: 0;
  margin-top: 0;
  min-width: 27px;
  right: 65px;
  text-align: right;
  position: absolute;
  top: 35px;
  .action.showcart {
    .counter.qty {
      &::before {
        content: "";
      }
      &::after {
        content: "";
      }
      background: #e00814 none repeat scroll 0 0;
      border-radius: 50px;
      color: #fff;
      display: block;
      font-family: @montserratbold;
      font-size: 12px;
      font-weight: 400;
      height: 14px;
      line-height: 14px;
      margin: 0;
      padding: 0;
      position: absolute;
      right: -20px;
      text-transform: uppercase;
      top: -7px;
      max-width: 35px;
    }
  }
}
.panel.header {
  .links {
    display: inline-block;
  }
}
.header.panel {
  >.header.links {
    >li {
      >a {
        display: inline-block;
      }
    }
  }
}
}
//save block
& when (@media-common = true) {
.save-block1 {
  display: flex;
  div.save1 {
    margin-right: 20px;
  }
  div {
    float: left;
    width: 49.3%;
  }
}
.save-block2 {
  display: flex;
  margin-top: 20px;
  div.save4, div.save6 {
    margin-right: 0 !important;
  }
  div.save-images2 {
    float: left;
    margin-right: 20px;
    width: 48.5%;
  }
}
.save-block {
  a {
    cursor: pointer;
  }
  img {
    vertical-align: middle;
    width: 100%;
  }
}
.save-image1 {
  display: flex;
  margin-right: 20px;
  width: 50%;
}
.save-image2 {
  display: flex;
  width: 50%;
}
}
@media only screen and (max-width: 768px) {
  .save-block1 {
    display: block;
    div.save1 {
      margin-bottom: 20px;
      margin-right: 0;
    }
    div {
      float: none;
      text-align: center;
      width: 100%;
    }
  }
  .save-block2 {
    display: block;
    margin-top: 20px;
    padding: 0 20px;
    div.save-images2 {
      margin-bottom: 20px;
    }
    div.save4 {
      margin: 0;
    }
  }
  .save-image1 {
    display: flex;
    margin-right: 0;
    width: 100%;
  }
  .save-image2 {
    display: flex;
    width: 100%;
  }
}
@media @mobileonly767 {
  .save-block1 {
    div.save1 {
      margin-bottom: 15px;
      margin-right: 0;
    }
  }
  .save-block2 {
    padding: 0;
    margin-top: 15px;
    div.save-images2 {
      margin-bottom: 15px;
      margin-right: 15px;
    }
  }
}
//shop category
& when (@media-common = true) {
.shop-category {
  float: left;
  margin-bottom: 40px;
  width: 100%;
  h2 {
    color: #3b3939;
    font-family: @montserratbold;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  a {
    float: left;
    min-height: 157px;
    position: relative;
    width: 25%;
  }
  img {
    bottom: 0;
    position: absolute;
    vertical-align: middle;
  }
  span {
    color: #fff;
    font-family: @montserratbold;
    font-size: 20px;
    line-height: 23px;
    position: absolute;
    right: 28%;
    top: 40%;
  }
  .cat3 {
    span {
      right: 10%;
    }
  }
  .cat4 {
    span {
      right: 18%;
      top: 35%;
    }
  }
  .cat5 {
    span {
      left: 18%;
      right: auto;
    }
  }
  .cat6 {
    span {
      left: 19%;
      right: auto;
    }
  }
  .cat7 {
    span {
      left: 12%;
      right: auto;
    }
  }
  .cat8 {
    span {
      left: 6%;
      right: auto;
      top: 35%;
    }
  }
}
.cat1 {
  img {
    left: 20px;
  }
  a {
    background: #4ab69f;
    background: -moz-linear-gradient(top, #4ab69f 0%, #34ae95 100%);
    background: -webkit-linear-gradient(top, #4ab69f 0%,#34ae95 100%);
    background: linear-gradient(to bottom, #4ab69f 0%,#34ae95 100%);
  }
}
.cat2 {
  img {
    left: 38px;
  }
  a {
    background: #8a127c;
    background: -moz-linear-gradient(top, #8a127c 0%, #730b7c 100%);
    background: -webkit-linear-gradient(top, #8a127c 0%, #730b7c 100%);
    background: linear-gradient(to bottom, #8a127c 0%, #730b7c 100%);
  }
}
.cat3 {
  img {
    left: 35px;
  }
  a {
    background: #59b73b;
    background: -moz-linear-gradient(top, #59b73b 0%, #4d9d2c 100%);
    background: -webkit-linear-gradient(top, #59b73b 0%,#4d9d2c 100%);
    background: linear-gradient(to bottom, #59b73b 0%, #4d9d2c 100%);
  }
}
.cat4 {
  img {
    left: 0;
  }
  a {
    background: #f1f700;
    background: -moz-linear-gradient(top, #f1f700 0%, #eaba00 100%);
    background: -webkit-linear-gradient(top, #f1f700 0%,#eaba00 100%);
    background: linear-gradient(to bottom, #f1f700 0%,#eaba00 100%);
  }
}
.cat5 {
  img {
    right: 20px;
  }
  a {
    background: #19c3f6;
    background: -moz-linear-gradient(top, #19c3f6 0%, #12a9f0 100%);
    background: -webkit-linear-gradient(top, #19c3f6 0%,#12a9f0 100%);
    background: linear-gradient(to bottom, #19c3f6 0%,#12a9f0 100%);
  }
}
.cat6 {
  img {
    right: 0;
  }
  a {
    background: #e4e600;
    background: -moz-linear-gradient(top, #e4e600 0%, #eaba00 100%);
    background: -webkit-linear-gradient(top, #e4e600 0%,#eaba00 100%);
    background: linear-gradient(to bottom, #e4e600 0%,#eaba00 100%);
  }
}
.cat7 {
  img {
    right: 25px;
  }
  a {
    background: #4ab69f;
    background: -moz-linear-gradient(top, #4ab69f 0%, #34ae95 100%);
    background: -webkit-linear-gradient(top, #4ab69f 0%,#34ae95 100%);
    background: linear-gradient(to bottom, #4ab69f 0%,#34ae95 100%);
  }
}
.cat8 {
  img {
    right: 20px;
  }
  a {
    background: #8a117b;
    background: -moz-linear-gradient(top, #8a117b 0%, #730b7a 100%);
    background: -webkit-linear-gradient(top, #8a117b 0%,#730b7a 100%);
    background: linear-gradient(to bottom, #8a117b 0%,#730b7a 100%);
  }
}
}
@media @desktop1023 {
  .shop-category {
    a {
      width: 50%;
    }
    span {
      font-size: 18px;
      line-height: 23px;
    }
  }
}
@media @mobileonly767 {
  .shop-category {
    a {
      float: left;
      min-height: 60px;
      position: relative;
      width: 50%;
    }
    span {
      font-size: 11px;
      line-height: 14px;
    }
    .cat8 {
      span {
        left: 5%;
        right: auto;
        top: 29%;
      }
    }
    .cat7 {
      span {
        left: 8%;
        right: auto;
      }
    }
    .cat4 {
      span {
        right: 15%;
        top: 30%;
      }
    }
    .cat1 {
      span {
        right: 20%;
      }
    }
  }
  .cat1 {
    img {
      left: 8px;
      width: 52px;
    }
  }
  .cat2 {
    img {
      left: 10%;
      width: 45px;
    }
  }
  .cat3 {
    img {
      left: 10px;
      width: 50px;
    }
  }
  .cat4 {
    img {
      left: 0;
      width: 62px;
    }
  }
  .cat5 {
    img {
      bottom: 4px;
      right: 0;
      width: 52px;
    }
  }
  .cat6 {
    img {
      right: 0;
      width: 47px;
    }
  }
  .cat7 {
    img {
      right: 5px;
      width: 48px;
    }
  }
  .cat8 {
    img {
      right: 2px;
      width: 44px;
    }
  }
}

//footer
@media only screen and (min-width: 768px) {
  .block-content.col-block {
    display: block !important;
  }
}
.footer.content {
  max-width: none;
  padding: 0;
  width: 100%;
  ul {
    padding-right: 0;
  }
  .links {
    a {
      color: #676565;
      font-family: latoregular;
      font-size: 12px;
      line-height: 12px;
      padding: 5px 0;
      text-decoration: none;
    }
    display: flex;
    justify-content: space-between;
    padding-right: 0;
    vertical-align: top;
    strong {
      color: #3b3939;
      display: block !important;
      font-family: @montserratbold;
      font-size: 14px;
      font-weight: normal;
      line-height: 14px;
      padding: 0 0 15px;
    }
  }
  .block {
    float: none;
    margin: 35px 0;
    width: auto;
  }
  .block.newsletter {
    max-width:100%;
  }
  [data-content-type='row'][data-appearance='contained'] {
    max-width: 100%;
  }
}
.social-block {
  background: #00ace2 none repeat scroll 0 0;
  padding: 20px 0;
  text-align: center;
  li {
    display: inline-block;
    padding-right: 30px;
    &:last-child {
      padding: 0;
    }
    a {
      span {
        background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -119px -78px;
        display: inline-block;
      }
      .facebook {
        height: 20px;
        width: 10px;
      }
      .tweet {
        background-position: -173px -78px;
        height: 23px;
        width: 28px;
      }
      .play {
        background-position: -234px -78px;
        height: 20px;
        width: 29px;
      }
    }
  }
}
.page-footer {
  background: #e9e9e9 none repeat scroll 0 0;
  margin-top: auto;
  padding-bottom: 25px;
}
.footer-container {
  border-bottom: 2px solid #a8a7a7;
  margin: 0 auto;
  max-width: 1400px;
  padding-bottom: 30px;
  .footer {
    margin: 0 auto;
    max-width: 670px;
  }
}
.block.newsletter {
  .field {
    .control {
      &::before {
        content: "";
      }
    }
  }
  input {
    border: medium none;
    box-shadow: none;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .action.subscribe {
    background: #e00814 none repeat scroll 0 0 !important;
    color: #fff !important;
    border: medium none;
    border-radius: 0;
    font-family: @montserratbold;
    font-size: 16px;
    height: 50px;
    margin-left: -1px;
    padding: 0 65px;
    text-transform: uppercase;
  }
  .control.mobile {display: none;}
}
.copyright-addr {
  height: 80px;
  margin: 5px auto 0;
  max-width: 1400px;
}
.copyright {
  background-color: transparent;
  color: #000;
  display: inline-block;
  padding: 32px 0 0 20px;
  text-align: center;
  vertical-align: top;
}
.payment-image {
  float: right;
  padding-top: 25px;
  width: 31%;
}
@media @desktop1023 {
  .page-footer {
    padding-bottom: 0;
  }
  .footer-container {
    .footer {
      margin: 0 auto;
      max-width: none;
      padding: 0 20px;
    }
  }
  .copyright-addr {
    height: auto;
    margin: 0 auto;
    max-width: 625px;
    >img {
      padding-top: 20px;
      width: auto;
    }
  }
  .payment-image {
    float: right;
    padding-right: 20px;
    padding-top: 25px !important;
  }
  .copyright {
    background-color: transparent;
    color: #3b3939;
    display: inline-block;
    font-family: latoregular;
    margin-top: -19px;
    padding: 0 0 0 146px;
    text-align: center;
    vertical-align: top;
  }
}
@media @mobileonly767 {
  .cms-advice .pagebuilder-column-group {
    > div {
      width: 100% !important;
      > div {
        width: 100%;
        padding: 0 !important;
      }
    }
  }
  .footer-container {
    border: medium none;
    margin: 0 20px;
    padding: 0;
  }
  .footer.content {
    .links {
      display: block;
      strong {
        padding: 0;
      }
    }
  }
  .here-help {
    .block-title.col-title {
      border-top: 1px solid #c8c8c8;
    }
  }
  .block-title.col-title {
    border-bottom: 1px solid #c8c8c8;
    cursor: pointer;
    padding: 15px 10px;
    position: relative;
    z-index: 9999;
  }
  .block-content.col-block {
    border-bottom: 1px solid #c8c8c8;
    display: block;
    padding: 10px 0 10px 30px;
  }
  .opener {
    display: block;
    float: right;
    padding: 5px 10px 0 0;
    &::after {
      content: "+";
      display: inline-block;
      font-family: @montserratbold;
      font-size: 25px;
      height: 12px;
      width: 12px;
    }
  }
  .collapsible.active {
    .opener {
      padding-top: 0;
      &::after {
        content: "-";
      }
    }
  }
  .copyright-addr {
    height: auto;
    padding: 0 20px 10px;
    text-align: center;
    >img + img {
          display: block;
          margin: 0 auto;
          max-width: 95px;
          padding-top: 15px;
      }
    }
  .copyright-addr + p {
    margin: 0;
  }
  .payment-image {
    float: none;
    padding-top: 20px;
    width: auto;
  }
  .copyright {
    background-color: transparent;
    color: #000;
    display: inline-block;
    padding: 15px 0 0;
    text-align: center;
    vertical-align: top;
    margin-top: 0;
  }
  .block.newsletter {
    .action.subscribe {
      padding: 0 10px;
    }
    input {
      padding-left: 15px;
      height: 50px !important;
    }
    .control.desktop {display: none;}
    .control.mobile {display: block;}
  }
}
#spnTop {
  bottom: 20px;
  display: none;
  opacity: 0;
  position: fixed;
  right: 0;
  transition: all 3s ease 0s;
  background: transparent url("@{baseDir}images/jollyes-sprite.png") repeat scroll -220px -190px;
  height: 42px;
  width: 42px;
  z-index: 9999;
}
@media @desktop1023 {
  .page-with-filter #spnTop.spnTop {
    display: block;
    position: fixed;
    right: 15px;
    opacity: 1;
    transition: all 3s ease 0s;
  }
}




//Minicart
.minicart-wrapper {
  .block-minicart {
    border: 0 none;
    box-shadow:0 0 0 0;
    margin: 0;
    padding: 20px;
    width: 325px;
    .block-content{
      .product-item-details{
        .actions{
          margin-top: 0;
          height: 0;
        }
      }
    }
    li{
      margin: 0;
      padding: 13px 0 !important;
    }

  }

}
.action.continue-shopping {
  background: #e9e9e9 none repeat scroll 0 0;
  border-radius: 5px;
  color: #3b3939;
  display: block;
  font-family: @montserratbold;
  font-size: 14px;
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;
}
.block-minicart {
  .subtitle.empty {
    font-family: @montserratbold;
    font-size: 16px;
    font-weight: 300;
    padding:10px 3px;
    text-transform: uppercase;
  }
  .items-total {
    border-bottom: 1px solid #f3f4f7;
    float: none;
    margin: 0 -20px;
    padding: 0 20px 15px;
    .count {
      font-weight: 300;
    }
  }
}
.minicart-items-wrapper {
  border-top: 0 none;
  border-bottom: 2px solid #f3f4f7;
  margin: 0;
  padding: 15px 0;
  margin-top: 10px;
}
.minicart-items {
  .product-item-name {
    line-height: 16px;
    max-height: 34px;
    overflow: hidden;
    a {
      color: #333333;
      font-family: @montserratbold;
      font-size: 15px;
    }
  }
  .product {
    .toggle {
      display: none;
    }
    .content {
      display: block !important;
    }
  }
  .product-item-photo {
    border: 2px solid #f3f4f7;
  }

  .action.delete::before {
    color: #929191;
    content: "\e616";
    font-size: 13px;
    vertical-align: top;
  }
  .details-qty .label::after {
    content: "";
  }
}
.product.options.list {
  color: #929191;
  font-family: @montserratbold;
  font-size: 13px;
  margin: 10px 0;
  dt {
    float: left;
    font-weight: 300;
    margin-bottom: 0;
    margin-right: 5px;
    &:after {
      content: ":";
    }
  }
  dd {
    margin-bottom: 0;
  }
}

.actions {
  .action.primary.checkout {
    background: #e00814 none repeat scroll 0 0;
    border: 1px solid #e00814;
    border-radius: 5px;
    font-family: @montserratbold;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 14px 17px;
    width: 100%;
  }
}
.block-minicart {
  height: 100%;
  .block-content {
    .actions {
      .action.primary.checkout {
        font-family: @montserratbold;
        font-size: 14px;
        font-weight: 300;
        background: #e00814 none repeat scroll 0 0 !important;
      }
    }
    .actions {
      margin-top: 15px;
    }
  }
}
.action.viewcart {
  background: #e9e9e9 none repeat scroll 0 0;
  border-radius: 5px;
  color: #3b3939;
  display: block;
  font-family: @montserratbold;
  padding: 15px;
  text-decoration:none;
  text-align:center;
  text-transform: uppercase;
}
.minicart-bottom {
  bottom: 0;
  max-width: 285px;
  position: absolute;
  width: 100%;
  .actions {
    margin-top: 20px;
  }
}
.minicart-marketing-block {
  margin:10px 0 0;
  span {
    display:block;
    text-align:center;
  }
  a {
    cursor: pointer;
  }
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.mage-dropdown-dialog {
  display: block !important;
  position: fixed;
  right: -430px;
  top: 0;
  width: 340px;
  height: 100%;
  z-index: 101;
  transition: right .3s ease-in 0.3s;
}

.page-wrapper{
  right: 0;
  transition: right .3s ease-in 0.3s;
}

body.move-left{
  overflow: hidden;
}

.move-left .page-wrapper .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.mage-dropdown-dialog{
  right: 0;
  transition: right .3s ease-in 0.3s;
}

.page-wrapper .overlay-background{
  opacity:0;
  transition: opacity 0.3s ease-in 0.3s;
  height: 0;
}

.move-left .page-wrapper .overlay-background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 100;
  transition: opacity 0.3s ease-in 0.3s;
}

.minicart-wrapper.active .block-minicart {
  position: relative;
  right: 0;
  top: 0;
  z-index: 999;
}
.qty-minus {
  background: transparent url("@{baseDir}images/minus.png") no-repeat scroll center center;
  float: left;
  height: 30px;
  text-indent:-10000px;
  width: 30px;
}
.qty-plus {
  background: transparent url("@{baseDir}images/plus.png") no-repeat scroll center center;
  float: left;
  height: 30px;
  text-indent: -10000px;
  width: 30px;
}
.minicart-items {
  .item-qty {
    background: #f4f4f4 none repeat scroll 0 0;
    border-width: 0 2px;
    float: left;
    height: 30px;
    margin-right: 0;
    text-align: center;
    width: 40px;
    font-family: latoregular;
    font-size: 12px;
  }
  .qty .control {
    height: 30px;
  }
  .product-item-pricing .label {
    color: #929191;
    font-family: @montserratbold;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    width: 35px;
    vertical-align: top;
  }
  .price-container {
    display: none;
  }
  .product-item-details {
    padding-right: 30px;
    position: relative;
  }
  .action.edit {
    top: 30px;
    position: absolute;
    right: 0;
  }
  .action.delete {
    top: 0;
    position: absolute;
    right: 0;
  }
}
.block-minicart .block-content > .actions > .primary {
  margin: 0 0 15px;
}
.minicart-wrapper {
  .action.close {
    background: #ffffff none repeat scroll 0 0 !important;
    border-radius: 0;
    height: 56px;
    left: -50px;
    width: 50px;
    z-index: 1000;
    border: 2px solid #bdbdbd;
    &:hover{
      border: 2px solid #bdbdbd;
    }
    &:focus{
      border: 2px solid #bdbdbd;
    }
    &:before {
      color: #929191;
      font-size: 13px;
      vertical-align: bottom;
    }
  }
}

//Account dropdown
.customer-welcome {
  height:53px;
  ul {
    border: 2px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 0 0 0;
    &:before {
      border: 10px solid;
      border-color: transparent transparent #fff transparent;
      right: 0;
      top: -19px;
      left: 0;
      margin: 0 auto;
    }
    &:after {
      border: 11px solid;
      border-color: transparent transparent #ddd transparent;
      right: 0;
      top: -23px;
      left: 0;
      margin: 0 auto;
    }
    li {
      &:hover {
        background: #f4f4f4 none repeat scroll 0 0;
      }
    }
  }
  li {
    a {
      font-family: @montserratbold;
      padding: 8px 20px;
    }
  }
  li:first-child {
    a {
      padding-top: 13px;
    }
  }
  li:nth-child(2) {
    a {
      padding-bottom: 13px;
    }
  }
  .header.links {
    min-width: 210px;
    display: inline-flex;
    flex-direction: column;
      .authorization-link {
        order: 1;
      }
  }
}
.customer-welcome.active ul {
  left: 50%;
  transform: translateX(-56%);
}



.customer-not-loggedin {
  position: relative;
  height:53px;
  .customer-name {
    background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -368px 0;
    color: #3b3939;
    cursor: pointer;
    display: block;
    font-family: @montserratbold;
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    padding-left: 35px;
    text-transform: uppercase;
  }
  .not-loggedin-customer-menu {
    display: none;
  }
}
.not-loggedin-customer-menu {
  ul {
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
    list-style: outside none none;
    margin: 4px 0 0;
    padding: 15px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 100%;
    width: 285px;
    z-index: 101;
    &:before {
      border: 10px solid;
      border-color: transparent transparent #fff transparent;
      content:"";
      height:0;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: -19px;
      width:0;
      z-index: 99;
    }
    &:after {
      border: 11px solid;
      border-color: transparent transparent #ddd transparent;
      content:"";
      height:0;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      top: -23px;
      width:0;
      z-index: 98;
    }
  }
  li {
    display: inline-block;
    margin:0;
    a {
      border-radius: 5px;
      box-sizing: border-box;
      color: #3b3939;
      display: inline-block;
      font-family: @montserratbold;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 103px;
    }
  }
  .sign-in {
    a {
      background: #f9cf00 none repeat scroll 0 0;
    }
  }
  .register-link {
    a {
      background: #e9e9e9 none repeat scroll 0 0;
    }
  }
  .link-separator{
    font-family: latoregular;
    font-size: 16px;
    padding:0 9px;
  }
}
.customer-not-loggedin.active {
  .not-loggedin-customer-menu {
    display: block;
  }
}
.header-navigation.sticky-header {
  .customer-not-loggedin {
    .customer-name {
      text-indent: -10000px;
    }
  }
  .not-loggedin-customer-menu {
    ul {
      right: -57px;
      left: auto;
      transform: none;
      &:before {
        right: -134px;
      }
      &:after {
        right: -134px;
      }
    }
  }
  .customer-welcome {
    ul {
      right: -50px;
      &:before {
        right: -13px;
      }
      &:after {
        right: -13px;
      }
    }
  }
}

@media @desktop1023 {
  .customer-welcome {
    .customer-name {
      text-indent: -10000px;
    }
  }
  .customer-welcome.active {
    ul {
      transform: translateX(-51%);
    }
  }
  .customer-not-loggedin {
    .customer-name {
      text-indent: -10000px;
    }
  }
  .not-loggedin-customer-menu {
    ul {
      padding: 14px;
      right: -97px;
      width: 238px;
    }
    li {
      a {
        font-size: 12px;
        width: 82px;
      }
    }
    .link-separator {
      font-size: 12px;
      padding:0 10px
    }
  }
}

#top-cart-btn-print-quote{
  display: none;
}

#btn-minicart-close.off-click{
  pointer-events: auto;
  opacity: 1;
}
@media @mobileonly767 {
  .customer-not-loggedin .customer-name {
    background: transparent url("@{baseDir}images/jollyes-sprite.png") no-repeat scroll -49px -197px;
  }
  #notice-cookie-block{
    .content{
      padding-right: 0 !important;
    }
    .actions {
        position: relative !important;
        right: auto !important;
    }
  }
}

/*Allow cookie section*/
#notice-cookie-block{
  .content{
    padding-right: 100px;
    p{
      line-height: 17px;
    }
  }
  .actions {
      margin-top: 6px;
      position: absolute;
      right: 20px;
      top: 0;
  }
}