<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data'); ?>
<?php $buttonTitle = __('Add to Basket'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart">
        <div class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
                <div class="field qty">
                    <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Quantity:') ?></span></label>
                    <div class="control">
                        <a class="product-list-qty-minus"><p class="dn">-</p></a>
                        <input type="number"
                               name="qty"
                               id="qty"
                               maxlength="12"
                               value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                               title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text validate-number qty"
                               data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                        />
                        <a class="product-list-qty-plus"><p class="up">+</p></a>
                    </div>
                </div>
            <?php endif; ?>
            <?php if($_product->getTypeId()!='grouped'): ?>
                <?php echo $block->getLayout()->createBlock("Jjcommerce\StoreLocator\Block\Product\View\StoreStock")->setTemplate("Jjcommerce_StoreLocator::product/view/store_stock.phtml")->toHtml(); ?>
            <?php endif; ?>
            <?php echo $block->getChildHtml('', true) ?>
            <div class="wrapper-price">
                    <div class="total-price"><span class="label">Total:</span><span class="price"><?php echo $priceHelper->currency($_product->getFinalPrice(), true, false); ?></span></div>
                    <div class="actions">
                        <button type="submit"
                                title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                                class="action primary tocart"
                                id="product-addtocart-button">
                            <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
                        </button>
                    </div>
            </div>

        </div>
    </div>
    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('free_delivery')->toHtml();?>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": true,
                "processStart" : "add_to_cart_start",
                "processStop" : "add_to_cart_success"
            }
        }
    }
</script>
<?php endif; ?>
<script type="text/javascript">
    require(['jquery','domReady!'],
    function($){
        $(document).ready(function(){
            if($("body").hasClass("page-product-configurable")){
                //$('.product-options-bottom .store-stock').hide();
                $('.product-options-bottom .store-stock').addClass("noneditable");
            }

        });
        var currencySign = $(".product-info-price .price-final_price span.price").text();
        var currencySign = currencySign.substr(0, 1);
        var totalGroupPrice = 0;
        var totGroupQuan = 0;

        var groupedQtyDecrease = function(e){
            e.preventDefault();
            element = $(this);
            var count = 0;

            $("body.page-product-grouped .control.qty .qty").each(function(){
                if((Number($(this).val() -1)  < 1)){
                    count = count + 1;
                }
            });

            if(count == $("body.page-product-grouped .control.qty .qty").length){
                $(".page-product-grouped .total-price").hide();
            }


            val = element.parent().children('input.qty').val();
            if (parseInt(val) > 0) {
                val = parseInt(val) - 1;
                element.parent().children('input.qty').val(val);

                totPrice = (Number($(this).closest("tr").find(".price-final_price span[data-price-type='finalPrice']").data("price-amount")));
                totPrice = totPrice.toFixed(2);

                totalGroupPrice = Number(totalGroupPrice) - Number(totPrice);
                $(".total-price span.price").text(" " + currencySign + totalGroupPrice.toFixed(2));
            }

        }

        var groupedQtyIncrease = function(e){
            e.preventDefault();
            element = $(this);


            $(".page-product-grouped .total-price").show();
            val = element.parent().children('input.qty').val();
            if (parseInt(val) < 999) {

                val = parseInt(val) + 1;
                element.parent().children('input.qty').val(val);


                totPrice = (Number($(this).closest("tr").find(".price-final_price span[data-price-type='finalPrice']").data("price-amount")));
                totPrice = totPrice.toFixed(2);

                totalGroupPrice = Number(totalGroupPrice) + Number(totPrice);

                $(".total-price span.price").text(" " + currencySign + totalGroupPrice.toFixed(2));

            }
        };

        var changeGroupTotalPrice = function(){
            totGroupQuan = 0;
            count = 0;

            $("body.page-product-grouped .control.qty .qty").each(function(e){

                if(Number($(this).val() == 0)){
                    count = count + 1;
                }else{
                    count = 0;
                }

                val =  $(this).val();
                if(val > 999){
                    val = 999;
                    $(this).val(val);
                }

                totPrice = (Number($(this).closest("tr").find(".price-final_price span[data-price-type='finalPrice']").data("price-amount"))) * Number($(this).val());
                totPrice = totPrice.toFixed(2);
                totGroupQuan = Number(totGroupQuan) + Number(totPrice);
            });


            if(count ==  $("body.page-product-grouped .control.qty .qty").length){
                $(".page-product-grouped .total-price").hide();
            }else{
                $(".page-product-grouped .total-price").show();
            }

            totalGroupPrice = totGroupQuan;

            $(".total-price span.price").text(" " + currencySign + totalGroupPrice.toFixed(2));
        }

        /***   for quantity inc or dec   ***/

        var qtyIncrease = function(e){
            e.preventDefault();
            element = $(this);

            val = parseInt(Number(element.parent().children('input.qty').val()));

            if(val > 999){
                val = 999;
                $(this).val(val);
                e.stopImmediatePropagation();
            }

            if (val < 999) {

                val = val+1;
                element.parent().children('input.qty').val(val);

                if($("body").hasClass("page-product-configurable")){
                    var unitPrice =  $(".total-price span.price").text();
                    unitPrice = unitPrice.substr(unitPrice.indexOf(currencySign) + 1);
                    var currVal = Number(element.parent().children('input.qty').val()) - 1;
                    var totPrice = (Number(unitPrice) / currVal) * val;
                    totPrice = totPrice.toFixed(2);
                    if(totPrice) {
                        $(".total-price span.price").text(" " + currencySign + totPrice);
                    }
                }else{
                    var unitPrice = $(".product-info-price .price-final_price span.price-wrapper[data-price-type='finalPrice'] span.price").text();
                    unitPrice = unitPrice.substr(unitPrice.indexOf(currencySign) + 1);

                    var totPrice = val * unitPrice;
                    totPrice = totPrice.toFixed(2);
                    $(".total-price span.price").text(" " + currencySign + totPrice);
                }

            }
        };

        var qtyDecrease = function(e){
            e.preventDefault();
            element = $(this);

            val = parseInt(Number(element.parent().children('input.qty').val()));

            if(val == 0){
                val = 1;
                $(this).val(val);
            }

            if (val > 1) {

                val = val - 1;
                element.parent().children('input.qty').val(val);

                if($("body").hasClass("page-product-configurable")){
                    var unitPrice =  $(".total-price span.price").text();
                    unitPrice = unitPrice.substr(unitPrice.indexOf(currencySign) + 1);
                    var currVal = Number(element.parent().children('input.qty').val()) + 1;
                    var totPrice = (Number(unitPrice) / currVal) * val;
                    totPrice = totPrice.toFixed(2);
                    if(totPrice) {
                        $(".total-price span.price").text(" " + currencySign + totPrice);
                    }
                }else{
                    var unitPrice = $(".product-info-price .price-final_price span.price-wrapper[data-price-type='finalPrice'] span.price").text();
                    unitPrice = unitPrice.substr(unitPrice.indexOf(currencySign) + 1);

                    var totPrice = val * unitPrice;
                    totPrice = totPrice.toFixed(2);
                    $(".total-price span.price").text(" " + currencySign + totPrice);
                }
            }

        };

        var changeTotalPrice = function(e){
            var val = Number($(this).val());

            if(val <= 0){
                val = 1;
                $(this).val(val);
            }else if(val > 999){
                val = 999;
                $(this).val(val);
            }

            var unitPrice = $(".product-info-price .price-final_price span.price-wrapper[data-price-type='finalPrice'] span.price").text();
            unitPrice = unitPrice.substr(unitPrice.indexOf(currencySign) + 1);

            var totPrice = val * unitPrice;
            totPrice = totPrice.toFixed(2);
            $(".total-price span.price").text(" " + currencySign + totPrice);
        };

        /** for simple and configurable product **/
        $(".box-tocart a.product-list-qty-plus").on("click",qtyIncrease);
        $(".box-tocart a.product-list-qty-minus").on("click",qtyDecrease);
        $(".box-tocart #qty").on("blur",changeTotalPrice);
        /** for simple and configurable product **/

        /** for grouped product **/
        $("a.grouped-product-view-qty-minus").on("click",groupedQtyDecrease);
        $("a.grouped-product-view-qty-plus").on("click",groupedQtyIncrease);
        $("body.page-product-grouped .control.qty .qty").on("blur",changeGroupTotalPrice);
        /** for grouped product **/
    });
</script>