<?php
// @codingStandardsIgnoreFile

/**
 * @var $block \TwoJay\Loyalty\Block\EarnPoints\Info
 */
?>
<div class="block block-earn-point-info">
    <div class="block-content">
        <div class="box-information-earnpoints">
            <div class="box-content">
                <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('earn-more-points')->toHtml();?>
            </div>
        </div>
    </div>
</div>
