<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var \Magento\Cookie\Block\Html\Notices $block */ ?>
<?php if ($this->helper('Magento\Cookie\Helper\Cookie')->isUserNotAllowSaveCookie()): ?>
    <div class="message global cookie" id="notice-cookie-block" style="display: none">
        <div class="content">
            <p>
                <span><?php  echo __('We are using cookies to give you the best website experience and for marketing and analytical purposes. Click on the button or continue navigating to accept our') ?></span> <a href="<?php echo $this->getUrl('privacy-policy');?>">Privacy</a>  <span><?php  echo __('and')?> <a href="<?php echo $this->getUrl('cookie-policy');?>">Cookie</a> <span><?php  echo __('Policies, or manage your')?></span> <a href="<?php echo $this->getUrl('cookie-policy');?>">cookie preferences.</a>
            <div class="actions">
                <button id="btn-cookie-allow" class="action allow primary">
                    <span><?php /* @escapeNotVerified */ echo __('Accept');?></span>
                </button>
            </div>
        </div>
    </div>
    <script type="text/x-magento-init">
        {
            "#notice-cookie-block": {
                "cookieNotices": {
                    "cookieAllowButtonSelector": "#btn-cookie-allow",
                    "cookieName": "<?php /* @escapeNotVerified */ echo \Magento\Cookie\Helper\Cookie::IS_USER_ALLOWED_SAVE_COOKIE ?>",
                    "cookieValue": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Cookie\Helper\Cookie')->getAcceptedSaveCookiesWebsiteIds() ?>,
                    "cookieLifetime": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Cookie\Helper\Cookie')->getCookieRestrictionLifetime()?>,
                    "noCookiesUrl": "<?php /* @escapeNotVerified */ echo $block->getUrl('cookie/index/noCookies') ?>"
                }
            }
        }
    </script>
<?php endif; ?>
