<?php $_order = $block->getOrder() ?>
<?php
$storelocatorDesc = '';
if($_order->getStorelocatorDescription()!=null) {

    $storelocatorDesc = $this->helper('Magento\Framework\Json\Helper\Data')->jsonDecode($_order->getStorelocatorDescription());
}
?>
<?php if( is_array($storelocatorDesc) ):  ?>

    <div id="clickandcollect_details" style="display:none;" >
         <span >

             <br>
             <?php /* @escapeNotVerified */ echo  $storelocatorDesc['message']; ?>
             <br><br>
               <strong><?php /* @escapeNotVerified */ echo 'Store : '. $storelocatorDesc['name']; ?></strong>
                <br>
             <?php /* @escapeNotVerified */ echo $storelocatorDesc['address'].', '.$storelocatorDesc['address2'].', '.$storelocatorDesc['city'].', '.
                 $storelocatorDesc['zipcode'].', '.'United Kingdom'; ?>
             <br>
        <strong> <?php /* @escapeNotVerified */ echo 'Phone : '.$storelocatorDesc['phone'] ?></strong>
                <br>
             <?php /* @escapeNotVerified */ echo '<a href="'.$storelocatorDesc['store_url'].'" target="_blank"  >click here for detail</a>' ?>

             </span>
    </div>

    <script>

        require(['jquery'],function ($) {
            $(document).ready(function(){
                $(".box-order-shipping-method .box-content").append( $("#clickandcollect_details").html() );
            });
        });
    </script>

<?php endif; ?>