/**
 * Menu styles
 *
 * @author    Sirv Limited <support@sirv.com>
 * @copyright Copyright (c) 2018-2020 Sirv Limited <support@sirv.com>. All rights reserved
 * @license   https://sirv.com/
 * @link      https://sirv.com/integration/magento/
 */

.admin__menu [data-ui-id="menu-magictoolbox-sirv-sirv-settings"] .submenu-group-title span {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.admin__menu [data-ui-id="menu-magictoolbox-sirv-sirv-settings"] .submenu-group-title span:before
{
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 30px;
  margin-left: -30px;
  content: '\00A0';
  background: url(../images/menu-icon.svg) no-repeat;
  background-position: left center;
}
