/**
 * Settings page styles
 *
 * @author    Sirv Limited <support@sirv.com>
 * @copyright Copyright (c) 2018-2020 Sirv Limited <support@sirv.com>. All rights reserved
 * @license   https://sirv.com/
 * @link      https://sirv.com/integration/magento/
 */

@charset "UTF-8";
@font-face {
  font-family: "sirv";
  src:url("../fonts/sirv.eot");
  src:url("../fonts/sirv.eot?#iefix") format("embedded-opentype"),
    url("../fonts/sirv.woff") format("woff"),
    url("../fonts/sirv.ttf") format("truetype"),
    url("../fonts/sirv.svg#sirv") format("svg");
  font-weight: normal;
  font-style: normal;
}

.sirv-settings-edit .page-title img {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  vertical-align: middle;
}

.page-title-wrapper .mt-module-version {
  padding-top: 8px;
}

.sirv-upgrade-banner-wrapper {
  margin: 0;
  padding: 0 3rem;
}
.sirv-upgrade-banner {
  background: #007dbd;
  border: solid #007dbd;
  color: #ffffff;
  border-width: 0.1rem;
  text-align: center;
  padding: 0.5rem;
  margin-top: -1.2rem;
}
.sirv-upgrade-banner > span {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-left: 15px;
}
.sirv-upgrade-banner > span:before {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "sirv";
  content: '';
}
.sirv-upgrade-banner .sirv-latest-version:before {
  content: '\e900';
}
.sirv-upgrade-banner .sirv-whats-new:before {
  content: '\e901';
}
.sirv-upgrade-banner a {
  color: inherit;
}

.modal-popup.sirv-changelog-modal .modal-inner-wrap {
  max-width: 650px;
}
.sirv-changelog-modal .modal-title {
  font-weight: 800;
  text-align: center;
}
.sirv-changelog-modal .modal-content::-webkit-scrollbar {
  width: 10px;
}
.sirv-changelog-modal .modal-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.sirv-changelog-modal .modal-content::-webkit-scrollbar-thumb {
  background: #888;
}
.sirv-changelog-modal .modal-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sirv-changelog-wraper {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.sirv-changelog-wraper .sirv-changelog-list {
  list-style-type: none;
}
.sirv-changelog-wraper .sirv-changelog-item {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sirv-changelog-wraper .sirv-changelog-item.sirv-changelog-new {
  background-color: #007dbd33;
  border-radius: 5px;
}
.sirv-changelog-wraper .sirv-changelog-item:first-child {
  position: relative;
}
.sirv-changelog-wraper .sirv-changelog-version {
  font-weight: 800;
}
.sirv-changelog-wraper .sirv-changelog-item.sirv-changelog-new .sirv-changelog-version:before {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #007bdb;
  font-family: "sirv";
  content: '\e902';
  margin-left: -19px;
}
.sirv-changelog-wraper .sirv-changelog-date {
  padding-left: 5px;
}
.sirv-changelog-wraper .sirv-changelog-sublist {
  list-style-type: none;
}
.sirv-changelog-wraper .sirv-changelog-text {
  font-weight: 400;
  padding-top: 5px;
}
.sirv-changelog-wraper .sirv-changelog-action-link {
  border: 1px solid;
  border-radius: 0;
  display: inline-block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.36;
  padding: 0.6rem 1em 0.6rem;
  text-align: center;
  vertical-align: baseline;
  letter-spacing: .025em;
  background-color: #007dbd;
  border-color: #007dbd;
  color: #ffffff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;

  position: absolute;
  width: 146px;
  height: 33px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: auto;
  right: 25px;
}
.sirv-changelog-wraper .sirv-changelog-action-link:hover,
.sirv-changelog-wraper .sirv-changelog-action-link:active,
.sirv-changelog-wraper .sirv-changelog-action-link:focus {
  background-color: #0073ae;
  border-color: #007dbd;
  box-shadow: 0 0 0 1px #007bdb;
  color: #ffffff;
  text-decoration: none;
}

a.save-message {
  text-decoration: underline;
}

.sirv-actions button {
  font-size: 1.6rem;
  letter-spacing: .025em;
  padding-bottom: 0.6875em;
  padding-top: 0.6875em;
}
.sirv-actions > .action-default:not(:first-child) {
  margin-left: 1.3rem;
}
.sirv-actions .actions-split .action-default {
  margin-right: 4rem;
}
.sirv-actions .actions-split .action-toggle {
  padding-right: 4rem;
}
.sirv-actions .actions-split .action-toggle:after {
  border-width: 0.9rem 0.6rem 0 0.6rem;
  margin-top: -0.3rem;
  right: 1.4rem;
}
.sirv-actions .actions-split .dropdown-menu .item {
  display: block;
}
.sirv-actions .actions-split.active .action-toggle.primary {
  background-color: #35302c;
  border-color: #35302c;
}
.sirv-actions .actions-split.disabled:hover {
  box-shadow: inherit;
}

.magictoolbox-config .fieldset .admin__legend {
  margin-bottom: 1.9rem;
  padding: 1.9rem 0 1.9rem 0;
  border-bottom: 1px solid #ccc;
}
.magictoolbox-config .fieldset .field.no-label .control {
  width: 100%;
}
.magictoolbox-config .fieldset .field-mt-config-notice .mt-config-error-notice {
  color: red;
}
.magictoolbox-config .fieldset .field-mt-outdated-notice .mt-outdated-error-notice {
  color: red;
}
.magictoolbox-config .fieldset .field-mt-config-notice.no-label .control {
  font-size: 1.8rem;
}
.magictoolbox-config .field .mt-option {
  width: 400px;
}

.magictoolbox-config .field .admin__control-select.mt-option.select-with-placeholder:invalid {
  color: #757575;
}
.magictoolbox-config .field .admin__control-select.mt-option.select-with-placeholder option {
  color: #303030;
}
.magictoolbox-config .fieldset .field.no-label .control {
  width: calc( (100%) - 30px );
}

.admin__field-control > .admin__field-option.admin__field-option-inline {
  display: inline-block;
}
.admin__field-control > .admin__field-option.admin__field-option-inline:not(:first-child) {
  margin-left: 41px;
  margin-top: 0;
}
.admin__field-control > .admin__field-option.admin__field-option-inline:not(:first-child):before {
  background: #cacaca;
  content: '';
  display: inline-block;
  height: 20px;
  margin-left: -20px;
  position: absolute;
  width: 1px;
}
.admin__field-control > .admin__field-option.admin__field-option-not-inline:nth-child(1):nth-last-child(2),
.admin__field-control > .admin__field-option.admin__field-option-not-inline:nth-child(2):nth-last-child(1) {
  display: block;
}
.admin__field-control > .admin__field-option.admin__field-option-not-inline:nth-child(1):nth-last-child(2) + .admin__field-option,
.admin__field-control > .admin__field-option.admin__field-option-not-inline:nth-child(2):nth-last-child(1) + .admin__field-option {
  display: block;
  margin-left: 0;
  margin-top: 0.9rem;
}
.admin__field-control > .admin__field-option.admin__field-option-not-inline:nth-child(1):nth-last-child(2) + .admin__field-option:before,
.admin__field-control > .admin__field-option.admin__field-option-not-inline:nth-child(2):nth-last-child(1) + .admin__field-option:before {
  display: none;
}

.admin__field-control .admin__control-value-text {
  border: 1px solid rgba(173, 173, 173, 0);
  padding: 0.6rem 0;
}
.admin__field-control .admin__control-value-text .value-prefix {
  color: #adadad;
}
.admin__field-control .admin__control-value-text .value-prefix + span {
  color: black;
}
.admin__field-control .admin__control-change-link {
  padding-left: 20px;
}
.admin__field-control .admin__control-value-text + .admin__control-text {
  display: none;
}
.admin__field.with-note .admin__field-control .admin__control-text + .tooltip {
  top: 0.8rem;
  bottom: auto;
}
/*
.admin__field-control > .admin__field {
  min-width: 625px;
}
.admin__field-control .admin__field label.addbefore {
  border: 1px solid #adadad;
  border-radius: 1px;
  padding: 0.6rem 1rem 0.6rem;
  width: auto;
  min-width: auto;
  background-color: #e9e9e9;
  border-right: none;
  padding-right: 0.5rem;
}
.admin__field-control .admin__field label.addbefore + .admin__control-text.input-text {
  padding-left: 0.4rem;
  width: 200px;
}
.admin__field-control .admin__field .admin__control-text + .tooltip {
  position: static;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  margin-left: 10px;
}
*/

.admin__field-control {
  /* NOTE: for tooltip */
  position: relative;
}
.admin__field-control .tooltip {
  position: absolute;
  width: 19px;
  height: 19px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: auto;
  right: calc( (100%) - 400px - 19px - 45px);
}
.admin__field-control .tooltip .help span:before {
  color: grey;
}
.admin__field-control .tooltip .help span:hover:before {
  color: #35302C;
}
.admin__field-control .tooltip:hover > .tooltip-content {
  /* NOTE: to display with a widget */
  display: none;
}
.admin__field-control .tooltip .tooltip-content {
  width: 600px;
  background-color: #35302C;
  padding: 10px 14px;
}
.admin__field-control .tooltip .tooltip-content a {
  color: #0a8ff7;
}

.admin__field-control .admin__field-note {
  font-size: 1.4rem;
}

/* NOTE: to combine auto_fetch option with url_prefix */
.admin__field.field-mt-auto_fetch {
  margin-bottom: 0;
}
.admin__field.field-mt-url_prefix {
  margin-top: 0.5rem;
}

.magictoolbox-config .field-mt-image_quality .mt-option option[value='80'] {
  font-weight: 600;
}

.admin__fieldset > .admin__field.field-mt-synchronizer > .admin__field-control {
  width: calc( (100%) * 0.75 - 30px );
}

.sirv-sync-container .sirv-sync-status {
  width: calc((100%) - 230px);
  float: left;
  margin-right: 30px;
}
.sirv-sync-container .sirv-sync-buttons {
  width: 200px;
  float: left;
  padding-top: 15px;
}

.sirv-sync-content {
  padding-left: 5px;
  padding-right: 5px;
}
.sirv-sync-content *,
.sirv-sync-content :after,
.sirv-sync-content :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sirv-sync-content .row {
  margin-left: -5px;
  margin-right: -5px;
  padding-bottom: 5px;
}
.sirv-sync-content .row:after,
.sirv-sync-content .row:before {
  content: " ";
  display: table;
}
.sirv-sync-content .row:after {
  clear: both;
}

.sirv-sync-content .hidden-element {
  display: none !important;
}
.sirv-sync-content .visible-in-modal-view {
  display: none;
}
.modal-content .sirv-sync-content .visible-in-modal-view {
  display: inherit;
}
.sirv-sync-content .hidden-in-modal-view {
  display: inherit;
}
.modal-content .sirv-sync-content .hidden-in-modal-view {
  display: none;
}

.sirv-sync-content .sync-status-header {
  text-align: center;
}
.sirv-sync-content .sync-status-header .sync-progress-label {
}
.sirv-sync-content .sync-status-header .sync-completed-label {
  display: inline-block;
}
.sirv-sync-content .sync-status-header .sync-completed-label:after {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "sirv";
  content: '\e904';
  vertical-align: bottom;
}
.sirv-sync-content .sync-status-header .sync-failed-label {
  display: inline-block;
}
.sirv-sync-content .sync-status-header .sync-failed-label:after {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "sirv";
  content: '\e905';
  vertical-align: bottom;
}

.sirv-sync-content .sync-status-notice {
  line-height: 2.5rem;
  padding-bottom: 3rem;
}
.sirv-sync-content .progress-percent-label {
}
.sirv-sync-content .progress-completed-label {
  float: right;
}

.sirv-sync-content .progress-bar-holder {
  position: relative;
  border-radius: 1rem;
  background-color: #d2e2f0;
  height: 1.4rem;
  overflow: hidden;
  margin-bottom: 1rem;

  color: #000000;
  text-align: center;
  font-size: 1.4rem;
}
.sirv-sync-content .progress-bar {
  position: absolute;
  border-radius: 1rem;
  background-color: #d2e2f0;
  height: 100%;
  transition: width .6s ease;
  width: 0;
  z-index: 0;
}
.sirv-sync-content .progress-bar-synced {
  background-color: #347cbb;
  z-index: 3;
}
.sirv-sync-content .progress-bar-queued {
  background-color: #fbd16b;
  z-index: 2;
}
.sirv-sync-content .progress-bar-failed {
  background-color: #f37152;
  z-index: 1;
}
.sirv-sync-content .progress-bar-timer {
  display: none;
  background-color: #000000;
  width: 100%;
  z-index: 4;
  color: #ffffff;
  font-size: 1.2rem;
}
.sirv-sync-content .progress-bar-timer:after {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: attr(data-content);
}
.sirv-sync-content .progress-bar-holder.timer-on .progress-bar-timer {
  display: block;
}
.sirv-sync-content .progress-bar-holder.stripes,
.sirv-sync-content .progress-bar-holder.stripes .progress-bar {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                    transparent 75%, transparent);
  animation: sirv-sync-animate-stripes 3s linear infinite;
}
@keyframes sirv-sync-animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.sirv-sync-content .progress-counters-list {
  list-style-type: none;
}
.progress-counters-list .list-item {
  margin-top: 5px;
}
.progress-counters-list .list-item-style-type {
  display: inline-block;
  border-radius: 1rem;
  background-color: #d2e2f0;
  height: 1rem;
  width: 2rem;
}
.progress-counters-list .list-item-synced .list-item-style-type {
  background-color: #347cbb;
}
.progress-counters-list .list-item-queued .list-item-style-type {
  background-color: #fbd16b;
}
.progress-counters-list .list-item-failed .list-item-style-type {
  background-color: #f37152;
}
.progress-counters-list .list-item-title {
  display: inline-block;
  padding-left: 10px;
  width: 120px;
}
.progress-counters-list .list-item-link {
  padding-left: 10px;
}
.progress-counters-list .list-item-failed .list-item-link a {
  color: #f37152;
}

.sirv-usage-wraper {
  width: 100%;
}
.sirv-usage-wraper .row:after,
.sirv-usage-wraper .row:before {
  content: " ";
  display: table;
}
.sirv-usage-wraper .row:after {
  clear: both;
}
.sirv-usage-wraper .col-sm-1,
.sirv-usage-wraper .col-sm-3,
.sirv-usage-wraper .col-sm-6,
.sirv-usage-wraper .col-sm-9,
.sirv-usage-wraper .col-sm-11,
.sirv-usage-wraper .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
@media (min-width: 768px) {
  .sirv-usage-wraper .col-sm-1 {
    width: 8.33333%;
    float: left;
  }
  .sirv-usage-wraper .col-sm-3 {
    width: 25%;
    float: left;
  }
  .sirv-usage-wraper .col-sm-6 {
    width: 50%;
    float: left;
  }
  .sirv-usage-wraper .col-sm-9 {
    width: 75%;
    float: left;
  }
  .sirv-usage-wraper .col-sm-11 {
    width: 91.66667%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .sirv-usage-wraper .col-lg-12 {
    width: 100%;
    float: left;
  }
}
.sirv-usage-wraper h3 {
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
}
.sirv-usage-wraper label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
  margin-left: -5px;
}
.sirv-usage-wraper .sirv-progress-bar-holder {
  position: relative;
}
.sirv-usage-wraper .sirv-progress-bar {
  border: 1px solid #ddd;
  height: 100%;
  width: 100%;
  position: absolute;
  min-height: 18px;
}
.sirv-usage-wraper .sirv-progress-bar > div {
  width: 100%;
  height: 100%;
  background: #2ce02c;
  background: -moz-linear-gradient(left, #2ce02c 0%, #ff0000 100%);
  background: -webkit-linear-gradient(left, #2ce02c 0%,#ff0000 100%);
  background: linear-gradient(to right, #2ce02c 0%,#ff0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ce02c', endColorstr='#ff0000', GradientType=1 );
}
.sirv-usage-wraper .sirv-progress-bar > div > div {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 3px);
  right: 0;
  background: #fff;
}

.sirv-usage-wraper > .col-sm-6:first-child {
  padding-right: 10px;
}
.sirv-usage-wraper > .col-sm-6:last-child {
  padding-left: 10px;
}
.sirv-usage-wraper .col-left {
  margin-left: -5px;
}
.sirv-usage-wraper > .col-sm-6 > .row {
  margin-top: 10px;
}
.sirv-usage-wraper > .col-sm-6 > .row:not(:last-child) {
  margin-bottom: 45px;
}

.sirv-usage-wraper > .col-sm-6 > .row > .row > .col-sm-9 > .row > .col-sm-3 {
  padding-left: 0;
}
.sirv-usage-wraper .loading-mask {
  background: rgba(255, 255, 255, 0.8);
}
.sirv-usage-wraper .popup-loading {
  background: rgba(255, 255, 255, 0);
  position: absolute;
}
.sirv-usage-wraper .limits-update {
  margin-left: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.36;
  font-size: 1.4rem;
}
.sirv-usage-wraper .limits-update .refresh-api-usage-link:before {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "sirv";
  content: '\e903';
  color: #007bdb;
}
.sirv-usage-wraper .admin__table-primary th {
  border-top: 0;
}
.sirv-usage-wraper .admin__table-primary td {
  padding: 0.6rem 1.5rem;
}

#failed_list_items {
  max-height: 400px;
  overflow: auto;
}
#failed_list_items::-webkit-scrollbar {
  width: 10px;
}
#failed_list_items::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#failed_list_items::-webkit-scrollbar-thumb {
  background: #888;
}
#failed_list_items::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#sirv-messages .list-message:before {
  display: none;
}
#sirv-messages ul {
  min-width: 550px;
  list-style-position: inside;
  margin-top: 1.0rem;
  margin-bottom: 0;
}
#sirv-messages ul a {
  color: #333333;
}
#sirv-messages ul a:active,
#sirv-messages ul a:focus,
#sirv-messages ul a:hover {
  color: #000000;
}

.modals-overlay.sirv-modals-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.sirv-settings-edit .loading-mask {
  background: rgba(255, 255, 255, 0.4);
}
.sirv-settings-edit .popup-loading {
  background: rgba(255, 255, 255, 0);
}
