<?php
/**
 * Gallery block template
 *
 * @author    Sirv Limited <support@sirv.com>
 * @copyright Copyright (c) 2018-2020 Sirv Limited <support@sirv.com>. All rights reserved
 * @license   https://sirv.com/
 * @link      https://sirv.com/integration/magento/
 *
 * @codingStandardsIgnoreFile
 */

/**
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$viewerHelper = $objectManager->get(\MagicToolbox\Sirv\Helper\MediaViewer::class);
$viewerHelper->setGalleryBlock($block);

$viewerSlides = $viewerHelper->getViewerSlides();
$jsonConfig = $block->escapeHtmlAttr($viewerHelper->getJsonConfig());
$jsOptions = $viewerHelper->getViewerJsOptions();
$maxHeight = $viewerHelper->getMaxHeight();
$dataOptions = $viewerHelper->getViewerDataOptions();
?>
<?= $jsOptions ?>
<?php if ($maxHeight) : ?>
<style>
.smv-pg-container .Sirv > .smv {
    max-height: <?= $maxHeight ?>px;
}
</style>
<?php endif; ?>
<div class="smv-pg-container" data-json-config="<?= $jsonConfig ?>">
    <div class="Sirv" data-options="<?= $dataOptions ?>">
        <?= implode("\n", $viewerSlides) ?>
    </div>
</div>
