<?php
// @codingStandardsIgnoreFile

/**
 * @var $block \TwoJay\Loyalty\Block\Voucher\History
 */
?>
<?php
$customerLookupDetails = $block->getCustomerSchemeLookUp();
$helper = $this->helper('TwoJay\Loyalty\Helper\Data');
?>
<?php if (!$customerLookupDetails): ?>
    <div class="block block-point-history-info">
        <div class="block-content">
            <?= $block->escapeHtml(__('%1', $helper->getErrorMessage())) ?>
        </div>
    </div>
<?php elseif (!empty($customerLookupDetails) && $customerLookupDetails == 404): ?>
    <div class="box-content">
        <span>
            <?= $block->escapeHtml(__('No voucher history found.')) ?>
        </span>
    </div>
<?php elseif ($customerLookupDetails): ?>
    <div class="block block-point-history-info">
        <div class="block-content">
            <?php $customerVouchers = $block->getCustomerVouchers()?$block->getCustomerVouchers():[]; ?>
            <?php if (count($customerVouchers)): ?>
                <div class="box box-information">
                    <div class="box-content">
                        <p>
                            <?php /* $block->escapeHtml(__('That points only last for %1 months and that the qualify for the voucher, you need to earn %2 amount of points.',$customerLookupDetails['months'],$customerLookupDetails['total_amount']))*/ ?>

                            <?= $block->escapeHtml(__('The table below will show all the vouchers that are valid, used or expired. You will receive a £2 voucher for every 1,000 PetCLUB Points earned on qualifying transactions. We issue new vouchers every day near midnight, so if you have just qualified for a new voucher please allow 24 hours for it to appear in the table below.')) ?>
                        </p>
                    </div>
                </div>
                <div class="loyalty-points-items">
                    <div class="points-tracker-title">
                        <strong><?php /* @escapeNotVerified  __('Below this will be the table of vouchers that will appear via API ') */ ?></strong>
                    </div>
                    <div class="table-wrapper points-items-loyalty">
                        <table class="data table table-points-items loyalty">
                            <thead>
                            <tr>
                                <th class="col name"><?= /* @escapeNotVerified */
                                    __('Voucher Code') ?></th>
                                <th class="col sku"><?= /* @escapeNotVerified */
                                    __('Date Issued') ?></th>
                                <th class="col price"><?= /* @escapeNotVerified */
                                    __('Expiry Date') ?></th>
                                <th class="col qty"><?= /* @escapeNotVerified */
                                    __('Status') ?></th>
                            </tr>
                            </thead>
                            <?php
                            $page = ($this->getRequest()->getParam('p')) ? $this->getRequest()->getParam('p') : 1;
                            $pageSize = ($this->getRequest()->getParam('limit')) ? $this->getRequest()->getParam('limit') : 6;
                            $start = ($pageSize * ($page - 1)) + 1;
                            $end = $page * $pageSize;
                            $counter = 1;
                            ?>
                            <?php foreach ($customerVouchers as $item): ?>
                                <?php if ($counter >= $start && $counter <= $end) : ?>
                                    <?php
                                    $issueDate = date("d-m-Y h:i:s", strtotime($item['IssueDate']));
                                    $expiryDate = date("d-m-Y h:i:s", strtotime($item['ExpiryDate']));
                                    ?>
                                    <tbody>
                                    <tr>
                                        <td data-th="<?php echo $block->escapeHtml(__('Voucher Code')) ?>"
                                            class="col id">
                                            <?= $block->escapeHtml($item['Number']) ?>
                                        </td>
                                        <td data-th="<?php echo $block->escapeHtml(__('Date Issued')) ?>"
                                            class="col id">
                                            <?= $block->escapeHtml($issueDate) ?>
                                        </td>
                                        <td data-th="<?php echo $block->escapeHtml(__('Expiry Date')) ?>"
                                            class="col id">
                                            <?= $block->escapeHtml($expiryDate) ?>
                                        </td>
                                        <td data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col id">
                                            <?= $block->escapeHtml($item['VoucherStatus']) ?>
                                        </td>
                                    </tr>
                                    </tbody>
                                <?php endif; ?>
                                <?php $counter++; ?>
                            <?php endforeach; ?>
                        </table>
                    </div>
                </div>
                <?php if ($block->getPagerHtml()): ?>
                    <div class="loyalty-points-toolbar toolbar bottom" data-mage-init='<?= /* @escapeNotVerified */
                    $block->getWidgetOptionsJson() ?>'>
                        <div class="toolbar-sorter sorter">
                            <?php if ($block->getCurrentDirection() == 'desc'): ?>
                                <a title="<?= /* @escapeNotVerified */
                                __('Set Ascending Direction') ?>" href="#" class="action sorter-action sort-desc"
                                   data-role="direction-switcher" data-value="asc">
                                    <span><?= /* @escapeNotVerified */
                                        __('Set Ascending Direction') ?></span>
                                </a>
                            <?php else: ?>
                                <a title="<?= /* @escapeNotVerified */
                                __('Set Descending Direction') ?>" href="#" class="action sorter-action sort-asc"
                                   data-role="direction-switcher" data-value="desc">
                                    <span><?= /* @escapeNotVerified */
                                        __('Set Descending Direction') ?></span>
                                </a>
                            <?php endif; ?>
                        </div>
                        <p class="toolbar-amount">
                            <span class="toolbar-number"><?= __("Items %1 to %2 of %3 total", $start, $end, count($customerVouchers)); ?></span>
                        </p>
                        <?php echo $block->getPagerHtml(); ?>
                    </div>
                <?php endif; ?>
            <?php else: ?>
                <div class="box-content">
                    <span>
                        <?= $block->escapeHtml(__('The table below will show all the vouchers that are valid, used or expired. You will receive a £2 voucher for every 1,000 PetCLUB Points earned on qualifying transactions. We issue new vouchers every day near midnight, so if you have just qualified for a new voucher please allow 24 hours for it to appear in the table below.')) ?></br>
                        <?= $block->escapeHtml(__('No voucher history found.')) ?>
                    </span>
                </div>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>


