<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate

/**
 * @var \Jollyes\CustomerBalance\Block\Adminhtml\Sales\Order\Creditmemo\Controls $block
 */
$customerBalanceData = $block->getCustomerBalanceData();
?>

<?php if ($block->canRefundToCustomerBalance()) : ?>
    <?php $refundBalance = $block->getReturnValue(); ?>
    <div class="admin__field admin__field-option field-refund-store-credit">
        <input type="hidden" name="creditmemo[refund_customerbalance_return_enable]" value="0">
        <input type="checkbox"
               class="admin__control-checkbox"
               name="creditmemo[refund_customerbalance_return_enable]"
               value="1" id="creditmemo_customerbalance_return_enable"
               <?php if ($this->helper(\Jollyes\CustomerBalance\Helper\Data::class)->isAutoRefundEnabled()
                   || $customerBalanceData->isRefundToStoreCreditChecked()) : ?>
                   checked="checked"
                <?php endif; ?> />
        <label for="creditmemo_customerbalance_return_enable" class="admin__field-label">
            <span><?= $block->escapeHtml(__('Refund to Store Credit')); ?></span>
        </label>
        <input type="text"
               name="creditmemo[refund_customerbalance_return]"
               value="<?= /* @noEscape */ $refundBalance; ?>"
               id="creditmemo_customerbalance_return"
               class="input-text admin__control-text not-negative-amount" />
        <script>
        require(['jquery', 'domReady!'], function($) {
            $(function ($) {
                var creditMemoTotal = <?= /* @noEscape */ $customerBalanceData->getCreditmemoGrandTotal(); ?>;
                var totalBalance = <?= /* @noEscape */ $refundBalance;?>;
                var toggleCustomerBalanceRefundAmount = function (e) {
                    if (creditMemoTotal > 0 && creditMemoTotal === totalBalance) {
                        enableElements('update-totals-button');
                    }
                    var refundReturn = $('#creditmemo_customerbalance_return');
                    if ($(e.target).prop('checked')) {
                        refundReturn.prop('disabled', false);
                        disableElements('refund');
                    } else {
                        refundReturn.prop('disabled', true);
                        enableElements('refund');
                        if (creditMemoTotal === 0) {
                            enableElements('update-totals-button');
                        }
                    }
                };
                var refundCustomerBalanceEnable = $('#creditmemo_customerbalance_return_enable');
                refundCustomerBalanceEnable.change(toggleCustomerBalanceRefundAmount);
                toggleCustomerBalanceRefundAmount({target:refundCustomerBalanceEnable});
            });
        });
        </script>
    </div>
<?php endif; ?>
