<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Shipping\Block\Adminhtml\View */ ?>
<?php $order = $block->getOrder() ?>
<?php if ($order->getIsVirtual()) : return '';endif; ?>
<?php if ($order->getStorelocatorId()) : ?>
    <?php
    $storelocatorDesc = $this->helper('Magento\Framework\Json\Helper\Data')->jsonDecode( $order->getStorelocatorDescription());
    ?>
    <?php if( is_array($storelocatorDesc) ):  ?>
     <div id="clickandcollect_details" style="display:none;" >
         <span >

             <br>
            <?php /* @escapeNotVerified */ echo  $storelocatorDesc['message']; ?>
            <br><br>
               <strong><?php /* @escapeNotVerified */ echo 'Store : '. $storelocatorDesc['name']; ?></strong>
                <br>
                <?php /* @escapeNotVerified */ echo $storelocatorDesc['address'].', '.$storelocatorDesc['address2'].', '.$storelocatorDesc['city'].', '.
                    $storelocatorDesc['zipcode'].', '.'United Kingdom'; ?>
                <br>
        <strong> <?php /* @escapeNotVerified */ echo 'Phone : '.$storelocatorDesc['phone'] ?></strong>
                <br>
                <?php /* @escapeNotVerified */ echo '<a href="'.$storelocatorDesc['store_url'].'" target="_blank"  >click here for detail</a>' ?>

             </span>
     </div>

<script>

    require(['jquery'],function ($) {
        $(document).ready(function(){

            $(".order-shipping-method .admin__page-section-item-content").append( $("#clickandcollect_details").html() );
            $(".order-shipping-method .admin__page-section-item-content .price").text('');
        });
    });
</script>
<?php endif; ?>
<?php endif; ?>
