<!--
/**
 * TwoJay_Loyalty
 *
 * @category  TwoJay
 * @package   TwoJay_Loyalty
 * @author    TwoJay Development Team <support@twojay.co>
 * @copyright Copyright (c) 2019 TwoJay (http://www.twojay.co/)
 *
 */
-->
<!-- ko if: isLoyaltyModuleEnabled() -->
<div class="block loyaltycoupon " id="loyaltycoupon-placer"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="payment-option-title field choice title" data-role="title">
        <span class="action action-toggle" id="block-loyaltycoupon-heading" role="heading" aria-level="2">
            <strong><!-- ko i18n: 'Apply PetCLUB Voucher'--><!-- /ko --></strong>
        </span>
    </div>
    <div class="">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div data-role="title" class="title titleCoupoun">
            <strong id="block-loyaltycoupon-heading" role="heading" aria-level="2">
                <strong><!-- ko i18n: 'PetCLUB Voucher'--><!-- /ko --></strong>
            </strong>
        </div>
        <form class="form loyaltycoupon add" id="loyaltycoupon-form" method="post" data-bind="blockLoader: isLoading">
            <div class="fieldset coupon">
                <div class="field">
                    <!--<label class="label" for="loyaltycoupon-code">-->
                    <!--<span data-bind="i18n: 'Enter your PetCLUB Voucher'"></span>-->
                    <!--</label>-->
                    <div class="control">
                        <input class="input-text"
                               type="text"
                               id="loyaltycoupon-code"
                               name="loyaltycoupon_code"
                               data-validate="{'required-entry':true}"
                               data-bind="value: loyaltyCartCode, attr:{placeholder: $t('Enter your PetCLUB Voucher')} "/>
                    </div>
                </div>
                <!-- ko if: loyaltyCoupon.isChecked-->
                <!-- ko if: loyaltyCoupon.isValid-->
                <div class="loyaltycoupon-info">
                    <div class="loyaltycoupon-number">
                        <!-- ko i18n: 'PetCLUB Voucher:'--><!-- /ko -->
                        <span class="loyaltycoupon-number">
                                <!-- ko i18n: loyaltyCoupon.code--><!-- /ko -->
                            </span>
                    </div>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <div class="actions-toolbar">
                    <div class="primary">
                        <button class="action action-add primary" type="submit"
                                data-bind="'value': $t('Apply'), click: setLoyaltyCoupon">
                            <span><!-- ko i18n: 'Apply Code'--><!-- /ko --></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /ko -->
