<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div id="reviews-link">&nbsp;</div>
<div class="block-title customer-rating">
    <strong>Customer Reviews</strong>
</div>
<div id="product-review-container" data-role="product-review"></div>
<?= $block->getChildHtml(); ?>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Review/js/process-reviews": {
                "productReviewUrl": "<?= $block->escapeJs($block->escapeUrl($block->getProductReviewUrl())) ?>",
                "reviewsTabSelector": "#tab-label-reviews",
                "reviewsListSelector": "#product-review-container"
            }
        }
    }
</script>