.account{
.earn-voucher-title {
  color: #3b3939;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 10px;
}
.earn-voucher-points {
  float: left;
  background-color: #f9cf00 !important;
  display: block;
  width: 182px;
  margin-right: 30px;
  border: medium none !important;
  box-sizing: border-box;
  color: #3b3939 !important;
  cursor: pointer;
  display: inline-block;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  padding: 7px 15px;
  text-transform: uppercase;
  vertical-align: middle;
  border-radius: 5px;
  line-height: 35px;
  margin-bottom: 30px;
}
.block-dashboard-my-points-info .box.box-information {
    width: 87% !important;
 }
.voucher-message {
  clear: left;
  padding-top: 10px;
  font-size: 14px;
}
.loyalty-number-wrapper {
  padding-top: 15px;
  padding-bottom: 40px;
  label {
    color: #3b3939;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
  }
  span {
    font-size: 14px;
  }
}
.box.box-more-points {
  width: 100% !important;
}
.description {
  color: #676565;
  line-height: 22px;
  font-size: 14px;
}

.box-more-points {
   .box-content {
      .box.box-information {
        width: 100% !important;
        float: left;
      }
    }
  }

.box.box-information {
  float: left !important;
  width: 100% !important;
}
.block-dashboard-my-points-info {
  .block-content {
    padding: 0px !important;
    padding: 0px !important;
  }
}
.points-info {
  padding: 0 16px;
}
.box-more-points {
  .box.box-information {
    padding: 0 16px;
  }
  .description {
    padding: 0 16px;
  }
}
.pet-wrapper {
  .block-content {
    padding: 0 16px;
  }
}

  .column {
    .block {
      .block-content {
        .box-more-points {
          .box-title {
            span {
              color: #3b3939;
              font-size: 18px !important;
              text-transform: uppercase;
              font-weight: 700;
            }
          }
        }
      }
    }
  }

.pet-information {
  .box-content {
    padding: 0 16px;
  }
}
  .voucher-points-toolbar.toolbar.bottom {
    .pager {
      p.toolbar-amount {
        display: none;
      }
      .pages {
        strong.page {
          background: #ffffff none repeat scroll 0 0;
        }
      }
      ul.items.pages-items {
        margin-top: 5px;
        li.item.pages-item-next{
          .action.next {

          }
        }
        li.item.pages-item-previous{
          .action.previous {

          }
        }
        li{
          a{
          }
        }
      }
    }
    .limiter {
      .limiter-options {
        background-color: #ffffff;
      }
    }
    padding: 14px;
    border: 2px solid #bdbdbd;
    background: #f4f4f4;
    clear: left;
    margin-top: 10px;
    p.toolbar-amount {
      margin-top: 5px;
    }
  }
  .loyalty-points-toolbar.toolbar.bottom {
    padding: 14px;
    border: 2px solid #bdbdbd;
    background: #f4f4f4;
    clear: left;
    margin-top: 10px;
    .pager {
      .pages {
        strong.page {
          background: #ffffff none repeat scroll 0 0;
        }
      }
      ul.items.pages-items {
        margin-top: 5px;
        li.item.pages-item-next{
          .action.next {

          }
        }
        li.item.pages-item-previous{
          .action.previous {

          }
        }
        li{
          a{
          }
        }
      }
      p.toolbar-amount {
        display: none;
      }
    }
    p.toolbar-amount {
      margin-top: 5px;
    }
    .limiter {
      .limiter-options {
        background-color: #ffffff;
      }
    }
  }
  .block.block-dashboard-info {
    .box.box-information {
      width: 48% !important;
    }
  }

}
@media only screen and (min-width: 1024px){
  .customer-account-index {
    .box-more-points {
      .box-content {
        .box.box-information {
          width: 100% !important;
          float: left;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px)  and (max-width: 1024px){
  .account .block-dashboard-my-points-info {
    .box.box-information {
      width: 85% !important;
    }
  }
  .account {
    .voucher-points-toolbar.toolbar.bottom {
      padding-left: 5px;
      padding-right: 5px;
      p.toolbar-amount{
        font-size: 12px;
      }
      .limiter {
        .limiter-options {
          margin-left: 0;
        }
      }
      .pager {
        ul.items.pages-items{
          .item{
            margin-right: 4px;
          }
        }
      }
      .pager {
        .pages {
          strong.page {
            font-size: 12px;
          }
        }
        ul.items.pages-items {
          li.item.pages-item-previous {
            .action.previous {
              margin-right: -5px;
            }
          }
          li.item.pages-item-next {
            .action.next {
              margin-left: -5px;
            }
          }
          li {
            a {
              font-size: 12px;
            }
          }
        }
        .limiter {
          .limiter-label {
            font-size: 12px;
          }
          .limiter-text {
            font-size: 12px;
          }
        }
      }
    }
  }

  .account {
    .loyalty-points-toolbar.toolbar.bottom {
      padding-left: 5px;
      padding-right: 5px;
      p.toolbar-amount{
        font-size: 12px;
      }
      .limiter {
        .limiter-options {
          margin-left: 0;
        }
      }
      .pager {
        ul.items.pages-items{
          .item{
            margin-right: 4px;
          }
        }
      }
      .pager {
        .pages {
          strong.page {
            font-size: 12px;
          }
        }
        ul.items.pages-items {
          li.item.pages-item-previous {
            .action.previous {
              margin-right: -5px;
            }
          }
          li.item.pages-item-next {
            .action.next {
              margin-left: -5px;
            }
          }
          li {
            a {
              font-size: 12px;
            }
          }
        }
        .limiter {
          .limiter-label {
            font-size: 12px;
          }
          .limiter-text {
            font-size: 12px;
          }
        }
      }
    }
  }

}
@media only screen and (min-width: 320px)  and (max-width: 767px){
  .account {
    .block.block-dashboard-info {
      .box.box-information {
        width: 100% !important;
      }
    }
    .loyalty-points-toolbar.toolbar.bottom {
      padding-right: 5px;
      .pager {
        ul.items.pages-items {
          padding: 2px 0px 0;
          li{
            a{
              font-size: 12px;
              padding-left: 4px;
              padding-right: 4px;
            }
          }
          .pages-item-next {
            position: relative;
          }
        }
        .pages {
          strong.page {
            font-size: 12px;
          }
        }
      }
      p.toolbar-amount {
        text-align: center;
      }
    }
    .voucher-points-toolbar.toolbar.bottom {
      padding-right: 5px;
      .pager {
        ul.items.pages-items {
          padding: 2px 0px 0;
          li.item{
            margin: 0 6px 0 0;
          }
          li{
            a{
              font-size: 12px;
              padding-left: 4px;
              padding-right: 4px;
            }
          }
          .pages-item-next {
            position: relative;
          }
        }
        .pages {
          strong.page {
            font-size: 12px;
          }
        }
      }
      p.toolbar-amount {
        text-align: center;
      }
    }
    .table-pets {
      thead>tr>th {
        display: none !important;
      }
    }
    .table-wrapper.pet-wrapper{
      border-bottom: 0px solid #e4e4e4;
      border-top: 0px solid #ccc;
    }
  }
  .account .earn-voucher-points {
    float: left;
    background-color: #f9cf00 !important;
    width: 123px;
    margin-right: 5px;
    border: medium none !important;
    box-sizing: border-box;
    color: #3b3939 !important;
    cursor: pointer;
    display: inline-block;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    padding: 4px 13px;
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 5px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .account .box-more-points {
    .box.box-information {
      padding: 0px;
    }
  }
  .account .block-dashboard-my-points-info .box.box-information {
    width: 100% !important;
  }
  .account .table-pets {
    .col {
      //display: block !important;
    }
  }
  .account {
    #maincontent {
      .column {
        .pet-wrapper {
          table {
            .sku {
              padding-left: 0px !important;
            }
          }
        }
      }
    }
  }
  .loyalty-points-items {
    .table-wrapper {
      .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr td {
        border-bottom: medium none;
        display: block;
        padding: 5px 0 10px;
      }
    }
  }
}
.loyalty-account-nav {
  .block-collapsible-nav-content {
    .nav.item {
      &:nth-child(5) {
        &::after {
          background: transparent url("../images/PetCLUB-stamp-filled.png") no-repeat scroll 0 -1px;
          content: " " !important;
          height: 30px;
          right: 0 !important;
          width: 30px !important;
        }
      }
      &:nth-child(3) {
        &::after {
          background: transparent url("../images/PetCLUB-stamp-filled.png") no-repeat scroll 0 -1px;
          content: " " !important;
          height: 30px;
          right: 0 !important;
          width: 30px !important;
        }
      }
      &:nth-child(2) {
        &::after {
          background: transparent url("../images/PetCLUB-stamp-filled.png") no-repeat scroll 0 -1px;
          content: " " !important;
          height: 30px;
          right: 0 !important;
          width: 30px !important;
        }
      }
    }
  }
}
.customer-menu {
  .header.links {
    li.link.reward {
      &::after {
        background: transparent url("../images/PetCLUB-stamp-filled.png") no-repeat scroll -1px;
        content: " " !important;
        height: 29px;
        right: 0 !important;
        width: 30px !important;
        float: right;
      }
    }
    li {
      &:last-child {
        &::after {
          background: transparent url("../images/PetCLUB-stamp-filled.png") no-repeat scroll -1px;
          content: " " !important;
          height: 29px;
          right: 0 !important;
          width: 30px !important;
          float: right;
        }
      }
    }
  }
}

.loyalty-account-nav {
  .sidebar.sidebar-main {
    .block.block-collapsible-nav {
      #block-collapsible-nav {
        ul.items {
          li {
            &:nth-child(7) {
              &::after {
                content: "";
              }
            }
          }
        }
      }
    }
  }
}

