.config-nav-block.jjcommerce-tab strong:before {
    background: url(../images/logo.jpg) no-repeat;
    width: 16px;
    height: 19px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: bottom;
}
