<?php
/**
 * TwoJay_Loyalty
 *
 * @category  TwoJay
 * @package   TwoJay_Loyalty
 * @author    TwoJay Development Team <support@twojay.co>
 * @copyright Copyright (c) 2019 TwoJay (http://www.twojay.co/)
 *
 */

/**
 * @var \TwoJay\Loyalty\Block\Checkout\Cart\Loyaltycoupon $block
 */
?>
<div class="block loyaltycoupon" id="block-loyaltycoupon"
     data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}'>
    <div data-role="title" class="title titleCoupoun">
        <strong id="block-loyaltycoupon-heading" role="heading" aria-level="2">
            <?= $block->escapeHtml(__('PetCLUB Voucher')) ?>
        </strong>
    </div>
    <div class="blockLoyaltycouponMain" aria-labelledby="block-loyaltycoupon-heading">
        <div id="loyaltycoupon-balance-lookup"></div>
        <span id="gc-please-wait" class="please-wait load indicator" style="display: none;"
              data-text="<?= $block->escapeHtml(__('This won\'t take long . . .')) ?>">
            <span><?= $block->escapeHtml(__('This won\'t take long . . .')) ?></span>
        </span>
        <form class="form loyaltycoupon add" id="loyaltycoupon-form"
              action="<?= $block->escapeUrl($block->getUrl('loyalty/voucher/add')) ?>" method="post"
              data-mage-init='{"validation": {},"loyaltyCoupon": {
                "loyaltyCouponCodeSelector": "#loyaltycoupon-code",
                "checkStatus": ".action.check",
                "loyaltyCouponStatusUrl": "<?= $block->escapeHtml($block->getUrl('loyalty/voucher/quickCheck', ['_secure' => true])) ?>",
                "loyaltyCouponStatusId": "#loyaltycoupon-balance-lookup",
                "loyaltyCouponSpinnerId": "#gc-please-wait",
                "messages": ".page.messages .messages"
              }}'>
            <div class="fieldset coupon">
                <div class="field">
                    <div class="control">
                        <input class="input-text" type="text" id="loyaltycoupon-code" name="loyaltycoupon_code"
                               data-validate="{'required-entry':true}" value=""
                               placeholder="<?= $block->escapeHtml(__('Enter your PetCLUB Voucher')) ?>"/>
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button class="action add primary" type="submit"
                                value="<?= $block->escapeHtml(__('Add PetCLUB Voucher')) ?>">
                            <span><?= $block->escapeHtml(__('Apply Code')) ?></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>