<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
namespace TwoJay\Loyalty\view\frontend\templates\cart;

use \TwoJay\Loyalty\Model\LoyaltyCoupons;
// @codingStandardsIgnoreFile
/**
 * @var \TwoJay\Loyalty\Block\Checkout\Cart\Total $block
 */

$cards = $block->getTotal()->getLoyaltyCoupons();
if (!$cards) {
    $cards = $block->getQuoteLoyaltyCoupons();
}
$title = $block->escapeHtml(__('Remove'));
?>
<?php if ($block->getTotal()->getValue()): ?>
    <?php foreach ($cards as $c): ?>
        <tr class="totals loyaltycoupon">
            <th colspan="<?= $block->escapeHtml($block->getColspan()) ?>"
                style="<?= $block->escapeHtml($block->getTotal()->getStyle()) ?>"
                class="mark" scope="row">
                <?php $url = $block->escapeUrl($block->getUrl(
                    'loyalty/voucher/remove',
                    ['code' => $c[LoyaltyCoupons::CODE]]
                )); ?>
                <a href="<?= /* @noEscape */ $url ?>"
                   title="<?= /* @noEscape */ $title ?>"
                   class="action delete">
                    <span><?= /* @noEscape */ $title ?></span>
                </a>
                <?= $block->escapeHtml(__('PetCLUB Voucher (%1)', $c[LoyaltyCoupons::CODE])) ?>
            </th>
            <td style="<?= $block->escapeHtml($block->getTotal()->getStyle()) ?>"
                class="amount"
                data-th="<?= $block->escapeHtml(__('PetCLUB Voucher (%1)', $c[LoyaltyCoupons::CODE])) ?>">
            <span class="discount">
                &#45;<?php /* @noEscape */ echo $this->helper('Magento\Checkout\Helper\Data')
                    ->formatPrice($c[LoyaltyCoupons::AMOUNT]); ?>
            </span>
            </td>
        </tr>
    <?php endforeach; ?>
<?php endif; ?>
