<?php
/**
 * TwoJay_Loyalty
 *
 * @category  TwoJay
 * @package   TwoJay_Loyalty
 * @author    TwoJay Development Team <support@twojay.co>
 * @copyright Copyright (c) 2019 TwoJay (http://www.twojay.co/)
 *
 */

// @codingStandardsIgnoreFile

/** @var \TwoJay\Loyalty\Block\Account\Dashboard\Points\Info $block */
?>
<?php
$customerLoyaltyData = $block->getCustomerLoyaltyPoints();
$helper = $this->helper('TwoJay\Loyalty\Helper\Data');
?>
<?php if (!$helper->isModuleEnabled() || (!empty($customerLoyaltyData) && $customerLoyaltyData == 404)): ?>
    <?php return; ?>
<?php endif; ?>

<?php if ($customerLoyaltyData): ?>
    <?php
    $customerVouchers = $block->getCustomerVouchers();
    //print_r($customerVouchers);exit;
    $currencySymbol = $block->getCurrencySymbol();
    ?>
    <div class="block block-dashboard-my-points-info">
        <div class="block-title"><strong><?= $block->escapeHtml(__('My Points')) ?></strong></div>
        <div class="block-content">
            <div class="box box-information">
                <div class="points-info">
                    <strong class="box-title">
                        <span><?= $block->escapeHtml(__('You have earned:')) ?></span>
                        <span><?= $block->escapeHtml(__('%1 PetCLUB points', $customerLoyaltyData['total_points'])) ?></span>
                    </strong>
                    <div class="box-content">
                        <p>
                            <?= __("Earn 1,000 points to qualify for your next " . $currencySymbol . "2 voucher.") ?>
                            <?php echo __('To view your transactions that qualify for PetCLUB points, %1', sprintf('<a href="%s" class="order-number" alt="Voucher link"><strong>%s</strong></a>', $block->escapeHtml($this->getUrl('loyalty/point/history')), $block->escapeHtml('go to the PetCLUB Points section'))) ?>
                        </p>
                        <div>
                            <div class="earn-voucher-title"><?= __("Your PetCLUB vouchers") ?></div>
                            <?php if (!empty($customerVouchers) && $customerVouchers == 404): ?>
                                <div class="voucher-message"><?php echo __('No Voucher found') ?></div>
                                <div class="voucher-message"><?php echo __('To view your voucher transaction that qualify for point, %1', sprintf('<a href="%s" class="order-number" alt="Voucher link"><strong>%s</strong></a>', $block->escapeHtml($this->getUrl('loyalty/voucher/history')), $block->escapeHtml('go to my PetCLUB voucher section'))) ?></div>
                            <?php elseif (count($customerVouchers) > 0): ?>
                                <div>
                                    <?php foreach ($customerVouchers as $customerVoucher): ?>
                                        <?php if (isset($customerVoucher['VoucherStatus']) && $customerVoucher['VoucherStatus'] == 'ACTIVE'): ?>
                                            <div class="earn-voucher-points"><?= __("%1", $customerVoucher['Number']) ?></div>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </div>
                                <div class="voucher-message"><?php echo __('To view all your current and expired vouchers, %1', sprintf('<a href="%s" class="order-number" alt="Voucher link"><strong>%s</strong></a>', $block->escapeHtml($this->getUrl('loyalty/voucher/history')), $block->escapeHtml('go to my PetCLUB voucher section'))) ?></div>
                            <?php else:?>
                                <div class="voucher-message"><?php echo __('No Voucher found') ?></div>
                                <div class="voucher-message"><?php echo __('To view your voucher transaction that qualify for point, %1', sprintf('<a href="%s" class="order-number" alt="Voucher link"><strong>%s</strong></a>', $block->escapeHtml($this->getUrl('loyalty/voucher/history')), $block->escapeHtml('go to my PetCLUB voucher section'))) ?></div>
                            <?php endif; ?>
                        </div>
                        <div class="loyalty-number-wrapper">
                            <label><?= __("Your Jollyes PetCLUB Membership Number") ?></label></br>
                            <span><?= __("Loyalty Number - %1", $customerLoyaltyData['loyalty_number']) ?></span>
                        </div>
                    </div>
                </div>
                <?php $accountDashboardBlock = $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('account_dashboard_block')->toHtml(); ?>
                <?php if ($accountDashboardBlock): ?>
                    <div class="box box-more-points">
                        <strong class="box-title">
                            <span><?= $block->escapeHtml(__('Earn More Points')) ?></span>
                        </strong>
                        <div class="box-content">
                            <div class="description">
                                <?php /*$block->escapeHtml(__('Dummy Test Description')) */ ?>
                            </div>
                            <div class="box box-information">
                                <div class="box-content">
                                    <?php echo $accountDashboardBlock; ?>
                                </div>
                            </div>
                            <div class="banner-image">
                                <img src="#"
                                     alt="<?= /* @escapeNotVerified */
                                     __('Banner Image') ?>">
                            </div>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
<?php else: ?>
    <div class="block block-dashboard-my-points-info">
        <?= $block->escapeHtml(__('%1', $helper->getErrorMessage())) ?>
    </div>
<?php endif; ?>



