<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
$storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt()
?>
<span data-action="toggle-nav" class="action nav-toggle"><span><?= $block->escapeHtml(__('Toggle Nav')) ?></span></span>
<a
    class="logo"
    href="<?= $block->escapeUrl($block->getUrl('')) ?>"
    title="<?= $block->escapeHtmlAttr($storeName) ?>"
    aria-label="store logo">
    <img src="<?= $block->escapeUrl($block->getLogoSrc()) ?>"
         title="<?= $block->escapeHtmlAttr($block->getLogoAlt()) ?>"
         alt="<?= $block->escapeHtmlAttr($block->getLogoAlt()) ?>"
            <?= $block->getLogoWidth() ? 'width="' . $block->escapeHtmlAttr($block->getLogoWidth()) . '"' : '' ?>
            <?= $block->getLogoHeight() ? 'height="' . $block->escapeHtmlAttr($block->getLogoHeight()) . '"' : '' ?>
    />
</a>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Cms/js/widget-initializer": {
                "config": {
                    "[data-content-type=\"slider\"][data-appearance=\"default\"]":{"Magento_Cms\/js\/content-type\/slider\/appearance\/default\/widget":"{}"},
                    "[data-content-type=\"map\"]":{"Magento_Cms\/js\/content-type\/map\/appearance\/default\/widget":"{}"},
                    "[data-content-type=\"row\"]":{"Magento_Cms\/js\/content-type\/row\/appearance\/default\/widget":"{}"},
                    "[data-content-type=\"tabs\"]":{"Magento_Cms\/js\/content-type\/tabs\/appearance\/default\/widget":"{}"},
                    "[data-content-type=\"slide\"]":{"Magento_Cms\/js\/widget\/show-on-hover":{"buttonSelector":".pagebuilder-slide-button","showOverlay":"hover","dataRole":"slide"}},
                    "[data-content-type=\"banner\"]":{"Magento_Cms\/js\/widget\/show-on-hover":{"buttonSelector":".pagebuilder-banner-button","showOverlay":"hover","dataRole":"banner"}},
                    "[data-content-type=\"buttons\"]":{"Magento_Cms\/js\/content-type\/buttons\/appearance\/inline\/widget":"{}"}
                }
            }
        }
    }
</script>