<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $entityValues = $block->getEntityValues() ?>
<?php if ($block->getEnabled() && count($entityValues)): ?>
<form action="<?php /* @escapeNotVerified */ echo $block->getAddUrl();?>"
      method="post"
      id="add-cart-items-to-gift-registry"
      class="form giftregistry"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <div class="field giftregistry">
            <div class="control">
                <select id="giftregistry_entity" name="entity" title="<?php /* @escapeNotVerified */ echo __('Gift Registry') ?>" data-validate="{required:true}">
                    <?php foreach ($entityValues as $_entity):?>
                        <option value="<?php /* @escapeNotVerified */ echo $_entity->getValue()?>" title="<?php /* @escapeNotVerified */ echo $_entity->getTitle()?>"><?php echo $block->escapeHtml($block->truncateString($_entity->getTitle(), 40))?></option>
                    <?php endforeach;?>
                </select>
            </div>
        </div>
        <button type="submit" class="action primary add">
            <span><?php /* @escapeNotVerified */ echo __('Add All To Gift Registry');?></span>
        </button>
    </fieldset>
</form>
<?php endif; ?>