<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php $_collections =  $this->petCollection();?>
<?php $size = $_collections->getSize();?>
<?php if( count($_collections) > 0):?>
<div class="block pets-list" xmlns="http://www.w3.org/1999/html">
    <div class="pet-information">
        <div class="block-title"><strong><?= /* @escapeNotVerified */ __('My Pets') ?></strong></div>
        <div class="box-content">
            <div class="table-wrapper pet-wrapper">
                <table class="data table table-pets">
                    <thead>
                    <tr>
                        <th class="col name"><?= /* @escapeNotVerified */
                            __('Pet Name') ?></th>
                        <th class="col type"><?= /* @escapeNotVerified */
                            __('Pet Type') ?></th>
                        <th class="col breed"><?= /* @escapeNotVerified */
                            __('Breed') ?></th>
                        <th class="col dob"><?= /* @escapeNotVerified */
                            __('Date of Birth') ?></th>
                    </tr>
                    </thead>
                    <?php if(!$size):?>
                        <?php echo  __('There are no pet selected yet.');?>
                    <?php elseif($size && $size > 0):?>
                    <tbody>
                        <?php $petsData = $_collections;?>
                        <?php $i=1;?>
                        <?php foreach($petsData as $pet):?>
                            <?php $pBirthday = explode(' ',$pet->getPetBday());?>
                            <?php $birthday = $pBirthday[0];?>
                            <?php $birthday = explode('-',$birthday);?>
                            <?php $birthday = $birthday[2].'-'.$birthday[1].'-'.$birthday[0];?>
                            <tr>
                                <td data-th="<?php echo $block->escapeHtml(__('Pet Name')) ?>" class="col id">
                                    <?php /* @escapeNotVerified */ echo $pet->getPetName() ?>
                                </td>
                                <td data-th="<?php echo $block->escapeHtml(__('Pet Type')) ?>" class="col id">
                                    <?php /* @escapeNotVerified */ echo $pet->getPetType(); ?>
                                </td>
                                <td data-th="<?php echo $block->escapeHtml(__('Breed')) ?>" class="col id">
                                    <?php /* @escapeNotVerified */ echo $pet->getBreedType(); ?>
                                </td>
                                <td data-th="<?php echo $block->escapeHtml(__('Date of Birth')) ?>" class="col id">
                                    <?php /* @escapeNotVerified */ echo $birthday; ?>
                                </td>
                            </tr>
                            <?php $i++; ?>
                        <?php endforeach;?>
                    </tbody>
                    <?php endif;?>
                </table>
            </div>
        </div>
    </div>
</div>
<?php endif;?>