<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php $petTypes = $block->getPetTypes();?>
<div class="block pets-info" xmlns="http://www.w3.org/1999/html">
    <div class="content">
        <form class="form petsinfo"
              novalidate
              action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
              method="post"
              data-mage-init='{"validation": {"errorClass": "mage-error"}}'
              id="pets-information" name="pets-information">
            <div class="field petsinfo">
                <div class="sub-heading">
                    <label class="multi-select"><?php /* @escapeNotVerified */ echo __("We would like to wish your pet(s) a happy birthday on their special day.") ?> </label>
                    <label class="multi"><?php /* @escapeNotVerified */ echo __("Please complete the information below and press the &apos;Add Pets&apos; button.") ?> </label>

                </div>
                <div id="message" style="color:red;"></div>

                <div class="control customer-petname">
                    <label class="label" for="pet-name"><span><?php /* @escapeNotVerified */ echo __('Pet Name') ?></span></label>
                    <input name="pet_name" type="text" id="pet_name" data-validate="{required:true}"/>
                </div>
                <div class="control customer-pettype">
                    <label class="label" for="pet-type"><span><?php /* @escapeNotVerified */ echo __('Pet Type') ?></span></label>
                    <select name="pet_type" id="pet_type" onchange="showstock(this)"  data-validate="{required:true}">
                        <option value="" ><?php /* @escapeNotVerified */ echo __('Please select');?></option>
                        <?php $_perTypeOptions = explode(";",$petTypes);?>
                        <?php  foreach($_perTypeOptions as $option ): ?>
                            <option value="<?php echo str_replace (" ", "_", __($option));?>"><?php echo $option; ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
                <div class="control customer-breedType">
                    <label class="label" for="breed-type"><span><?php /* @escapeNotVerified */ echo __('Breed Type') ?></span></label>
                    <input name="breed_type" type="text" id="breed_type" data-validate="{required:true}"/>
                </div>

                <div class="date-pet">
                    <?php echo $this->getLayout()->createBlock('Jjcommerce\PetsInformation\Block\Dob')->toHtml();?></div>
            </div>
            <div class="actions">
                <button class="action petinformation primary" title="<?php /* @escapeNotVerified */ echo __('+Add Pets') ?>" type="submit">
                    <span><?php /* @escapeNotVerified */ echo __('+ Add Pets') ?></span>
                </button>
            </div>
        </form>
    </div>
</div>
<div class="pet-list content">
    <?php echo $block->getChildHtml() ?>
</div>
<script type="text/x-magento-init">
            {
                "#pets-information": {
                    "validation": {
                        "ignore": ":hidden:not(input[name^='pet_bday'])"
                    }
                }
            }
        </script>

