<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php $_collections =  $this->petCollection();?>
<?php $size = $_collections->getSize();?>
<div class="block pets-list" xmlns="http://www.w3.org/1999/html">
    <div class="content">
        <?php if(!$size):?>
            <?php echo  __('There are no pet selected yet.');?>
        <?php elseif($size && $size > 0):?>
            <ol  class="result">
                <?php $petsData = $_collections;?>
                <?php $i=1;?>
                <?php foreach($petsData as $pet):?>
                    <?php $pBirthday = explode(' ',$pet->getPetBday());?>
                    <?php $birthday = $pBirthday[0];?>
                    <?php $birthday = explode('-',$birthday);?>
                    <?php $birthday = $birthday[2].'-'.$birthday[1].'-'.$birthday[0];?>
                    <li id="pets_id_<?php echo $pet->getId();?>">
                        <input type="text" class='show-value p_name'  name="p_name"  id="p_name<?php echo $pet->getId() ?>" value="<?php echo $pet->getPetName();?>"/>
                        <input type="text" class='show-value p_type'  name="p_type"  id="p_type<?php echo $pet->getId() ?>"  value="<?php echo $pet->getPetType();?>"/>
                        <input type="text" class='show-value b_type'  name="b_type"  id="b_type<?php echo $pet->getId() ?>"  value="<?php echo $pet->getBreedType();?>"/>
                        <input type="tel" class='show-value p_bday'  name="p_bday"  id="p_bday<?php echo $pet->getId() ?>" value="<?php echo $birthday ;?>"/>
                        <div class="editremovepet">
                            <a href="#" onclick="editPetinfo(<?php echo $pet->getId() ?>)" role="petinfo-edit" data-address="<?php /* @escapeNotVerified */ echo $pet->getId() ?>"  id="profile_<?php echo $pet->getId() ?>_editbtn" class="button edit-pet" title="<?php echo __('edit pet') ?>" >
                                <span><span><?php //echo __('Edit') ?></span></span>
                            </a>
                            <a  href="#" onclick="removePetinfo(<?php echo $pet->getId() ?>)" role="petinfo-remove" data-address="<?php /* @escapeNotVerified */ echo $pet->getId() ?>" id="profile_<?php echo $pet->getId() ?>_delbtn" class="button delete-pet" title="<?php echo __('remove pet') ?>" >
                                <span><span><?php //echo __('Remove') ?></span></span>
                            </a>
                        </div>
                    </li>
                    <?php $i++; ?>
                <?php endforeach;?>
            </ol>
        <?php endif;?>
    </div>
</div>
<script>
    require([
        "jquery",
        "Magento_Ui/js/modal/confirm",
        // "Jjcommerce_PetProfile/js/action/petinfo-form",
        "mage/storage",
        "jquery/ui",
        "mage/translate",
        "Magento_Ui/js/modal/modal",
        "mage/mage"

    ], function($, confirm,storage,modal) {

        window.editPetinfo = function (id) {
            var options = {
                type: 'popup',
                responsive: true,
                clickableOverlay: false,
                title: 'Pet Information',
                buttons: [{
                    /*click: function () {
                     this.closeModal();
                     }*/
                }]
            };

            var postData = {};
            postData['id'] = id;

            var petName = $("#p_name"+id).val();
            var petType = $("#p_type"+id).val();
            var petBDay = $("#p_bday"+id).val();
            var petBreed = $("#b_type"+id).val();


            postData['pet_name'] = petName;
            postData['pet_type'] = petType;
            postData['pet_bday'] = petBDay;
            postData['breed_type'] = petBreed;


            return storage.post(
                'petsinfo/pets/edit/?petinfo='+JSON.stringify(postData),
                false
            ).done(function (response) {
                    if (response.error) {
                       //  alert(response.error);
                        var textMsg = response.error;
                        $(".page .message-error").remove();
                        $(".page.messages > div > div.messages").eq(0).append("<div class='message-error error message'><div>"+textMsg+"</div></div>");

                    }
                    else {

                        var rpId = response.id;
                        var pName = response.pet_name;
                        var pType = response.pet_type;
                        var pBDay = response.pet_bday;
                        var pbType = response.breed_type;

                        var petName = $("#p_name"+rpId).val(pName);
                        var petType = $("#p_type"+rpId).val(pType);
                        var petBDay = $("#p_bday"+rpId).val(pBDay);
                        var petBreedType = $("#breed_type"+rpId).val(pbType);

                        var textMsg = response.success_msg;
                        $(".page .message-success").parent().remove();
                        $(".page.messages > div:last-child ").eq(0).append('<div class="messages"><div class="message-success success message"><div>'+textMsg+'</div></div></div>');

                    }
                }).fail(function () {

                });
        },

            window.removePetinfo = function (id) {
                var options = {
                    type: 'popup',
                    responsive: true,
                    clickableOverlay: false,
                    title: 'Pet Information',
                    buttons: [{
                        /*click: function () {
                         this.closeModal();
                         }*/
                    }]
                };

                var postData = {};
                postData['id'] = id;

                return storage.post(
                    'petsinfo/pets/delete/id/'+id,
                    false
                ).done(function (response) {
                        if (response.error) {
                            //  alert(response.error);
                            var textMsg = response.error;
                            $(".page.messages .message-error").eq(0).remove();
                            $(".page.messages > div > div.messages").eq(0).append("<div class='message-error error message'><div>"+textMsg+"</div></div>");

                        }
                        else {

                            var rpId = response.id;
                            $(".page .message-success").eq(0).remove();
                            var textMsg = response.success_msg;
                            $(".page.messages > div > div.messages").eq(0).append("<div class='message-success success message'><div>"+textMsg+"</div></div>");
                            $("#pets_id_"+rpId).remove();

                        }
                    }).fail(function () {

                    });
            }
    });
</script>
