@montserratbold: Montserrat;
@mobileonly767: ~"only screen and (max-width: 767px)";

.petsinfo {
  ._has-datepicker {
    display: none;
    display: none;
  }
}
.control.customer-dob {
  position: relative;
  padding: 8px 17px 14px;
}
#pet_bday-error.mage-error {
  bottom: 0;
  left: 0;
  position: absolute;
}
.pet-list {
  .content {
    overflow: hidden;
    width: 100%;
  }
}
.petsinfo-pets-index {
  .block.pets-info {
    margin-bottom: 0px;
  }
  .action.primary {
    background: #e9e9e9 none repeat scroll 0 0 !important;
    border: medium none !important;
    box-sizing: border-box;
    color: #3b3939 !important;
    cursor: pointer;
    display: inline-block;
    font-family: @montserratbold;
    font-size: 14px;
    padding: 8px 11px 5px 1px;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .label {
    >span {
      font-weight: 600;
      margin-top: 0;
    }
  }
  .block.pets-list {
    .content {
      .result {
        margin-top: 13px;
      }
    }
  }
  h1 {
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 33px;
  }
  .base {
    font-size: 35px;
  }
  .ui-datepicker-trigger {
    &::before {
      background: rgba(0, 0, 0, 0) url("../images/detpet.png") no-repeat scroll 0 0;
      color: #7d7d7d;
      content: "";
      display: inline-block;
      font-family: "luma-icons";
      font-size: 23px;
      font-weight: normal;
      height: 33px;
      line-height: 23px;
      overflow: hidden;
      text-align: center;
      vertical-align: middle;
      width: 33px;
    }
  }
  .show-value.p_bday {
    background: #f4f4f4 none repeat scroll 0 0 !important;
    font-family: latoregular;
    font-size: 12px;
    font-weight: 600;
    height: 43px;
    margin-left: 10px;
    max-width: 85px;
    padding: 5px;
    text-transform: capitalize;
    width: 18.1%;
    text-align: center;
  }
}
.customer-pettype {
  float: left;
  margin-left: 18px;
  margin-top: 40px;
  width: 24%;
}
.control {
  >input {
    height: 40px;
  }
}
select {
  border: 2px solid #dadada;
  color: #252323;
  font-family: latoregular;
  font-size: 12px;
  height: 40px;
  padding-left: 5px;
}
.date-pet {
  float: left;
  margin-top: 30px;
  overflow: hidden;
  width: 9%;
}
.control.customer-petname {
  >input {
    height: 42px;
    margin-top: 5px;
  }
}
.customer-petname {
  float: left;
  margin-top: 40px;
  width: 24%;
}
.customer-breedType {
  >input {
    height: 42px;
    margin-top: 5px;
  }
}
.customer-breedType {
  float: left;
  margin-top: 40px;
  width: 24%;
  margin-left: 18px;
}
.control.customer-pettype {
  >select {
    height: 42px;
    margin-top: 5px;
    border: 1px solid #c2c2c2;
  }
  >select.mage-error {
    border-color: #ed8380;
  }
}
.action.petinformation.primary {
  background: #e9e9e9 none repeat scroll 0 0;
  float: left;
  height: 50px;
  margin-top: 60px;
  width: 13%;
}
.ui-datepicker-trigger.v-middle {
  margin-top: 12px;
  padding: 0 14px 29px;
}
.block.pets-list {
  width: 100%;
}
.show-value.p_name {
  background: #F4F4F4 none repeat scroll 0 0 !important;
  float: left;
  height: 43px;
  width: 24%;
  margin-left: 0px;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
  font-family: latoregular;
}
.show-value.p_type {
  background: #F4F4F4 none repeat scroll 0 0 !important;
  float: left;
  height: 43px;
  margin-left: 19px;
  width: 24%;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
  font-family: latoregular;
}
.show-value.b_type{
  background: #F4F4F4 none repeat scroll 0 0 !important;
  float: left;
  height: 43px;
  margin-left: 19px;
  width: 24%;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
  font-family: latoregular;
}
.show-value.p_bday {
  background: #F4F4F4 none repeat scroll 0 0 !important;
  height: 43px;
  margin-left: 10px;
  padding: 5px;
  width: 8.1%;
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
  font-family: latoregular;
}
.pets-list {
  ol {
    >li {
      border-bottom: 1px solid #e4e4e4;
      list-style: outside none none;
      margin: 0;
      padding: 22px 0;
      width: 100%;
    }
  }
}
.editremovepet {
  display: flex;
  float: right;
  padding: 10px 0px;
  width: 10%;
}
.edit-pet {
  span {
    background: rgba(0, 0, 0, 0) url("../images/jollyes-sprite.png") no-repeat scroll -386px -482px;
    height: 15px;
    width: 15px;
    display: block;
  }
}
.delete-pet {
  span {
    background: rgba(0, 0, 0, 0) url("../images/jollyes-sprite.png") no-repeat scroll -386px -516px;
    height: 15px;
    width: 15px;
    display: block;
  }
}
.cart.table-wrapper {
  .actions-toolbar {
    >.action-edit {
      &::before {
        background: rgba(0, 0, 0, 0) url("../images/jollyes-sprite.png") no-repeat scroll -386px -482px;
        content: "";
        height: 15px;
        width: 15px;
      }
    }
  }
}
.button.delete-pet {
  margin-left: 38px;
}
.result {
  padding: 0;
  >li {
    &:first-child {
      border-top: 1px solid #e4e4e4;
    }
  }
}
.pets-info {
  .action.primary {
    color: #3b3939 !important;
    cursor: pointer;
    font-family: @montserratbold;
    font-weight: 900;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px){
  .customer-petname {
    float: left;
    margin-top: 40px;
    width: 23%;
  }
  .customer-pettype {
    float: left;
    margin-left: 18px;
    margin-top: 40px;
    width: 23%;
  }
  .customer-breedType{
    float: left;
    margin-left: 18px;
    margin-top: 40px;
    width: 24%;
  }
  .action.petinformation.primary{
    width: 14%;
    padding: 8px 6px 5px 1px;
    margin-top: 71px;
  }

}

@media only screen and (min-width: 1024px) and (max-width: 1195px) {
  //  .customer-petname {
  //    float: left;
  //    margin-top: 40px;
  //    width: 33%;
  //  }
  .control.customer-dob {
    padding: 8px 31px;
  }
  //  .customer-pettype {
  //    float: left;
  //    margin-left: 18px;
  //    margin-top: 40px;
  //    width: 33%;
  //  }
  .date-pet {
    float: left;
    margin-top: 30px;
    overflow: hidden;
    width: 12%;
  }
  .action.petinformation.primary {
    background: #e9e9e9 none repeat scroll 0 0;
    float: right;
    height: 50px;
    margin-top: 56px;
    width: 13%;
  }
  .show-value.p_name {
    background: #f4f4f4 none repeat scroll 0 0 !important;
    float: left;
    font-family: latoregular;
    font-size: 12px;
    font-weight: 600;
    height: 43px;
    margin-left: 0;
    text-transform: capitalize;
    width: 23%;
  }
  .show-value.p_type {
    background: #f4f4f4 none repeat scroll 0 0 !important;
    float: left;
    font-family: latoregular;
    font-size: 12px;
    font-weight: 600;
    height: 43px;
    margin-left: 19px;
    text-transform: capitalize;
    width: 23%;
  }
  .show-value.b_type {
    background: #f4f4f4 none repeat scroll 0 0 !important;
    float: left;
    font-family: latoregular;
    font-size: 12px;
    font-weight: 600;
    height: 43px;
    margin-left: 19px;
    text-transform: capitalize;
    width: 23%;
  }
  .petsinfo-pets-index {
    .show-value.p_bday {
      background: #f4f4f4 none repeat scroll 0 0 !important;
      font-family: latoregular;
      font-size: 12px;
      font-weight: 600;
      height: 43px;
      margin-left: 18px;
      max-width: 85px;
      padding: 5px;
      text-align: center;
      text-transform: capitalize;
      width: 18.1%;
    }
  }

}
@media only screen and (min-width: 768px) and (max-width: 1023px){
  .customer-petname {
    float: left;
    margin: 30px 0 0;
    padding: 20px 0;
    width: 20%;
  }
  .customer-pettype {
    float: left;
    margin: 30px 0 0;
    padding: 20px 10px 20px 10px;
    width: 20%;
  }
  .customer-breedType {
    float: left;
    margin-top: 40px;
    width: 20%;
    margin: 30px 0 0;
    padding: 20px 10px 20px 0px;
  }
  .date-pet{
    margin-top: 41px;
  }
  .actions {
    .action.petinformation.primary {
      width: 18.3%;
      margin-top: 72px;
      padding: 8px 5px 5px 1px;
    }
  }
}
@media only screen and (min-width: 961px) and (max-width: 1023px) {
  .control.customer-dob {
    padding: 8px 13px;
  }
  .date-pet {
    float: left;
    overflow: hidden;
    width: 13%;
  }

}
@media only screen and (min-width: 768px) and (max-width: 960px) {
  .petsinfo-pets-index {
    .ui-datepicker-trigger.v-middle {
      margin-top: 9px;
      padding: 0 14px 32px;
    }
    .base {
      font-size: 27px;
    }
    h1 {
      font-size: 24px;
      margin-top: 0px;
    }
    .sub-heading {
      margin-bottom: -36px;
      margin-top: 11px;
    }
  }
  .action.petinformation.primary {
    margin-top: 71px;
    background: #e9e9e9 none repeat scroll 0 0;
    float: right;
    height: 42px;
    width: 20.2%;
  }
  .control.customer-dob {
    padding: 8px 0;
  }
  .date-pet {
    float: left;
    margin-top: 41px;
    overflow: hidden;
    width: 14%;
  }
  .block.pets-info {
    margin-top: -6px;
  }
  .button.edit-pet {
    margin-left: -20px;
  }
  .button.delete-pet {
    margin-left: 30px;
  }
  .show-value.p_name {
    background: #f4f4f4 none repeat scroll 0 0 !important;
    float: left;
    font-family: latoregular;
    font-size: 12px;
    font-weight: 600;
    height: 43px;
    margin-left: 0;
    text-transform: capitalize;
    width: 20%;
  }
  .show-value.p_type {
    background: #f4f4f4 none repeat scroll 0 0 !important;
    float: left;
    font-family: latoregular;
    font-size: 12px;
    font-weight: 600;
    height: 43px;
    margin-left: 19px;
    text-transform: capitalize;
    width: 20%;
  }
  .show-value.b_type {
    background: #f4f4f4 none repeat scroll 0 0 !important;
    float: left;
    font-family: latoregular;
    font-size: 12px;
    font-weight: 600;
    height: 43px;
    margin-left: 9px;
    text-transform: capitalize;
    width: 20%;
  }
}
@media @mobileonly767 {
  .ui-datepicker-trigger.v-middle {
    margin-right: -14px;
    margin-top: 21px;
    padding: 0 29px 29px;
  }

  .control.customer-dob {
    padding: 0px;
  }
  .petsinfo-pets-index ._has-datepicker ~ .ui-datepicker-trigger::before {
    background: rgba(0, 0, 0, 0) url("../images/detpet.png") no-repeat scroll 0 0;
    color: #7d7d7d;
    content: "";
    display: inline-block;
    font-family: "luma-icons";
    font-size: 23px;
    font-weight: normal;
    height: 33px;
    line-height: 23px;
    margin-left: -17px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 33px;
  }
  .field.petsinfo {
    margin-top: 2px;
  }
  .customer-petname {
    width: 100%;
  }
  .customer-pettype {
    margin-top: 18px;
    width: 100%;
    margin-left: 0px;
  }
  .customer-breedType{
    width: 100%;
    float: none;
    padding: 0;
    margin-left: 0;
  }
  .date-pet {
    margin-top: 0;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    .label {
      padding: 18px 0 0;
    }
  }
  .pets-info {
    .action.primary {
      color: #3b3939 !important;
      cursor: pointer;
      font-family: @montserratbold;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .action.petinformation.primary {
    background: #e9e9e9 none repeat scroll 0 0;
    float: right;
    height: 50px;
    width: 100%;
    margin-top: 0px;
  }
  .petsinfo-pets-index {
    .customer-petname {
      margin-top: 8px;
      width: 100%;
      float: none;
    }
    .customer-pettype {
      width: 100%;
      float: none;
      padding: 0px;
    }
    .show-value.p_bday {
      background: #f4f4f4 none repeat scroll 0 0 !important;
      font-family: latoregular;
      font-size: 12px;
      font-weight: 600;
      height: 34px;
      margin-left: 0px;
      max-width: 100%;
      padding: 5px;
      text-transform: capitalize;
      width: 30.5%;
      margin-top: 10px;
    }
    .base {
      font-size: 20px;
    }
  }
  .field.date.field-pet_bday {
    margin: 0px;
  }
  .show-value.p_name {
    background: #f4f4f4 none repeat scroll 0 0 !important;
    float: left;
    font-family: latoregular;
    font-size: 12px;
    font-weight: 600;
    height: 34px;
    margin-left: 0;
    text-transform: capitalize;
    width: 30.5%;
  }
  .show-value.p_type {
    background: #f4f4f4 none repeat scroll 0 0 !important;
    float: left;
    font-family: latoregular;
    font-size: 12px;
    font-weight: 600;
    height: 34px;
    margin-left: 11px;
    text-transform: capitalize;
    width: 30.5%;
  }
  .show-value.b_type{
    background: #f4f4f4 none repeat scroll 0 0 !important;
    float: left;
    font-family: latoregular;
    font-size: 12px;
    font-weight: 600;
    height: 34px;
    margin-left: 12px;
    text-transform: capitalize;
    width: 30.5%;
    padding: 0 5px;
  }
  .editremovepet {
    display: flex;
    float: right;
    margin-top: 15px;
    padding: 0;
    width: 45px;
  }
  .button.edit-pet {
    margin-left: 0;
    margin-right: 13px;
  }
  .button.delete-pet {
    margin-left: 0px;
  }
  .pets-list {
    ol {
      >li {
        border-bottom: 1px solid #e4e4e4;
        list-style: outside none none;
        margin: 0;
        padding: 22px 0 42px;
        width: 100%;
      }
    }
  }
  .pet-list {
    .content {
      margin-top: 37px;
    }
  }
  .block.pets-list {
    margin-bottom: 0;
    width: 100%;
  }

}


