<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko ifnot: isCustomerLoggedIn() -->

<!-- ko foreach: getRegion('before-login-form') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<form class="form form-login" data-role="email-with-possible-login"
      data-bind="submit:login"
      method="post">
    <div><span class="note"><!-- ko i18n: 'Please enter you email address to continue. We will use this email address to keep you updated on your order.'--><!-- /ko --></span></div>

    <fieldset id="customer-email-fieldset" class="fieldset" data-bind="blockLoader: isLoading">
        <div class="field required">
            <label class="label" for="customer-email">
                <span data-bind="i18n: 'Email Address'"></span>
            </label>
            <div class="control _with-tooltip">
                <input class="input-text"
                       type="email"
                       data-bind="
                            textInput: email,
                            hasFocus: emailFocused"
                       name="username"
                       data-validate="{required:true, 'validate-email':true}"
                       id="customer-email" />
                <!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
                <span class="note" data-bind="fadeVisible: isPasswordVisible() == false"><!-- ko i18n: 'You can create an account after checkout.'--><!-- /ko --></span>
                <span class="note" data-bind="fadeVisible: isPasswordVisible() == true"><!-- ko i18n:  window.checkoutConfig.cms_block_message --><!-- /ko --></span>

            </div>
        </div>

        <!--Hidden fields -->
        <fieldset class="fieldset hidden-fields" data-bind="fadeVisible: isPasswordVisible">
            <div class="field">
                <label class="label" for="customer-password">
                    <span data-bind="i18n: 'Password'"></span>
                </label>
                <div class="control">
                    <input class="input-text"
                           placeholder="optional"
                           type="password"
                           name="password"
                           id="customer-password"
                           data-validate="{required:true}" autocomplete="off"/>
                    <span class="pass-note" data-bind="fadeVisible: isPasswordVisible() == true"> <!-- ko i18n:  window.checkoutConfig.cms_block_message2 --><!-- /ko --></span>
                </div>

            </div>
            <!-- ko foreach: getRegion('additional-login-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
            <div class="actions-toolbar">
                <input name="context" type="hidden" value="checkout" />
                <div class="primary">
                    <button type="submit" class="action login primary" data-action="checkout-method-login"><span data-bind="i18n: 'Login & Checkout'"></span></button>
                </div>
                <div class="secondary">
                    <a class="action remind" data-bind="attr: { href: forgotPasswordUrl }">
                        <span data-bind="i18n: 'Forgot Your Password?'"></span>
                    </a>
                </div>
                <div class="seperator">Or</div>
            </div>
        </fieldset>
        <!--Hidden fields -->
    </fieldset>
</form>
<form data-bind="submit: navigateToNextStep" novalidate="novalidate" id="guest-button">
    <div class="actions-toolbar">
        <div class="primary">
            <button data-role="opc-continue" type="submit" class="button action continue primary" disabled = "disabled">
                <span><!-- ko i18n: 'Next'--><!-- /ko --></span>
            </button>
        </div>
    </div>
</form>

<div class="trade-login-button" data-bind="fadeVisible: isTradeButtonVisible">
			<span>You can also choose to login with your trade account:</span>
			<a class="button" data-bind="attr : {href : window.tradeUrl}"><span class="text">Trade Account Login</span></a>
</div>
<!-- /ko -->
